@use "../mixin" as *;

/** 달력 **/
.calendar {
    display: flex;
    align-items: center;
    position: relative;      
    margin-right: 8px;

    .calendar-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-width: 174px;
    min-width: 10px;
    width: 100%;
    height: 48px;
    background-color: #FFF;
    border: 1px solid #717171;
    border-radius: 4px;
    padding: 0 16px 0 16px;
    }

    input[type=text] {
    width: 100%;        
    height: 100%;
    font-size: 17px;        
    border: 0;
    color:#1D1D1D;
    }

    .calendar-btn {
    min-width: 24px;
    height: 24px;
    font-size: 0;
    background-image: url("/assets/icons/calendar.svg");
    background-color: rgba(0,0,0,0.0);        
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    }

    i {
    display: inline-block;
    margin: 0 8px;
    }
}

.datepicker {
    width: 360px;
    position: fixed;
    left: 0;
    top: 0;
    border: solid 1px #ccc;
    z-index: 8;
    background-color: #fff;

    @include tablet {
        left: 0 !important;
        top: 0 !important;
        width: 100%;
        height: 100%;
        z-index: 999;
        background-color: rgba(0,0,0,0.5);
        .calendar-wrap {
            @include absolute($left: 50%, $top: 50%);
            width: 360px;
            background-color: #fff;
            transform: translate(-50%, -50%);
        }
    }
    
    .calendar-header {
        padding: 10px 24px;
    }
    .calendar-content {
        position: relative;
        height: 180px;
        .week-con {
            @include flex($direction: row);   
            > div {
                flex: 1;
                @include flex($direction: row);   
            }
        }
        .day-con {
            @include flex($direction: row);
            flex-wrap: wrap;
            width: 100%;
            > div {
                display: flex;
                align-items: center;
                justify-content: center;
                width: calc(100% / 7);
                height: 30px;
                button {
                    width: 100%;
                    height: 100%;
                }
                &.today button {
                    color: blue;
                }
                &.active button {
                    background-color: blue;
                    color: #fff;
                }
                &.next button,
                &.prev button,
                &.disabled button {
                    pointer-events: none;
                    opacity: 0.5;
                }
            }
        }
        .year-con {
            @include absolute();
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            background-color: #fff;
            > button {
                display: block;
                text-align: center;
                height: 30px;
                width: 100%;
                &.active {
                    background-color: blue;
                    color: #fff;
                }
            }
        }
        .month-con {
            @include absolute();
            @include flex($direction: row);
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            background-color: #fff;
            > button {
                @include flex();
                width: calc(100% / 3);
                &.active {
                    background-color: blue;
                    color: #fff;
                }
            }
        }
    }
    .calendar-footer {
        @include flex($direction: row, $justifyContents: flex-end);
        padding: 15px;
    }

    
}



@media (max-width: 480px) {  
    .calendar{
        flex-wrap: wrap;
        margin-right: 0 !important;

        .calendar-form{
        max-width: 100% !important;
        }

        .hy{
        width:100%;
        text-align: center;
        }
    }
}