@use "../mixin" as *;

.datepicker {
    width: 360px;
    position: fixed;
    left: 0;
    top: 0;
    border: solid 1px #ccc;
    z-index: 8;
    background-color: #fff;

    @include tablet {
        left: 0 !important;
        top: 0 !important;
        width: 100%;
        height: 100%;
        z-index: 999;
        background-color: rgba(0,0,0,0.5);
        .calendar-wrap {
            @include absolute($left: 50%, $top: 50%);
            width: 360px;
            background-color: #fff;
            transform: translate(-50%, -50%);
        }
    }
    
    .calendar-header {
        height: 64px;
    }
    .calendar-content {
        position: relative;
        height: 180px;
        .week-con {
            @include flex($direction: row);   
            > div {
                flex: 1;
                @include flex($direction: row);   
            }
        }
        .day-con {
            @include flex($direction: row);
            flex-wrap: wrap;
            width: 100%;
            > div {
                display: flex;
                align-items: center;
                justify-content: center;
                width: calc(100% / 7);
                height: 30px;
                button {
                    width: 100%;
                    height: 100%;
                }
                &.today button {
                    color: blue;
                }
                &.active button {
                    background-color: blue;
                    color: #fff;
                }
                &.next button,
                &.prev button,
                &.disabled button {
                    pointer-events: none;
                    opacity: 0.5;
                }
            }
        }
        .year-con {
            @include absolute();
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            background-color: #fff;
            > button {
                display: block;
                text-align: center;
                height: 30px;
                width: 100%;
                &.active {
                    background-color: blue;
                    color: #fff;
                }
            }
        }
        .month-con {
            @include absolute();
            @include flex($direction: row);
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            background-color: #fff;
            > button {
                @include flex();
                width: calc(100% / 3);
                &.active {
                    background-color: blue;
                    color: #fff;
                }
            }
        }
    }
    .calendar-footer {
        @include flex($direction: row, $justifyContents: flex-end);
        padding: 15px;
    }

    
}