/* ==================================================
   Style Guide list
   ================================================== */
.wrap-form-area .inp-form {border: 1px solid #e4e4e4;border-radius: 8px;padding: 24px;position: relative;}
.wrap-form-area .inp-form button[class*=btn]:not(.text).medium, .wrap-form-area .inp-form label[class*=btn]:not(.text).medium {height: 48px;}
.wrap-form-area .inp-form:has(.form-btn-area) {padding: 24px 130px 24px 24px;}
.wrap-form-area .inp-form:has(.step-area.type1) {padding: 24px 24px 24px 239px;}
.wrap-form-area .inp-form:has(.step-area.type1):has(.form-btn-area) {padding: 24px 130px 24px 239px;}
.wrap-form-area .inp-form > ul {display: flex;flex-direction: row;flex-wrap: wrap;margin-left: -40px;margin-top: -25px;}
.wrap-form-area .inp-form > ul .tit {position: relative;display: inline-flex;align-items: center;gap: 4px;padding-right: 12px;font-weight: 700;}
.wrap-form-area .inp-form > ul .tit + .form-group {display: flex;align-items: center;gap: 8px;margin-top: 9px;}
.wrap-form-area .inp-form > ul li {margin-left: 40px;padding-top: 25px;min-width: 100px;align-items: flex-start;}
.wrap-form-area #copyMsg{height:13px;position: absolute;}

/* 타이틀 전체 넓이 조절 */
@for $i from 1 through 100 {
  .wrap-form-area .inp-form.wrap-#{$i} .txt-list .tit {
    width: #{160 + $i}px;
    min-width: #{160 + $i}px;
  }
  .wrap-form-area .inp-form.wrap-#{$i} .txt-list .inp-box {
    width: calc(100% - #{160 + $i}px);
  }
}

/* 타이틀 col1~4로 넓이 조절 */
@for $i from 1 through 4 {
  .wrap-form-area .inp-form .col#{$i} {
    @if $i == 1 {
      width: 100%;
    } @else {
      width: calc(#{100% / $i} - 40px);
    }
  }
}

/* 텍스트 유형 리스트 */
.wrap-form-area .inp-form .txt-list {display: flex;margin-left: 40px;align-items: center;}
.wrap-form-area .inp-form .txt-list .tit {width: 160px;min-width: 160px;line-height: 150%;padding-right: 0;height: 100%;}
.wrap-form-area .inp-form .txt-list .title {display: flex;position: relative;}
.wrap-form-area .inp-form .txt-list .inp-box {display: block;padding-left: 30px;flex: 1;margin-top: 0;width: calc(100% - 160px);}
.wrap-form-area .inp-form .txt-list .inp-box .txt {line-height: 150%;display: block;}
.wrap-form-area .inp-form .txt-list .inp-box .txt button {margin-left: 15px;}
.wrap-form-area .inp-form .compulsory-title {margin-top: 10px;}
.wrap-form-area.type1 .inp-form li.txt-list {flex-direction: column;}
.wrap-form-area.type1 .inp-form li.txt-list .inp-box {text-align: left;padding-left: 0 !important;margin-top: 14px;width: 100%;}
.wrap-form-area.type1 .inp-form li.txt-list .add-tit {font-size: 19px;display: flex;align-items: center;width: 100%;padding-right: 155px;line-height: 150%;}
.wrap-form-area.type1 .inp-form li.txt-list .add-tit .add-modify-btn {font-size: 0;width: 0;background-color: rgba(0, 0, 0, 0);margin-left: 8px;height:20px !important}
.wrap-form-area.type1 .inp-form li.txt-list .add-txt {color: #555;line-height: 150%;}

/* 입력 유형 리스트 */
.wrap-form-area .inp-form .file-form {margin-left: -16px;}
.wrap-form-area .inp-form .file-form [class*=col] {margin-left: 16px;flex: 1;}
.wrap-form-area .inp-form .file-form [class*=col] .file-upload {width: 100%;display: flex;gap: 8px;}
.wrap-form-area .inp-form .file-form [class*=col] .file-upload .txt-box {border: 1px solid #c6c6c6;background-color: #fff;border-radius: 4px;width: 100%;height: 48px;min-width: 10px;max-width: 570px;display: flex;align-items: center;}
.wrap-form-area .inp-form .file-form [class*=col] .file-upload .txt-box .txt {display: block;padding: 0 16px;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;text-decoration: none;}
.wrap-form-area .inp-form .file-form + .form-btn-area {top: 66px;}
.wrap-form-area .inp-form .inp-box {margin-top: 12px;display: flex;align-items: center;gap: 8px;}
.wrap-form-area .inp-form .inp-box .area-group {display: flex;align-items: center;gap: 8px;width: 100%;min-width: 100px;}
.wrap-form-area .inp-form .inp-box .check-list-box {display: flex;gap: 24px;flex-wrap: wrap;margin-top: 10px;width: 100%;}
.wrap-form-area .inp-form .form-group, .wrap-form-area .inp-form .wrap-form-group {width: 100%;}
.wrap-form-area .inp-form .form-btn-area {position: absolute;top: 24px;right: 24px;display: flex;gap: 20px;}
.wrap-form-area .inp-form .form-btn-area button.text {background-color: rgba(0, 0, 0, 0);gap: 5px;padding-right: 0;height:20px !important;}
.wrap-form-area .inp-form .form-btn-area button.text:disabled i.refresh {background-image: url("../assets/icons/refresh-d.svg");}
.wrap-form-area .inp-form .form-btn-area button.text:disabled i.close {background-image: url("../assets/icons/close-d.svg");}
.wrap-form-area .inp-form:has(> .form-check) {padding-left: 76px;padding-right: 76px;}
.wrap-form-area .inp-form:has(> .form-check) > .form-check {position: absolute;top: 24px;left: 24px;}
.wrap-form-area .inp-form:has(> .form-check) > .form-check label {padding: 0;padding-left: 0 !important;width: 20px;}
.wrap-form-area .inp-form.type1 .cont-acc-list.type1 .accordion-body {border-top: 0;margin-top: 0;}
.wrap-form-area .inp-form .cont-acc-list.type1 {margin: 0;border-top: 0;padding: 0;}
.wrap-form-area .inp-form .cont-acc-list.type1 .accordion-header {position: absolute;top: 24px;right: 24px;padding: 0 !important;}
.wrap-form-area .inp-form .cont-acc-list.type1 .accordion-header a {padding: 0;}
.wrap-form-area .inp-form .cont-acc-list.type1 .accordion-body {margin-top: 24px;padding: 0;padding-top: 24px;border-top: 1px solid #D8D8D8;}
.wrap-form-area .inp-form .cont-acc-list.type1 .accordion-body .inp-form {border: 0;border-radius: 0;padding: 0;}
.wrap-form-area .inp-form .cont-acc-list.type1 .accordion-body .inp-form ul {border-top: 0;}
.wrap-form-area .inp-form .cont-acc-list.type1 .accordion-body .inp-form ul li {background-color: rgba(0, 0, 0, 0);border-radius: 0;align-items: flex-start;}
.wrap-form-area .inp-form .cont-acc-list.type1 .accordion-body .inp-form ul li:not(.txt-list) {flex-direction: column;}
.wrap-form-area .inp-form .cont-acc-list.type1 .accordion-body .inp-form ul li .inp-box {width: 100%;}
.wrap-form-area .inp-form .cont-acc-list.type1 .accordion-body .inp-form ul li label {width: auto;padding-right: 12px;}
.wrap-form-area .inp-form .cont-acc-list.type1 .accordion-body .inp-form ul li .compulsory-txt {margin-top: 2px;margin-bottom: 0;}
.wrap-form-area .inp-form .cont-acc-list.type1 .accordion-body .inp-form ul li .return-btn {width: 121px;}
.wrap-form-area .inp-form .acc-btn {position: absolute;top: 24px;right: 24px;}
.wrap-form-area .inp-form .acc-btn.active i {transform: rotate(180deg);transition: all 0.3s;}
.wrap-form-area .inp-form .cont-acc-list.type2 {margin: 0;padding: 0;border-top: 0;margin-top: 11px;}
.wrap-form-area .inp-form .cont-acc-list.type2 .accordion-wrap {width: 100%;}
.wrap-form-area .inp-form .cont-acc-list.type2 .accordion-wrap .accordion-body .inp-form {padding: 0;border: 0;border-top: 1px solid #D8D8D8;border-radius: 0;padding-top: 24px;}
.wrap-form-area .inp-form .cont-acc-list.type2 .accordion-wrap .accordion-body ul {border-top: 0;}
.wrap-form-area .inp-form .cont-acc-list.type2 .accordion-wrap .accordion-body li label {width: auto;padding-right: 12px;}
.wrap-form-area .inp-form .cont-acc-list.type2 .accordion-wrap .accordion-body li:not(.txt-list) {flex-direction: column;}
.wrap-form-area .inp-form .cont-acc-list.type2 .accordion-wrap .accordion-body li .inp-box {width: 100%;}
.wrap-form-area .inp-form .step-area.type1 {position: absolute;top: 0;left: 0;height: 100%;padding: 32px 40px 32px 32px;}
.wrap-form-area .inp-form .step-area.type1::before {height: calc(100% - 64px);}
.wrap-form-area .inp-form .step-area.type1 .step-wrap {flex-direction: column;}
.wrap-form-area .inp-form .step-area.type1 .step-wrap li {padding: 0 0 32px 0;width: 127px;min-width: 10px;}
.wrap-form-area .inp-form .step-area.type1 .step-wrap li::before {width: 1px;height: 100%;left: 8.5px;}
.wrap-form-area .inp-form .step-area.type1 .step-wrap li .step-tit {padding-left: 32px;padding-top: 1px;}
.wrap-form-area .inp-form .hy {min-width: 15px;display: flex;justify-content: center;}
.wrap-form-area .inp-form .state-keeper{display: flex;gap:8px;min-width:300px;}
.wrap-form-area .total-area {display: flex;justify-content: flex-end;align-items: center;margin-top: 25px;padding: 25px 0 0 0;border-top: 1px solid #717171;}
.wrap-form-area .total-area p {font-size: 19px;}
.wrap-form-area .total-area strong {margin-left: 24px;font-size: 25px;}
.wrap-form-area .total-area strong span {margin-left: 4px;}
.wrap-form-area.type1 {margin-top: 24px;}
.wrap-form-area.type1 .inp-form {padding: 24px !important;}
.wrap-form-area.type1 .inp-form:has(strong.add-tit) .form-btn-area button {height: 20px !important;}
.wrap-form-area.type1 .form-btn-area {top: 29px}
.wrap-form-area .batch-list {width: 100%;display: flex;align-items: center;justify-content: flex-end;gap: 24px;}
.wrap-form-area .batch-list .txt {line-height: 150%;}
.wrap-form-area .nowrap-box {display: flex;gap: 8px;}
.wrap-form-area .nowrap-area {display: flex;align-items: center;}
.wrap-form-area .vc-list .inp-box {align-items: flex-start;}
.wrap-form-area .address-list button {gap: 4px;/*margin-right: 8px;*/}
.wrap-form-area.no-bor-form .inp-form {padding: 0;border: 0;}
.wrap-form-area .dotted-line-bottom {margin-bottom: 0 !important;}

/* 서브 리스트 */
.wrap-form-area .sub-form .calendar {margin-right: 0;}
.wrap-form-area .sub-form .sub-form-box {width: 100%;}
.wrap-form-area .sub-form .sub-form-box ul {display: flex;margin-left: -40px;}
.wrap-form-area .sub-form .sub-form-box .sub-list-wrap {display: flex;gap: 24px;align-items: flex-end;}
.wrap-form-area .sub-form .sub-form-box .sub-box {margin-top: 12px;display: flex;align-items: center;gap: 8px;}
.wrap-form-area .sub-form .sub-form-box .sub-list-box {width: 100%;min-width: 100px;}
.wrap-form-area .sub-form .sub-form-box label {font-weight: 700;}
.wrap-form-area .sub-form .sub-tit {position: relative;}

/* 예상세액 조회 구입물품 */
.purchased-item{width: 100%;min-width: 10px;position: relative;}
.purchased-item .purchased-btn{position:relative;}
.purchased-item .purchased-btn button{display:flex;align-items: center;border-radius: 4px;background-color: #fff;border-width: 0;border-style: none;border: 1px solid #717171;padding: 0px 16px;height: 48px;justify-content: space-between;width: 100%;}
.purchased-item .purchased-area{width: 100%;position:absolute;top: 48px;left: 0;background-color:#fff;z-index: 4;padding:10px;border:1px solid #717171;border-radius: 4px;display:none;margin-top: 5px;}
.purchased-item.open .purchased-area{display:block;}
.purchased-item .purchased-area .purchased-list{height: 300px;overflow-y: auto;margin-top:10px;margin-bottom:10px;}
.purchased-item .purchased-area .purchased-list li{padding:0;margin:0;}
.purchased-item .purchased-area .purchased-list li a{padding:10px 16px;display:block;}
.purchased-item .purchased-area .purchased-list li a:hover{text-decoration:underline}
// .purchased-item.open .btn-arrow-down {transform: rotate(180deg);}
// .purchased-item.open.down .purchased-area {top: 101px;margin-top: 5px;}
// .purchased-item.open.up .purchased-area {bottom: 72px;margin-bottom: 5px;}

@media screen and (max-width: 1312px) {
  .wrap-form-area .inp-form:has(.form-btn-area) {padding: 72px 24px 24px 24px;}
  .wrap-form-area .inp-form .file-form + .form-btn-area {top: 24px;}
  .wrap-form-area .inp-form:has(.step-area.type1):has(.form-btn-area) {padding: 24px 130px 24px 239px;}
}
@media screen and (max-width: 1023px) {
  .wrap-form-area .inp-form:has(.step-area.type1) {padding: 140px 24px 24px 24px;}
  .wrap-form-area .inp-form:has(.step-area.type1):has(.form-btn-area) {padding: 140px 130px 24px 24px;}
  .wrap-form-area .inp-form:has(.step-area.type1):has(.form-btn-area) .form-btn-area {top: 140px;}
  .wrap-form-area .inp-form .step-area.type1 {width: 100%;height: auto;padding-bottom: 0;padding: 32px 24px 0 24px;}
  .wrap-form-area .inp-form .step-area.type1.dotted-line-right::before {bottom: 0;width: calc(100% - 48px);height: 2px;background-image: url(../assets/icons/dotted.svg);left: 24px;}
  .wrap-form-area .inp-form .step-area.type1 .step-wrap {flex-direction: row;flex-direction: row-reverse;justify-content: center;align-items: flex-start;}
  .wrap-form-area .inp-form .step-area.type1 .step-wrap li {/*width: auto;min-width: auto;flex: 1;*/display: flex;justify-content: center;}
  .wrap-form-area .inp-form .step-area.type1 .step-wrap li::before {top: 10px;left: 50%;width: 100%;height: 1px;}
  .wrap-form-area .inp-form .step-area.type1 .step-wrap li:first-child::before {display: none;}
  .wrap-form-area .inp-form .step-area.type1 .step-wrap li:last-child::before {display: block;}
  .wrap-form-area .inp-form .step-area.type1 .step-wrap li .step-tit {display: block;padding: 32px 0px 0 0px;text-align: center;}
  .wrap-form-area .inp-form .step-area.type1 .step-wrap li:after {left: 50%;transform: translateX(-50%);z-index: 1;}
}
@media screen and (max-width: 767px) {
  .wrap-form-area .inp-form {padding: 24px;}
  .wrap-form-area .inp-form [class*=col] {width: 100% !important;padding-top: 20px;}
  .wrap-form-area .inp-form [class*=mw] {max-width: 100% !important;}
  .wrap-form-area .inp-form [class*=form-group] {width: 100%;}
  .wrap-form-area .inp-form .form-group.medium input[type=text], 
  .wrap-form-area .inp-form .form-group.medium select, 
  .wrap-form-area .inp-form .form-group.medium input[type=password],
  .wrap-form-area .inp-form .form-group.form-tit-group label,
  .wrap-form-area .inp-form .form-group.form-tit-group input[type=text], 
  .wrap-form-area .inp-form .form-group.form-tit-group input[type=password] {font-size: 15px;}
  .wrap-form-area .inp-form ul.file-form {flex-direction: column;width: 100%;}
  .wrap-form-area .inp-form li.txt-list .tit {width: 120px !important;min-width: 120px !important;}
  .wrap-form-area .inp-form li.address-list .inp-box {flex-wrap: wrap;}
  .wrap-form-area .inp-form li.address-list .inp-box .first-add {width: calc(100% - 160px);}
  .wrap-form-area .inp-form li.address-list .inp-box button {margin-right: 0;}
  .wrap-form-area .inp-form li.line-break {flex-direction: column;}
  .wrap-form-area .inp-form li.line-break .inp-box {padding-left: 0 !important;margin-top: 16px;width: 100%;}
  .wrap-form-area .inp-form li.line-break .inp-box .txt {text-align: left !important;}
  // .wrap-form-area .inp-form .form-btn-area {right: 24px;}
  .wrap-form-area .inp-form:has(> .form-check) {padding: 76px 24px 34px 24px;}
  // .wrap-form-area .inp-form:has(> .form-check) > .form-check {left: 24px;}
  // .wrap-form-area .inp-form .form-btn-area {top: 24px;}
  .wrap-form-area .inp-form:has(.step-area.type1):has(.form-btn-area) {padding: 140px 24px 32px 24px;}
  .wrap-form-area .inp-form:has(.step-area.type1):has(.form-btn-area) .form-btn-area {position: static;margin-top: 17px;justify-content: center;}
  .wrap-form-area .inp-form:has(.step-area.type1):has(.form-btn-area) .form-btn-area button {height: 40px;width: 100%;}
  .wrap-form-area .sub-form .sub-form-box ul {flex-direction: column;}
  .wrap-form-area .sub-form .sub-form-box li {width: calc(100% - 40px) !important;}
  .wrap-form-area .acc-btn {right: 24px;}
  .wrap-form-area .form-group.medium input[type=text],
  .wrap-form-area .form-group.medium select,
  .wrap-form-area .form-group.medium input[type=password],
  .wrap-form-area button[class*=btn]:not(.xsmall,.tooltip-close),
  .wrap-form-area label[class*=btn]:not(.xsmall,.tooltip-close),
  .wrap-form-area .calendar .calendar-form,
  .wrap-form-area .file-form [class*=col] .file-upload .txt-box {height: 40px !important;}
  .wrap-form-area.type1 .form-btn-area{top:23px;}
  .wrap-form-area .inp-form .email-inp-box{flex-wrap: wrap;}
  .wrap-form-area .inp-form .state-keeper{flex:1}
  .wrap-form-area .inp-form .email-id{width: calc(100% - 23px);}
  .wrap-form-area .inp-form li.txt-list.dotted-line-top.line-break .tit{width:100% !important}
}
@media screen and (max-width: 550px) {  
  .wrap-form-area .inp-form .email-inp-box button{width:100%;}
}
@media screen and (max-width: 480px) {
  // .wrap-form-area.type1 .inp-form {padding: 15px !important;}
  // .wrap-form-area .inp-form:has(.form-btn-area) {padding: 72px 15px 15px 15px;}
  // .wrap-form-area.type1 .form-btn-area {top: 15px !important;}
  .wrap-form-area .inp-form {border-radius: 5px;/*padding: 18px 15px 15px 15px;*/}
  .wrap-form-area .inp-form ul .inp-box {gap: 12px 8px;}
  .wrap-form-area .inp-form ul .inp-box:has(.hy) {gap: 12px 2px;}
  .wrap-form-area .inp-form ul button:not(.ico):not(.tooltip-close):not(.calendar-btn):not(.tooltip-ico):not(.add-modify-btn):not(.inquiry) {width: 100%;}
  .wrap-form-area .inp-form ul .number-box button {width: 59px !important;}
  .wrap-form-area .inp-form ul .return-box .txt {display: flex;flex-direction: column;align-items: flex-end;}
  .wrap-form-area .inp-form ul .return-box button {width: 129px !important;margin-left: 0 !important;}
  .wrap-form-area .inp-form ul .file-upload {flex-direction: column;}
  .wrap-form-area .inp-form ul .file-upload .file-upload-btn-wrap {width: 100%;}
  .wrap-form-area .inp-form ul .file-upload .file-upload-btn-wrap label {width: 100%;}
  .wrap-form-area .inp-form ul .batch-list {flex-direction: column;}
  .wrap-form-area .inp-form ul .vc-list .form-group {display: flex;gap: 8px;}
  .wrap-form-area .inp-form ul .vc-list .form-group .advice-txt {margin-top: 0;}
  .wrap-form-area .inp-form ul .vc-list .form-group input[type=text] {width: 140px;}
  .wrap-form-area .sub-box:not(.nowrap-list):not([class*=nowrap-list-type]), .wrap-form-area .sub-list-wrap {flex-direction: column;}
  .wrap-form-area .sub-list-box .calendar {width: 100%;}
  .wrap-form-area .inp-box:not(.nowrap-list):not([class*=nowrap-list-type]) {flex-direction: column;}  
  .wrap-form-area .inp-box[class*=nowrap-list-]:not(.nowrap-list-type1) {display: flex;flex-wrap: wrap;}
  .wrap-form-area .sub-box[class*=nowrap-list-] {display: flex;flex-wrap: wrap;}
  .wrap-form-area .inp-box[class*=nowrap-list-]:not(.nowrap-list-type1) .form-group:first-child, .wrap-form-area .sub-box[class*=nowrap-list-] .form-group:first-child {width: calc(100% - 23px);}
  .wrap-form-area .inp-box[class*=nowrap-list-]:not(.nowrap-list-type1) .form-group, .wrap-form-area .sub-box[class*=nowrap-list-] .form-group {width: calc(50% - 16px);}
  .wrap-form-area .inp-box[class*=nowrap-list-]:not(.nowrap-list-type1).nowrap-list-type2 .form-group:first-child, .wrap-form-area .sub-box[class*=nowrap-list-].nowrap-list-type2 .form-group:first-child {width: calc(100% - 23px);}
  .wrap-form-area .inp-box[class*=nowrap-list-]:not(.nowrap-list-type1).nowrap-list-type2 .form-group, .wrap-form-area .sub-box[class*=nowrap-list-].nowrap-list-type2 .form-group {width: 100%;}
  .wrap-form-area .nowrap-list-type1 .form-group:first-child {width: 98px;min-width: 98px;}
  .wrap-form-area .nowrap-list:has(.nowrap-area) {display: flex;flex-direction: column;}
  .wrap-form-area .nowrap-list:has(.nowrap-area) button {width: 100% !important;}
  .wrap-form-area .inp-form button[class*=btn].medium, .wrap-form-area .inp-form label[class*=btn].medium {height: 40px;}
  .wrap-form-area .calendar-form {max-width: 100% !important;}
  .wrap-form-area .calendar {margin-right: 0;}
  .wrap-form-area .nowrap-box {width: 100%;}
  .wrap-form-area .inp-form .step-area.type1 .step-wrap li .step-tit{font-size:15px;}
  .wrap-form-area .inp-form .step-area.type1{padding: 32px 16px 0 16px;}

  /* 예상세액 조회 구입물품 */
  .purchased-item .purchased-area{width:100%;}
}

@media screen and (max-width: 390px) {
  .wrap-form-area .inp-form .state-keeper{    min-width: 100%;}
}