.inp-form {  
  border: 1px solid #E4E4E4;
  border-radius: 8px;
  padding: 32px;
  position: relative;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px 0;
    margin-left: -40px;

    .tit {
      font-size: 15px;
      font-weight: 700;
      color: #1D1D1D;

      + .form-group {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 9px;
      }
    }

    .min {
      display: block;
    }

    li {
      margin-left: 40px;

      /** 텍스트 타입 **/
      &.txt-list {
        display: flex;
        margin-left: 40px;
        align-items: flex-start;

        .tit {
          font-size: 15px;
          font-weight: 700;
          color: #1D1D1D;
          display: flex;
          align-items: center;
          width: 180px;
          line-height: 150%;
          position: relative;
          word-break: break-all;
        }

        .title {
          display: flex;
          position: relative;
        }

        .inp-box {
          display: block;
          padding-left: 24px;
          flex:1;
          margin-top: 0;

          .txt {
            font-size: 17px;
            line-height: 150%;
            color: #1D1D1D;
            word-break: break-all;
          }

          a {
            color: #1D1D1D;
            text-decoration: none;
          }
        }
      }

      /** 상단 점선 **/
      &.bor-list {
        padding-top: 24px;
        position: relative;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-image: url(/assets/icons/dotted.svg);
        }

        .txt{
          &.success{
            color:#2768FF;
          }
          &.dismissal{
            color:#EB003B;
          }          
        }
      }

      /** 주소 
      &.address-list button {
        min-width: 151px;
      }
        **/

      /** 이메일 
      &.email-list button {
        min-width: 112px;
      }
        **/
        
      &.col1 {
        width: 100%;
      }

      &.col2 {
        width: calc(50% - 40px);
      }

      &.col3 {
        width: calc(33.333% - 40px);
      }

      &.col4 {
        width: calc(25% - 40px);
      }

      .compulsory-title {
        margin-top: 10px;
      }
    }

    /** 파일첨부 타입 **/
    &.file-form {
      margin-left: -16px;

      > li{
        margin-left: 16px;
        flex:1;

        .file-upload{
          width:100%;
          display: flex;
          gap:8px;

          .txt-box{
            border:1px solid #C6C6C6;
            background-color: #fff;
            border-radius: 4px;
            width:100%;
            min-width:10px;
            max-width:570px;
            display: flex;
            align-items: center;                            

            .txt{              
              display: block;
              padding: 0 16px;   
              width: 100%;              
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              text-decoration: none;                            
            }
          }
        }
      }    
      
      /** 첨부파일 초기화,삭제 버튼 위치 **/
      &.btn-form + .form-btn-area{
          top: 71px;
      }
    }
  }

  .inp-box {
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .tit {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .form-group, .wrap-form-group {
    width: 100%;
  }

  .form-btn-area {
    position: absolute;
    top: 32px;
    right: 32px;
    display: flex;
    gap: 5px;

    button {
      font-size: 17px;
      color: #1D1D1D;
      background-color: rgba(0, 0, 0, 0);
      gap: 5px;
      padding-right: 0;
    }
  }
}

@media (max-width: 1312px) {
  /** 상단 버튼 타입 **/
  .inp-form.btn-form {
    padding-top: 84px;
  }
}

@media (max-width: 767px) {
  /** 리스트 **/
  .inp-form {

    /** 상단 버튼 타입 **/
    .btn-form {
      padding-top: 68px;
    }
    
    padding: 24px;

    [class*=col] {
      width: 100% !important;
    }

    [class*=mw] {
      max-width: 100% !important;
    }

    [class*=form-group] {
      width: 100%;
    }

    .form-group {
      &.medium {
        input[type=text], select {
          font-size: 15px;
        }
      }

      &.form-tit-group {
        label, input[type=text] {
          font-size: 15px;
        }
      }
    }

    li {
      /** 텍스트 타입 **/
      &.txt-list {
        /*
        .tit {
          width: 180px;
        }

        .txt {
          width: calc(100% - 180px);
          text-align: right;
          padding-right: 0;
        }
          */

        .inp-box {
          text-align: right;
        }
      }

      /** 상단 점선 **/
      &.bor-list {
        flex-direction: column;

        .inp-box {
          padding-left: 0 !important;
          width: 100% !important;
          text-align: left;
          margin-top: 14px !important;
        }
      }

      /** 주소 **/
      &.address-list .inp-box {
        flex-wrap: wrap;

        .first-add {
          max-width: 149px !important;
        }
      }
    }

    .form-btn-area {
      top: 24px;
      right: 24px;
    }
  }
}

@media (max-width: 480px) {
  /** 리스트 **/
  .inp-form ul {
    .hy {
      display: block;
      text-align: center;
      width: 100%;
    }

    .inp-box {
      flex-wrap: wrap;
    }

    button {
      width: 100%;
    }

    li {
      /** 텍스트 타입 **/
      &.txt-list {
        .tit {
          width: 120px !important;
        }        

        .tooltip-ico {
          width: 16px;
        }
      }

      /** 주소 **/
      &.address-list button {
        max-width: 151px;
      }        

      /** 상단 점선 **/
      &.bor-list .inp-box {
        width: 100% !important;
      }

      /** 한줄로 **/
      &.nowrap-list{
        .inp-box{
          flex-wrap: nowrap;

          .hy{width: auto;}
        }
      }

    }
  }
}
