/*! 레이아웃3 */

.inp-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 32px;
  gap: 19px 0;
  margin-left: -40px;

  .tit {
    font-size: 15px;
    font-weight: 700;
    color: #1D1D1D;

    + .form-group {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-top: 9px;
    }
  }

  .form-group {
    input[type=text], select {
      width: auto;
    }
  }

  .min {
    display: block;
  }

  li {    
    margin-left: 40px;

    &.col1 {
      width: 100%;
    }

    &.col2 {
      width: calc(50% - 40px);
    }

    &.col3 {
      width: calc(33.333% - 40px);
    }

    &.col4 {
      width: calc(25% - 40px);
    }
  }

  .nat-li [class*=form-] input[type=text] {
    width: 355px;
  }

  .resident-li [class*=form-] input[type=text] {
    width: 151px;
  }

  .kr-name-li [class*=form-] input[type=text] {
    width: 128px;
  }

  .en-name-li [class*=form-] input[type=text] {
    width: 110px;
  }

  .ph-li [class*=form-] select, .cell-li [class*=form-] select {
    width: 191px;
  }

  .ph-li [class*=form-] input[type=text], .cell-li [class*=form-] input[type=text] {
    width: 138px;
  }
}

/*! // 레이아웃3 */
