@use "../mixin" as *;

/*!레이아웃1*/

.view-list {
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 13px 0;
  margin-left: -40px;

  li {
    display: flex;    
    margin-left: 40px;

    &.col1 {
      width: 100%;
    }

    &.col2 {
      width: calc(50% - 40px);
    }

    &.col3 {
      width: calc(33.333% - 40px);
    }

    &.col4 {
      width: calc(25% - 40px);
    }

    .tit {
      font-size: 15px;
      font-weight: 700;
      color: #1D1D1D;
      display: flex;
      align-items: center;
      min-width: 180px;
      width:180px;
    }

    .txt {
      font-size: 17px;
      color: #1D1D1D;
      display: flex;
      align-items: center;
      padding-left: 24px;
    }
  }
}

/*! //레이아웃1*/

