/* ==================================================
   Style Guide modal
   ================================================== */
.modal {position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 999;background-color: rgba(0, 0, 0, 0.5);transition: all 0.3s;}
.modal-wrap {position: fixed;left: 50%;top: 50%;transform: translate(-50%, -50%);border-radius: 8px;background-color: #fff;padding: 32px 0 32px 32px;width: 95%;min-width: 100px;max-height: 95%;}

/* header */
.modal-header {display: flex;flex-direction: column;justify-content: center;align-items: flex-start;position: relative;box-sizing: border-box;margin-bottom: 25px;padding-right: 70px;}
.modal-header h5 {margin-top: 15px;line-height: 150%;font-size: 19px;}

/* body */
.modal-body {box-sizing: border-box;overflow-y: auto;overflow-x: hidden;max-height: calc(100vh - 300px);padding-right: 32px;}
.modal-body [class*=-type] {width: 100%;line-height: 150%;}
.modal-body h5[class*=-type] {font-size: 18px;}
.modal-body .modal-tit {font-size: 18px;}
.modal-body .modal-cont {line-height: 150%;}
.modal-body .modal-cont > *:last-child {margin-bottom: 0;}
.modal-body .modal-cont .txt-box-type .txt-type {margin-bottom: 0;}
.modal-body .modal-cont .txt-type {display: block;}
.modal-body .modal-cont .btn-form + .form-btn-area {top: 81px !important;}

/* footer */
.modal-footer {display: flex;flex-direction: row;justify-content: flex-end;align-items: center;gap: 8px;padding-top: 24px;flex-wrap: wrap;padding-right: 32px;}
.modal-footer [class*=form-] {margin-right: 15px;}
.modal .btn-close {position: absolute;right: 29px;top: 32px;width: 20px;height: 20px;background-color: rgba(0, 0, 0, 0);padding: 0;}

@media screen and (max-width: 480px) {
  .modal-wrap {padding: 24px 0 24px 24px;}
  .modal-wrap .btn-close {top: 24px;right: 24px;}
  .modal-wrap .modal-body {max-height: calc(100vh - 305px);padding-right: 24px;}
  .modal-wrap .modal-footer {padding-right: 24px;}
  .modal-wrap .modal-footer .form-check {width: 100%;margin-bottom: 16px;display: flex;justify-content: flex-end;}
}