/* ==================================================
   Style Guide pagination
   ================================================== */
.pagination {display: flex;gap: 8px;align-items: center;justify-content: center;padding-bottom: 2px;}
.pagination * {background-repeat: no-repeat;}
.pagination .page-navi {display: flex;min-width: 62px;height: 40px;align-items: center;position: relative;color: #555;padding: 6px 8px;border-radius: 4px;}
.pagination .prev {justify-content: flex-end;}
.pagination .page-navi:before {content: "";display: block;position: absolute;top: 10px;width: 20px;height: 20px;background-position: center;}
.pagination .prev:before {background-image: url("../assets/icons/btn-arrow-left.svg");left: 2px;}
.pagination .next:before {background-image: url("../assets/icons/btn-arrow-right.svg");right: 2px;}
.pagination .page-links {display: flex;gap: 8px;}
.pagination .page-link {width: 40px;height: 40px;display: flex;justify-content: center;align-items: center;color: #555;background-color: #fff;border-radius: 4px;}
.pagination a.page-link:hover, .pagination .page-navi:hover {background-color: #EDF1F5;}
.pagination a.page-link:active {background-color: #CDD7E4;}
.pagination .page-navi {background-color: #fff;}
.pagination .page-navi:active {background-color: #CDD7E4;}
.pagination .page-navi:disabled {color: #8E8E8E;pointer-events: none;}
.pagination .prev:disabled:before {background-image: url("../assets/icons/btn-arrow-left-d.svg");}
.pagination .next:disabled:before {background-image: url("../assets/icons/btn-arrow-right-d.svg");}
.pagination .page-link.active {background-color: #003675;color: #fff;pointer-events: none;}
.pagination .link-dot {background-image: url("../assets/icons/ellipsis.svg");background-position: center;background-size: 23px;}
.pagination .mobile-dot {display: none;}

.wrap-pagination {display: flex;flex-direction: column;}
.wrap-pagination .pagination-btn-area {display: inline-flex;justify-content: center;margin-top: 24px;}
.wrap-pagination .pagination-btn-area input[type=text] {width: 48px;height: 40px;text-align: center;border-radius: 4px;border: 1px solid #717171;background-color: #FFF;padding: 0 8px;}
.wrap-pagination .pagination-btn-area .page-num {display: flex;align-items: center;color: #555;padding: 0 8px;margin-right: 16px;}

@media screen and (max-width: 767px) {
  .pagination {min-width: 100px;position: relative;padding: 60px 0 2px 0;}
  .pagination .mobile-dot {display: flex;}
  .pagination a.page-link:not(.mobile-link) {display: none;}
  .pagination .page-navi {position: absolute;top: 0;}
  .pagination .next {margin-left: 66px;}
  .pagination .prev {margin-right: 66px;}
  .wrap-pagination {position: relative;padding-top: 64px;}
  .wrap-pagination .pagination {position: initial;padding-top: 0;}
  .wrap-pagination .page-link {display: none;}
  .wrap-pagination .pagination .next {margin-left: 66px;}
  .wrap-pagination .pagination .prev {margin-right: 66px;}
}
@media screen and (max-width: 480px) {
  .pagination .page-link {width: 35px;height: 35px;}
}