/* ==================================================
   Style Guide radio, checkbox
   ================================================== */
input[type=radio], input[type=checkbox] {position: absolute;opacity: 0;pointer-events: none;width: 1px;height: 1px;}
input[type=radio]:active + label, input[type=checkbox]:active + label {outline: none;}

.form-check {position: relative;}
.form-check label {position: relative;display: flex;align-items: center;white-space: nowrap;cursor: pointer;}
.form-check label:before {content: "";display: block;position: absolute;top: 50%;transform: translateY(-50%);border-radius: 50%;background-color: #fff;}
.form-check label:after {content: "";display: block;position: absolute;top: 50%;transform: translateY(-50%);border-radius: 50%;background-color: #246beb;display: none;}
.form-check label:before {border: 1px solid #717171;padding: 5px;left: 0;}
.form-check input[type=radio]:checked + label:after, .form-check input[type=checkbox]:checked + label:after {display: block;}
.form-check input[type=radio]:checked + label:before, .form-check input[type=checkbox]:checked + label:before {border-color: #246beb;}
.form-check input[type=radio]:disabled + label, .form-check input[type=checkbox]:disabled + label {color: #8e8e8e;}
.form-check input[type=radio]:disabled + label:before, .form-check input[type=checkbox]:disabled + label:before {border: 1px solid #c6c6c6;background-color: #d8d8d8;}
.form-check input[type=radio]:disabled + label:after, .form-check input[type=checkbox]:disabled + label:after {background-color: #c6c6c6;}
.form-check.large label {font-size: 19px;padding: 0 0 0 32px;height: 24px;}
.form-check.large label:before {width: 12px;height: 12px;}
.form-check.large label:after {width: 12px;height: 12px;left: 6px;}
.form-check.medium label {padding: 0 0 0 29px;height: 20px;}
.form-check.medium label:before {width: 8px;height: 8px;}
.form-check.medium label:after {width: 10px;height: 10px;left: 5px;}

.form-chip {position: relative;}
.form-chip label {display: inline-block;border-radius: 4px;border: 1px solid #717171;background-color: #fff;display: inline-flex;align-items: center;gap: 6px;cursor: pointer;justify-content: center;}
.form-chip input[type=radio]:checked + label, .form-chip input[type=checkbox]:checked + label {color: #1d56bc;border-color: #246beb;background-color: #eff5ff;}
.form-chip input[type=radio]:checked + label:before, .form-chip input[type=checkbox]:checked + label:before {content: "";display: block;background-image: url("../assets/icons/chips.svg");background-size: cover;/*position: absolute;*/}
.form-chip input[type=radio]:disabled + label, .form-chip input[type=checkbox]:disabled + label {border-color: #c6c6c6;background-color: #d8d8d8;color: #717171;}
.form-chip.large label {padding: 12px 16px;line-height: 22px;}
// .form-chip.large input[type=radio]:checked + label, .form-chip.large input[type=checkbox]:checked + label {padding-left: 36px;}
// .form-chip.large input[type=radio]:checked + label:before, .form-chip.large input[type=checkbox]:checked + label:before {left: 18px;}
.form-chip.large label:before {min-width: 16px;min-height: 16px;}
.form-chip.medium label {padding: 12px;line-height: 14px;}
.form-chip.medium input[type=radio]:checked + label, .form-chip.medium input[type=checkbox]:checked + label {padding-left: 32px;}
.form-chip.medium input[type=radio]:checked + label:before, .form-chip.medium input[type=checkbox]:checked + label:before {left: 14px;}
.form-chip.medium label:before {width: 16px;height: 16px;}
.form-chip.small label {padding: 12px 10px;line-height: 6px;}
.form-chip.small input[type=radio]:checked + label, .form-chip.small input[type=checkbox]:checked + label {padding-left: 27px;}
.form-chip.small input[type=radio]:checked + label:before, .form-chip.small input[type=checkbox]:checked + label:before {left: 12px;}
.form-chip.small label:before {width: 12px;height: 12px;}

.form-check input[type=checkbox] + label {padding-left: 28px;}
.form-check input[type=checkbox] + label:before {width: 14px;height: 14px;padding: 2px;border-radius: 4px;}
.form-check input[type=checkbox]:checked + label:before {background-color: #246BEB;background-repeat: no-repeat;background-position: center;background-image: url("../assets/icons/check-a.svg");z-index: 1;}
.form-check.check-type1 input[type=checkbox]:checked + label:before {background-image: url("../assets/icons/check-m.svg");}
.form-check input[type=checkbox]:disabled + label:before {border-color: #C6C6C6;background-color: #D8D8D8;}
.form-check input[type=checkbox]:disabled + label:after {background-image: url("../assets/icons/check-d.svg");width: 14px;height: 14px;padding: 2px;border-radius: 0;background-position: center;left: 1px;background-color: rgba(0, 0, 0, 0);background-repeat: no-repeat;}
.form-check.check-type1 input[type=checkbox]:disabled + label:after {background-image: url("../assets/icons/check-d-m.svg");width: 11px;height: 2px;left: 3px;}

.form-chip input[type=checkbox] + label:before {background-image: url(../assets/icons/chips-chk.svg);content: "";display: block;position: absolute;background-size: cover;}
.form-chip.large input[type=checkbox] + label {padding-left: 36px;}
.form-chip.large input[type=checkbox] + label:before {left: 14px;}
.form-chip.large input[type=checkbox]:checked + label:before {left: 14px;}
.form-chip.medium input[type=checkbox] + label {padding-left: 32px;}
.form-chip.medium input[type=checkbox] + label:before {left: 12px;}
.form-chip.medium input[type=checkbox]:checked + label:before {left: 12px;}
.form-chip.small input[type=checkbox] + label {padding-left: 27px;}
.form-chip.small input[type=checkbox] + label:before {left: 10px;}
.form-chip.small input[type=checkbox]:checked + label:before {left: 10px;}