@use "../mixin" as *;

/** 테이블 타이틀 **/
.board-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  > div {
    display: flex;
    align-items: center;
    gap: 8px;

    .compulsory-txt{
      margin: 10px 6px 0 0;
    }
  }

  .tit {
    font-size: 17px;
    font-weight: 700;
    color: #1D1D1D;
    margin: 0 20px 0 0;

    span {
      color: #1D56BC;
    }
  }

  .choice {
    margin: 0 5px 0 11px;
    font-size: 17px;
  }

  .top-txt {
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 25%;
      left: -12px;
      width: 1px;
      height: 16px;
      background-color: #E4E4E4;
    }
  }

  .tit:before {
    display: none;
  }

  &.no-wrap{    
    flex-direction: row;

    .right-box{
      margin-top: 0;      
    }
  }
}

.table-wrap {
  display: table;
  table-layout: fixed;
  position: relative;
  min-width: 100%;
  width: 100%;
  word-break: break-all;

  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  th {
    font-size: 15px;
    font-weight: 700;
    color: #1D1D1D;
    border-bottom: 1px solid #58616A;
    vertical-align: middle;
    background-color: #E6E8EA;
    position: relative;
    text-align: center;        

    .tooltip-tit{      
      .title{
        padding-right: 20px;
      }
    }

    .contextual-help{
      top: 50%;
      transform: translateY(-50%);

      .tooltip-popover{
        text-align: left;
      }
    }
  }

  td {
    border-bottom: 1px solid #E4E4E4;
    font-size: 17px;
    color: #1D1D1D;
    vertical-align: middle;
    text-align: center;    

    * {
      color: #1D1D1D;
    }
  }

  table {
    &.crud {
      th {
        padding: 16px;
      }

      td {
        padding: 20px 16px;
      }
    }

    &.check {
      th {
        padding: 16px;
      }

      td {
        padding: 18px 16px;        
      }
    }

    &.cont {
      th {
        padding: 10px 16px;
      }

      td {
        padding: 17px 16px;
      }
    }
  }

  input[type=checkbox] + label, input[type=radio] + label {
    padding: 0;

    &:before {
      position: relative;
      top: 0;
      left: 0;
      transform: translateY(0);
      background-color: #fff;
    }
  }

  .form-check{
    width:20px;    
    display: inline-block;
  }  

  .th-turn {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: -7px;
    background-image: url("/assets/icons/tb-turn.svg");
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s;

    &.active {
      transform: rotate(180deg);
    }
  }

  .arr-ico {
    position: relative;
    padding-right: 20px;
  }

  a.txt {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .file-down {
    width: 24px;
    height: 24px;
    font-size: 0;
    background-image: url("/assets/icons/file.svg");
    background-position: center;
    background-color: #fff;
  }

  .in-num{
    text-decoration: underline;
    color:#246BEB !important;
  }
}

.table-wrap {
  table.cont {
    th {
      text-align: center;
    }

    tr {
      &.line1 th {
        background-color: #CDD1D5;
        border-bottom: 0;
        border-top: 1px solid #58616A;

        &:first-child {
          border-left: 1px solid #CDD1D5;
        }

        &:last-child {
          border-right: 1px solid #CDD1D5;
        }
      }

      &.line2 th {
        border: 1px solid #B1B8BE;

        &:first-child {
          border-left: 1px solid #E6E8EA;
        }

        &:last-child {
          border-right: 1px solid #E6E8EA;
        }
      }
    }

    td {
      border: 1px solid #E4E4E4;
      border-top: none;
    }
  }

  &.mobile {
    .header {
      background-color: #E6E8EA;
      padding: 16px;
      border-bottom: 1px solid #58616A;

      .form-check {
        display: inline-flex;
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      padding: 8px 0 8px 0;
      border-bottom: 1px solid #E4E4E4;

      li {
        display: flex;
        align-items: flex-start;
        padding: 10px 8px;
        justify-content: space-between;
      }
    }

    .title {
      font-size: 15px;
      font-weight: 700;
      color: #1D1D1D;
      width: 120px;
      word-break: auto-phrase;
      line-height: 150%;
      position: relative;

      *:not(.tooltip-ico) {
        font-size: 15px;
        font-weight: 700;
        color: #1D1D1D;

        .contextual-help{          
          top:50%;
          transform: translateY(-50%);
        }
      }
    }

    .txt {
      width: calc(100% - 120px);
      font-size: 17px;
      font-weight: 400;
      color: #1D1D1D;
      text-align: right;
      padding-left: 10px;
      line-height: 150%;

      * {
        font-size: 17px;
        font-weight: 400;
        color: #1D1D1D;
      }
    }

    .number {
      font-size: 15px;
      font-weight: 700;
      color: #1D1D1D;
    }
  }

  &.pc{
    display: block;
  }

  &.mobile{
    display: none;
  }
}

/** 단순형 테이블 **/  
.wrap-cont-tbl{   
  .modal-tit{
    font-size:17px;
    color:#1D1D1D;
  }
  
  .table-wrap{
    table{
      position: relative;
      margin-top: 15px;        

      &::before{
        content:"";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #24282B;
        z-index: 1;
      }
    }      

    span{
      font-size:13px !important;
      display: block;
      color:#060606 !important;
      font-weight: 400;
      margin-top: 5px;
    }
  }

  th{      
    border-color:#B1B8BE;      
  }

  td{
    text-align: right;
  }

  tbody th{
    text-align: left !important;
  }

  .table-wrap.mobile{
    .modal-tit{
      display: block;
      margin-top: 48px;

      &:first-child{
        margin-top: 26px;
      } 
      
    }
  }

  .cont-acc-tbl{
    border-top:1px solid #1D1D1D;
    margin-top: 20px;
    padding-top: 8px;

    .accordion-wrap{    
              
        
      &.active{
        .accordion-header{
          a{
            i{
              transition: all .3s;
              transform: rotate(180deg);
            }
          }
        }
      }
      .accordion-header{
        padding: 24px; 
        a{           
          font-size: 17px;
          text-decoration: none;
          color:#1D1D1D;
          font-weight: 700;
          display: flex;
          justify-content: space-between;
          align-items: center;

          i{
            font-size:0;
          }
        }
      }
      .accordion-body{
        padding: 0 24px 24px 24px;         
        //margin-top: 24px;
        ul{          
          border-top:1px solid #D8D8D8;        
          li{
            transition: all .3s;
            display: flex;
            justify-content: space-between;
            padding-top: 24px;
            .txt{
              text-align: left;
              padding-left: 0;
              font-size: 15px;
              font-weight: 700;
              color:#1D1D1D;
            }
          }
        }
        
      }
    }
  } 
  .mo-cont-wrap > li{
    margin-top: 8px;
    background-color: #F4F5F6;  
    border-radius: 8px;  
  }
} 


/** 조회형 카드 반응형 **/
.wrap-check-tbl{  
  .mobile .wrap-body{
    border-top: 1px solid #58616A; 
    
    .contextual-help{      
      top:0;
    }

    .tooltip-action{      
      left:-27px;

      &::before{
        left: 24px;
      }
    }

    button:not(.tooltip-ico):not(.tooltip-close){
      width:100%;
    }    
  }  
}

@media (max-width: 900px) {
  .table-wrap table.check{
    th{
      padding:16px 10px;
    }
    td{
      padding: 16px 10px;
      font-size:15px;
    }
  }  
}

@media (max-width: 767px) {
  .board-top {
    flex-direction: column;

    .choice {
      display: none;
    }

    button {
      width: calc(50% - 4px);
    }

    > div {
      flex-wrap: wrap;      
    }    

    > .right-box{
      justify-content: space-between;
      flex-wrap: nowrap;
      margin-top: 11px;

      .compulsory-title {
        padding-right: 10px;        
      }

      button {
        width: auto;
      }
    } 
  }

  .table-wrap {
    display: block;
    overflow-x: auto;

    &.pc{
      display: none;
    }

    &.mobile{
      display: block;
    }
  }

  .tbl {
    &.check, &.cont {
      width: 768px;
    }
  }  
}