/* ==================================================
   Style Guide tooltip
   ================================================== */
.contextual-help .tooltip-btn-area {display: inline-block;position: relative;}
.contextual-help .tooltip-action {display: none;}
.contextual-help .tooltip-action.active {display: block;}
// .contextual-help.bottom .tooltip-action:before {top: -12px;transform: rotate(180deg);}
// .contextual-help.top .tooltip-action:before {bottom: -12px;}
// .contextual-help.bottom.left .tooltip-action:before {right: 24px;}
// .contextual-help.bottom.center .tooltip-action:before {left: 50%;}
// .contextual-help.bottom.right .tooltip-action:before {left: 24px;}
// .contextual-help.top.left .tooltip-action:before {right: 24px;}
// .contextual-help.top.center .tooltip-action:before {right: 47%;}
// .contextual-help.top.right .tooltip-action:before {left: 24px;}
// .contextual-help.top .tooltip-action {bottom: 32px;}
// .contextual-help.bottom .tooltip-action {top: 45px;}
// .contextual-help.top.right .tooltip-action {left: -27px;}
// .contextual-help.top.center .tooltip-action {right: -171px;}
// .contextual-help.top.left .tooltip-action {right: -27px;}
// .contextual-help.bottom.right .tooltip-action {left: -27px;}
// .contextual-help.bottom.center .tooltip-action {right: -161px;}
// .contextual-help.bottom.left .tooltip-action {right: -27px;}

.tooltip-action {padding: 24px;width: 360px;border: 1px solid #C6C6C6;position: relative;border-radius: 12px;background-color: #FFF;position: absolute;z-index: 1;bottom: 30px;left: -60px;/*transform: translateX(-50%) !important;*/}
.tooltip-ico:before {content: "";display: none;position: absolute;width: 15px;height: 15px;/* background-image: url(../assets/icons/tooltip-arr.svg); */top: -22px;left: 0px;z-index: 5;/* border-top: 1px solid #fff; */background-color: #fff;border: 1px solid #C6C6C6;transform: rotate(45deg);border-left: 0;border-top: 0;}
.tooltip-ico.active:before{display: block;}
.tooltip-action .tooltip-contents p {line-height: 150%;}
.tooltip-action .tooltip-contents .btn.link {position: relative;}
.tooltip-action .tooltip-contents .btn.link:before {content: "";display: block;position: absolute;top: 50%;right: -20px;width: 16px;height: 16px;transform: translateY(-50%);background-image: url("../assets/icons/btn-arrow-right.svg");background-position: center;background-size: 16px;}
.tooltip-action .tooltip-btn-area {display: inline-block;}
.tooltip-action .btn-wrap {line-height: 150%;margin-top: 15px;}
.tooltip-action .tooltip-close {position: absolute;top: 17px;right: 24px;width: 16px;height: 16px;border-radius: 0;background-image: url("../assets/icons/close.svg");background-position: center;background-size: 16px;background-color: rgba(0, 0, 0, 0);border: 0;}
.tooltip-action .tooltip-title {line-height: 150%;display: block;margin-bottom: 15px;}

@media screen and (max-width: 480px) {  
//   .tooltip-action{left:-20px !important}
}

