/** 인증번호 **/
.certification-number {
  display: flex;
  justify-content: center;  

  .number {
    display: flex;
    gap: 8px;

    input {
      width: 100%;
      min-width: 1px;
      max-width: 42px;
      height: 48px;
      border: 1px solid #C6C6C6;
      border-radius: 4px;
    }
  }
}

/** 유효시간 **/
.effective-time {
  font-size: 15px;
  color: #E71825;
  width: 100%;
  text-align: center;
  display: block;
  margin-top: 11px;
}

/** 인증번호 재발송 **/
.reforwarding {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

/** 테이블 **/
.modal-body [class*=-tbl]{
  margin-bottom: 20px;
}

.modal-body{
  .wrap-address-area{
    margin: 24px 0;
  }
}


@media (max-width: 480px) {
  .certification-number{
        padding: 22px 10px;
  }
}