/* ========================================================================
   PAGE: Pages
   ======================================================================== */

/* 페이지 로딩 */
body.common-loading, html.common-loading {overflow: hidden;}
.common-loading {position: relative;}
.common-loading::before, .common-loading::after {content: "";display: block;}
.common-loading::before {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: #fff;opacity: 0.8;z-index: 8888;}
.common-loading.nobg::before {opacity: 0;}
.common-loading::after {position: fixed;top: 50%;left: 50%;width: 48px;height: 48px;background-image: url("../assets/icons/com-loading.svg");z-index: 8888;animation: spin 1s infinite linear;margin-left: -24px;margin-top: -24px;}
.common-loading .loading-txt {position: fixed;top: 50%;left: 50%;font-size: 25px;font-weight: 700;z-index: 9999;transform: translate(-50%, -50%);margin-top: 60px;}

/* 그리드 로딩 */
.table-content.common-loading::before, 
.table-content.common-loading::after {z-index: 2;position: absolute;}
.common-loading .table-wrap thead, 
.common-loading .wrap-faq .header {position: relative;z-index: 2;}

/* 필수 입력 스타일 공통 */
.compulsory-txt {position: relative;display: flex;line-height: 150%;align-items: flex-start;padding-left: 12px;}
.compulsory {position: absolute;bottom: 8px;font-size: 0;list-style: none;display: inline-block;background-image: url(../assets/icons/compulsory.svg);width: 8px;height: 8px;background-repeat: no-repeat;}

.compulsory-txt .compulsory {left: 0;}
.modal-body .search-box .compulsory {margin-left: 5px;}
.modal-body .wrap-form-area .tit .compulsory {right: 0;bottom: 4px;}
.cont-area .search-box .compulsory {margin-left: 5px;bottom: 9px;}
.search-box .compulsory-txt {margin: 0;padding-left: 16px;}
.cont-area .search-box .form-check .tit .compulsory {margin-left: 5px;bottom: 5px;}
.cont-area .wrap-form-area .tit .compulsory {right: 0;bottom: 4px;}
.cont-area .wrap-form-area .form-check > label:has(.compulsory) {padding-right: 15px;}
.cont-area .wrap-form-area .form-check > label:has(.compulsory) .compulsory {bottom: 7px;}
.cont-area .wrap-form-area .sub-form .sub-tit .compulsory {right: -12px;bottom: 7px;}

/* 점선 스타일 */
[class*=dotted-line-] {position: relative;}
.dotted-line-top {margin-top: 25px !important;padding-top: 25px !important;}
.dotted-line-top::before {top: 0;content: "";display: block;position: absolute;left: 0;width: 100%;height: 2px;background-image: url(../assets/icons/dotted.svg);}
.dotted-line-bottom {padding-bottom: 25px !important;margin-bottom: 25px !important;}
.dotted-line-bottom::after {bottom: 0;content: "";display: block;position: absolute;left: 0;width: 100%;height: 2px;background-image: url(../assets/icons/dotted.svg);}
.dotted-line-right {padding-right: 25px !important;margin-right: 25px !important;}
.dotted-line-right::before {right: 0;content: "";position: absolute;width: 2px;height: 100%;left: auto;background-image: url(../assets/icons/dotted-row.svg);}

/* 실선 스타일 */
[class*=solid-line-top]:not([class*=dotted-line-])::before, [class*=solid-line-top]:not([class*=dotted-line-])::after {display: none !important;}
[class*=solid-line-bottom]:not([class*=dotted-line-])::before, [class*=solid-line-bottom]:not([class*=dotted-line-])::after {display: none !important;}
[class*=solid-line-top] {margin-top: 25px;}
[class*=solid-line-bottom] {padding-bottom: 25px;}

   /* 실선 색상 */
   $lines: (
      1: #717171,
      2: #D8D8D8,
      3: #C6C6C6,
      4: #E4E4E4
      );

      @each $num, $color in $lines {
      .solid-line-top#{$num} {
         border-top: 1px solid $color;
      }
      .solid-line-bottom#{$num} {
         border-bottom: 1px solid $color;
      }
   }

/* 말줄임 */
%ellipsis {overflow: hidden;text-overflow: ellipsis;}   
.tb-title {@extend %ellipsis;display: block;white-space: nowrap;}   
.tb-title-2 {@extend %ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}

/* 툴팁 스타일 */
.tooltip-ico {width: 16px;height: 16px;background-image: url("../assets/icons/exclamation.svg");background-size: contain;font-size: 0;background-color: rgba(0, 0, 0, 0);}
.contextual-help {display: inline-block;height: 16px;line-height: 0;position: absolute;bottom: 5px;margin-left: 5px;}
.tooltip-tit .title {display: inline !important;}

/* 제목 스타일 */
[class*=title-type] {line-height: 150%;}
[class*=title-type] .txt {margin-left: 6px;}
[class*=title-type] .compulsory-txt {margin: 0 0 0 10px;display: inline-block;}
[class*=title-type]:has(.compulsory) {display: flex;align-items: center;gap: 5px;flex-direction: row !important;}
[class*=title-type] .compulsory{position: static;}
[class*=title-type] [class*=cl-] {margin: 0 5px;}
[class*=title-type].title-type3:has(.tooltip-tit) {position: relative;display: inline-flex;height: 28px;padding-right: 25px;}
[class*=title-type].title-type3:has(.tooltip-tit) .tooltip-tit {display: inline-block;}
[class*=title-type].title-type3:has(.tooltip-tit) .tooltip-tit .contextual-help {top: 3px;right: 0;}
[class*=title-type].title-type3:has(.tooltip-tit) .tooltip-tit .title > strong {font-size: 0;}
[class*=title-type].title-type3:has(.tooltip-tit) .tooltip-tit .tooltip-ico {width: 20px;height: 20px;}
[class*=title-type].title-type4 span {padding-left: 15px;position: relative;}
[class*=title-type].title-type4 span::before {content: "";display: block;position: absolute;top: 0;left: 5px;width: 1px;height: 18px;background-color: #E4E4E4;}

.title-top:has(.advice-txt) {align-items: flex-start;gap: 15px;}
.title-top.type1 button {width: auto !important;}

/* 텍스트 스타일 */
[class*=info-txt] {display: flex;align-items: center;}
[class*=info-txt].advice-txt {padding-left: 0;}
[class*=info-txt].advice-txt::before {display: none;}

/* 동의 관련 제목 스타일 */
.agree-title {display: inline-block;align-items: center;position: relative;padding-left: 53px;}
.agree-title .title-type > strong {margin-right: 8px;position: absolute;left: 0;top: 0;}
.agree-title .contextual-help {bottom: 5px;}

/* 텍스트 박스 스타일 */
[class*=txt-box-type] {background-color: #f4f5f6;padding: 24px;border-radius: 8px;display: flex;justify-content: space-between;align-items: center;}
[class*=txt-box-type]:has(.title-type.medium) {align-items: flex-start;flex-direction: column;}
[class*=txt-box-type]:has(.title-type.medium) .title-type.medium {width: 100%;padding-bottom: 17px;}
[class*=txt-box-type]:has(.title-type.medium) ul {margin-top: 10px;}
[class*=txt-box-type].type2 {flex-direction: column;align-items: flex-start;}
[class*=txt-box-type].type2 strong {width: 100%;}
[class*=txt-box-type].type2 ul {margin-top: -10px !important;}
[class*=txt-box-type].type2 ul li {margin-top: 10px;padding-left: 12px;position: relative;line-height: 150%;}
[class*=txt-box-type].type2 ul li::before {content: "";position: absolute;top: 8px;left: 0;width: 6px;height: 6px;background-color: #060606;border-radius: 100%;}
[class*=txt-box-type].type2 .title-type.font-2.dotted-line-bottom{padding-bottom: 15px !important;margin-bottom: 15px !important;margin-top: 0;}
[class*=txt-box-type].type3{justify-content: flex-end;}
[class*=txt-box-type].type3 p {padding-right: 20px;}
[class*=txt-box-type].type3 strong {font-size: 19px;padding-right: 8px;}
[class*=txt-box-type].type3 span {font-size: 19px;padding-left: 8px;position: relative;}
[class*=txt-box-type].type3 span::before {content: "";display: block;position: absolute;top: 5px;left: -2px;width: 1px;height: 13px;background-color: #D8D8D8;}
[class*=txt-box-type].type1 {align-items: center;}
[class*=txt-box-type].type1 p {font-size: 19px;padding-right: 10px;}
// [class*=txt-box-type].type1 strong {margin: 8px 0 8px 6px;}
[class*=txt-box-type].type1 strong i {margin: 0 5px;}
[class*=txt-box-type].type1 p {line-height: 150%;}
[class*=txt-box-type].type3 p {line-height: 150%;}


/* 도움말 */
.advice-txt {position: relative;line-height: 150%;padding-left: 10px;}
.advice-txt::before {content: "";display: block;position: absolute;top: 11px;left: 0;width: 4px;height: 4px;border-radius: 50%;background-color: #060606;}
.advice-txt.type1 {color: #E71825;}
.advice-txt.type1:before {background-color: #E71825;}
.advice-txt:has(.btn.tertiary.xsmall)::before{top:14px;}

/* 개인정보 수집 */
.acc-area {border: 1px solid #E4E4E4;padding: 0 24px;border-radius: 8px;}
.acc-area .tit {display: flex;justify-content: space-between;padding: 24px 0;position: relative;}
.acc-area .tit:before {content: "";display: block;position: absolute;bottom: 0;left: 0;width: 100%;height: 2px;background-image: url("../assets/icons/dotted.svg");}
.acc-area .tit p {padding-right: 40px;line-height: 150%;}
.acc-area .tit .box {display: flex;gap: 24px;justify-content: flex-end;flex: 1;}
.acc-area .txt {padding: 24px 0;}
.acc-area .txt p {color: #EB003B;display: flex;line-height: 150%;}
.acc-area .txt p i {margin-right: 6px;}
.acc-area.type1 {padding: 0;}
.acc-area.type1 .tit {flex-direction: column;gap: 24px;padding: 24px;}
.acc-area.type1 .tit::before {display: none;}
.acc-area.type1 .txt {padding: 24px;border-top: 1px solid #E4E4E4;}
.acc-area.type1 .txt .box {display: flex;justify-content: flex-end;gap: 24px;}

/* 검색영역 */
.search-box {padding: 10px 15px;border-radius: 5px;background-color: #F4F5F6;}
.search-box .bottom-action-area {display: flex;margin-top: 10px;padding-top: 10px;border-top: 1px solid #E6E8EA;justify-content: space-between;align-items: center;}
.search-box ul {display: flex;margin-left: -40px;flex-wrap: wrap;gap: 15px 0;}
.search-box ul li {display: flex;align-items: center;padding-left: 40px;}
.search-box ul li button[class*=btn].medium, .search-box ul li label[class*=btn].medium {height: 48px !important;}
.search-box ul li .search-area {position: relative;display: flex;width: 100%;gap: 8px;flex-wrap: wrap;align-items: center;}
.search-box ul li .search-area[class*=nowrap] {flex-wrap: nowrap;}
.search-box ul li .tit {display: inline;position: relative;min-width: 120px;width: 120px;align-items: center;padding-right: 20px;line-height: 150%;font-weight: 700;}
.search-box ul li .form-check.medium.tit {width: 170px;min-width: 170px;}
.search-box ul li .form-group {width: 100%;min-width: 10px;}
.search-box ul li .check-area {gap: 15px;}
.search-box ul li .advice-txt {margin-top: 0;}
.search-box ul li .search-area-box {width: 100%;}
.search-box ul li .search-area-box .advice-txt {margin-top: 12px;}
.search-box ul li:has(.search-area-box) .tit {margin-top: -30px;}
.search-box ul li .wrap-form-chip {display: flex;gap: 8px;}
.search-box .btn-area {flex: 1;margin-top: 0;padding-top: 0;border-top: none;}
.search-box .bottom-action-area:has(.compulsory-txt) .btn-end{text-align: right;width:auto}
.search-box .bottom-action-area .btn-end{text-align: right;width:100%}

  /* 공통 pc 모바일 모두 한줄로 처리 기본 최소 350 */
  .search-box .state-keeper{flex: 1;display: flex;gap: 8px;width: 100%;min-width: 300px;}  

  /* 검색영역 전체 타이틀 넓이 변경 */
  @for $i from 1 through 100 {
    .search-box.wrap-#{$i} .tit {
        width: #{120 + $i}px;
        min-width: #{120 + $i}px;
    }
  }

  /* 검색영역 넓이 */
  @for $i from 1 through 12 {
    .search-box ul li.col#{$i} {
        width: #{100% / $i};
    }
  }

  /* 검색영역 넓이 비율 */
  @for $i from 1 through 10 {
    .search-box ul li.ratio#{$i} {
        width: #{10% * $i};
    }
  }

.btn-area-type.pc {display: flex !important;}
.btn-area-type.mo {display: none !important;}

/* 게시판 상세보기 */
.wrap-detail h5.title {font-size: 20px;padding: 15px 0;line-height: 150%;}
.wrap-detail .detail-list {border-top: 1px solid #58616A;border-bottom: 1px solid #E4E4E4;padding: 15px 0;display: flex;flex-wrap: wrap;overflow: hidden;}
.wrap-detail .detail-list li {padding: 0 32px 0 0;position: relative;margin: 7px 0;}
.wrap-detail .detail-list li::before {content: "";display: block;position: absolute;top: 3px;left: -17px;width: 1px;height: 12px;background-color: #D8D8D8;}
.wrap-detail .detail-list li:last-child {padding-right: 0;}
.wrap-detail .detail-list span {padding-left: 16px;}
.wrap-detail .detail-txt {line-height: 150%;color: #2D2D2D;position: relative;padding: 24px 0;}
.wrap-detail .detail-txt .txt-area{min-height: 200px;}
// .wrap-detail .detail-txt:has(.wrap-reply){min-height: 400px;}
.wrap-detail .detail-txt::before {content: "";display: block;position: absolute;bottom: 0;left: 0;width: 100%;height: 2px;background-image: url(../assets/icons/dotted.svg);}
.wrap-detail .detail-file {border-bottom: 1px solid #E4E4E4;}
.wrap-detail .detail-file h5.title {margin-bottom: 16px;padding: 0;font-size: 17px;}
.wrap-detail .detail-file .upload-list {margin-bottom: 8px;}
.wrap-detail .wrap-pages-move .pages-move {display: flex;justify-content: space-between;}
.wrap-detail .wrap-pages-move .pages-move li {width: calc(50% - 8px);}
.wrap-detail .wrap-pages-move .pages-move li a, 
.wrap-detail .wrap-pages-move .pages-move li .txt {display: flex;width: 100%;height: 100%;align-items: center;border-radius: 4px;padding: 15px 0;}
.wrap-detail .wrap-pages-move .pages-move li a strong, 
.wrap-detail .wrap-pages-move .pages-move li .txt strong {display: flex;gap: 8px;align-items: center;}
.wrap-detail .wrap-pages-move .pages-move li a p, 
.wrap-detail .wrap-pages-move .pages-move li .txt p {position: relative;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.wrap-detail .wrap-pages-move .pages-move li a p::before, 
.wrap-detail .wrap-pages-move .pages-move li .txt p::before {content: "";display: block;position: absolute;top: 50%;width: 1px;height: 16px;background-color: #D8D8D8;transform: translateY(-50%);}
.wrap-detail .wrap-pages-move .pages-move li.prev {margin-right: 10px;}
.wrap-detail .wrap-pages-move .pages-move li.prev strong {padding-right: 10px;}
.wrap-detail .wrap-pages-move .pages-move li.prev p {padding-left: 10px;}
.wrap-detail .wrap-pages-move .pages-move li.prev p::before {left: 0;}
.wrap-detail .wrap-pages-move .pages-move li.next {margin-left: 10px;}
.wrap-detail .wrap-pages-move .pages-move li.next a{justify-content: flex-end;}
.wrap-detail .wrap-pages-move .pages-move li.next strong {padding-left: 10px;justify-content: flex-end;}
.wrap-detail .wrap-pages-move .pages-move li.next p {padding-right: 10px;}
.wrap-detail .wrap-pages-move .pages-move li.next p::before {right: 0;}
// .wrap-detail .wrap-pages-move .pages-move li.next a, 
// .wrap-detail .wrap-pages-move .pages-move li.next .txt {justify-content: flex-end;}
// .wrap-detail .wrap-pages-move .pages-move li:has(.txt){width:100%;}
.wrap-detail .wrap-reply {margin-top: 25px;background-color: #F4F5F6;padding: 32px 24px;}
.wrap-detail .wrap-reply .tit {font-size: 19px;}
.wrap-detail .wrap-reply .txt {margin-top: 24px;}
.wrap-detail .wrap-reply .detail-list {padding: 0;border: 0;line-height: 1;}
.wrap-detail .wrap-reply .detail-list li {margin: 0;}

/* 그래프 */
.wrap-graph {padding: 24px;border: 1px solid #E4E4E4;border-radius: 8px;overflow-y: auto;}
.wrap-graph .title-top {margin: 0}
.wrap-graph .wrap-cont-tbl .table-wrap {overflow-x: auto;display: block;}

/* 통관현황 */
.wrap-customs-info {border: 1px solid #E4E4E4;border-radius: 8px;padding: 24px;display: flex;}
.wrap-customs-info .customs-num {color: #246BEB;}
.wrap-customs-info .left-box {width: 400px;padding-right: 40px;position: relative;}
.wrap-customs-info .left-box::before {right: 0;content: "";position: absolute;width: 2px;height: 100%;left: auto;background-image: url(../assets/icons/dotted-row.svg);}
.wrap-customs-info .left-box .tit {font-size: 25px;line-height: 150%;}
.wrap-customs-info .left-box .data-box {background-color: #F4F5F6;border-radius: 8px;padding: 24px;margin-top: 29px;display: flex;align-items: center;}
.wrap-customs-info .left-box .data-box .data, 
.wrap-customs-info .left-box .data-box .customs-num {font-size: 19px;}
.wrap-customs-info .left-box .data-box .data {padding-right: 12px;position: relative;}
.wrap-customs-info .left-box .data-box .data::before {content: "";display: block;position: absolute;top: 0;right: 0;width: 1px;height: 18px;background-color: #CDD1D5;}
.wrap-customs-info .left-box .data-box .customs-num {padding-left: 12px;}
.wrap-customs-info .left-box .data-box .unit {color: #555;margin-left: 8px;}
.wrap-customs-info .right-box {flex: 1;padding-left: 40px;}
.wrap-customs-info .right-box .tit {font-size: 19px;}
.wrap-customs-info .right-box .customs-list {display: flex;flex-wrap: wrap;margin-top: 8px;margin-left: -24px;}
.wrap-customs-info .right-box .customs-list li {width: calc(50% - 24px);margin-top: 24px;margin-left: 24px;}
.wrap-customs-info .right-box .customs-list li .customs-box {display: flex;min-width: 10px;}
.wrap-customs-info .right-box .customs-list li .data {margin-left: 5px;padding-right: 12px;position: relative;}
.wrap-customs-info .right-box .customs-list li .data::before {content: "";display: block;position: absolute;top: 50%;right: 0;width: 1px;height: 12px;background-color: #E4E4E4;transform: translateY(-50%);}
.wrap-customs-info .right-box .customs-list li .customs-num {display: block;padding-left: 12px;text-align: right;}

/* 나의 개인통관고유부호 */
.wrap-mypages {display: flex;gap: 24px;}
.wrap-mypages .left-area {min-width: 411px;width: 411px;border: 1px solid #E4E4E4;border-radius: 8px;padding: 32px;}
.wrap-mypages .left-area .tit-box {display: flex;align-items: center;justify-content: space-between;}
.wrap-mypages .left-area .tit-box .tit {font-size: 21px;}
.wrap-mypages .left-area .tit-box .txt {color: #555;}
.wrap-mypages .left-area .tit-box .txt span {color: #2D2D2D;border: 1px solid #555;padding: 0 8px;line-height: 1;border-radius: 20px;}
.wrap-mypages .left-area .circle-box {width: 100%;height: 351px;margin-top: 20px;position: relative;}
.wrap-mypages .left-area .circle-box #canvas1 {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: 1;}
.wrap-mypages .left-area .circle-box #canvas2 {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.wrap-mypages .left-area .circle-box .my-customs {position: absolute;top: 52%;left: 50%;transform: translate(-50%, -50%);text-align: center;display: flex;flex-direction: column;gap: 10px;align-items: center;z-index: 2;}
.wrap-mypages .left-area .circle-box .my-customs .tit {font-size: 21px;}
.wrap-mypages .left-area .circle-box .my-customs .copy {color: #246BEB;font-size: 21px;font-weight: 700;padding: 0;background-color: rgba(0, 0, 0, 0);}
.wrap-mypages .left-area .circle-box .my-customs .state {display: inline-block;color: #246BEB;font-weight: 700;padding: 7px 8px;border-radius: 4px;background-color: #EFF5FF;}
.wrap-mypages .left-area .circle-box .my-customs.customs-type1 .state {color: #FFB724;background-color: #FFF8E9;}
.wrap-mypages .left-area .circle-box .my-customs.customs-type2 .copy:disabled {color: #C6C6C6;cursor: auto;}
.wrap-mypages .left-area .circle-box .my-customs.customs-type2 .copy:disabled i {opacity: 0.4;}
.wrap-mypages .left-area .circle-box .my-customs.customs-type2 .state {color: #EB003B;background-color: #FEECF0;}
.wrap-mypages .left-area .txt-box {display: flex;flex-direction: column;align-items: center;gap: 12px;padding-bottom: 48px;margin-bottom: 24px;position: relative;}
.wrap-mypages .left-area .txt-box::before {bottom: 0;content: "";display: block;position: absolute;left: 0;width: 100%;height: 2px;background-image: url(../assets/icons/dotted.svg);}
.wrap-mypages .left-area .txt-box strong {display: flex;align-items: center;gap: 6px;}
.wrap-mypages .left-area .txt-box strong span {font-size: 21px;font-weight: 700;}
.wrap-mypages .left-area .txt-box .data {color: #555;}
.wrap-mypages .left-area .btn-area .align, 
.wrap-mypages .left-area .btn-area .primary {width: 100%;}
.wrap-mypages .left-area .register-box {margin-top: 24px;display: flex;gap: 8px;flex-direction: column;}
.wrap-mypages .left-area .register-box li {display: flex;align-items: center;padding: 16px;border-radius: 8px;border: 1px solid #D4E1FF;background-color: #E9F0FF;}
.wrap-mypages .left-area .register-box li .info-fill1 {margin-right: 8px;}
.wrap-mypages .left-area .register-box li a {margin-left: 5px;color: #246BEB;text-decoration: underline;font-weight: 700;}
.wrap-mypages .right-area {width: calc(100% - 411px);display: flex;flex-direction: column;gap: 24px;}
.wrap-mypages .right-area .box {border: 1px solid #E4E4E4;border-radius: 8px;padding: 32px;}
.wrap-mypages .right-area .box .title-type3 {margin-top: 0;}
.wrap-mypages .right-area .box .my-tit {display: flex;}
.wrap-mypages .right-area .box .my-tit strong {color: #1D56BC;margin: 0 2px;}
.wrap-mypages .copy-text{position: absolute;bottom: 35px;}
.wrap-mypages .copy-text .copy-txt{font-size: 15px;white-space: nowrap;}

/* 인증 / 로그인 방식 */
.wrap-login .certification-list.unipass-box{display: none}
.wrap-login:has(.sign-up) {margin-top: 0;}
.wrap-login .user-btn {background-color: rgba(0, 0, 0, 0);width: auto !important;padding: 0;}
.wrap-login .user-btn i {margin-left: 5px;}
.wrap-login .user-btn:hover {text-decoration: underline;}
.wrap-login .title-top:not(.sign-up) {margin: 0 0 25px 0;flex-wrap: wrap;border-bottom:1px solid #E4E4E4;flex-direction: column;}
.wrap-login .title-top:not(.sign-up) > div {padding-bottom: 10px;margin-bottom: 10px;position: relative;}
.wrap-login .title-top:not(.sign-up) .left-box {gap: 10px;flex: 1;}
.wrap-login .title-top:not(.sign-up) .left-box .title-type {font-size: 19px;white-space: nowrap;font-weight: 700;}
.wrap-login .title-top:not(.sign-up) .left-box .form-toggle-switch label {padding-left: 32px;display: flex;align-items: center;}
.wrap-login .title-top:not(.sign-up) .left-box .form-toggle-switch label span {margin-left: 10px;}
.wrap-login .title-top:not(.sign-up) .right-box {gap: 24px !important;flex-wrap: wrap;}
.wrap-login .title-top:not(.sign-up) .right-box .user-box {display: flex;align-items: center;gap: 12px;flex-wrap: wrap;}
.wrap-login .title-top:not(.sign-up) .right-box .user-box strong{line-height: 150%;}
.wrap-login .title-top:not(.sign-up) .right-box .user-box.tooltip {padding-right: 25px;}
.wrap-login .title-top:not(.sign-up) .right-box .user-box.tooltip .tooltip-tit.tit {padding: 0;}
.wrap-login .title-top:not(.sign-up) .right-box .user-box.tooltip .contextual-help{bottom: 3px;}
.wrap-login .sign-up {margin-top: 34px;margin-bottom: 0;}
.wrap-login .sign-up > div {padding-top: 18px;margin-top: 25px;border-top: 1px solid #E4E4E4;width: 100%;}
.wrap-login .sign-up .title-top .left-box .title-type {font-size: 21px;white-space: normal;}
.wrap-login .sign-up .user-btn {margin-left: 25px;}
.wrap-login .title-type3 {font-size: 25px;margin-bottom: 32px;margin-top: 48px;}
.wrap-login .certification-list {display: flex;gap: 24px;margin-top: 0px;flex-wrap: wrap;}
.wrap-login .certification-list li {width: calc(33.3333% - 16px);}
.wrap-login .certification-list li a {background-color: #F4F5F6;border: 1px solid #CDD1D5;border-radius: 8px;display: block;padding: 32px;position: relative;height: 100%;}
.wrap-login .certification-list li a::before, 
.wrap-login .certification-list li a::after {content: "";display: block;position: absolute;}
.wrap-login .certification-list li a::before {top: 32px;left: 32px;width: 32px;height: 32px;background-position: center;background-size: contain;}
.wrap-login .certification-list li a::after {top: 34px;right: 32px;width: 24px;height: 24px;background-image: url("../assets/icons/btn-arrow-right.svg");transition: all 0.3s;background-size: 100%;}
.wrap-login .certification-list li a.list0::before {background-image: url("../assets/icons/login-ico0.svg");}
.wrap-login .certification-list li a.list1::before {background-image: url("../assets/icons/login-ico1.svg");}
.wrap-login .certification-list li a.list2::before {background-image: url("../assets/icons/login-ico2.svg");}
.wrap-login .certification-list li a.list3::before {background-image: url("../assets/icons/login-ico3.svg");}
.wrap-login .certification-list li a.list4::before {background-image: url("../assets/icons/login.svg");}
.wrap-login .certification-list li a:hover::after {right: 25px;}
.wrap-login .certification-list li a:hover .txt {text-decoration: underline;}
.wrap-login .certification-list li a .tit {font-size: 21px;padding-left: 54px;height: 32px;display: flex;align-items: center;}
.wrap-login .certification-list li a .txt {color: #555;line-height: 150%;margin-top: 19px;}

/* 휴대폰 인증 */
.aut-pages .content-wrap {padding: 64px 16px;margin: 0;max-width: 100%;background-color: #F4F5F6;display: flex;justify-content: center;align-items: center;}
.aut-pages .content-wrap .cont-head {display: none;}
.aut-pages .content-wrap .wrap-login {margin-top: 0;min-width: 100px;max-width: 528px;margin: 0 auto;border-radius: 8px;background-color: #FFF;border-radius: 8px;padding: 50px 64px 64px 64px;}
.aut-pages .content-wrap .wrap-login .title-type3 {margin: 0;}
.aut-pages .content-wrap .wrap-login .wrap-form-area {margin-top: 40px;}
.aut-pages .content-wrap .wrap-login .wrap-form-area .inp-form {padding: 0;border: 0;}
.aut-pages .content-wrap .wrap-login .wrap-form-area .inp-form ul {margin: -32px 0 0 0;}
.aut-pages .content-wrap .wrap-login .wrap-form-area .inp-form ul li {padding-top: 0;margin: 0;margin-top: 32px;}
.aut-pages .content-wrap .wrap-login .wrap-form-area .inp-form ul li.list2 .form-check {margin: 18px 0;}
.aut-pages .content-wrap .wrap-login .wrap-form-area .inp-form ul li.list2 .txt-box-type.type2 {margin: 0;padding: 16px;}
.aut-pages .content-wrap .wrap-login .wrap-form-area .inp-form ul li.list2 .txt-box-type.type2 .top-list-box {margin: -6px 0 0 0 !important;}
.aut-pages .content-wrap .wrap-login .wrap-form-area .inp-form ul li.list2 .txt-box-type.type2 .top-list-box li {margin: 6px 0 0 0;}
.aut-pages .content-wrap .wrap-login .wrap-form-area .inp-form ul li.list3 .inp-box {display: flex;flex-direction: column;align-items: flex-start;}
.aut-pages .content-wrap .wrap-login .wrap-form-area .inp-form ul li.list3 .inp-box .box1 {display: flex;align-items: center;gap: 16px;margin-bottom: 9px;}
.aut-pages .content-wrap .wrap-login .wrap-form-area .inp-form ul li.list3 .inp-box .box1 input {width: 140px;}
.aut-pages .content-wrap .wrap-login .wrap-form-area .inp-form ul li.list3 .inp-box .box1 .form-group input[type=text] {height: 64px;border-radius: 2px;}
.aut-pages .content-wrap .wrap-login .wrap-form-area .inp-form ul li.list3 .inp-box .box1 .form-group input[type=text]:disabled {background-color: #F0F0F0 !important;border-color: #D8D8D8 !important;}
.aut-pages .content-wrap .wrap-login .wrap-form-area .inp-form ul li.list3 .inp-box .box1 button {gap: 4px;}
.aut-pages .content-wrap .wrap-login .btn-area .align, 
.aut-pages .content-wrap .wrap-login .btn-area button {width: 100%;}
.aut-pages #footer {margin-top: 0;}

/* 통합검색 페이지 */
.wrap-search-pages .search-area {padding: 48px 0;position: relative;z-index: 1;display: flex;justify-content: center;}
.wrap-search-pages .search-area::before {content: "";display: block;position: absolute;top: 0;left: -1000px;width: 10000px;height: 100%;background-color: #EDF1F5;z-index: -1;}
.wrap-search-pages .search-area .sch-box {border: 1px solid #58616A;width: 100%;min-width: 10px;max-width: 846px;height: 80px;border-radius: 8px;background-color: #fff;position: relative;}
.wrap-search-pages .search-area .sch-box input[type=text] {width: 100%;height: 100%;border: 0;font-size: 25px;color: #1D1D1D;font-weight: 700;padding-right: 120px;padding-left: 16px;background-color: rgba(0, 0, 0, 0);}
.wrap-search-pages .search-area .sch-box button.pages-sch {position: absolute;top: 50%;right: 16px;width: 40px;height: 40px;background-color: rgba(0, 0, 0, 0);padding: 0;transform: translateY(-50%);}
.wrap-search-pages .search-area .sch-box button.pages-sch i {font-size: 0;display: block;width: 100%;height: 100%;min-width: 100%;min-height: 100%;}
.wrap-search-pages .search-area .sch-box .sch-delete {background-color: rgba(0, 0, 0, 0);position: absolute;top: 0;right: 65px;height: 100%;display: none;}
.wrap-search-pages .search-area .sch-box .sch-delete i {font-size: 0;height: 100%;display: block;}
.wrap-search-pages .search-result {border-bottom: 1px solid #D8D8D8;padding: 64px 0 24px 0;display: flex;justify-content: space-between;}
.wrap-search-pages .search-result .left-box {flex: 1;padding-right: 20px;}
.wrap-search-pages .search-result .left-box * {font-size: 21px;}
.wrap-search-pages .search-result .left-box .tit strong {color: #246BEB;margin-left: 5px;}
.wrap-search-pages .search-result .left-box .tit em {font-style: normal;}
.wrap-search-pages .search-result .right-box {display: flex;}
.wrap-search-pages .search-result .right-box .tit {padding-right: 12px;position: relative;}
.wrap-search-pages .search-result .right-box .tit::before {content: "";display: block;position: absolute;top: 0;right: 0;width: 2px;height: 16px;background-color: #E4E4E4;}
.wrap-search-pages .search-result .right-box ul {display: flex;gap: 8px;padding-left: 12px;}
.wrap-search-pages .search-result .right-box ul a.on {text-decoration: underline;}
.wrap-search-pages .search-result .right-box ul a:hover {font-weight: 700;}
.wrap-search-pages .search-list > div[class*=-list] {padding: 32px 0;}
.wrap-search-pages .search-list > div[class*=-list] span.tit {color: #1D56BC;padding: 0 8px;background-color: #EFF5FF;border-radius: 4px;height: 24px;display: inline-flex;align-items: center;margin-bottom: 24px;}
.wrap-search-pages .search-list > div[class*=-list] strong.tit {display: flex;}
.wrap-search-pages .search-list > div[class*=-list].menu-list {border-bottom: 1px solid #D8D8D8;}
.wrap-search-pages .search-list > div[class*=-list].menu-list ul {display: flex;gap: 15px;flex-direction: column;}
.wrap-search-pages .search-list > div[class*=-list].menu-list ul a {text-decoration: underline;line-height: 150%;display: block;}
.wrap-search-pages .search-list > div[class*=-list].menu-list ul a span {color: #246BEB;}
.wrap-search-pages .search-list > div[class*=-list].menu-list ul a:hover {font-weight: 700;}
.wrap-search-pages .search-list > div[class*=-list].menu-list ul a:hover * {font-weight: 700;}
.wrap-search-pages .search-list > div[class*=-list].cont-list {padding: 0;}
.wrap-search-pages .search-list > div[class*=-list].cont-list .cont-area {border-bottom: 1px solid #D8D8D8;}
.wrap-search-pages .search-list > div[class*=-list].cont-list .cont-area .cont {position: relative;}
.wrap-search-pages .search-list > div[class*=-list].cont-list .cont-area .cont::before {bottom: 0;content: "";display: block;position: absolute;left: 0;width: 100%;height: 2px;background-image: url(../assets/icons/dotted.svg);}
.wrap-search-pages .search-list > div[class*=-list].cont-list .cont-area .cont:last-child::before {display: none;}
.wrap-search-pages .search-list > div[class*=-list].cont-list .cont-area a {padding: 32px 0;display: block;}
.wrap-search-pages .search-list > div[class*=-list].cont-list .cont-area a:hover .txt {text-decoration: underline;}
.wrap-search-pages .search-list > div[class*=-list].cont-list .cont-area a strong.tit {font-size: 21px;line-height: 150%;margin-bottom: 13px;flex-wrap: wrap;}
.wrap-search-pages .search-list > div[class*=-list].cont-list .cont-area a strong.tit strong {color: #246BEB;margin-right: 5px;font-size: 21px;}
.wrap-search-pages .search-list > div[class*=-list].cont-list .cont-area a .txt {line-height: 150%;margin-bottom: 32px;}
.wrap-search-pages .search-list > div[class*=-list].cont-list .cont-area a .p-menu {display: flex;justify-content: space-between;align-items: center;}
.wrap-search-pages .search-list > div[class*=-list].cont-list .cont-area a .p-menu .menu {color: #555;}
.wrap-search-pages .search-list > div[class*=-list].cont-list .cont-area a .p-menu .view {display: flex;align-items: center;gap: 4px;}
.wrap-search-pages .no-result{padding: 124px 0 50px 0;text-align:center;}
.wrap-search-pages .no-result *{font-size:25px;font-weight:700;}
.wrap-search-pages .no-result p{position:relative;line-height: 150%;}
.wrap-search-pages .no-result p:before{content:"";display:block;position:absolute;top: -70px;left:50%;width:48px;height:48px;transform:translateX(-50%);background: url("../assets/icons/no-result.svg");}
.wrap-search-pages .no-result .search-keyword{color:#246BEB;}

/* 개인정보처리방침 */
.privacy * {font-size: 14px;}
.privacy .tit1 {margin-bottom: 10px;padding-left: 33px;font-size: 20px;line-height: 1.3;color: #000;letter-spacing: -1px;background: url("../assets/image/bu_tit1.png") no-repeat left 3px;}
.privacy .tit1 .list-tit {color: red;}
.privacy .tit3 {margin-left: 35px;margin-bottom: 10px;font-size: 18px;line-height: 1.3;color: #053863;letter-spacing: -1px;}
.privacy .bu_st1 {position: relative;margin-left: 40px;padding-left: 12px;font-size: 14px;line-height: 1.4;color: #444;}
.privacy .bu_st1:before {content: "";position: absolute;top: 8px;left: 0;width: 5px;height: 5px;background: #4a4e59;}
.privacy .bu_st2 {position: relative;padding-left: 12px;font-size: 14px;line-height: 1.4;color: #444;}
.privacy .bu_st2:before {content: "";position: absolute;top: 11px;left: 0;width: 4px;height: 4px;background: #646a7d;border-radius: 2px;}
.privacy .list_st2 > li {position: relative;padding: 4px 0 4px 12px;font-size: 14px;line-height: 1.4;color: #444;}
.privacy .list_st2 > li:before {content: "";position: absolute;top: 13px;left: 0;width: 4px;height: 4px;background: #646a7d;border-radius: 2px;}
.privacy table .bu_st1 {margin-left: 0;}
.privacy .list_stT1 > li {font-size: 14px;line-height: 1.4;color: #444;}
.privacy .list_stT1 > li a {font-size: 14px;}
.privacy .list_stT1 > li ul {margin: 5px 0 5px 15px;color: #555;}
.privacy .list_stT1 > li ul li {padding: 1px 0;}
.privacy .list_ol1 li {position: relative;margin-bottom: 5px;padding: 3px 0 2px 30px;line-height: 1.4;font-size: 14px;}
.privacy .list_ol1 li span.num {position: absolute;left: 0;top: 0;width: 25px;height: 25px;line-height: 25px;color: #fff;text-align: center;background: #636363;border-radius: 13px;}
.privacy .pc_blue {color: #155eb6;}
.privacy .f_weightB {font-weight: bold;}
.privacy a.bu_link {padding-left: 30px;color: #155eb6;text-decoration: underline;background: url("../assets/image/bu_link.png") no-repeat left top;}
.privacy a.bu_linkL {padding-left: 20px;color: #155eb6;text-decoration: underline;background: url("../assets/image/bu_link_line.png") no-repeat left 4px;}
.privacy a.bu_mail {padding-left: 30px;color: #155eb6;text-decoration: underline;background: url("../assets/image/bu_mail.png") no-repeat left top;}
.privacy a.bu_mailL {padding-left: 20px;color: #155eb6;text-decoration: underline;background: url("../assets/image/bu_mail_line.png") no-repeat left 3px;}
.privacy .tbl_st {position: relative;width: 100%;margin: 5px 0 0 -1px;text-align: center;font-size: 14px;border-top: 2px solid #000;-webkit-overflow-scrolling: touch;word-break: keep-all;}
.privacy .tbl_st thead th {padding: 13px 10px;vertical-align: middle;color: #000;font-weight: normal;font-size: 14px;border-bottom: 1px solid #d2d2d2;border-left: 1px solid #d2d2d2;background: #f3f3f3;}
.privacy .tbl_st tbody th {padding: 13px 10px;vertical-align: middle;color: #000;font-weight: normal;font-size: 14px;border-bottom: 1px solid #d2d2d2;border-left: 1px solid #d2d2d2;background: #fdfdfd;}
.privacy .tbl_st td {padding: 10px 15px;border-bottom: 1px solid #d2d2d2;border-left: 1px solid #d2d2d2;vertical-align: middle;}
.privacy .tbl_st tfoot th {padding: 13px 10px;color: #222;font-weight: normal;font-size: 14px;border-bottom: 1px solid #d2d2d2;border-left: 1px solid #d2d2d2;background: #fafbfb;}
.privacy .tbl_st tfoot td {padding: 13px 10px;border-bottom: 1px solid #d2d2d2;border-left: 1px solid #d2d2d2;background: #fafbfb;}
.privacy .tbl_st:after {content: "";display: block;position: absolute;left: 0;top: 0;width: 1px;height: 100%;clear: both;overflow: hidden;background: #fff;}
.privacy .scroll_img, .privacy .scroll_gr {position: relative;}
.privacy .box_st1 {position: relative;padding: 15px 25px;border: 1px solid #bfbfbf;background: #fff;}
.privacy .btn_gr, 
.privacy .btn_grL, 
.privacy .btn_bl, 
.privacy .btn_blL, 
.privacy .btn_bl1 {display: inline-block;margin: 1px;line-height: 22px;font-size: 17px;-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;transition: all 0.3s ease;}
.privacy .btn_bl {padding: 10px 15px;color: #fff;background: #155eb6;}
.privacy .btn_bl:hover {background: #0f4e99;}
.btn_bl:focus {background: #0f4e99;}
.privacy .btn_blL {padding: 9px 14px;color: #155eb6;border: 1px solid #155eb6;background: #fff;}
.privacy .btn_blL:hover {color: #0f4e99;border: 1px solid #0f4e99;}
.btn_blL:focus {color: #0f4e99;border: 1px solid #0f4e99;}
.privacy .btn_gr.mini, 
.privacy .btn_grL.mini, 
.privacy .btn_bl.mini, 
.privacy .btn_blL.mini {display: inline-block;margin: 1px;line-height: 18px;font-size: 14px;font-family: "NotoR", "맑은 고딕";-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;transition: all 0.3s ease;}
.privacy .btn_gr.mini {padding: 5px 10px;color: #fff;background: #515151;}
.privacy .btn_grL.mini {padding: 4px 9px;color: #515151;border: 1px solid #515151;}
.privacy .btn_bl.mini {padding: 5px 10px;color: #fff;background: #155eb6;}
.privacy .btn_blL.mini {padding: 4px 9px;color: #155eb6;border: 1px solid #155eb6;}
.privacy .btn_bl:hover, 
.privacy .btn_bl:focus {background: #0f4e99;}
.privacy .btn_blL:hover, 
.privacy .btn_blL:focus {color: #0f4e99;border: 1px solid #0f4e99;}
.privacy .btn_gr.ico_w, 
.privacy .btn_bl.ico_w {position: relative;padding: 10px 50px 10px 15px;}
.privacy .btn_bl1.ico_w1 {position: relative;padding: 10px 20px 10px 50px;}
.privacy .btn_grL.ico_g, 
.privacy .btn_blL.ico_g {position: relative;padding: 9px 49px 9px 14px;}
.privacy .ico_w span, 
.privacy .ico_g span {position: absolute;right: 15px;top: 50%;display: block;width: 18px;height: 18px;margin-top: -9px;-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;transition: all 0.3s ease;}
.privacy .ico_w:hover span, 
.privacy .ico_w:focus span {right: 20px;}
.privacy .ico_g:hover span, 
.privacy .ico_g:focus span {right: 20px;}
.ico_w span.link {background: url("../assets/image/btn_linkW.png") no-repeat;}
.privacy .btn_gr.mini.ico_w, 
.privacy .btn_bl.mini.ico_w {position: relative;padding: 5px 35px 5px 10px;}
.privacy .btn_grL.mini.ico_g, 
.privacy .btn_blL.mini.ico_g {position: relative;padding: 4px 34px 4px 9px;}
.privacy .mini.ico_w span, 
.privacy .mini.ico_g span {position: absolute;right: 10px;top: 50%;display: block;width: 13px;height: 13px;margin-top: -7px;-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;-ms-transition: all 0.2s ease;transition: all 0.2s ease;}
.privacy .mini.ico_w:hover span, 
.privacy .mini.ico_w:focus span {right: 13px;}
.privacy .mini.ico_g:hover span, 
.privacy .mini.ico_g:focus span {right: 13px;}
.mini.ico_g span.down {background: url("../assets/image/btn_dwldG_SML.png") no-repeat;}
.privacy .hover_area {position: relative;display: inline-block;display: flex;align-items: center;gap: 5px;}
.privacy .tooltip {margin-left: 54px;width: 400px;background-color: #FFFFFF;visibility: hidden;position: absolute;padding: 9px;border: 1px solid #5d6b98;border-radius: 10px;z-index: 5;top: 35px;font-size: 13px;box-shadow: 0 5px 10px rgba(0, 0, 0, 0.09);}
.privacy .tooltip_txt {font-size: 11px;color: darkred;}
.privacy .hover_area:hover .tooltip {visibility: visible;}
.privacy .p_menu {display: flex;margin: 9px;padding: 45px;border: 4px solid #dfe6ee;overflow: hidden;}
.privacy .p_list {list-style: none;padding: 0;}
.privacy .p_list li {margin: 0 0 12px 40px;}
.privacy .p_menu ul {float: left;width: 50%;}
.privacy .p_menu li {height: 49px;margin-bottom: 6px;}
.privacy .privacy-tit {font-size: 22px;display: flex;align-items: center;margin-bottom: 10px;}
.privacy.subCntBody p {line-height: 1.4;font-size: 15px;}

@media screen and (max-width: 1630px) {  
  .privacy .scroll_tbl {width: 100%;overflow-x: auto;background-repeat: no-repeat;background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);background-position: right 5px;background-size: 30px 100%;z-index: 1;}
}

@media screen and (max-width: 1280px) {  
  .wrap-login .title-top > div {width: 100%;}
  
  .search-box ul li .search-area.nowrap:not(.type1) {flex-wrap: wrap;}
  .search-box ul li .search-area.nowrap:not(.type1) .form-group {max-width: 100% !important;}
}

@media screen and (max-width: 1023px) {
  /* 나의 개인통관고유부호 */
  .wrap-mypages .right-area {padding-right: 25px;}
  .wrap-mypages .right-area .wrap-check-tbl {overflow-x: auto;}
  .wrap-mypages .right-area .wrap-check-tbl .table-wrap {width: 1023px;}

  /* 통관현황 */
  .wrap-customs-info {flex-direction: column;}
  .wrap-customs-info .left-box {padding-right: 0;display: flex;width: 100%;justify-content: space-between;align-items: center;}
  .wrap-customs-info .left-box::before, 
  .wrap-customs-info .left-box br {display: none;}
  .wrap-customs-info .left-box .data-box {margin-top: 0;padding: 20px;}
  .wrap-customs-info .left-box .data-box * {white-space: nowrap;}
  .wrap-customs-info .left-box .tit {padding-right: 20px;font-size: 24px;}
  .wrap-customs-info .right-box {padding-left: 0;margin-top: 24px;position: relative;padding-top: 24px;}
  .wrap-customs-info .right-box::before {top: 0;content: "";display: block;position: absolute;left: 0;width: 100%;height: 2px;background-image: url(../assets/icons/dotted.svg);}

  /* 인증 / 로그인 방식 */
  .wrap-login .certification-list {gap: 8px;}
  .wrap-login .certification-list li {width: calc(50% - 4px);}
  .wrap-login .certification-list li a {padding: 24px;}
  .wrap-login .certification-list li a::before {top: 24px;left: 24px;}
  .wrap-login .certification-list li a .tit {padding-left: 42px;font-size: 19px;}
  .wrap-login .certification-list li a::after {right: 24px;top: 27px;}
  .wrap-login .certification-list li a .txt {margin-top: 12px;}
}

@media screen and (max-width: 1019px) {
  /* 개인정보처리방침 */
  .privacy .li_w50 > li, 
  .privacy .li_w30 > li, 
  .privacy .li_w25 > li, 
  .privacy .li_w20 > li {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
  .privacy .li_w50 > li {width: 50%;}
  .privacy .li_w30 > li {width: 33%;}
  .privacy .li_w25 > li {width: 25%;}
  .privacy .li_w20 > li {width: 20%;}
  .privacy .scroll_img {overflow-x: auto;background-repeat: no-repeat;background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);background-position: right 5px;background-size: 30px 100%;z-index: 1;}
  .privacy .scroll_gr {overflow-x: auto;background-repeat: no-repeat;background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);background-position: right 5px;background-size: 30px 100%;z-index: 1;}
  .privacy .scroll_gr table {width: 1000px;}
  .privacy .scroll_img table {width: 1000px;}
}

@media screen and (max-width: 990px) {  
  /* 검색유형 1 */
  // .search-box .area-type1{flex-direction: column;}  
  // .search-box .area-type1 [class*=mw-]{max-width:100% !important}
}

@media screen and (max-width: 800px) {
  /* 개인정보처리방침 */
  .privacy .li_w50 > li {width: 100%;}
  .privacy .li_w30 > li {width: 50%;}
  .privacy .li_w25 > li {width: 33%;}
  .privacy .li_w20 > li {width: 25%;}
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  /* 인증 / 로그인 방식 */
  .wrap-login .login-box .right-box .certification-list li a {padding: 24px 60px 24px 24px;}
  .wrap-login .login-box .right-box .certification-list li a .tit {padding-left: 40px;}
  .wrap-login .login-box .right-box .certification-list li a::before {top: 19px;}
}

@media screen and (max-width: 767px) {
  /* 검색영역 */
  .search-box li[class*=col], 
  .search-box li[class*=ratio] {width: 100% !important;flex-direction: column;align-items: flex-start;}
  .search-box li[class*=col] .search-area, 
  .search-box li[class*=col] strong, 
  .search-box li[class*=ratio] .search-area, 
  .search-box li[class*=ratio] strong {width: 100%;}
  .search-box li[class*=col] .search-area, 
  .search-box li[class*=ratio] .search-area {margin-top: 10px;padding-left: 0;}
  .search-box li[class*=col] .search-area .form-group.medium input[type=text], 
  .search-box li[class*=col] .search-area .form-group.medium select, 
  .search-box li[class*=col] .search-area .form-group.medium input[type=password] {height: 40px;}
  .search-box li[class*=ratio] .search-area .form-group.medium input[type=text], 
  .search-box li[class*=ratio] .search-area .form-group.medium select, 
  .search-box li[class*=ratio] .search-area .form-group.medium input[type=password] {height: 40px;}
  .search-box li[class*=col] .search-area .form-chip.large label, 
  .search-box li[class*=ratio] .search-area .form-chip.large label {line-height: 15px;}
  .search-box li[class*=col] .search-area .calendar, 
  .search-box li[class*=ratio] .search-area .calendar {width: 100%;margin-right: 0;}
  .search-box li[class*=col] .search-area .calendar .calendar-form, 
  .search-box li[class*=ratio] .search-area .calendar .calendar-form {max-width: 100% !important;height: 40px;}
  .search-box li[class*=col] .form-group, 
  .search-box li[class*=ratio] .form-group {max-width: 100% !important;}
  .search-box li[class*=col] .tit, 
  .search-box li[class*=ratio] .tit {width: 100%;}
  .search-box li[class*=col] .nowrap.type1, 
  .search-box li[class*=ratio] .nowrap.type1 {flex-direction: column;}
  .search-box li[class*=col]:has(.search-area-box) .tit, 
  .search-box li[class*=ratio]:has(.search-area-box) .tit {margin-top: 0;}
  .search-box .bottom-action-area {flex-direction: column;gap: 10px 0;align-items: flex-start;}
  .search-box .btn-end{}
  .search-box .bottom-action-area:has(.compulsory-txt) .btn-end{width: 100%;text-align: right;}
    /* 검색영역 타입1 */
    .search-box ul li button[class*=btn].medium, .search-box ul li label[class*=btn].medium{height:40px !important;width:40px;}    
    // .search-box ul li button[class*=btn].medium, .search-box ul li label[class*=btn].medium{height:40px !important;width:40px;}    
    // .search-box .area-type1{flex-direction: row;}    
    // .search-box .area-type1.cum-area .wrap-area .form-group{min-width: 180px;} 

  /* 개인정보 수집 */
  .acc-area .tit {flex-wrap: wrap;}
  .acc-area .box {margin-top: 16px;}
  .acc-area.type1 .tit {flex-wrap: nowrap;}

  /* 게시판 상세보기 */
  .wrap-detail h4.title {padding-bottom: 32px;}    

  /* 나의 개인통관고유부호 */
  .wrap-mypages{flex-direction: column;}
  .wrap-mypages .left-area {width: 100%;border: 0;padding: 0;min-width: 100%;}
  .wrap-mypages .left-area .btn-area .align {flex-direction: column;}
  .wrap-mypages .left-area .btn-area button {width: 100%;}
  .wrap-mypages .left-area .circle-box {width: 100%;}
  .wrap-mypages .right-area{padding-right: 0;}
  .wrap-mypages .right-area .box{border: 0;border-radius: 0;padding: 0;}
  .wrap-mypages .right-area,
  .wrap-mypages .right-area .wrap-check-tbl .table-wrap{width:100%;margin-top: 0;}
  .wrap-mypages .right-area .wrap-check-tbl{overflow-x: hidden;}
  .wrap-mypages .right-area .box .my-tit{flex-direction: row;}

  /* 통관현황 */
  .wrap-customs-info .left-box {flex-direction: column;gap: 32px;align-items: flex-end;}
  .wrap-customs-info .left-box .tit {width: 100%;text-align: left;}
  .wrap-customs-info .right-box .customs-list {justify-content: space-between;}
  .wrap-customs-info .right-box .customs-list li .customs-num {width: auto;}

  /* 통합검색 페이지 */
  .wrap-search-pages .search-result {flex-direction: column-reverse;gap: 24px;}
  .wrap-search-pages .search-result .right-box {justify-content: flex-end;}

  /* 인증 / 로그인 방식 */
  .wrap-login .certification-list {flex-direction: column;margin-top: 3px;}
  .wrap-login .certification-list li {width: 100%;}  
  .wrap-login .title-top:not(.sign-up) .right-box .user-box {width: 100%;}
  .wrap-login .title-top:not(.sign-up) .tooltip-ico {width: 16px !important;}
  .wrap-login .sign-up > div {flex-wrap: nowrap;}

  .common-loading:not(.wrap-cont-tbl):after {position: fixed;top: 50vh;}
  .common-loading:not(.wrap-cont-tbl) .loading-txt {position: fixed;top: 50vh;width: 100%;text-align: center;}

  /* 개인정보처리방침 */
  .privacy .p_menu {display: block;gap: 0px;margin: 0px;padding: 26px;}
  .privacy .p_menu ul {width: 100%;}
  .privacy .p_menu li {height: auto;}
  .privacy .p_list li {margin: 0 0 10px 0;}
}

@media screen and (max-width: 600px) {
  /* 통관현황 */
  // .wrap-customs-info {padding: 24px;}
  .wrap-customs-info .left-box .tit {font-size: 23px;}
  .wrap-customs-info .left-box .data-box {background-color: #fff;padding: 0;}
  .wrap-customs-info .left-box .data-box * {white-space: normal;}
  .wrap-customs-info .left-box .data-box .data, .wrap-customs-info .left-box .data-box .customs-num {font-size: 17px;}
  .wrap-customs-info .left-box .data-box .data {padding-right: 8px;}
  .wrap-customs-info .left-box .data-box .customs-num {padding-left: 8px;}
  .wrap-customs-info .right-box .customs-list li {width: 100%;}

  /* 개인정보처리방침 */
  .privacy .li_w30 > li {width: 100%;}
  .privacy .li_w25 > li {width: 50%;}
  .privacy .li_w20 > li {width: 33%;}
  .privacy .box_st_ico {padding-left: 0;}
  .privacy .box_st_ico .ico_boxImg {position: relative;left: auto;top: auto;margin: 0 auto 10px;text-align: center;}
  .privacy .tab_st1 li, 
  .privacy .tab_st2 li, 
  .privacy .tab_st3 li, 
  .privacy .tab_list li, 
  .privacy .tab_st1.Tab_w20 li, 
  .privacy .tab_st2.Tab_w20 li, 
  .privacy .tab_st3.Tab_w20 li, 
  .privacy .tab_st1.Tab_w16 li, 
  .privacy .tab_st2.Tab_w16 li, 
  .privacy .tab_st3.Tab_w16 li {width: 100%;}
}

@media screen and (max-width: 550px) {
  /* 버튼 영역 */
  .btn-area .align {width: 100%;}
  .btn-area .align button {width: 100%;}
  .btn-area.btn-between .align {flex-wrap: wrap;}
  [class*=btn-area-type] {display: flex;flex-direction: column;}
  [class*=btn-area-type] .align .full-btn {width: 100%;}
  [class*=btn-area-type] .align .full-btn button.btn {width: 100%;}
  [class*=btn-area-type] .align button.btn {width: calc(50% - 4px);}

  /* 하단 버튼 영역 pc,mo */
  .btn-area.pc {display: none !important;}
  .btn-area.mo {display: flex !important;}
}

@media screen and (max-width: 480px) {
  /* 제목 스타일 */
  [class*=title-type].title-type3 {display: flex;flex-direction: column;}
  [class*=title-type].title-type3:first-child {display: flex;flex-direction: column;}
  [class*=title-type].title-type3 h5 {font-size: 19px;}
  [class*=title-type].title-type3 .txt {margin-left: 0;margin-top: 12px;font-size: 15px;}  
  [class*=title-type].title-type3.faq-tit {flex-direction: row;font-size: 18px;display: flex;}
  .title-top {display: flex;flex-direction: column !important;gap: 15px;}
  .title-top > div {width: 100%;}
  .title-top > div button {width: 100% !important;}
  .title-top.type1 .form-toggle-switch label {white-space: nowrap;}

  [class*=txt-type] br {display: none;}

  /* 검색영역 */
  .search-box ul {gap: 10px 0px;}  
  .search-box .tit {width: 100% !important;}  
  .search-box .bottom-action-area .btn-end {width: 100%;}
  .search-box .bottom-action-area .btn-end .align {display: flex;gap: 0 10px;}
  .search-box .bottom-action-area .btn-end button {width: 100%;}
  .search-box .btn-area::before {display: none;}
  .search-box .btn-area::before .search-area {margin-top: 8px !important;}
  .search-box .advice-txt {display: block;width: 100%;}
  .search-box .form-chip {width: calc(25% - 4px);}
  .search-box .form-chip .form-chip-outline {width: 100%;display: flex;font-size: 15px;}
  // .search-box .form-chip input[type=radio]:checked + label:before, 
  // .search-box .form-chip input[type=checkbox]:checked + label:before{transform: translate(-50%, -50%);width:13px;height:13px;}  
  .search-box ul li .search-area{gap: 5px;}
  .search-box .form-chip.large label:before{min-width:13px;min-height:13px;}

  /* 텍스트 박스 스타일 */
  [class*=txt-box-type] {padding: 15px 20px; border-radius: 5px;}
  [class*=txt-box-type].type3 {align-items: flex-start;}
  [class*=txt-box-type].type3 span {padding-left: 8px;}
  [class*=txt-box-type].type3 strong {padding-right: 8px;}
  [class*=txt-box-type].type3 span, 
  [class*=txt-box-type].type3 strong {font-size: 17px;}
  [class*=txt-box-type].type1, 
  [class*=txt-box-type].type3 {display: flex;flex-direction: column;border-radius: 5px;}
  [class*=txt-box-type].type1 button, 
  [class*=txt-box-type].type3 button {margin-top: 10px;width: 100%;}
  [class*=txt-box-type].type1 p, 
  [class*=txt-box-type].type3 p {width: 100%;display: flex;flex-direction: column;padding-right: 0;font-size: 17px;}
  [class*=txt-box-type].type1 p strong, 
  [class*=txt-box-type].type3 p strong {margin: 10px 0 0 0;}
  [class*=txt-box-type].type3{align-items: flex-end;}


  /* 게시판 상세보기 */
  .wrap-detail h4.title {padding-bottom: 24px;font-size: 21px;}  
  .wrap-detail .wrap-pages-move .pages-move li.prev strong,
  .wrap-detail .wrap-pages-move .pages-move li.next p{padding-right: 5px;}
  .wrap-detail .wrap-pages-move .pages-move li.next strong,
  .wrap-detail .wrap-pages-move .pages-move li.prev p{padding-left: 5px;}
  .wrap-detail .wrap-pages-move .pages-move li.next{margin-left: 5px;}
  .wrap-detail .wrap-pages-move .pages-move li.prev{margin-right: 5px;}
  .wrap-detail .wrap-pages-move .pages-move li a strong, .wrap-detail .wrap-pages-move .pages-move li .txt strong{gap: 3px;}  

  /* 그래프 */
  // .wrap-graph {padding: 24px;}

  /* 통합검색 페이지 */
  .wrap-search-pages .search-area {padding: 24px 0;}
  .wrap-search-pages .search-area .sch-box {height: 64px;}
  .wrap-search-pages .search-area .sch-box input[type=text] {font-size: 21px;padding-right: 99px;}
  .wrap-search-pages .search-area .sch-box button.pages-sch {width: 32px;height: 32px;}
  .wrap-search-pages .search-area .sch-box .sch-delete {right: 50px;}
  .wrap-search-pages .search-result {padding: 30px 0 13px 0;gap: 18px;}
  .wrap-search-pages .search-result .left-box * {line-height: 150%;font-size: 19px;}
  .wrap-search-pages .search-list > div[class*=-list] {padding: 20px 8px;}
  .wrap-search-pages .search-list > div[class*=-list].cont-list .cont-area a {padding: 20px 8px;}
  .wrap-search-pages .search-list > div[class*=-list].cont-list .cont-area a strong.tit {font-size: 19px;}
  .wrap-search-pages .search-list > div[class*=-list].cont-list .cont-area a .p-menu {flex-direction: column;align-items: flex-start;gap: 13px;}
  .wrap-search-pages .search-list > div[class*=-list].cont-list .cont-area a .txt {margin-bottom: 15px;}
  .wrap-search-pages .search-list > div[class*=-list].menu-list ul {gap: 6px;}
  .wrap-search-pages .search-list > div[class*=-list] span.tit {margin-bottom: 20px;}  

  /* 인증 / 로그인 방식 */
  #wrap.aut-pages .content-wrap .wrap-login {padding: 31px 24px 48px 24px;}
  .wrap-login .title-top .right-box .user-box strong {width: 100%;}
  .wrap-login .title-top .right-box .user-box .user-btn {padding: 0;}
  .wrap-login .title-top:not(.sign-up){gap:0;}

  /* 버튼 영역 */
  [class*=btn-area-type] {display: flex;flex-direction: column;}
  // [class*=btn-area-type] .btn-margin {margin-top: 30px;}

  /* 개인정보 수집 */
  .acc-area {padding: 0 15px;border-radius: 5px;}
  .acc-area .txt {padding: 15px 0;}
  .acc-area .txt p i {margin-top: 10px;}
  .acc-area .tit {padding: 15px 0;}

  /* 점선 스타일 */
  .dotted-line-top {margin-top: 20px !important;padding-top: 20px !important;}
  .dotted-line-bottom {padding-bottom: 20px !important;margin-bottom: 20px !important;}

  /* 개인정보처리방침 */
  .privacy .li_w25 > li {width: 100%;}
  .privacy .li_w20 > li {width: 50%;}
  .privacy .box_link_list ul li {width: 100%;}
  .privacy .box_link_list ul li a {margin: 5px 0;}
}

@media screen and (max-width: 400px) {
    .search-box .form-chip{width: calc(50% - 3px);}
    
    // .search-box .form-chip .form-chip-outline{padding-left: 0 !important;padding-right: 0;}
//     .search-box .form-chip input[type=radio]:checked + label:before, 
//   .search-box .form-chip input[type=checkbox]:checked + label:before{left: 30%;}
}

@media screen and (max-width: 380px) {
  /* 개인정보처리방침 */
  .privacy .li_w20 > li {width: 100%;}
}