.d-none{
    display: none;
}

.sr-only,caption{
    width: 1px;
    height: 1px;
    position: absolute;
    left: -5000px !important;
    top: -5000px !important;
    overflow: hidden;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: left;
}

.f-0{
    font-size:0;
}

.d-flex {
    display: flex;
}

.d-flex-nowrap{
    flex-wrap: nowrap !important;
}

@for $i from 0 to 100 {
    .mt-#{$i} {
        margin-top: #{$i}px !important;
    }
    .mb-#{$i} {
        margin-bottom: #{$i}px !important;
    }
    .ml-#{$i} {
        margin-left: #{$i}px !important;
    }
    .mr-#{$i} {
        margin-right: #{$i}px !important;
    }
    .pt-#{$i} {
        padding-top: #{$i}px !important;
    }
    .pb-#{$i} {
        padding-bottom: #{$i}px !important;
    }
    .pl-#{$i} {
        padding-left: #{$i}px !important;
    }
    .pr-#{$i} {
        padding-right: #{$i}px !important;
    }
}

@for $i from 1 to 2000 {
    .mw-#{$i} {
        max-width: #{$i}px;
    }    
}