.d-none{
    display: none;
}

.sr-only,caption{
    width: 1px;
    height: 1px;
    position: absolute;
    left: -5000px !important;
    top: -5000px !important;
    overflow: hidden;
}

.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}

.f-0{
    font-size:0 !important;
}

.d-flex {
    display: flex !important;
}

.d-flex-nowrap{
    flex-wrap: nowrap !important;
}

.flex-start{
    align-items: flex-start !important;
}

.bor-right{
    border-right:1px solid #B1B8BE !important;
}

.bor-left-no{
    border-left:none !important;
}

.bor-right-no{
    border-right:none !important;
}

.bor-col-sep{
    border-collapse: separate !important;
}

.w100per{
    width:100% !important
}

@for $i from 0 to 100 {
    .mt-#{$i} {
        margin-top: #{$i}px !important;
    }
    .mb-#{$i} {
        margin-bottom: #{$i}px !important;
    }
    .ml-#{$i} {
        margin-left: #{$i}px !important;
    }
    .mr-#{$i} {
        margin-right: #{$i}px !important;
    }
    .pt-#{$i} {
        padding-top: #{$i}px !important;
    }
    .pb-#{$i} {
        padding-bottom: #{$i}px !important;
    }
    .pl-#{$i} {
        padding-left: #{$i}px !important;
    }
    .pr-#{$i} {
        padding-right: #{$i}px !important;
    }
}

@for $i from 1 to 2000 {
    .mw-#{$i} {
        max-width: #{$i}px !important;
    }    
}

@for $i from 1 to 2000 {
    .minw-#{$i} {
        min-width: #{$i}px !important;
    }    
}