@use "./font";
@use "./utils";

/* ==========================================================================
   공통
   ========================================================================== */
@media print {
	* {-webkit-print-color-adjust: exact;print-color-adjust:exact;}
    body, html {height: auto !important;overflow: visible !important;margin: 0;}
   #printArea {height: auto !important;max-height: none !important;overflow: visible !important;}
    .no-print {display: none !important;}     
    .cont-area{display: block !important;color: black !important;}        
    .cont-area > *{margin: 10px 0 !important;}
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;vertical-align: baseline;}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}

body {line-height: 1;}
ol, ul {list-style: none;}
li{ list-style-type: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
button, a {cursor: pointer;}
html, body {overflow-y: auto;width: 100%;height: 100%;-webkit-tap-highlight-color: transparent;scroll-behavior: smooth;}
html *, body * {font-family: 'Pretendard GOV';box-sizing: border-box;color:#1D1D1D;font-weight: 400;font-size:17px;word-wrap: break-word;word-break: keep-all;}
strong,h1,h2,h3,h4,h5,h6{font-weight: 700;}
#wrap {position: relative;width: 100%;min-height:100%;background-color: #fff;display: flex;flex-direction: column;overflow: hidden;}
.blind,.calendar-blind {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.7);z-index: 3;}
.calendar-blind{z-index: 9;background-color: rgba(0, 0, 0, 0.0);}

.d-none{display: none;}
.sr-only,caption{width: 1px;height: 1px;position: absolute;left: -5000px !important;top: -5000px !important;overflow: hidden;}

/** 텍스트 위치 **/
.text-center {text-align: center !important;}
.text-left {text-align: left !important;}
.text-right {text-align: right !important;}

/** font-size **/
.font-0{font-size:0 !important;}
.font-1{font-size:21px !important;}
.font-2{font-size:19px !important;}
.font-3{font-size:17px !important;}
.font-4{font-size:15px !important;}
.font-5{font-size:25px !important;}

/** flex **/
.d-flex {display: flex !important;}
.f-center{justify-content: center !important;}
.f-no-wrap{flex-wrap: nowrap !important;}
.f-aling-center{align-items: center !important;}
.f-jus-cont{justify-content: space-between !important;}
.f-jus-end{justify-content: flex-end !important;}
.f-jus-start{justify-content: flex-start !important;}

/** display **/
.d-block{display: block !important;}

/** 선 **/
.bor-right{border-right:1px solid #B1B8BE !important;}
.bor-left-no{border-left:none !important;}
.bor-right-no{border-right:none !important;}
.bor-col-sep{border-collapse: separate !important;}

/** color **/
.cl-1{color:#2768FF !important;}
.cl-2{color:#EB003B !important;}
.cl-3{color:#E71825 !important;}
.cl-4{color:#1D56BC !important;}
.cl-5{color:#1D1D1D !important;}
.cl-6{color:#555 !important;}
.cl-7{color:#246BEB !important;}
.cl-8{color:#C6C6C6 !important;}
.cl-9{color:#717171 !important;}

/** line-height **/
.lin-h1{line-height: 150% !important;}

.w100per{width:100% !important}
/** common css 끝 **/

/** iframe **/
.iframe-ecp-txt ul,.iframe-ecp-txt ul li{list-style: disc;}
.iframe-ecp-txt ol,.iframe-ecp-txt ol li{list-style: auto;}
.iframe-ecp-txt ul,
.iframe-ecp-txt ul li,
.iframe-ecp-txt ol,
.iframe-ecp-txt ol li{list-style-position: inside;}

/** a태그 공통 **/
a{text-decoration: none;}
a[class*=cl-]{text-decoration: underline;}

/** 키보드 포커스일떄만 테두리 **/
*:focus{
  outline: none;      /* 기본 포커스 제거 */
}

*:focus-visible {
  outline: 3px solid #373737;   /* 키보드 포커스일 때만 표시 */
}

*:focus-visible + label {
  outline: 3px solid #373737;   /* 키보드 포커스일 때만 표시 */
}

/** placeholder 텍스트 색상 **/
input::placeholder,
textarea::placeholder{color:#bdbdbd}

/** disabled 텍스트 색상 **/
input:disabled
textarea:disabled{color:#1D1D1D}

/** autofill 배경색상 **/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active{-webkit-box-shadow: 0 0 0 1000px white inset !important;box-shadow: 0 0 0 1000px white inset !important;-webkit-text-fill-color: #000;}