<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">개인통관고유부호 조회</h3>
            <div class="step-area">
               <div class="tit-box">
                  <strong class="tit-step"><span>Step 1</span><i>/</i>Step 4</strong>
                  <h4 class="tit">기본 정보 입력</h4>
               </div>
               <div class="step-box">
                  <ol class="step-wrap step-type2">
                     <li class="active">
                        <span>
                              <em class="sr-only">현재단계</em>
                              <i class="step">Step 1</i>
                              <span class="step-tit">기본정보 입력</span>
                        </span>
                     </li>
                     <li>
                        <span>
                              <i class="step">Step 2</i>
                              <span class="step-tit">배송지 주소 등록</span>
                        </span>
                     </li>
                     <li>
                        <span>
                              <i class="step">Step 3</i>
                              <span class="step-tit">알림 동의</span>
                        </span>
                     </li>
                     <li>
                        <span>                     
                              <i class="step">Step 4</i>
                              <span class="step-tit">확인 및 등록</span>
                        </span>
                     </li>               
                  </ol>
               </div>
            </div>
         </div>
         <div class="cont-body">
            <div class="accordion-wrap accordion cont-advice" data-ui="accordion">
               <div class="accordion-header">
                  <a href="javascript: void(0);" class="accordion-btn" title="열기"><strong>개인통관고유부호 정보변경 방법</strong> <i class="icon btn-arrow-down medium"></i></a>
               </div>
               <div class="accordion-body d-none">
                  <p class="txt">개인통관고유부호 정보변경 방법</p>                  
               </div>
            </div>
            <!-- 내용 -->
            <div class="cont-area">
               <div class="search-box">

                  <!-- 검색영역 리스트 -->
                  <ul>
                     <li class="col1">
                        <strong class="tit">발급기간 <i class="compulsory">필수</i></strong>
                        <div class="search-area">
                           <div class="calendar">
                              <div class="calendar-form" data-ui="datepicker" data-props="maxDate: 'null'">
                                 <input id="startDate" type="text" title="시작날짜를 입력해주세요" placeholder="YYYY-MM-DD" maxlength="10">
                                 <button class="calendar-btn" type="button">시작 달력보기</button>
                              </div>
                              <!-- <i class="hy">~</i>
                              <div class="calendar-form" data-ui="datepicker" data-props="minInput: '#startDate'">
                                 <input id="endDate" type="text" title="종료날짜를 입력해주세요" placeholder="YYYY-MM-DD" maxlength="10">
                                 <button class="calendar-btn">종료 달력보기</button>
                              </div> -->
                           </div>
                           <div class="form-chip large">
                              <input type="radio" class="radio" name="chk_1" id="chk_chip_1">
                              <label class="form-chip-outline" for="chk_chip_1">당일</label>
                           </div>
                           <div class="form-chip large">
                              <input type="radio" class="radio" name="chk_1" id="chk_chip_2">
                              <label class="form-chip-outline" for="chk_chip_2">1년</label>
                           </div>
                           <div class="form-chip large">
                              <input type="radio" class="radio" name="chk_1" id="chk_chip_3">
                              <label class="form-chip-outline" for="chk_chip_3">2년</label>
                           </div>
                           <div class="form-chip large">
                              <input type="radio" class="radio" name="chk_1" id="chk_chip_4">
                              <label class="form-chip-outline" for="chk_chip_4">3년</label>
                           </div>
                        </div>                        
                     </li> 
                     <li class="col2">
                        <strong class="tit">발급기간 <i class="compulsory">필수</i></strong>
                        <div class="search-area">
                           <div class="form-group medium mw-360">                     
                              <div class="form-conts">
                                 <input type="text" id="ex00" class="input" placeholder="가가가가" title="운송장부호를 입력해주세요">
                              </div>                              
                           </div>                           
                        </div>                        
                     </li> 
                     <li class="col2">
                        <strong class="tit">발급기간 <i class="compulsory">필수</i></strong>
                        <div class="search-area nowrap">
                           <div class="mw-300 d-flex w100per">
                              <div class="form-group medium">                     
                                 <div class="form-conts">
                                    <input type="text" id="ex00" class="input" placeholder="가가가가" title="운송장부호를 입력해주세요">
                                 </div>                              
                              </div>
                              <button type="button" class="btn secondary medium ico ml-8"><i class="icon search-type1 medium"></i></button>
                           </div>
                           <div class="form-group medium">                     
                              <div class="form-conts">
                                 <input type="text" id="ex00" class="input" placeholder="가가가가" title="운송장부호를 입력해주세요">
                              </div>                              
                           </div>
                        </div>                        
                     </li>                     
                     <li class="col2">
                        <strong class="tit">발급기간 <i class="compulsory">필수</i></strong>
                        <div class="search-area nowrap">
                           <div class="mw-300 d-flex w100per">
                              <div class="form-group medium">                     
                                 <div class="form-conts">
                                    <input type="text" id="ex00" class="input" placeholder="가가가가" title="운송장부호를 입력해주세요">
                                 </div>                              
                              </div>
                              <button type="button" class="btn secondary medium ico ml-8"><i class="icon search-type1 medium"></i></button>
                           </div>
                           <div class="form-group medium mw-150">                     
                              <div class="form-conts">
                                 <input type="text" id="ex00" class="input" placeholder="가가가가" title="운송장부호를 입력해주세요">
                              </div>                              
                           </div>
                        </div>                        
                     </li>                     
                  </ul>
                  <!-- // 검색영역 리스트 -->

                  <!-- 조회버튼 영역 -->
                  <div class="bottom-action-area">
                     <!-- 수정된 위치 -->
                     <p class="compulsory-txt"><i class="compulsory">필수</i> dsfdsdfsdfdsfsdsfs표시는 필수 입력 사항입니다.</p>
                     <!-- // 수정된 위치 -->
                     <!-- 버튼 영역 -->
                     <div class="btn-end">
                        <div class="align">
                           <button type="button" class="btn tertiary medium">초기화</button>
                           <button type="button" class="btn secondary medium">조회</button>                        
                        </div>
                     </div>
                     <!-- // 버튼 영역 -->
                  </div>                  
                  <!-- // 조회버튼 영역 -->

               </div>














            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>