<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
      <div class="content-wrap">
         <div class="cont-head">
            <div class="head-util">
               <nav class="breadcrumb-wrap" id="breadcrumb">
                  <ol class="breadcrumb">
                     <li class="home"><a href="#" class="txt" title="홈으로 바로가기">홈</a></li>
                     <li><span class="txt">개인통관고유부호</span></li>                     
                     <li><span class="txt">개인통관고유부호 조회</span></li>                     
                     <li class="last-li"><a href="#" class="txt" title="현재페이지">개인통관고유부호 조회/정보변경</a></li>                  
                  </ol>
               </nav>
               <div class="language-area">
                  <div class="form-toggle-switch language-switch">
                     <input type="radio" id="kr" name="language" checked>
                     <label for="kr" class="kr">한글</label>
                     <input type="radio" id="en" name="language">
                     <label for="en" class="en">English</label>
                  </div>
               </div>
            </div>
            <h3 class="head-tit">Change r personal customs clearance code information</h3>
            <div class="step-area">
               <div class="tit-box">
                  <strong class="tit-step"><span>Step 3</span><i>/</i>Step 4</strong>
                  <h4 class="tit">Notification consent</h4>
               </div>
               <div class="step-box">
                  <ol class="step-wrap step-type2">
                     <li class="done">
                        <span>                              
                              <i class="step">Step 1</i>
                              <span class="step-tit">Enter basic<br>information</span>
                        </span>
                     </li>
                     <li class="done">
                        <span>
                              <i class="step">Step 2</i>
                              <span class="step-tit">Register delivery<br>address</span>
                        </span>
                     </li>
                     <li class="active">
                        <span>
                              <em class="sr-only">현재단계</em>
                              <i class="step">Step 3</i>
                              <span class="step-tit">Notification<br>consent</span>
                        </span>
                     </li>
                     <li>
                        <span>                     
                              <i class="step">Step 4</i>
                              <span class="step-tit">Verification and<br>registration</span>
                        </span>
                     </li>               
                  </ol>
               </div>
            </div>
         </div>
         <div class="cont-body">
            <div class="accordion">
               <a href="#none">
                  <strong>개인통관고유부호 정보변경 방법</strong>
                  <span class="accordion-drop-down"><i class="sr-only">개인통관고유부호 정보변경 방법 열기</i><i class="icon btn-arrow-down medium"></i></span>
               </a>
            </div>
            <!-- 내용 -->
            <div class="cont-area">
               <div class="txt-box-type end">
                   <div class="form-check">
                     <input type="checkbox" name="all_chk" id="ex1">
                     <label for="ex1">전체동의</label>
                  </div>
               </div>
               <div class="agree-title">
                  <strong class="title-type font-2"><span class="info-txt cl-3">[필수]</span>Notification of issuance of one-time authentication code</strong>
                  <div class="contextual-help top right" data-ui="tooltip">                              
                     <div class="tooltip-btn-area">                                 
                        <button class="tooltip-ico">일회용 인증번호발급 알림</button>
                        <div class="tooltip-action">                  
                           <div class="tooltip-popover">
                           <strong class="tooltip-title">일회용 인증번호발급 알림</strong>
                           <div class="tooltip-contents">
                              <p>일회용 인증번호발급 알림</p>
                              <div class="btn-wrap">
                                 <a href="#;" class="btn link">바로가기</a>
                              </div>
                           </div>
                           <button type="button" class="btn tooltip-close">
                              <span class="sr-only">닫기</span>                        
                           </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="acc-area">
                  <div class="tit">
                     <p>I agree to receive notifications via email of the issuance of a one-time authentication number issued when ordering overseas direct purchase.</p>
                     <div class="box">
                        <div class="form-check medium">
                           <input type="radio" name="chk-agree" id="ex2">
                           <label for="ex2">Disagree</label>
                        </div>
                        <div class="form-check medium">
                           <input type="radio" name="chk-agree" id="ex3">
                           <label for="ex3">Agree</label>
                        </div>
                     </div>
                  </div>
                  <div class="txt">
                     <p><i class="icon danger medium"></i>If you do not Receive notification of the issuance of a one-time authentication code, overseas direct purchase customs clearance may not proceed properly.</p>
                  </div>
               </div>
               <div class="agree-title">
                  <strong class="title-type font-2"><span class="info-txt cl-1">[선택]</span>Overseas direct purchase customs clearance notification</strong>
                  <div class="contextual-help top right" data-ui="tooltip">                              
                     <div class="tooltip-btn-area">                                 
                        <button class="tooltip-ico">해외직구통관 알림</button>
                        <div class="tooltip-action">                  
                           <div class="tooltip-popover">
                           <strong class="tooltip-title">해외직구통관 알림</strong>
                           <div class="tooltip-contents">
                              <p>해외직구통관 알림</p>
                              <div class="btn-wrap">
                                 <a href="#;" class="btn link">바로가기</a>
                              </div>
                           </div>
                           <button type="button" class="btn tooltip-close">
                              <span class="sr-only">닫기</span>                        
                           </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="acc-area">
                  <div class="tit">
                     <p>I agree to sending notifications of overseas direct purchase customs clearance results to the user via email.</p>
                     <div class="box">
                         <div class="form-check">
                           <input type="checkbox" name="chk_1" id="ex4">
                           <label for="ex4">동의함</label>
                        </div>
                     </div>
                  </div>
                  <div class="txt">
                     <p><i class="icon danger medium"></i>If you do not agree, you will not able to receive notification of overseas direct purchase customs clearance resulys.</p>
                  </div>
               </div>
               <div class="btn-area btn-between">
                  <div class="align">                            
                     <button type="button" class="btn tertiary large">Before</button>                 
                  </div>
                  <div class="align">                            
                     <button type="button" class="btn primary large">Next</button>                 
                  </div>
               </div>




               <!-- 팝업 사용후 삭제해주세요 -->
               <div class="testtest">
                  <!-- 일회용 인증번호 발급 알림 -->
                  <button type="button" data-modal-target="#modal1" style="width:100%;height:50px;margin-bottom:20px">Issuance of one-time authentication number</button>
                  <div id="modal1" class="modal d-none type1" data-ui="modal">
                     <div class="modal-wrap mw-400">
                        <div class="modal-header">
                           <h5>Issuance of one-time authentication number</h5>                     
                        </div>
                        <div class="modal-body" tabindex="0">
                           <div class="modal-cont">                                    
                              <p class="txt-type">You have not agreed to the notification for issuing a one-time authentication number. In order to renew your personal customs clearance code, you must agree to the notification for issuing a one-time authentication number in order to</p>
                           </div>                                  
                        </div>
                        <div class="modal-footer">                        
                           <button type="button" class="btn primary medium">Check</button>
                        </div>
                     </div>
                  </div>
                  <!-- // 일회용 인증번호 발급 알림 -->
               </div>
               <!-- 팝업 사용후 삭제해주세요 -->





            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>