<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->            
         </div>
         <div class="cont-body">            
            <!-- 내용 -->
            <div class="cont-area">

               <div class="wrap-check-tbl mb-50">
                  <div class="table-wrap pc">
                     <table class="tbl col check">
                        <caption>배송 주소에 대한 NO,배송지명,우편번호,기본주소,상세주소 표로 로 구성되어있다.</caption>
                        <colgroup>
                           <col style="width: 80px;">
                           <col style="width: 15.625%;">
                           <col style="width: 9.375%;">                           
                           <col style="width: 34.375%;">
                           <col style="width: 34.375%;">
                        </colgroup>
                        <thead>
                           <tr>                                                
                              <th scope="col">NO</th>
                              <th scope="col"><span class="arr-ico">배송지명 <button class="th-turn"><i class="sr-only">내림차순</i></button></span></th>
                              <th scope="col">우편번호</th>
                              <th scope="col">기본주소</th>
                              <th scope="col">상세주소</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>1</td>
                              <td class="text-left">우리집1</td>
                              <td>35351</td>
                              <td class="text-left">대전광역시 서구 월평동123대전광역시 서구 월평동123</td>                        
                              <td class="text-left">우리집빌라 301호</td>                        
                           </tr>                            
                           <!-- 데이터없음 -->                        
                           <tr>
                              <td colspan="5">데이터없음</td>
                           </tr>
                           <!-- 데이터없음 -->                        
                        </tbody>
                     </table>
                  </div>
                  <div class="table-wrap mo">                     
                     <ul class="wrap-body box-line">                        
                        <li>
                           <ul class="body">                                                            
                              <li>                                 
                                 <strong class="title">우리집(세종)</strong>
                                 <div class="txt-area">
                                    <span class="txt">
                                       (30068) 세종특별자치시 마음로 999<br>
                                       가락마을 10단지, 1234-5678
                                    </span>                                    
                                 </div>                                 
                              </li>                                                                                          
                           </ul>
                        </li>        
                        <!-- 데이터없음 -->                                                                                                             
                        <li>
                           <ul class="body">                                                            
                              <li class="no-data">                                  
                                 데이터없음
                              </li>                                                                                          
                           </ul>
                        </li>        
                        <!-- 데이터없음 -->                                                                                                             
                     </ul>
                  </div> 
               </div>





               <script>      
                  const data1 = {                     
                     "data": [
                        {
                           "uid": "1",
                           "no": 1,                                                      
                           "key1": "우리집1",
                           "key2": '35351',
                           "key3": '대전광역시 서구 월평동123-1',                           
                           "key4": '우리집빌라 301호'                           
                        },
                        {
                           "uid": "2",
                           "no": 2,                                                      
                           "key1": "우리집2",
                           "key2": '35351',
                           "key3": '대전광역시 서구 월평동123-2',                           
                           "key4": '우리집빌라 302호'                           
                        },
                        {
                           "uid": "3",
                           "no": 3,                                                      
                           "key1": "우리집3",
                           "key2": '35351',
                           "key3": '대전광역시 서구 월평동123-3',                           
                           "key4": '우리집빌라 303호'                           
                        },
                        {
                           "uid": "4",
                           "no": 4,                                                      
                           "key1": "우리집4",
                           "key2": '35351',
                           "key3": '대전광역시 서구 월평동123-4',                           
                           "key4": '우리집빌라 304호'                           
                        },
                        {
                           "uid": "5",
                           "no": 5,                                                      
                           "key1": "우리집5",
                           "key2": '35351',
                           "key3": '대전광역시 서구 월평동123-5',                           
                           "key4": '우리집빌라 305호'                           
                        },
                        {
                           "uid": "6",
                           "no": 6,                                                      
                           "key1": "우리집6",
                           "key2": '35351',
                           "key3": '대전광역시 서구 월평동123-6',                           
                           "key4": '우리집빌라 306호'                           
                        },
                        {
                           "uid": "7",
                           "no": 7,                                                      
                           "key1": "우리집7",
                           "key2": '35351',
                           "key3": '대전광역시 서구 월평동123-7',                           
                           "key4": '우리집빌라 307호'                           
                        },
                        {
                           "uid": "8",
                           "no": 8,                                                      
                           "key1": "우리집8",
                           "key2": '35351',
                           "key3": '대전광역시 서구 월평동123-8',                           
                           "key4": '우리집빌라 308호'                           
                        },
                        {
                           "uid": "9",
                           "no": 9,                                                      
                           "key1": "우리집9",
                           "key2": '35351',
                           "key3": '대전광역시 서구 월평동123-9',                           
                           "key4": '우리집빌라 309호'                           
                        },
                        {
                           "uid": "10",
                           "no": 10,                                                      
                           "key1": "우리집10",
                           "key2": '35351',
                           "key3": '대전광역시 서구 월평동123-10',                           
                           "key4": '우리집빌라 310호'                           
                        }                                                                  
                     ]
                  }

                  $(() => {
                     $("#table3").table({                        
                        //apiPath: '/api/board3',
                        //apiType: 'get',
                        data: data1,
                        tableType: 'default',
                        useHashParam: false,
                        noLimit: true,
                        useResize: true,
                        scrollTop: false,
                        caption: '테이블제목 에 대한 표로 th1,th2,th3 구성되어있다.',
                        head: [
                           {name: 'NO', width: '80px'},
                           {name: '배송지명', width: '15.625%', sort: true},
                           {name: '우편번호', width: '9.375%'},
                           {name: '기본주소', width: '34.375%'},
                           {name: '상세주소', width: '34.375%'},
                        ],
                        body: [
                           {label: 'no'},
                           {label: 'key1', align: 'left'},
                           {label: 'key2'},
                           {label: 'key3', align: 'left'},
                           {label: 'key4', align: 'left'},
                        ],
                        headCreated: (pcElement, mobileElement, headData) => {
                           $(mobileElement).addClass('box-line');
                        },
                        rowCreated: ( pcElement, mobileElement, rowData, index) => {
                           $(mobileElement).find('.body').empty().html(`
                              <li>
                                 <strong class="title">${rowData.key1}</strong>
                                 <div class="txt-area">
                                       <span class="txt">
                                          (${rowData.key2}) ${rowData.key3}<br>
                                          ${rowData.key4}
                                       </span>                                    
                                 </div>
                              </li> 
                           `);
                        }
                     });
                  });
               </script>

               <div id="table3" class="table wrap-grid-tbl">                  

                  <!-- 게시판 -->
                  <div class="table-content wrap-check-tbl">                  
                     <div class="table-wrap pc"></div>
                     <div class="table-wrap mo"></div>
                  </div>
                  <!-- //게시판 -->

               </div>

               

               <div class="form-group">
                  <div class="form-tit-txt">
                     <strong>js</strong>
                  </div>
                  <div class="form-conts">
                     <div class="textarea-wrap">
                        <textarea class="input">
                           const data1 = {                     
                     "data": [
                        {
                           "uid": "1",
                           "no": 1,                                                      
                           "key1": "우리집1",
                           "key2": '35351',
                           "key3": '대전광역시 서구 월평동123-1',                           
                           "key4": '우리집빌라 301호'                           
                        },
                        {
                           "uid": "2",
                           "no": 2,                                                      
                           "key1": "우리집2",
                           "key2": '35351',
                           "key3": '대전광역시 서구 월평동123-2',                           
                           "key4": '우리집빌라 302호'                           
                        },
                        {
                           "uid": "3",
                           "no": 3,                                                      
                           "key1": "우리집3",
                           "key2": '35351',
                           "key3": '대전광역시 서구 월평동123-3',                           
                           "key4": '우리집빌라 303호'                           
                        },
                        {
                           "uid": "4",
                           "no": 4,                                                      
                           "key1": "우리집4",
                           "key2": '35351',
                           "key3": '대전광역시 서구 월평동123-4',                           
                           "key4": '우리집빌라 304호'                           
                        },
                        {
                           "uid": "5",
                           "no": 5,                                                      
                           "key1": "우리집5",
                           "key2": '35351',
                           "key3": '대전광역시 서구 월평동123-5',                           
                           "key4": '우리집빌라 305호'                           
                        },
                        {
                           "uid": "6",
                           "no": 6,                                                      
                           "key1": "우리집6",
                           "key2": '35351',
                           "key3": '대전광역시 서구 월평동123-6',                           
                           "key4": '우리집빌라 306호'                           
                        },
                        {
                           "uid": "7",
                           "no": 7,                                                      
                           "key1": "우리집7",
                           "key2": '35351',
                           "key3": '대전광역시 서구 월평동123-7',                           
                           "key4": '우리집빌라 307호'                           
                        },
                        {
                           "uid": "8",
                           "no": 8,                                                      
                           "key1": "우리집8",
                           "key2": '35351',
                           "key3": '대전광역시 서구 월평동123-8',                           
                           "key4": '우리집빌라 308호'                           
                        },
                        {
                           "uid": "9",
                           "no": 9,                                                      
                           "key1": "우리집9",
                           "key2": '35351',
                           "key3": '대전광역시 서구 월평동123-9',                           
                           "key4": '우리집빌라 309호'                           
                        },
                        {
                           "uid": "10",
                           "no": 10,                                                      
                           "key1": "우리집10",
                           "key2": '35351',
                           "key3": '대전광역시 서구 월평동123-10',                           
                           "key4": '우리집빌라 310호'                           
                        }                                                                  
                     ]
                  }

                  $(() => {
                     $("#table3").table({                        
                        //apiPath: '/api/board3',
                        //apiType: 'get',
                        data: data1,
                        tableType: 'default',
                        useHashParam: false,
                        noLimit: true,
                        useResize: true,
                        scrollTop: false,
                        caption: '테이블제목 에 대한 표로 th1,th2,th3 구성되어있다.',
                        head: [
                           {name: 'NO', width: '80px'},
                           {name: '배송지명', width: '15.625%', sort: true},
                           {name: '우편번호', width: '9.375%'},
                           {name: '기본주소', width: '34.375%'},
                           {name: '상세주소', width: '34.375%'},
                        ],
                        body: [
                           {label: 'no'},
                           {label: 'key1', align: 'left'},
                           {label: 'key2'},
                           {label: 'key3', align: 'left'},
                           {label: 'key4', align: 'left'},
                        ],
                        headCreated: (pcElement, mobileElement, headData) => {
                           $(mobileElement).addClass('box-line');
                        },
                        rowCreated: ( pcElement, mobileElement, rowData, index) => {
                           $(mobileElement).find('.body').empty().html(`
                              <li>
                                 <strong class="title">${rowData.key1}</strong>
                                 <div class="txt-area">
                                       <span class="txt">
                                          (${rowData.key2}) ${rowData.key3}<br>
                                          ${rowData.key4}
                                       </span>                                    
                                 </div>
                              </li> 
                           `);
                        }
                     });
                  });
                        </textarea>  
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <div class="form-tit-txt">
                     <strong>html</strong>
                  </div>
                  <div class="form-conts">
                     <div class="textarea-wrap">
                        <textarea class="input">
                           <div id="table3" class="table wrap-grid-tbl">                  

                  <!-- 게시판 -->
                  <div class="table-content wrap-check-tbl">                  
                     <div class="table-wrap pc"></div>
                     <div class="table-wrap mo"></div>
                  </div>
                  <!-- //게시판 -->

               </div>
                        </textarea>
                     </div>
                  </div>
               </div>











            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>