<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->                       
         </div>
         <div class="cont-body">            
            <!-- 내용 -->
            <div class="cont-area">
               <script>
                  const data = {
                     "page": 1,
                     "limit": 10,
                     "limitList": [10, 20, 30],
                     "listLength": 500,
                     "totalPages": 10,
                     "pagingCount": 5,
                     "data": [
                        {
                           "uid": "id-1",
                           "no": 1,                           
                           "key1": "1개인통관고유부호",
                           "key2": "2021-06-01 18:15:61",
                           "key3": "1개인통관고유부호 신청 방법이 궁금합니다.",   
                           "key4": "1개인통관고유부호는 만료일자는2027-06-12일 이고 2027-07-12 이전 까지 유효기간 갱신을 하지 않을 시 기존 개인통관고유부호는 사용하지 못하고 재발급은 받아야 합니다."                        
                        },{
                           "uid": "id-2",
                           "no": 2,                           
                           "key1": "2개인통관고유부호",
                           "key2": "2022-06-01 18:15:61",
                           "key3": "2개인통관고유부호 신청 방법이 궁금합니다.",                           
                           "key4": "2개인통관고유부호는 만료일자는2027-06-12일 이고 2027-07-12 이전 까지 유효기간 갱신을 하지 않을 시 기존 개인통관고유부호는 사용하지 못하고 재발급은 받아야 합니다."                        
                        },{
                           "uid": "id-3",
                           "no": 3,                           
                           "key1": "3개인통관고유부호",
                           "key2": "2023-06-01 18:15:61",
                           "key3": "3개인통관고유부호 신청 방법이 궁금합니다.",                           
                           "key4": "3개인통관고유부호는 만료일자는2027-06-12일 이고 2027-07-12 이전 까지 유효기간 갱신을 하지 않을 시 기존 개인통관고유부호는 사용하지 못하고 재발급은 받아야 합니다."                        
                        },{
                           "uid": "id-4",
                           "no": 4,                           
                           "key1": "4개인통관고유부호",
                           "key2": "2024-06-01 18:15:61",
                           "key3": "4개인통관고유부호 신청 방법이 궁금합니다.개인통관고유부호 신청 방법이 궁금합니다.개인통관고유부호 신청 방법이 궁금합니다.개인통관고유부호 신청 방법이 궁금합니다.개인통관고유부호 신청 방법이 궁금합니다.개인통관고유부호 신청 방법이 궁금합니다.개인통관고유부호 신청 방법이 궁금합니다.",                           
                           "key4": "4개인통관고유부호는 만료일자는2027-06-12일 이고 2027-07-12 이전 까지 유효기간 갱신을 하지 않을 시 기존 개인통관고유부호는 사용하지 못하고 재발급은 받아야 합니다."                        
                        },{
                           "uid": "id-5",
                           "no": 5,                           
                           "key1": "5개인통관고유부호",
                           "key2": "2025-06-01 18:15:61",
                           "key3": "5개인통관고유부호 신청 방법이 궁금합니다.",                           
                           "key4": "5개인통관고유부호는 만료일자는2027-06-12일 이고 2027-07-12 이전 까지 유효기간 갱신을 하지 않을 시 기존 개인통관고유부호는 사용하지 못하고 재발급은 받아야 합니다."                        
                        },{
                           "uid": "id-6",
                           "no": 6,                           
                           "key1": "6개인통관고유부호",
                           "key2": "2026-06-01 18:15:61",
                           "key3": "6개인통관고유부호 신청 방법이 궁금합니다.",                           
                           "key4": "6개인통관고유부호는 만료일자는2027-06-12일 이고 2027-07-12 이전 까지 유효기간 갱신을 하지 않을 시 기존 개인통관고유부호는 사용하지 못하고 재발급은 받아야 합니다."                        
                        },{
                           "uid": "id-7",
                           "no": 7,                           
                           "key1": "7개인통관고유부호",
                           "key2": "2027-06-01 18:15:61",
                           "key3": "7개인통관고유부호 신청 방법이 궁금합니다.",                           
                           "key4": "7개인통관고유부호는 만료일자는2027-06-12일 이고 2027-07-12 이전 까지 유효기간 갱신을 하지 않을 시 기존 개인통관고유부호는 사용하지 못하고 재발급은 받아야 합니다."                        
                        },{
                           "uid": "id-8",
                           "no": 8,                           
                           "key1": "8개인통관고유부호",
                           "key2": "2028-06-01 18:15:61",
                           "key3": "8개인통관고유부호 신청 방법이 궁금합니다.",                           
                           "key4": "8개인통관고유부호는 만료일자는2027-06-12일 이고 2027-07-12 이전 까지 유효기간 갱신을 하지 않을 시 기존 개인통관고유부호는 사용하지 못하고 재발급은 받아야 합니다."                        
                        },{
                           "uid": "id-90",
                           "no": 90,                           
                           "key1": "9개인통관고유부호",
                           "key2": "2029-06-01 18:15:61",
                           "key3": "9개인통관고유부호 신청 방법이 궁금합니다.",                           
                           "key4": "9개인통관고유부호는 만료일자는2027-06-12일 이고 2027-07-12 이전 까지 유효기간 갱신을 하지 않을 시 기존 개인통관고유부호는 사용하지 못하고 재발급은 받아야 합니다."                        
                        },{
                           "uid": "id-100",
                           "no": 100,                           
                           "key1": "10개인통관고유부호",
                           "key2": "2030-06-01 18:15:61",
                           "key3": "10개인통관고유부호 신청 방법이 궁금합니다.",                           
                           "key4": "10개인통관고유부호는 만료일자는2027-06-12일 이고 2027-07-12 이전 까지 유효기간 갱신을 하지 않을 시 기존 개인통관고유부호는 사용하지 못하고 재발급은 받아야 합니다."                        
                        },                       
                     ]
                  }

                  $(() => {
                     $("#table").table({
                        // apiPath: '/api/board1',
                        // apiType: 'get',
                        data: data,
                        tableType: 'crud',
                        useHashParam: true,
                        noLimit: false,
                        useResize: true,
                        scrollTop: true,
                        caption: '테이블제목 에 대한 표로 th1,th2,th3 구성되어있다.',
                        nodata: true,
                        nodataMsg: '데이터없음',
                        head: [
                           {name: 'NO', width: '80px'},                           
                           {name: '구분', width: '180px'},                           
                           {name: '메시지 수신 일시', width: '200px'},                           
                           {name: '제목', width: 'calc(100% - 492px)'},                           
                        ],
                        body: [
                           {label: 'no'},                           
                           {label: 'key1'},
                           {label: 'key2'},                           
                           {label: 'key3',align: 'left', fomatter: ( value, rowData, isMobile ) => {                                  
                              return `
                                 <div class="wrap-faq type1">
                                    <div class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">
                                       <div class="accordion-header">
                                          <div class="wrap-accordion-btn">
                                             <a href="javascript: void(0);" class="accordion-btn tb-title txt" title="열기">
                                                ${value}
                                             </a>                                 
                                             <i class="icon btn-arrow-down small"></i>                                       
                                          </div>
                                       </div>
                                       <div class="accordion-body d-none">
                                          <p>${rowData.key4}</p>
                                       </div>
                                    </div>
                                 </div>
                              `;
                           }},                         
                        ],    
                        created: (element, data, head, body) => {
                           $(element).find('.table-wrap.mo .wrap-body').addClass('wrap-faq type1').empty().append('<div class="body"></div>');
                           data.forEach((data, i) => {
                              const list = $(`
                                 <div class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">
                                    <div class="accordion-header">
                                       <ul>
                                          <li class="number" style="min-width: 52px;">
                                             <div class="txt">
                                                <div class="form-check medium">
                                                   <input type="checkbox" id="mobileChk${i}">
                                                   <label for="mobileChk${i}"><span class="sr-only">선택</span></label>
                                                </div>
                                             </div>
                                          </li>
                                          <li class="num" style="min-width:80px">
                                             <span class="txt">${data.no}</span>
                                          </li>
                                          <li style="min-width:160px">
                                             <span class="txt">${data.key1}</span>
                                          </li>                                          
                                          <li style="min-width:calc(100% - 492px)">
                                             <div class="wrap-accordion-btn">
                                                <a href="javascript: void(0);" class="accordion-btn tb-title txt" title="열기">
                                                   ${data.key3}
                                                </a>                                 
                                                <i class="icon btn-arrow-down small"></i>                                                
                                                <span class="data mo">${data.key2}</span>                                                
                                             </div>
                                             <div class="accordion-body d-none">
                                                <p>${data.key4}</p>
                                             </div>
                                          </li>
                                       </ul>                           
                                    </div>                        
                                 </div>
                              `);
                              $(element).find('.table-wrap.mo .wrap-body .body').append(list);                              
                           });
                        }                                            
                     });

                     // 체크된 목록 가져오기
                     $("#getUid").on('click', () => {
                        $("#table").table('getCheckData', (checkDatas) => {
                           alert(checkDatas.map(x => x.uid));
                        });                        
                     });

                     //그리드 로딩 테스트
                     $('.table-wrap tbody').addClass('common-loading');
                  });
               </script>

             

               <div id="table" class="table wrap-grid-tbl">

                  <!-- 전체 목록 개수 및 목록 보기 개수 (안쓰는 경우 삭제) -->
                  <div class="board-top tbl-top faq">
                     <div class="left-box">
                        <strong class="tit top-txt">전체<strong></strong>개</strong>
                        <div class="top-txt">
                           <select class="form-select-sort large" title="정보 구분 선택"></select>
                        </div>                     
                     </div>  
                     <div class="right-box">                            
                        <button type="button" id="getUid" class="btn tertiary medium">메시지 삭제</button>
                     </div>                
                  </div>
                  <!-- //전체 목록 개수 및 목록 보기 개수 -->

                  <!-- 게시판 -->
                  <div class="table-content wrap-crud-tbl">                  
                     <div class="table-wrap pc"></div>
                     <div class="table-wrap mo wrap-faq type1"></div>
                  </div>
                  <!-- //게시판 -->

                  <!-- 페이지네이션 (안쓰는 경우 삭제) -->
                  <div class="pagination pagination-type1"></div>
                  <!-- //페이지네이션 -->

               </div>

               

               <div class="form-group">
                  <div class="form-tit-txt">
                     <strong>js</strong>
                  </div>
                  <div class="form-conts">
                     <div class="textarea-wrap">
                        <textarea class="input">      
                           const data = {
                     "page": 1,
                     "limit": 10,
                     "limitList": [10, 20, 30],
                     "listLength": 500,
                     "totalPages": 10,
                     "pagingCount": 5,
                     "data": [
                        {
                           "uid": "id-1",
                           "no": 1,                           
                           "key1": "1개인통관고유부호",
                           "key2": "2021-06-01 18:15:61",
                           "key3": "1개인통관고유부호 신청 방법이 궁금합니다.",   
                           "key4": "1개인통관고유부호는 만료일자는2027-06-12일 이고 2027-07-12 이전 까지 유효기간 갱신을 하지 않을 시 기존 개인통관고유부호는 사용하지 못하고 재발급은 받아야 합니다."                        
                        },{
                           "uid": "id-2",
                           "no": 2,                           
                           "key1": "2개인통관고유부호",
                           "key2": "2022-06-01 18:15:61",
                           "key3": "2개인통관고유부호 신청 방법이 궁금합니다.",                           
                           "key4": "2개인통관고유부호는 만료일자는2027-06-12일 이고 2027-07-12 이전 까지 유효기간 갱신을 하지 않을 시 기존 개인통관고유부호는 사용하지 못하고 재발급은 받아야 합니다."                        
                        },{
                           "uid": "id-3",
                           "no": 3,                           
                           "key1": "3개인통관고유부호",
                           "key2": "2023-06-01 18:15:61",
                           "key3": "3개인통관고유부호 신청 방법이 궁금합니다.",                           
                           "key4": "3개인통관고유부호는 만료일자는2027-06-12일 이고 2027-07-12 이전 까지 유효기간 갱신을 하지 않을 시 기존 개인통관고유부호는 사용하지 못하고 재발급은 받아야 합니다."                        
                        },{
                           "uid": "id-4",
                           "no": 4,                           
                           "key1": "4개인통관고유부호",
                           "key2": "2024-06-01 18:15:61",
                           "key3": "4개인통관고유부호 신청 방법이 궁금합니다.개인통관고유부호 신청 방법이 궁금합니다.개인통관고유부호 신청 방법이 궁금합니다.개인통관고유부호 신청 방법이 궁금합니다.개인통관고유부호 신청 방법이 궁금합니다.개인통관고유부호 신청 방법이 궁금합니다.개인통관고유부호 신청 방법이 궁금합니다.",                           
                           "key4": "4개인통관고유부호는 만료일자는2027-06-12일 이고 2027-07-12 이전 까지 유효기간 갱신을 하지 않을 시 기존 개인통관고유부호는 사용하지 못하고 재발급은 받아야 합니다."                        
                        },{
                           "uid": "id-5",
                           "no": 5,                           
                           "key1": "5개인통관고유부호",
                           "key2": "2025-06-01 18:15:61",
                           "key3": "5개인통관고유부호 신청 방법이 궁금합니다.",                           
                           "key4": "5개인통관고유부호는 만료일자는2027-06-12일 이고 2027-07-12 이전 까지 유효기간 갱신을 하지 않을 시 기존 개인통관고유부호는 사용하지 못하고 재발급은 받아야 합니다."                        
                        },{
                           "uid": "id-6",
                           "no": 6,                           
                           "key1": "6개인통관고유부호",
                           "key2": "2026-06-01 18:15:61",
                           "key3": "6개인통관고유부호 신청 방법이 궁금합니다.",                           
                           "key4": "6개인통관고유부호는 만료일자는2027-06-12일 이고 2027-07-12 이전 까지 유효기간 갱신을 하지 않을 시 기존 개인통관고유부호는 사용하지 못하고 재발급은 받아야 합니다."                        
                        },{
                           "uid": "id-7",
                           "no": 7,                           
                           "key1": "7개인통관고유부호",
                           "key2": "2027-06-01 18:15:61",
                           "key3": "7개인통관고유부호 신청 방법이 궁금합니다.",                           
                           "key4": "7개인통관고유부호는 만료일자는2027-06-12일 이고 2027-07-12 이전 까지 유효기간 갱신을 하지 않을 시 기존 개인통관고유부호는 사용하지 못하고 재발급은 받아야 합니다."                        
                        },{
                           "uid": "id-8",
                           "no": 8,                           
                           "key1": "8개인통관고유부호",
                           "key2": "2028-06-01 18:15:61",
                           "key3": "8개인통관고유부호 신청 방법이 궁금합니다.",                           
                           "key4": "8개인통관고유부호는 만료일자는2027-06-12일 이고 2027-07-12 이전 까지 유효기간 갱신을 하지 않을 시 기존 개인통관고유부호는 사용하지 못하고 재발급은 받아야 합니다."                        
                        },{
                           "uid": "id-90",
                           "no": 90,                           
                           "key1": "9개인통관고유부호",
                           "key2": "2029-06-01 18:15:61",
                           "key3": "9개인통관고유부호 신청 방법이 궁금합니다.",                           
                           "key4": "9개인통관고유부호는 만료일자는2027-06-12일 이고 2027-07-12 이전 까지 유효기간 갱신을 하지 않을 시 기존 개인통관고유부호는 사용하지 못하고 재발급은 받아야 합니다."                        
                        },{
                           "uid": "id-100",
                           "no": 100,                           
                           "key1": "10개인통관고유부호",
                           "key2": "2030-06-01 18:15:61",
                           "key3": "10개인통관고유부호 신청 방법이 궁금합니다.",                           
                           "key4": "10개인통관고유부호는 만료일자는2027-06-12일 이고 2027-07-12 이전 까지 유효기간 갱신을 하지 않을 시 기존 개인통관고유부호는 사용하지 못하고 재발급은 받아야 합니다."                        
                        },                       
                     ]
                  }

                  $(() => {
                     $("#table").table({
                        // apiPath: '/api/board1',
                        // apiType: 'get',
                        data: data,
                        tableType: 'crud',
                        useHashParam: true,
                        noLimit: false,
                        useResize: true,
                        scrollTop: true,
                        caption: '테이블제목 에 대한 표로 th1,th2,th3 구성되어있다.',
                        nodata: true,
                        nodataMsg: '데이터없음',
                        head: [
                           {name: 'NO', width: '80px'},                           
                           {name: '구분', width: '180px'},                           
                           {name: '메시지 수신 일시', width: '200px'},                           
                           {name: '제목', width: 'calc(100% - 492px)'},                           
                        ],
                        body: [
                           {label: 'no'},                           
                           {label: 'key1'},
                           {label: 'key2'},                           
                           {label: 'key3',align: 'left', fomatter: ( value, rowData, isMobile ) => {                                  
                              return `
                                 <div class="wrap-faq type1">
                                    <div class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">
                                       <div class="accordion-header">
                                          <div class="wrap-accordion-btn">
                                             <a href="javascript: void(0);" class="accordion-btn tb-title txt" title="열기">
                                                ${value}
                                             </a>                                 
                                             <i class="icon btn-arrow-down small"></i>                                       
                                          </div>
                                       </div>
                                       <div class="accordion-body d-none">
                                          <p>${rowData.key4}</p>
                                       </div>
                                    </div>
                                 </div>
                              `;
                           }},                         
                        ],    
                        created: (element, data, head, body) => {
                           $(element).find('.table-wrap.mo .wrap-body').addClass('wrap-faq type1').empty().append('<div class="body"></div>');
                           data.forEach((data, i) => {
                              const list = $(`
                                 <div class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">
                                    <div class="accordion-header">
                                       <ul>
                                          <li class="number" style="min-width: 52px;">
                                             <div class="txt">
                                                <div class="form-check medium">
                                                   <input type="checkbox" id="mobileChk${i}">
                                                   <label for="mobileChk${i}"><span class="sr-only">선택</span></label>
                                                </div>
                                             </div>
                                          </li>
                                          <li class="num" style="min-width:80px">
                                             <span class="txt">${data.no}</span>
                                          </li>
                                          <li style="min-width:160px">
                                             <span class="txt">${data.key1}</span>
                                          </li>                                          
                                          <li style="min-width:calc(100% - 492px)">
                                             <div class="wrap-accordion-btn">
                                                <a href="javascript: void(0);" class="accordion-btn tb-title txt" title="열기">
                                                   ${data.key3}
                                                </a>                                 
                                                <i class="icon btn-arrow-down small"></i>                                                
                                                <span class="data mo">${data.key2}</span>                                                
                                             </div>
                                             <div class="accordion-body d-none">
                                                <p>${data.key4}</p>
                                             </div>
                                          </li>
                                       </ul>                           
                                    </div>                        
                                 </div>
                              `);
                              $(element).find('.table-wrap.mo .wrap-body .body').append(list);                              
                           });
                        }                                            
                     });

                     // 체크된 목록 가져오기
                     $("#getUid").on('click', () => {
                        $("#table").table('getCheckData', (checkDatas) => {
                           alert(checkDatas.map(x => x.uid));
                        });                        
                     });
                  });                     
                        </textarea>  
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <div class="form-tit-txt">
                     <strong>html</strong>
                  </div>
                  <div class="form-conts">
                     <div class="textarea-wrap">
                        <textarea class="input">
                           <div id="table" class="table wrap-grid-tbl">

                  <!-- 전체 목록 개수 및 목록 보기 개수 (안쓰는 경우 삭제) -->
                  <div class="board-top tbl-top faq">
                     <div class="left-box">
                        <strong class="tit top-txt">전체<strong></strong>개</strong>
                        <div class="top-txt">
                           <select class="form-select-sort large" title="정보 구분 선택"></select>
                        </div>                     
                     </div>  
                     <div class="right-box">                            
                        <button type="button" id="getUid" class="btn tertiary medium">메시지 삭제</button>
                     </div>                
                  </div>
                  <!-- //전체 목록 개수 및 목록 보기 개수 -->

                  <!-- 게시판 -->
                  <div class="table-content wrap-crud-tbl">                  
                     <div class="table-wrap pc"></div>
                     <div class="table-wrap mo wrap-faq type1"></div>
                  </div>
                  <!-- //게시판 -->

                  <!-- 페이지네이션 (안쓰는 경우 삭제) -->
                  <div class="pagination pagination-type1"></div>
                  <!-- //페이지네이션 -->

               </div>
                        </textarea>  
                     </div>
                  </div>
               </div>











            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>