<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<style>
   textarea{height:500px !important}
   .form-group{margin-top: 50px;}
   .form-group label{font-size:30px !important;}
   .title-type3{font-size:40px !important}
</style>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">개인통관고유부호 조회</h3>            
         </div>
         <div class="cont-body">            
            <!-- 내용 -->
            <div class="cont-area">
               <h5 class="title-type3">조회형 - 일반형 (1. 모바일에서 툴팁 사라짐, 2. 선택된 다운로드 개수)</h5>    
               
               <script>
                  $(() => {
                     $("#table2").table({
                        apiPath: '/api/board2',
                        apiType: 'get',
                        tableType: 'default',
                        useHashParam: false,
                        noLimit: false,
                        useResize: true,
                        scrollTop: true,
                        caption: '환급신청 란사항 정보에 대한 표로 선택,란번호,품명,수입신고번호,관세,부가세등,환급신청수량 구성되어있다.',
                        head: [
                           {name: '선택', width: '60px', mobileHidden: true},
                           {name: '란번호', width: '180px', sort: true},
                           {name: '품명', tooltip: {title: "이메일 주소", content: "hong123@naver.com", link: "/pages/pages_7-2.html", arrow: "bottom left"}},                           
                           {name: '관세', width: '9.375%'},
                           {name: '부가세등', width: '9.375%'},
                           {name: '환급신청수량', width: '9.375%'},
                           {name: '버튼', width: '17.1875%', mobileHidden: true},
                           
                        ],
                        body: [
                           {label: 'uid', fomatter: (value, rowData, isMobile) => {
                              if(!isMobile) {
                                 return `<div class="form-check medium">
                                          <input type="checkbox" id="table2Radio${value}" name="table2Radio" onclick="alert('${value}')">
                                          <label for="table2Radio${value}"><span class="sr-only">선택</span></label>
                                       </div>`;
                              } else {
                                 return `<div class="form-check medium">
                                          <input type="checkbox" id="table2RadioM${value}" name="table2RadioM" onclick="alert('${value}')">
                                          <label for="table2RadioM${value}"><span class="sr-only">선택</span></label>
                                       </div>`;
                              }
                           }},
                           {label: 'key1'},
                           {label: 'key2', align: 'left'},                           
                           {label: 'key3', fomatter: ( value, rowData, isMobile ) => {
                              return `<strong class="cl-1">${value}</strong>`;
                           }},
                           {label: 'key4', fomatter: ( value, rowData, isMobile ) => {
                              return `<strong class="cl-2">${value}</strong>`;
                           }},
                           {label: 'key5', fomatter: ( value, rowData, isMobile ) => {
                              return `<strong>${value}</strong>`;
                           }},
                           {label: 'key6', fomatter: ( value, rowData, isMobile ) => {
                              if(!isMobile)  return `<button type="button" class="btn tertiary small" onclick="location.href='/pages/pages_7-2.html#${rowData.uid}'">${value}</button>`;
                              else           return `<button type="button" class="btn tertiary medium" onclick="location.href='/pages/pages_7-2.html#${rowData.uid}'">${value}</button>`;
                           }},
                        ]
                     });
                  });
               </script>

               <div id="table2" class="table">

                  <!-- 전체 목록 개수 및 목록 보기 개수 (안쓰는 경우 삭제) -->
                  <div class="txt-box-type type1 fpc">
                     <p>선택된 파일을 다운로드 합니다. <strong><strong class="cl-4">3개</strong><i>/</i>20개</strong></p>
                     <button type="button" class="btn secondary medium">다운로드</button>
                  </div>
                  <!-- //전체 목록 개수 및 목록 보기 개수 -->

                  <!-- 전체 목록 개수 및 목록 보기 개수 (안쓰는 경우 삭제) -->
                  <div class="board-top tbl-top mt-50">
                     <div class="left-box">
                        <strong class="tit top-txt">전체<strong></strong>개</strong>
                        <div class="top-txt">
                           <select class="form-select-sort large" title="정보 구분 선택"></select>
                        </div>                     
                     </div>                  
                  </div>
                  <!-- //전체 목록 개수 및 목록 보기 개수 -->

                  <!-- 게시판 -->
                  <div class="table-content wrap-check-tbl">                  
                     <div class="table-wrap pc"></div>
                     <div class="table-wrap mo"></div>
                  </div>
                  <!-- //게시판 -->

                  <!-- 페이지네이션 (안쓰는 경우 삭제) -->
                  <div class="pagination pagination-type1"></div>
                  <!-- //페이지네이션 -->

               </div>

               

               <div class="form-group">
                  <div class="form-tit-txt">
                     <label for="textarea1">js</label>
                  </div>
                  <div class="form-conts">
                     <div class="textarea-wrap">
                        <textarea class="input">
                           
                        </textarea>  
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <div class="form-tit-txt">
                     <label for="textarea1">html</label>
                  </div>
                  <div class="form-conts">
                     <div class="textarea-wrap">
                        <textarea class="input">
                           
                        </textarea>
                     </div>
                  </div>
               </div>











            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>