<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->            
         </div>
         <div class="cont-body">            
            <!-- 내용 -->
            <div class="cont-area">
               <script>
                  const data = {
                     "page": 1,
                     "limit": 10,
                     "limitList": [10, 20, 30],
                     "listLength": 500,
                     "totalPages": 10,
                     "pagingCount": 5,
                     "listLength": 5,
                     "data": [      
                        {                           
                           "uid": "id-1",
                           "no": 1,
                           "key1": "개인통관고유부호 갱신",
                           "key2": "2025-05-30",
                           "key3": "접수대기",                           
                        },
                        {                           
                           "uid": "id-2",
                           "no": 2,
                           "key1": "개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내",
                           "key2": "2025-05-30",
                           "key3": "접수대기",                           
                        },{                           
                           "uid": "id-3",
                           "no": 3,
                           "key1": "개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내",
                           "key2": "2025-05-30",
                           "key3": "접수대기",                           
                        },{                           
                           "uid": "id-4",
                           "no": 4,
                           "key1": "개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내",
                           "key2": "2025-05-30",
                           "key3": "접수대기",                           
                        },{                           
                           "uid": "id-5",
                           "no": 5,
                           "key1": "개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내",
                           "key2": "2025-05-30",
                           "key3": "접수대기",                           
                        },{                           
                           "uid": "id-6",
                           "no": 6,
                           "key1": "개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내",
                           "key2": "2025-05-30",
                           "key3": "접수대기",                           
                        },{                           
                           "uid": "id-7",
                           "no": 7,
                           "key1": "개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내",
                           "key2": "2025-05-30",
                           "key3": "접수대기",                           
                        },{                           
                           "uid": "id-8",
                           "no": 8,
                           "key1": "개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내",
                           "key2": "2025-05-30",
                           "key3": "접수대기",                           
                        },{                           
                           "uid": "id-9",
                           "no": 9,
                           "key1": "개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내",
                           "key2": "2025-05-30",
                           "key3": "접수대기",                           
                        },{                           
                           "uid": "id-10",
                           "no": 10,
                           "key1": "개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내",
                           "key2": "2025-05-30",
                           "key3": "접수대기",                           
                        }                                                           
                     ]
                  }
                  $(() => {
                     $("#table").table({
                        /*
                        apiPath: '/api/board4',
                        apiType: 'get',
                        */
                        data: data,
                        tableType: 'default',
                        useHashParam: false,
                        noLimit: false,
                        useResize: true,
                        scrollTop: true,
                        caption: '테이블제목 에 대한 표로 th1,th2,th3 구성되어있다.',
                        head: [
                           {name: 'NO', width: '80px'},
                           {name: '제목', width: ''},
                           {name: '등록일자', width: '130px'},
                           {name: '상태구분', width: '130px'}
                        ],
                        body: [
                           {label: 'no'},
                           {label: 'key1', align: 'left', fomatter: ( value, rowData, isMobile) => {
                              return `<a href="/pages/pages_7-2.html#${rowData.uid}" class="tb-title">${value}</a>`;
                           }},
                           {label: 'key2'},
                           {label: 'key3'},
                        ],
                        headCreated: (pcElement, mobileElement, headData) => {
                           $(mobileElement).addClass('box-line');
                        },
                        rowCreated: ( pcElement, mobileElement, rowData, index) => {
                           $(mobileElement).find('.body').empty().html(`
                              <li>
                                 <strong class="font-4">NO. <span>${rowData.no}</span></strong>
                                 <strong class="title"><a href="/pages/pages_7-2.html#${rowData.uid}">${rowData.key1}</a><i class="icon btn-arrow-right medium"></i></strong>
                                 <div class="txt-area">
                                    <span>${rowData.key2}</span>
                                    <span>${rowData.key3}</span>
                                 </div>                                 
                              </li> 
                           `);
                        }
                     });
                  });
               </script>

               <div id="table" class="table wrap-grid-tbl">

                  <!-- 전체 목록 개수 및 목록 보기 개수 (안쓰는 경우 삭제) -->
                  <div class="board-top tbl-top mt-50">
                     <div class="left-box">
                        <strong class="tit top-txt">전체<strong></strong>개</strong>
                        <div class="top-txt">
                           <select class="form-select-sort large" title="정보 구분 선택"></select>
                        </div>                     
                     </div>                  
                  </div>
                  <!-- //전체 목록 개수 및 목록 보기 개수 -->

                  <!-- 게시판 -->
                  <div class="table-content wrap-check-tbl">                  
                     <div class="table-wrap pc"></div>
                     <div class="table-wrap mo"></div>
                  </div>
                  <!-- //게시판 -->

                  <!-- 페이지네이션 (안쓰는 경우 삭제) -->
                  <div class="pagination pagination-type1"></div>
                  <!-- //페이지네이션 -->

               </div>

               

               <div class="form-group">
                  <div class="form-tit-txt">
                     <strong>js</strong>
                  </div>
                  <div class="form-conts">
                     <div class="textarea-wrap">
                        <textarea class="input">
                           const data = {
                     "page": 1,
                     "limit": 10,
                     "limitList": [10, 20, 30],
                     "listLength": 500,
                     "totalPages": 10,
                     "pagingCount": 5,
                     "listLength": 5,
                     "data": [      
                        {                           
                           "uid": "id-1",
                           "no": 1,
                           "key1": "개인통관고유부호 갱신",
                           "key2": "2025-05-30",
                           "key3": "접수대기",                           
                        },
                        {                           
                           "uid": "id-2",
                           "no": 2,
                           "key1": "개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내",
                           "key2": "2025-05-30",
                           "key3": "접수대기",                           
                        },{                           
                           "uid": "id-3",
                           "no": 3,
                           "key1": "개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내",
                           "key2": "2025-05-30",
                           "key3": "접수대기",                           
                        },{                           
                           "uid": "id-4",
                           "no": 4,
                           "key1": "개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내",
                           "key2": "2025-05-30",
                           "key3": "접수대기",                           
                        },{                           
                           "uid": "id-5",
                           "no": 5,
                           "key1": "개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내",
                           "key2": "2025-05-30",
                           "key3": "접수대기",                           
                        },{                           
                           "uid": "id-6",
                           "no": 6,
                           "key1": "개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내",
                           "key2": "2025-05-30",
                           "key3": "접수대기",                           
                        },{                           
                           "uid": "id-7",
                           "no": 7,
                           "key1": "개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내",
                           "key2": "2025-05-30",
                           "key3": "접수대기",                           
                        },{                           
                           "uid": "id-8",
                           "no": 8,
                           "key1": "개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내",
                           "key2": "2025-05-30",
                           "key3": "접수대기",                           
                        },{                           
                           "uid": "id-9",
                           "no": 9,
                           "key1": "개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내",
                           "key2": "2025-05-30",
                           "key3": "접수대기",                           
                        },{                           
                           "uid": "id-10",
                           "no": 10,
                           "key1": "개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내",
                           "key2": "2025-05-30",
                           "key3": "접수대기",                           
                        }                                                           
                     ]
                  }
                  $(() => {
                     $("#table").table({
                        /*
                        apiPath: '/api/board4',
                        apiType: 'get',
                        */
                        data: data,
                        tableType: 'default',
                        useHashParam: false,
                        noLimit: false,
                        useResize: true,
                        scrollTop: true,
                        caption: '테이블제목 에 대한 표로 th1,th2,th3 구성되어있다.',
                        head: [
                           {name: 'NO', width: '80px'},
                           {name: '제목', width: ''},
                           {name: '등록일자', width: '130px'},
                           {name: '상태구분', width: '130px'}
                        ],
                        body: [
                           {label: 'no'},
                           {label: 'key1', align: 'left', fomatter: ( value, rowData, isMobile) => {
                              return `<a href="/pages/pages_7-2.html#${rowData.uid}" class="tb-title">${value}</a>`;
                           }},
                           {label: 'key2'},
                           {label: 'key3'},
                        ],
                        headCreated: (pcElement, mobileElement, headData) => {
                           $(mobileElement).addClass('box-line');
                        },
                        rowCreated: ( pcElement, mobileElement, rowData, index) => {
                           $(mobileElement).find('.body').empty().html(`
                              <li>
                                 <strong class="font-4">NO. <span>${rowData.no}</span></strong>
                                 <strong class="title"><a href="/pages/pages_7-2.html#${rowData.uid}">${rowData.key1}</a><i class="icon btn-arrow-right medium"></i></strong>
                                 <div class="txt-area">
                                    <span>${rowData.key2}</span>
                                    <span>${rowData.key3}</span>
                                 </div>                                 
                              </li> 
                           `);
                        }
                     });
                  });
                        </textarea>  
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <div class="form-tit-txt">
                     <strong>html</strong>
                  </div>
                  <div class="form-conts">
                     <div class="textarea-wrap">
                        <textarea class="input">
                           <div id="table" class="table wrap-grid-tbl">

                  <!-- 전체 목록 개수 및 목록 보기 개수 (안쓰는 경우 삭제) -->
                  <div class="board-top tbl-top mt-50">
                     <div class="left-box">
                        <strong class="tit top-txt">전체<strong></strong>개</strong>
                        <div class="top-txt">
                           <select class="form-select-sort large" title="정보 구분 선택"></select>
                        </div>                     
                     </div>                  
                  </div>
                  <!-- //전체 목록 개수 및 목록 보기 개수 -->

                  <!-- 게시판 -->
                  <div class="table-content wrap-check-tbl">                  
                     <div class="table-wrap pc"></div>
                     <div class="table-wrap mo"></div>
                  </div>
                  <!-- //게시판 -->

                  <!-- 페이지네이션 (안쓰는 경우 삭제) -->
                  <div class="pagination pagination-type1"></div>
                  <!-- //페이지네이션 -->

               </div>
                        </textarea>  
                     </div>
                  </div>
               </div>











            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>