<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->                        
         </div>
         <div class="cont-body">            
            <!-- 내용 -->
            <div class="cont-area"> 
               <script>
                  const data = {
                     "page": 1,
                     "limit": 10,
                     "limitList": [10, 20, 30],
                     "listLength": 500,
                     "totalPages": 10,
                     "pagingCount": 5,
                     "data": [
                        {
                           "uid": "id-1",
                           "no": 1,                           
                           "key1": "개인통관고유부호-1",
                           "key2": "개인통관고유부호 신청 방법이 궁금합니다",
                           "key3": "개인통관고유부호 신청 방법은 아래의 게시글을 확인하시고 본인인증 후 서비스를 이용하시기 바랍니다.",
                           "key4": "소학교 때 책상을 같이 했던 아이들의 이름과 패, 경, 옥 이런 이국소녀들의 이름과 벌써 아기 어머니된 계집애들의 이름과, 가난한 이웃 사람들의 이름과, 비둘기, 강아지, 토끼, 노새, 노루, 프랑시스 잠, 라이너 마리아 릴케 이런 시인의 이름을 불러 봅니다. 가슴 속에 하나 둘 새겨지는 별을 이제 다 못 헤는 것은 쉬이 아침이 오는 까닭이요, 내일 밤이 남은 까닭이요, 아직 나의 청춘이 다하지 않은 까닭입니다.",                           
                           "files":[
                              {
                                 "name":"위임장(주민등록법 시행령 별지 제15호의2호서식)",
                                 "format":"hwp",
                                 "size":"17KB",
                                 "url":"위임장(주민등록법 시행령 별지 제15호의2호서식).hwp"
                              }
                           ]
                        },
                        {
                           "uid": "id-2",
                           "no": 2,                           
                           "key1": "개인통관고유부호-2",
                           "key2": "개인통관고유부호 신청 방법이 궁금합니다1개인통관고유부호 신청 방법이 궁금합니다1개인통관고유부호 신청 방법이 궁금합니다1개인통관고유부호 신청 방법이 궁금합니다",
                           "key3": "개인통관고유부호 신청 방법은 아래의 게시글을 확인하시고 본인인증 후 서비스를 이용하시기 바랍니다.",
                           "key4": "소학교 때 책상을 같이 했던 아이들의 이름과 패, 경, 옥 이런 이국소녀들의 이름과 벌써 아기 어머니된 계집애들의 이름과, 가난한 이웃 사람들의 이름과, 비둘기, 강아지, 토끼, 노새, 노루, 프랑시스 잠, 라이너 마리아 릴케 이런 시인의 이름을 불러 봅니다. 가슴 속에 하나 둘 새겨지는 별을 이제 다 못 헤는 것은 쉬이 아침이 오는 까닭이요, 내일 밤이 남은 까닭이요, 아직 나의 청춘이 다하지 않은 까닭입니다.",                                                      
                           "files":[
                              {
                                 "name":"위임장(주민등록법 시행령 별지 제15호의2호서식)",
                                 "format":"hwp",
                                 "size":"17KB",
                                 "url":"위임장(주민등록법 시행령 별지 제15호의2호서식).hwp"
                              }
                           ]
                        },
                        {
                           "uid": "id-3",
                           "no": 3,                           
                           "key1": "개인통관고유부호-3",
                           "key2": "개인통관고유부호 신청 방법이 궁금합니다",
                           "key3": "개인통관고유부호 신청 방법은 아래의 게시글을 확인하시고 본인인증 후 서비스를 이용하시기 바랍니다.",
                           "key4": "소학교 때 책상을 같이 했던 아이들의 이름과 패, 경, 옥 이런 이국소녀들의 이름과 벌써 아기 어머니된 계집애들의 이름과, 가난한 이웃 사람들의 이름과, 비둘기, 강아지, 토끼, 노새, 노루, 프랑시스 잠, 라이너 마리아 릴케 이런 시인의 이름을 불러 봅니다. 가슴 속에 하나 둘 새겨지는 별을 이제 다 못 헤는 것은 쉬이 아침이 오는 까닭이요, 내일 밤이 남은 까닭이요, 아직 나의 청춘이 다하지 않은 까닭입니다.",                                                      
                           "files":[
                              {
                                 "name":"위임장(주민등록법 시행령 별지 제15호의2호서식)",
                                 "format":"hwp",
                                 "size":"17KB",
                                 "url":"위임장(주민등록법 시행령 별지 제15호의2호서식).hwp"
                              }
                           ]
                        },
                        {
                           "uid": "id-4",
                           "no": 4,                           
                           "key1": "개인통관고유부호-4",
                           "key2": "개인통관고유부호 신청 방법이 궁금합니다",
                           "key3": "개인통관고유부호 신청 방법은 아래의 게시글을 확인하시고 본인인증 후 서비스를 이용하시기 바랍니다.",
                           "key4": "소학교 때 책상을 같이 했던 아이들의 이름과 패, 경, 옥 이런 이국소녀들의 이름과 벌써 아기 어머니된 계집애들의 이름과, 가난한 이웃 사람들의 이름과, 비둘기, 강아지, 토끼, 노새, 노루, 프랑시스 잠, 라이너 마리아 릴케 이런 시인의 이름을 불러 봅니다. 가슴 속에 하나 둘 새겨지는 별을 이제 다 못 헤는 것은 쉬이 아침이 오는 까닭이요, 내일 밤이 남은 까닭이요, 아직 나의 청춘이 다하지 않은 까닭입니다.",                           
                           "files":[
                              {
                                 "name":"위임장(주민등록법 시행령 별지 제15호의2호서식)",
                                 "format":"hwp",
                                 "size":"17KB",
                                 "url":"위임장(주민등록법 시행령 별지 제15호의2호서식).hwp"
                              },
                              {
                                 "name":"위임장(주민등록법 시행령 별지 제15호의2호서식)",
                                 "format":"hwp",
                                 "size":"17KB",
                                 "url":"위임장(주민등록법 시행령 별지 제15호의2호서식).hwp"
                              }
                           ]
                        },
                        {
                           "uid": "id-5",
                           "no": 5,                           
                           "key1": "개인통관고유부호-5",
                           "key2": "개인통관고유부호 신청 방법이 궁금합니다",
                           "key3": "개인통관고유부호 신청 방법은 아래의 게시글을 확인하시고 본인인증 후 서비스를 이용하시기 바랍니다.",
                           "key4": "소학교 때 책상을 같이 했던 아이들의 이름과 패, 경, 옥 이런 이국소녀들의 이름과 벌써 아기 어머니된 계집애들의 이름과, 가난한 이웃 사람들의 이름과, 비둘기, 강아지, 토끼, 노새, 노루, 프랑시스 잠, 라이너 마리아 릴케 이런 시인의 이름을 불러 봅니다. 가슴 속에 하나 둘 새겨지는 별을 이제 다 못 헤는 것은 쉬이 아침이 오는 까닭이요, 내일 밤이 남은 까닭이요, 아직 나의 청춘이 다하지 않은 까닭입니다.",                                                      
                           "files":[
                              {
                                 "name":"위임장(주민등록법 시행령 별지 제15호의2호서식)",
                                 "format":"hwp",
                                 "size":"17KB",
                                 "url":"위임장(주민등록법 시행령 별지 제15호의2호서식).hwp"
                              }
                           ]
                        },
                        {
                           "uid": "id-6",
                           "no": 6,                           
                           "key1": "개인통관고유부호-6",
                           "key2": "개인통관고유부호 신청 방법이 궁금합니다",
                           "key3": "개인통관고유부호 신청 방법은 아래의 게시글을 확인하시고 본인인증 후 서비스를 이용하시기 바랍니다.",
                           "key4": "소학교 때 책상을 같이 했던 아이들의 이름과 패, 경, 옥 이런 이국소녀들의 이름과 벌써 아기 어머니된 계집애들의 이름과, 가난한 이웃 사람들의 이름과, 비둘기, 강아지, 토끼, 노새, 노루, 프랑시스 잠, 라이너 마리아 릴케 이런 시인의 이름을 불러 봅니다. 가슴 속에 하나 둘 새겨지는 별을 이제 다 못 헤는 것은 쉬이 아침이 오는 까닭이요, 내일 밤이 남은 까닭이요, 아직 나의 청춘이 다하지 않은 까닭입니다.",                           
                           "files":[
                              {
                                 "name":"위임장(주민등록법 시행령 별지 제15호의2호서식)",
                                 "format":"hwp",
                                 "size":"17KB",
                                 "url":"위임장(주민등록법 시행령 별지 제15호의2호서식).hwp"
                              }
                           ]
                        },
                        {
                           "uid": "id-7",
                           "no": 7,                           
                           "key1": "개인통관고유부호-7",
                           "key2": "개인통관고유부호 신청 방법이 궁금합니다",
                           "key3": "개인통관고유부호 신청 방법은 아래의 게시글을 확인하시고 본인인증 후 서비스를 이용하시기 바랍니다.",
                           "key4": "소학교 때 책상을 같이 했던 아이들의 이름과 패, 경, 옥 이런 이국소녀들의 이름과 벌써 아기 어머니된 계집애들의 이름과, 가난한 이웃 사람들의 이름과, 비둘기, 강아지, 토끼, 노새, 노루, 프랑시스 잠, 라이너 마리아 릴케 이런 시인의 이름을 불러 봅니다. 가슴 속에 하나 둘 새겨지는 별을 이제 다 못 헤는 것은 쉬이 아침이 오는 까닭이요, 내일 밤이 남은 까닭이요, 아직 나의 청춘이 다하지 않은 까닭입니다.",                           
                           "files":[
                              {
                                 "name":"위임장(주민등록법 시행령 별지 제15호의2호서식)",
                                 "format":"hwp",
                                 "size":"17KB",
                                 "url":"위임장(주민등록법 시행령 별지 제15호의2호서식).hwp"
                              }
                           ]
                        },
                        {
                           "uid": "id-8",
                           "no": 8,                           
                           "key1": "개인통관고유부호-8",
                           "key2": "개인통관고유부호 신청 방법이 궁금합니다",
                           "key3": "개인통관고유부호 신청 방법은 아래의 게시글을 확인하시고 본인인증 후 서비스를 이용하시기 바랍니다.",
                           "key4": "소학교 때 책상을 같이 했던 아이들의 이름과 패, 경, 옥 이런 이국소녀들의 이름과 벌써 아기 어머니된 계집애들의 이름과, 가난한 이웃 사람들의 이름과, 비둘기, 강아지, 토끼, 노새, 노루, 프랑시스 잠, 라이너 마리아 릴케 이런 시인의 이름을 불러 봅니다. 가슴 속에 하나 둘 새겨지는 별을 이제 다 못 헤는 것은 쉬이 아침이 오는 까닭이요, 내일 밤이 남은 까닭이요, 아직 나의 청춘이 다하지 않은 까닭입니다.",                           
                           "files":[
                              {
                                 "name":"위임장(주민등록법 시행령 별지 제15호의2호서식)",
                                 "format":"hwp",
                                 "size":"17KB",
                                 "url":"위임장(주민등록법 시행령 별지 제15호의2호서식).hwp"
                              }
                           ]
                        },
                        {
                           "uid": "id-9",
                           "no": 9,                           
                           "key1": "개인통관고유부호-9",
                           "key2": "개인통관고유부호 신청 방법이 궁금합니다",
                           "key3": "개인통관고유부호 신청 방법은 아래의 게시글을 확인하시고 본인인증 후 서비스를 이용하시기 바랍니다.",
                           "key4": "소학교 때 책상을 같이 했던 아이들의 이름과 패, 경, 옥 이런 이국소녀들의 이름과 벌써 아기 어머니된 계집애들의 이름과, 가난한 이웃 사람들의 이름과, 비둘기, 강아지, 토끼, 노새, 노루, 프랑시스 잠, 라이너 마리아 릴케 이런 시인의 이름을 불러 봅니다. 가슴 속에 하나 둘 새겨지는 별을 이제 다 못 헤는 것은 쉬이 아침이 오는 까닭이요, 내일 밤이 남은 까닭이요, 아직 나의 청춘이 다하지 않은 까닭입니다.",                           
                           "files":[
                              {
                                 "name":"위임장(주민등록법 시행령 별지 제15호의2호서식)",
                                 "format":"hwp",
                                 "size":"17KB",
                                 "url":"위임장(주민등록법 시행령 별지 제15호의2호서식).hwp"
                              }
                           ]
                        },
                        {
                           "uid": "id-10",
                           "no": 10,                           
                           "key1": "개인통관고유부호-10",
                           "key2": "개인통관고유부호 신청 방법이 궁금합니다",
                           "key3": "개인통관고유부호 신청 방법은 아래의 게시글을 확인하시고 본인인증 후 서비스를 이용하시기 바랍니다.",
                           "key4": "소학교 때 책상을 같이 했던 아이들의 이름과 패, 경, 옥 이런 이국소녀들의 이름과 벌써 아기 어머니된 계집애들의 이름과, 가난한 이웃 사람들의 이름과, 비둘기, 강아지, 토끼, 노새, 노루, 프랑시스 잠, 라이너 마리아 릴케 이런 시인의 이름을 불러 봅니다. 가슴 속에 하나 둘 새겨지는 별을 이제 다 못 헤는 것은 쉬이 아침이 오는 까닭이요, 내일 밤이 남은 까닭이요, 아직 나의 청춘이 다하지 않은 까닭입니다.",                           
                           "files":[
                              {
                                 "name":"위임장(주민등록법 시행령 별지 제15호의2호서식)",
                                 "format":"hwp",
                                 "size":"17KB",
                                 "url":"위임장(주민등록법 시행령 별지 제15호의2호서식).hwp"
                              }
                           ]
                        }                      
                     ]
                  }

                  $(() => {
                     $("#table").table({
                        /*
                        apiPath: '/api/faq',
                        apiType: 'get',
                        */
                        data: data,
                        tableType: 'faq',
                        useHashParam: false,
                        noLimit: false,
                        scrollTop: true,
                        nodata: true,
                        nodataMsg: '데이터없음',
                        head: [
                           {name: 'NO', width: '80px', class:'dd'},
                           {name: '구분', width: '160px'},
                           {name: '제목', width: 'calc(100% - 240px)'},
                        ],
                        body1: [
                           {label: 'no'},
                           {label: 'key1'},
                           {label: 'key2'},
                        ],
                        body2: [
                           {label: 'no'},
                           {label: 'key3'},
                           {label: 'key4'},
                        ],
                        fileLabel: 'files'
                     });
                  });
               </script>

               <!-- FAQ 타입 -->
               <div id="table" class="table wrap-grid-tbl">

                  <!-- 게시판 -->
                  <div class="table-content common-loading">                  
                     <div class="wrap-faq"></div>
                  </div>
                  <!-- //게시판 -->

                  <!-- 페이지네이션 (안쓰는 경우 삭제) -->
                  <div class="pagination pagination-type1"></div>
                  <!-- //페이지네이션 -->

               </div>
               <!-- FAQ 타입 -->

               

               <div class="form-group">
                  <div class="form-tit-txt">
                     <strong>js</strong>
                  </div>
                  <div class="form-conts">
                     <div class="textarea-wrap">
                        <textarea class="input">
                           const data = {
                     "page": 1,
                     "limit": 10,
                     "limitList": [10, 20, 30],
                     "listLength": 500,
                     "totalPages": 10,
                     "pagingCount": 5,
                     "data": [
                        {
                           "uid": "id-1",
                           "no": 1,                           
                           "key1": "개인통관고유부호-1",
                           "key2": "개인통관고유부호 신청 방법이 궁금합니다",
                           "key3": "개인통관고유부호 신청 방법은 아래의 게시글을 확인하시고 본인인증 후 서비스를 이용하시기 바랍니다.",
                           "key4": "소학교 때 책상을 같이 했던 아이들의 이름과 패, 경, 옥 이런 이국소녀들의 이름과 벌써 아기 어머니된 계집애들의 이름과, 가난한 이웃 사람들의 이름과, 비둘기, 강아지, 토끼, 노새, 노루, 프랑시스 잠, 라이너 마리아 릴케 이런 시인의 이름을 불러 봅니다. 가슴 속에 하나 둘 새겨지는 별을 이제 다 못 헤는 것은 쉬이 아침이 오는 까닭이요, 내일 밤이 남은 까닭이요, 아직 나의 청춘이 다하지 않은 까닭입니다.",                           
                           "files":[
                              {
                                 "name":"위임장(주민등록법 시행령 별지 제15호의2호서식)",
                                 "format":"hwp",
                                 "size":"17KB",
                                 "url":"위임장(주민등록법 시행령 별지 제15호의2호서식).hwp"
                              }
                           ]
                        },
                        {
                           "uid": "id-2",
                           "no": 2,                           
                           "key1": "개인통관고유부호-2",
                           "key2": "개인통관고유부호 신청 방법이 궁금합니다1개인통관고유부호 신청 방법이 궁금합니다1개인통관고유부호 신청 방법이 궁금합니다1개인통관고유부호 신청 방법이 궁금합니다",
                           "key3": "개인통관고유부호 신청 방법은 아래의 게시글을 확인하시고 본인인증 후 서비스를 이용하시기 바랍니다.",
                           "key4": "소학교 때 책상을 같이 했던 아이들의 이름과 패, 경, 옥 이런 이국소녀들의 이름과 벌써 아기 어머니된 계집애들의 이름과, 가난한 이웃 사람들의 이름과, 비둘기, 강아지, 토끼, 노새, 노루, 프랑시스 잠, 라이너 마리아 릴케 이런 시인의 이름을 불러 봅니다. 가슴 속에 하나 둘 새겨지는 별을 이제 다 못 헤는 것은 쉬이 아침이 오는 까닭이요, 내일 밤이 남은 까닭이요, 아직 나의 청춘이 다하지 않은 까닭입니다.",                                                      
                           "files":[
                              {
                                 "name":"위임장(주민등록법 시행령 별지 제15호의2호서식)",
                                 "format":"hwp",
                                 "size":"17KB",
                                 "url":"위임장(주민등록법 시행령 별지 제15호의2호서식).hwp"
                              }
                           ]
                        },
                        {
                           "uid": "id-3",
                           "no": 3,                           
                           "key1": "개인통관고유부호-3",
                           "key2": "개인통관고유부호 신청 방법이 궁금합니다",
                           "key3": "개인통관고유부호 신청 방법은 아래의 게시글을 확인하시고 본인인증 후 서비스를 이용하시기 바랍니다.",
                           "key4": "소학교 때 책상을 같이 했던 아이들의 이름과 패, 경, 옥 이런 이국소녀들의 이름과 벌써 아기 어머니된 계집애들의 이름과, 가난한 이웃 사람들의 이름과, 비둘기, 강아지, 토끼, 노새, 노루, 프랑시스 잠, 라이너 마리아 릴케 이런 시인의 이름을 불러 봅니다. 가슴 속에 하나 둘 새겨지는 별을 이제 다 못 헤는 것은 쉬이 아침이 오는 까닭이요, 내일 밤이 남은 까닭이요, 아직 나의 청춘이 다하지 않은 까닭입니다.",                                                      
                           "files":[
                              {
                                 "name":"위임장(주민등록법 시행령 별지 제15호의2호서식)",
                                 "format":"hwp",
                                 "size":"17KB",
                                 "url":"위임장(주민등록법 시행령 별지 제15호의2호서식).hwp"
                              }
                           ]
                        },
                        {
                           "uid": "id-4",
                           "no": 4,                           
                           "key1": "개인통관고유부호-4",
                           "key2": "개인통관고유부호 신청 방법이 궁금합니다",
                           "key3": "개인통관고유부호 신청 방법은 아래의 게시글을 확인하시고 본인인증 후 서비스를 이용하시기 바랍니다.",
                           "key4": "소학교 때 책상을 같이 했던 아이들의 이름과 패, 경, 옥 이런 이국소녀들의 이름과 벌써 아기 어머니된 계집애들의 이름과, 가난한 이웃 사람들의 이름과, 비둘기, 강아지, 토끼, 노새, 노루, 프랑시스 잠, 라이너 마리아 릴케 이런 시인의 이름을 불러 봅니다. 가슴 속에 하나 둘 새겨지는 별을 이제 다 못 헤는 것은 쉬이 아침이 오는 까닭이요, 내일 밤이 남은 까닭이요, 아직 나의 청춘이 다하지 않은 까닭입니다.",                           
                           "files":[
                              {
                                 "name":"위임장(주민등록법 시행령 별지 제15호의2호서식)",
                                 "format":"hwp",
                                 "size":"17KB",
                                 "url":"위임장(주민등록법 시행령 별지 제15호의2호서식).hwp"
                              },
                              {
                                 "name":"위임장(주민등록법 시행령 별지 제15호의2호서식)",
                                 "format":"hwp",
                                 "size":"17KB",
                                 "url":"위임장(주민등록법 시행령 별지 제15호의2호서식).hwp"
                              }
                           ]
                        },
                        {
                           "uid": "id-5",
                           "no": 5,                           
                           "key1": "개인통관고유부호-5",
                           "key2": "개인통관고유부호 신청 방법이 궁금합니다",
                           "key3": "개인통관고유부호 신청 방법은 아래의 게시글을 확인하시고 본인인증 후 서비스를 이용하시기 바랍니다.",
                           "key4": "소학교 때 책상을 같이 했던 아이들의 이름과 패, 경, 옥 이런 이국소녀들의 이름과 벌써 아기 어머니된 계집애들의 이름과, 가난한 이웃 사람들의 이름과, 비둘기, 강아지, 토끼, 노새, 노루, 프랑시스 잠, 라이너 마리아 릴케 이런 시인의 이름을 불러 봅니다. 가슴 속에 하나 둘 새겨지는 별을 이제 다 못 헤는 것은 쉬이 아침이 오는 까닭이요, 내일 밤이 남은 까닭이요, 아직 나의 청춘이 다하지 않은 까닭입니다.",                                                      
                           "files":[
                              {
                                 "name":"위임장(주민등록법 시행령 별지 제15호의2호서식)",
                                 "format":"hwp",
                                 "size":"17KB",
                                 "url":"위임장(주민등록법 시행령 별지 제15호의2호서식).hwp"
                              }
                           ]
                        },
                        {
                           "uid": "id-6",
                           "no": 6,                           
                           "key1": "개인통관고유부호-6",
                           "key2": "개인통관고유부호 신청 방법이 궁금합니다",
                           "key3": "개인통관고유부호 신청 방법은 아래의 게시글을 확인하시고 본인인증 후 서비스를 이용하시기 바랍니다.",
                           "key4": "소학교 때 책상을 같이 했던 아이들의 이름과 패, 경, 옥 이런 이국소녀들의 이름과 벌써 아기 어머니된 계집애들의 이름과, 가난한 이웃 사람들의 이름과, 비둘기, 강아지, 토끼, 노새, 노루, 프랑시스 잠, 라이너 마리아 릴케 이런 시인의 이름을 불러 봅니다. 가슴 속에 하나 둘 새겨지는 별을 이제 다 못 헤는 것은 쉬이 아침이 오는 까닭이요, 내일 밤이 남은 까닭이요, 아직 나의 청춘이 다하지 않은 까닭입니다.",                           
                           "files":[
                              {
                                 "name":"위임장(주민등록법 시행령 별지 제15호의2호서식)",
                                 "format":"hwp",
                                 "size":"17KB",
                                 "url":"위임장(주민등록법 시행령 별지 제15호의2호서식).hwp"
                              }
                           ]
                        },
                        {
                           "uid": "id-7",
                           "no": 7,                           
                           "key1": "개인통관고유부호-7",
                           "key2": "개인통관고유부호 신청 방법이 궁금합니다",
                           "key3": "개인통관고유부호 신청 방법은 아래의 게시글을 확인하시고 본인인증 후 서비스를 이용하시기 바랍니다.",
                           "key4": "소학교 때 책상을 같이 했던 아이들의 이름과 패, 경, 옥 이런 이국소녀들의 이름과 벌써 아기 어머니된 계집애들의 이름과, 가난한 이웃 사람들의 이름과, 비둘기, 강아지, 토끼, 노새, 노루, 프랑시스 잠, 라이너 마리아 릴케 이런 시인의 이름을 불러 봅니다. 가슴 속에 하나 둘 새겨지는 별을 이제 다 못 헤는 것은 쉬이 아침이 오는 까닭이요, 내일 밤이 남은 까닭이요, 아직 나의 청춘이 다하지 않은 까닭입니다.",                           
                           "files":[
                              {
                                 "name":"위임장(주민등록법 시행령 별지 제15호의2호서식)",
                                 "format":"hwp",
                                 "size":"17KB",
                                 "url":"위임장(주민등록법 시행령 별지 제15호의2호서식).hwp"
                              }
                           ]
                        },
                        {
                           "uid": "id-8",
                           "no": 8,                           
                           "key1": "개인통관고유부호-8",
                           "key2": "개인통관고유부호 신청 방법이 궁금합니다",
                           "key3": "개인통관고유부호 신청 방법은 아래의 게시글을 확인하시고 본인인증 후 서비스를 이용하시기 바랍니다.",
                           "key4": "소학교 때 책상을 같이 했던 아이들의 이름과 패, 경, 옥 이런 이국소녀들의 이름과 벌써 아기 어머니된 계집애들의 이름과, 가난한 이웃 사람들의 이름과, 비둘기, 강아지, 토끼, 노새, 노루, 프랑시스 잠, 라이너 마리아 릴케 이런 시인의 이름을 불러 봅니다. 가슴 속에 하나 둘 새겨지는 별을 이제 다 못 헤는 것은 쉬이 아침이 오는 까닭이요, 내일 밤이 남은 까닭이요, 아직 나의 청춘이 다하지 않은 까닭입니다.",                           
                           "files":[
                              {
                                 "name":"위임장(주민등록법 시행령 별지 제15호의2호서식)",
                                 "format":"hwp",
                                 "size":"17KB",
                                 "url":"위임장(주민등록법 시행령 별지 제15호의2호서식).hwp"
                              }
                           ]
                        },
                        {
                           "uid": "id-9",
                           "no": 9,                           
                           "key1": "개인통관고유부호-9",
                           "key2": "개인통관고유부호 신청 방법이 궁금합니다",
                           "key3": "개인통관고유부호 신청 방법은 아래의 게시글을 확인하시고 본인인증 후 서비스를 이용하시기 바랍니다.",
                           "key4": "소학교 때 책상을 같이 했던 아이들의 이름과 패, 경, 옥 이런 이국소녀들의 이름과 벌써 아기 어머니된 계집애들의 이름과, 가난한 이웃 사람들의 이름과, 비둘기, 강아지, 토끼, 노새, 노루, 프랑시스 잠, 라이너 마리아 릴케 이런 시인의 이름을 불러 봅니다. 가슴 속에 하나 둘 새겨지는 별을 이제 다 못 헤는 것은 쉬이 아침이 오는 까닭이요, 내일 밤이 남은 까닭이요, 아직 나의 청춘이 다하지 않은 까닭입니다.",                           
                           "files":[
                              {
                                 "name":"위임장(주민등록법 시행령 별지 제15호의2호서식)",
                                 "format":"hwp",
                                 "size":"17KB",
                                 "url":"위임장(주민등록법 시행령 별지 제15호의2호서식).hwp"
                              }
                           ]
                        },
                        {
                           "uid": "id-10",
                           "no": 10,                           
                           "key1": "개인통관고유부호-10",
                           "key2": "개인통관고유부호 신청 방법이 궁금합니다",
                           "key3": "개인통관고유부호 신청 방법은 아래의 게시글을 확인하시고 본인인증 후 서비스를 이용하시기 바랍니다.",
                           "key4": "소학교 때 책상을 같이 했던 아이들의 이름과 패, 경, 옥 이런 이국소녀들의 이름과 벌써 아기 어머니된 계집애들의 이름과, 가난한 이웃 사람들의 이름과, 비둘기, 강아지, 토끼, 노새, 노루, 프랑시스 잠, 라이너 마리아 릴케 이런 시인의 이름을 불러 봅니다. 가슴 속에 하나 둘 새겨지는 별을 이제 다 못 헤는 것은 쉬이 아침이 오는 까닭이요, 내일 밤이 남은 까닭이요, 아직 나의 청춘이 다하지 않은 까닭입니다.",                           
                           "files":[
                              {
                                 "name":"위임장(주민등록법 시행령 별지 제15호의2호서식)",
                                 "format":"hwp",
                                 "size":"17KB",
                                 "url":"위임장(주민등록법 시행령 별지 제15호의2호서식).hwp"
                              }
                           ]
                        }                      
                     ]
                  }

                  $(() => {
                     $("#table").table({
                        /*
                        apiPath: '/api/faq',
                        apiType: 'get',
                        */
                        data: data,
                        tableType: 'faq',
                        useHashParam: false,
                        noLimit: false,
                        scrollTop: true,
                        nodata: true,
                        nodataMsg: '데이터없음',
                        head: [
                           {name: 'NO', width: '80px', class:'dd'},
                           {name: '구분', width: '160px'},
                           {name: '제목', width: 'calc(100% - 240px)'},
                        ],
                        body1: [
                           {label: 'no'},
                           {label: 'key1'},
                           {label: 'key2'},
                        ],
                        body2: [
                           {label: 'no'},
                           {label: 'key3'},
                           {label: 'key4'},
                        ],
                        fileLabel: 'files'
                     });
                  });
                        </textarea>  
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <div class="form-tit-txt">
                     <strong>html</strong>
                  </div>
                  <div class="form-conts">
                     <div class="textarea-wrap">
                        <textarea class="input">
                           <div id="table" class="table wrap-grid-tbl">

                  <!-- 게시판 -->
                  <div class="table-content">                  
                     <div class="wrap-faq"></div>
                  </div>
                  <!-- //게시판 -->

                  <!-- 페이지네이션 (안쓰는 경우 삭제) -->
                  <div class="pagination pagination-type1"></div>
                  <!-- //페이지네이션 -->

               </div>
                        </textarea>
                     </div>
                  </div>
               </div>











            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>