<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->            
         </div>
         <div class="cont-body">            
            <!-- 내용 -->
            <div class="cont-area">
               <script>
                  const data = {
                     "page": 1,
                     "limit": 10,
                     "limitList": [10, 20, 30],
                     "listLength": 500,
                     "totalPages": 10,
                     "pagingCount": 5,
                     "data": [
                        {                           
                              "key1": '식품/의약품_녹차1',                                                      
                              "key2": "33,334원",
                              "key3": '17,999원',
                              "key4": '40',
                              "key5": '0',
                              "key6": '0',
                              "key7": '0',
                              "key8": '0',
                              "key9": '4,666원',                              
                              "key10": '행삭제1'
                        },
                        {                           
                              "key1": '식품/의약품_녹차2',                                                      
                              "key2": "33,334원",
                              "key3": '17,999원',
                              "key4": '40',
                              "key5": '0',
                              "key6": '0',
                              "key7": '0',
                              "key8": '0',
                              "key9": '4,666원',                              
                              "key10": '행삭제2'
                        },
                        {                           
                              "key1": '식품/의약품_녹차3',                                                      
                              "key2": "33,334원",
                              "key3": '17,999원',
                              "key4": '40',
                              "key5": '0',
                              "key6": '0',
                              "key7": '0',
                              "key8": '0',
                              "key9": '4,666원',                              
                              "key10": '행삭제3'
                        },
                        {                           
                              "key1": '식품/의약품_녹차4',                                                      
                              "key2": "33,334원",
                              "key3": '17,999원',
                              "key4": '40',
                              "key5": '0',
                              "key6": '0',
                              "key7": '0',
                              "key8": '0',
                              "key9": '4,666원',                              
                              "key10": '행삭제4'
                        },
                        {                           
                              "key1": '식품/의약품_녹차5',                                                      
                              "key2": "33,334원",
                              "key3": '17,999원',
                              "key4": '40',
                              "key5": '0',
                              "key6": '0',
                              "key7": '0',
                              "key8": '0',
                              "key9": '4,666원',                              
                              "key10": '행삭제5'
                        },                                                                 
                        {                           
                              "key1": '식품/의약품_녹차6',                                                      
                              "key2": "33,334원",
                              "key3": '17,999원',
                              "key4": '40',
                              "key5": '0',
                              "key6": '0',
                              "key7": '0',
                              "key8": '0',
                              "key9": '4,666원',                              
                              "key10": '행삭제6'
                        },
                     ]
                  }


                  $(() => {
                     $("#table").table({
                        //apiPath: '/api/board2',
                        //apiType: 'get',
                        data: data,
                        tableType: 'default',
                        useHashParam: false,
                        noLimit: false,
                        useResize: true,
                        scrollTop: true,
                        caption: '테이블제목 에 대한 표로 th1,th2,th3 구성되어있다.',
                        nodata: true,
                        nodataMsg: '데이터없음',
                        head: [
                           {name: '물품명', width: '14.84375%'},
                           {name: '구입가', width: '10.9375%'},
                           {name: '총 세액 <strong class="tax-amount">ⓐ+ⓑ+ⓒ+ⓓ+ⓔ</strong>', width: '12%'},
                           {name: '관세율(%)', width: '7.8125%'},
                           {name: '관세(원) <strong class="tax-amount">ⓐ</strong>', width: '7.8125%'},
                           {name: '개별소비세(원) <strong class="tax-amount">ⓑ</strong>', width: '10%'},
                           {name: '주세(원) <strong class="tax-amount">ⓒ</strong>', width: '7.8125%'},
                           {name: '교육세(원) <strong class="tax-amount">ⓓ</strong>', width: '7.8125%'},
                           {name: '부가세(원) <strong class="tax-amount">ⓔ</strong>', width: '7.8125%'},
                           {name: '선택취소', width: '14.84375%',mobileHidden: true},                           
                        ],
                        body: [            
                           {label: 'key1'},
                           {label: 'key2'},
                           {label: 'key3'},
                           {label: 'key4'},
                           {label: 'key5'},
                           {label: 'key6'},
                           {label: 'key7'},
                           {label: 'key8'},
                           {label: 'key9', fomatter: ( value, rowData, isMobile ) => {
                              if(!isMobile)  return `<button type="button" class="btn primary small" data-modal-target="#modal20261">도용신고</button>`;
                              else           return `<button type="button" class="btn primary medium" data-modal-target="#modal20261">도용신고</button>`;                              
                           }},
                           {label: 'key10', fomatter: ( value, rowData, isMobile ) => {
                              if(!isMobile)  return `<button type="button" class="btn cancel small" data-modal-target="#modal20262">신고취소</button>`;
                              else           return `<button type="button" class="btn cancel medium" data-modal-target="#modal20262">신고취소</button>`;                           
                           }}
                        ],
                        created: (element, data, head, body) => {                          

                           //pc
                           $(element).find('.table-wrap.pc tbody').append(`
                              <tr class="sum-row">
                                 <td>합계</td>
                                 <td>-</td>
                                 <td>-</td>
                                 <td>-</td>
                                 <td>-</td>
                                 <td>-</td>
                                 <td>-</td>
                                 <td>-</td>
                                 <td>-</td>
                                 <td>-</td>
                              </tr>
                           `);
                           

                           //mo
                           $(element).find('.table-wrap.mo').prepend(`
                              <ul class="wrap-body top-body">
                                 <li>
                                    <ul class="body">                              
                                       <li class="dotted-line-bottom">
                                          <strong class="title">합계</strong>                                 
                                       </li>                                                                                                                    
                                       <li>
                                          <strong class="title">구입가</strong>
                                          <span class="txt">50,000원</span>
                                       </li>                                                                                                                    
                                       <li>
                                          <strong class="title">총세액</strong>
                                          <span class="txt">5,000원</span>
                                       </li>                                                                                                                    
                                    </ul>
                                 </li>                                                                                                                                                                                                                 
                              </ul>
                           `);                           
                        },
                     });        
                  });     
                  
                  
                  // PC + 모바일 행 삭제
                  $(document).on('click', '.btn-row-delete', function () {
                     const $btn = $(this);

                     // PC 데이터 row (합계 제외)
                     const $pcRows = $('.table-wrap.pc tbody tr').not(':last');

                     // 모바일 데이터 row (top-body 제외)
                     const $moBody = $('.table-wrap.mo .wrap-body').not('.top-body');
                     const $moRows = $moBody.children('li');

                     // PC에서 삭제 클릭
                     if ($btn.closest('tr').length) {
                        const $tr = $btn.closest('tr');
                        const index = $pcRows.index($tr);
                        
                        $tr.remove();                           
                        $moRows.eq(index).remove(); //모바일도 삭제

                        return;                        
                     }

                     // 모바일에서 삭제 클릭
                     if ($btn.closest('.table-wrap.mo .wrap-body > li').length) {
                        const $li = $btn.closest('.table-wrap.mo .wrap-body > li');
                        const index = $moRows.index($li);

                        $li.remove();
                        $pcRows.eq(index).remove(); //pc도 삭제
                     }
                  });

                  // pc + 모바일 행 추가
                  $(document).on('click', '.btn-row-add', function () {                     
                     const $btn = $(this);

                     // PC 데이터 row (합계 제외)
                     const $pcRows = $('.table-wrap.pc tbody')

                     // 모바일 데이터 row (top-body 제외)
                     const $moBody = $('.table-wrap.mo .wrap-body').not('.top-body');                     

                     const pcHtml = `
                        <tr>
                            <td class="">식품/의약품_녹차6</td>                        
                            <td class="">33,334원</td>                        
                            <td class="">17,999원</td>                        
                            <td class="">40</td>                        
                            <td class="">0</td>                        
                            <td class="">0</td>                        
                            <td class="">0</td>                        
                            <td class="">0</td>                        
                            <td class="">4,666원</td>                        
                            <td class=""><button type="button" class="btn tertiary small btn-row-delete" data-ttt="행삭제6">행삭제6</button></td>
                        </tr>
                     `

                     const moHtml = `
                        <li>
                           <ul class="body">
                              <li><strong class="title">물품명</strong><span class="txt">식품/의약품_녹차1</span></li>                            
                              <li><strong class="title">구입가</strong><span class="txt">33,334원</span></li>                            
                              <li><strong class="title">총 세액 <strong class="tax-amount">ⓐ+ⓑ+ⓒ+ⓓ+ⓔ</strong></strong><span class="txt">17,999원</span></li>                            
                              <li><strong class="title">관세율(%)</strong><span class="txt">40</span></li>                            
                              <li><strong class="title">관세(원) <strong class="tax-amount">ⓐ</strong></strong><span class="txt">0</span></li>                            
                              <li><strong class="title">개별소비세(원) <strong class="tax-amount">ⓑ</strong></strong><span class="txt">0</span></li>                            
                              <li><strong class="title">주세(원) <strong class="tax-amount">ⓒ</strong></strong><span class="txt">0</span></li>                            
                              <li><strong class="title">교육세(원) <strong class="tax-amount">ⓓ</strong></strong><span class="txt">0</span></li>                            
                              <li><strong class="title">부가세(원) <strong class="tax-amount">ⓔ</strong></strong><span class="txt">4,666원</span></li>                            
                              <li><button type="button" class="btn tertiary medium btn-row-delete" data-ttt="행삭제6">행삭제6</button></li>  
                           </ul>
                        </li>
                     `
                     $pcRows.find('.sum-row').before(pcHtml)
                     $moBody.append(moHtml)                        
                  });
                  

               </script>       
               
               <!-- <button type="button" class="btn primary small" data-modal-target="#modal20263">도용신고 안내 확인</button>
               <div id="modal20263" class="modal d-none type1" data-ui="modal">
                  <div class="modal-wrap mw-800">
                     <div class="modal-header">
                        <h5>도용신고 안내 확인</h5>                     
                     </div>
                     <div class="modal-body report-modal" tabindex="0">
                        <div class="modal-cont">                                    
                           <ul class="txt-ul">
                              <li class="lst1">도용 신고 시 수입통관이 보류될 수 있습니다.</li>
                              <li class="lst2">도용 신고 전 수입신고된 건은 통관될 수 없습니다.</li>
                              <li class="lst3">신고 후 취소 시 신고취소 버튼을 클릭하여 취소할 수 있습니다</li>
                              <li class="lst4">신고가 취소되더라도 이미 통관보류된 건은 통관되지 않을 수 있으니 운송업체/관세사에게 문의하세요.</li>
                              <li class="lst5">통관보류된 건은 E-Mail을 통해 알려드립니다. 다만 물품이 국내에 반입되지 않은 경우 별도 통보는 없습니다.</li>
                           </ul>
                           <p class="advice-txt">위 내용에 대해 확인하였습니다.</p>                                                           
                        </div>                          
                     </div>
                     <div class="modal-footer">                   
                        <button type="button" class="btn primary medium">예</button>
                        <button type="button" class="btn modal-close tertiary medium">아니요</button>                             
                     </div>
                  </div>
               </div>

               <button type="button" class="btn primary small" data-modal-target="#modal20264">도용신고</button> -->
               
               <!-- 도용신고 -->
               <div id="modal20261" class="modal d-none" data-ui="modal">
                  <div class="modal-wrap mw-900">
                     <div class="modal-header">
                        <h5>도용신고</h5>                     
                     </div>
                     <div class="modal-body report-modal" tabindex="0">                        
                        <div class="modal-cont">
                           <p class="compulsory-txt"><i class="compulsory">필수</i> 표시는 필수 입력 사항입니다.</p>
                           <div class="wrap-form-area">
                              <div class="inp-form">
                                 <ul>                                                         
                                    <li class="col1 txt-list">
                                       <strong class="tit">피 도용 개인통관고유부호</strong>
                                       <div class="inp-box">
                                          <p class="txt">P240000000000</p>
                                       </div>                        
                                    </li>
                                    <li class="col2 txt-list">
                                       <strong class="tit">인증번호</strong>
                                       <div class="inp-box">
                                          <p class="txt">352286</p>
                                       </div>                        
                                    </li>
                                    <li class="col2 txt-list">
                                       <strong class="tit">발급일시</strong>
                                       <div class="inp-box">
                                          <p class="txt">2026-03-04 09:57:10</p>
                                       </div>                        
                                    </li>
                                    <li class="col2 txt-list">
                                       <strong class="tit">주문업체명</strong>
                                       <div class="inp-box">
                                          <p class="txt">나이버</p>
                                       </div>                        
                                    </li>
                                    <li class="col2 txt-list">
                                       <strong class="tit">주문자명</strong>
                                       <div class="inp-box">
                                          <p class="txt">이OO</p>
                                       </div>                        
                                    </li>
                                    <li class="col1 dotted-line-top">
                                       <label for="ex1" class="tit">신고정보 입력 <i class="compulsory">필수</i></label>
                                       <div class="inp-box">
                                          <div class="form-group">                              
                                             <div class="form-conts">
                                                <div class="textarea-wrap">
                                                   <textarea class="input" placeholder="신고내용을 입력합니다." id="ex1" title="상세신고내용을 입력해주세요"></textarea>
                                                   <div class="report">
                                                      <p class="advice-txt type1">신고한 물품이 이미 통관진행 중일 수 있습니다</p> 
                                                      <p class="textarea-count"><span class="count-now">0</span><span class="count-total">/1,000</span></p>
                                                   </div>                                                   
                                                </div>
                                             </div>
                                          </div>
                                       </div>                                        
                                    </li>                                      
                                 </ul>                                 
                              </div>                              
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                           <button type="button" class="btn modal-close tertiary medium">닫기</button>
                           <button type="button" class="btn primary medium">신고</button>
                     </div>
                  </div>
               </div> 
               <!-- // 도용신고 -->

               <!-- 도용신고 취소 -->
               <div id="modal20262" class="modal d-none" data-ui="modal">
                  <div class="modal-wrap mw-900">
                     <div class="modal-header">
                        <h5>도용신고 취소</h5>                     
                     </div>
                     <div class="modal-body report-modal" tabindex="0">                        
                        <div class="modal-cont">
                           <p class="compulsory-txt"><i class="compulsory">필수</i> 표시는 필수 입력 사항입니다.</p>
                           <div class="wrap-form-area">
                              <div class="inp-form">
                                 <ul>                                                         
                                    <li class="col1 txt-list">
                                       <strong class="tit">피 도용 개인통관고유부호</strong>
                                       <div class="inp-box">
                                          <p class="txt">P240000000000</p>
                                       </div>                        
                                    </li>
                                    <li class="col2 txt-list">
                                       <strong class="tit">인증번호</strong>
                                       <div class="inp-box">
                                          <p class="txt">352286</p>
                                       </div>                        
                                    </li>
                                    <li class="col2 txt-list">
                                       <strong class="tit">발급일시</strong>
                                       <div class="inp-box">
                                          <p class="txt">2026-03-04 09:57:10</p>
                                       </div>                        
                                    </li>
                                    <li class="col2 txt-list">
                                       <strong class="tit">주문업체명</strong>
                                       <div class="inp-box">
                                          <p class="txt">나이버</p>
                                       </div>                        
                                    </li>                                   
                                    <li class="col1 dotted-line-top">
                                       <label for="ex2" class="tit">취소 사유 <i class="compulsory">필수</i></label>
                                       <div class="inp-box">
                                          <div class="form-group">                              
                                             <div class="form-conts">
                                                <div class="textarea-wrap">
                                                   <textarea class="input" placeholder="신고내용을 입력합니다." id="ex2" title="상세신고내용을 입력해주세요"></textarea>
                                                   <div class="report">
                                                      <p class="advice-txt type1">신고 취소하려는 물품이 이미 통관보류 중일 수 있습니다</p> 
                                                      <p class="textarea-count"><span class="count-now">0</span><span class="count-total">/1,000</span></p>
                                                   </div>                                                   
                                                </div>
                                             </div>
                                          </div>
                                       </div>                                        
                                    </li>                                      
                                 </ul>                                 
                              </div>                              
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                           <button type="button" class="btn modal-close tertiary medium">닫기</button>
                           <button type="button" class="btn primary medium">신고취소</button>
                     </div>
                  </div>
               </div> 
               <!-- // 도용신고 취소 -->

               <!-- 그리드 -->
               <div id="table" class="table wrap-grid-tbl">                     
                  

                  <!-- 전체 목록 개수 및 목록 보기 개수 (안쓰는 경우 삭제) -->
                  <div class="board-top tbl-top">
                     <div class="left-box">
                        <strong class="tit top-txt">전체<strong></strong>개</strong>
                        <div class="top-txt">
                           <select class="form-select-sort large" title="정보 구분 선택"></select>
                        </div>                     
                     </div>                  
                  </div>
                  <!-- //전체 목록 개수 및 목록 보기 개수 -->

                  <!-- 게시판 -->
                  <div class="table-content wrap-check-tbl">                  
                     <div class="table-wrap pc"></div>
                     <div class="table-wrap mo"></div>
                  </div>
                  <!-- //게시판 -->

                  <!-- 페이지네이션 (안쓰는 경우 삭제) -->
                  <!-- <div class="pagination pagination-type1"></div> -->
                  <!-- //페이지네이션 -->

               </div>
               <!-- //그리드 -->

               

               
               











            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>
