<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit">개인통관고유부호 조회</h3>            
         </div>
         <div class="cont-body">            
            <!-- 내용 -->
            <div class="cont-area">

               <div class="wrap-check-tbl mb-50">
                  <div class="table-wrap pc">
                     <table class="tbl col check">
                        <caption>주소 검색에 대한 우편번호,도명주소  표로 로 구성되어있다.</caption>
                        <colgroup>
                           <col style="width: 90PX;">                                       
                           <col>                                       
                        </colgroup>
                        <thead>
                           <tr>                                                
                              <th scope="col">우편번호</th>                                          
                              <th scope="col">도로명주소</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>04383</td>
                              <td>
                                 <a href="#none">
                                    <p class="text-left">서울특별시 용산구 서빙고로 137 (용산동6가)</p>
                                    <p class="font-4 cl-6 text-left">[지번] 서울특별시 용산구 용산동6가 168-6 국립중앙박물관</p>
                                 </a>
                              </td>                                          
                           </tr>
                           <!-- 데이터없음 -->
                           <tr>
                              <td colspan="2">데이터없음</td>
                           </tr>              
                           <!-- 데이터없음 -->                                              
                        </tbody>
                     </table>
                  </div>
                  <div class="table-wrap mo">                     
                     <ul class="wrap-body box-line">                        
                        <li>
                           <ul class="body">                                                            
                              <li>                                 
                                 <span class="font-4 cl-6">04383</span>
                                 <div class="txt-area">
                                    <span class="txt cl-5">
                                       서울특별시 용산구 서빙고로 137 (용산동6가)
                                    </span>                                    
                                 </div>    
                                 <p class="font-4 cl-6">[지번] 서울특별시 용산구 용산동6가 168-6 국립중앙박물관</p>                             
                              </li>                                                                                          
                           </ul>
                        </li> 
                        <!-- 데이터없음 -->                                                                                                             
                        <li>
                           <ul class="body">                                                            
                              <li class="no-data">                                  
                                 데이터없음
                              </li>                                                                                          
                           </ul>
                        </li>        
                        <!-- 데이터없음 -->                                                                                                             
                     </ul>
                  </div> 
               </div> 
               
               <script>      
                  const data = {     
                     "page": 1,
                     "limit": 10,
                     "limitList": [10, 20, 30],
                     "listLength": 500,
                     "totalPages": 10,
                     "pagingCount": 5,                
                     "data": [
                        {
                           "uid": "id-1",
                           "key1": '14383',                                                                                 
                           "key2": '1-서울특별시 용산구 서빙고로 137 (용산동6가)',
                           "key3": '1-[지번] 서울특별시 용산구 용산동6가 168-6 국립중앙박물관',                           
                        },
                        {
                           "uid": "id-2",
                           "key1": '24383',                                                                                 
                           "key2": '2-서울특별시 용산구 서빙고로 137 (용산동6가)',
                           "key3": '2-[지번] 서울특별시 용산구 용산동6가 168-6 국립중앙박물관',                           
                        },
                        {
                           "uid": "id-3",
                           "key1": '34383',                                                                                 
                           "key2": '3-서울특별시 용산구 서빙고로 137 (용산동6가)',
                           "key3": '3-[지번] 서울특별시 용산구 용산동6가 168-6 국립중앙박물관',                           
                        },
                        {
                           "uid": "id-4",
                           "key1": '44383',                                                                                 
                           "key2": '4-서울특별시 용산구 서빙고로 137 (용산동6가)',
                           "key3": '4-[지번] 서울특별시 용산구 용산동6가 168-6 국립중앙박물관',                           
                        },
                        {
                           "uid": "id-5",
                           "key1": '54383',                                                                                 
                           "key2": '5-서울특별시 용산구 서빙고로 137 (용산동6가)',
                           "key3": '5-[지번] 서울특별시 용산구 용산동6가 168-6 국립중앙박물관',                           
                        },
                        {
                           "uid": "id-6",
                           "key1": '64383',                                                                                 
                           "key2": '6-서울특별시 용산구 서빙고로 137 (용산동6가)',
                           "key3": '6-[지번] 서울특별시 용산구 용산동6가 168-6 국립중앙박물관',                           
                        },
                        {
                           "uid": "id-7",
                           "key1": '74383',                                                                                 
                           "key2": '7-서울특별시 용산구 서빙고로 137 (용산동6가)',
                           "key3": '7-[지번] 서울특별시 용산구 용산동6가 168-6 국립중앙박물관',                           
                        },
                        {
                           "uid": "id-8",
                           "key1": '84383',                                                                                 
                           "key2": '8-서울특별시 용산구 서빙고로 137 (용산동6가)',
                           "key3": '8-[지번] 서울특별시 용산구 용산동6가 168-6 국립중앙박물관',                           
                        },
                        {
                           "uid": "id-9",
                           "key1": '94383',                                                                                 
                           "key2": '9-서울특별시 용산구 서빙고로 137 (용산동6가)',
                           "key3": '9-[지번] 서울특별시 용산구 용산동6가 168-6 국립중앙박물관',                           
                        },
                        {
                           "uid": "id-10",
                           "key1": '04383',                                                                                 
                           "key2": '10-서울특별시 용산구 서빙고로 137 (용산동6가)',
                           "key3": '10-[지번] 서울특별시 용산구 용산동6가 168-6 국립중앙박물관',                           
                        }                                                                 
                     ]
                  }

                  $(() => {
                     $("#table").table({                        
                        //apiPath: '/api/board3',
                        //apiType: 'get',
                        data: data,
                        tableType: 'default',
                        useHashParam: false,
                        noLimit: true,
                        useResize: true,
                        scrollTop: false,
                        caption: '테이블제목 에 대한 표로 th1,th2,th3 구성되어있다.',
                        head: [                           
                           {name: '우편번호', width: '90px'},
                           {name: '도로명주소', width: ''},                           
                        ],
                        body: [                           
                           {label: 'key1'},                           
                           {label: 'key2', align: 'left', fomatter: (value, rowData, isMobile) => {
                              return `
                                 <a href="#none">
                                    <p class="text-left">${rowData.key2}</p>
                                    <p class="font-4 cl-6 text-left">${rowData.key3}</p>
                                 </a>
                              `;
                           }},                           
                        ],
                        headCreated: (pcElement, mobileElement, headData) => {
                           $(mobileElement).addClass('box-line');
                        },
                        rowCreated: ( pcElement, mobileElement, rowData, index) => {
                           $(mobileElement).find('.body').empty().html(`
                              <li>
                                 <span class="font-4 cl-6">${rowData.key1}</span>
                                 <div class="txt-area">
                                       <span class="txt cl-5">${rowData.key2}</span>                                    
                                       
                                 </div>
                                 <p class="font-4 cl-6 lin-h1">${rowData.key3}</p>
                              </li>
                           `);
                        }
                     });
                  });
               </script>

               <div id="table" class="table wrap-grid-tbl">                  

                  <!-- 게시판 -->
                  <div class="table-content wrap-check-tbl">                  
                     <div class="table-wrap pc"></div>
                     <div class="table-wrap mo"></div>
                  </div>
                  <!-- //게시판 -->

                  <!-- 페이지네이션 (안쓰는 경우 삭제) -->
                  <div class="pagination pagination-type1"></div>
                  <!-- //페이지네이션 -->

               </div>

               

               <div class="form-group">
                  <div class="form-tit-txt">
                     <strong>js</strong>
                  </div>
                  <div class="form-conts">
                     <div class="textarea-wrap">
                        <textarea class="input">
                           const data = {     
                     "page": 1,
                     "limit": 10,
                     "limitList": [10, 20, 30],
                     "listLength": 500,
                     "totalPages": 10,
                     "pagingCount": 5,                
                     "data": [
                        {
                           "uid": "id-1",
                           "key1": '14383',                                                                                 
                           "key2": '1-서울특별시 용산구 서빙고로 137 (용산동6가)',
                           "key3": '1-[지번] 서울특별시 용산구 용산동6가 168-6 국립중앙박물관',                           
                        },
                        {
                           "uid": "id-2",
                           "key1": '24383',                                                                                 
                           "key2": '2-서울특별시 용산구 서빙고로 137 (용산동6가)',
                           "key3": '2-[지번] 서울특별시 용산구 용산동6가 168-6 국립중앙박물관',                           
                        },
                        {
                           "uid": "id-3",
                           "key1": '34383',                                                                                 
                           "key2": '3-서울특별시 용산구 서빙고로 137 (용산동6가)',
                           "key3": '3-[지번] 서울특별시 용산구 용산동6가 168-6 국립중앙박물관',                           
                        },
                        {
                           "uid": "id-4",
                           "key1": '44383',                                                                                 
                           "key2": '4-서울특별시 용산구 서빙고로 137 (용산동6가)',
                           "key3": '4-[지번] 서울특별시 용산구 용산동6가 168-6 국립중앙박물관',                           
                        },
                        {
                           "uid": "id-5",
                           "key1": '54383',                                                                                 
                           "key2": '5-서울특별시 용산구 서빙고로 137 (용산동6가)',
                           "key3": '5-[지번] 서울특별시 용산구 용산동6가 168-6 국립중앙박물관',                           
                        },
                        {
                           "uid": "id-6",
                           "key1": '64383',                                                                                 
                           "key2": '6-서울특별시 용산구 서빙고로 137 (용산동6가)',
                           "key3": '6-[지번] 서울특별시 용산구 용산동6가 168-6 국립중앙박물관',                           
                        },
                        {
                           "uid": "id-7",
                           "key1": '74383',                                                                                 
                           "key2": '7-서울특별시 용산구 서빙고로 137 (용산동6가)',
                           "key3": '7-[지번] 서울특별시 용산구 용산동6가 168-6 국립중앙박물관',                           
                        },
                        {
                           "uid": "id-8",
                           "key1": '84383',                                                                                 
                           "key2": '8-서울특별시 용산구 서빙고로 137 (용산동6가)',
                           "key3": '8-[지번] 서울특별시 용산구 용산동6가 168-6 국립중앙박물관',                           
                        },
                        {
                           "uid": "id-9",
                           "key1": '94383',                                                                                 
                           "key2": '9-서울특별시 용산구 서빙고로 137 (용산동6가)',
                           "key3": '9-[지번] 서울특별시 용산구 용산동6가 168-6 국립중앙박물관',                           
                        },
                        {
                           "uid": "id-10",
                           "key1": '04383',                                                                                 
                           "key2": '10-서울특별시 용산구 서빙고로 137 (용산동6가)',
                           "key3": '10-[지번] 서울특별시 용산구 용산동6가 168-6 국립중앙박물관',                           
                        }                                                                 
                     ]
                  }

                  $(() => {
                     $("#table").table({                        
                        //apiPath: '/api/board3',
                        //apiType: 'get',
                        data: data,
                        tableType: 'default',
                        useHashParam: false,
                        noLimit: true,
                        useResize: true,
                        scrollTop: false,
                        caption: '테이블제목 에 대한 표로 th1,th2,th3 구성되어있다.',
                        head: [                           
                           {name: '우편번호', width: '90px'},
                           {name: '도로명주소', width: ''},                           
                        ],
                        body: [                           
                           {label: 'key1'},                           
                           {label: 'key2', align: 'left', fomatter: (value, rowData, isMobile) => {
                              return `
                                 <a href="#none">
                                    <p class="text-left">${rowData.key2}</p>
                                    <p class="font-4 cl-6 text-left">${rowData.key3}</p>
                                 </a>
                              `;
                           }},                           
                        ],
                        headCreated: (pcElement, mobileElement, headData) => {
                           $(mobileElement).addClass('box-line');
                        },
                        rowCreated: ( pcElement, mobileElement, rowData, index) => {
                           $(mobileElement).find('.body').empty().html(`
                              <li>
                                 <span class="font-4 cl-6">${rowData.key1}</span>
                                 <div class="txt-area">
                                       <span class="txt cl-5">${rowData.key2}</span>                                    
                                       
                                 </div>
                                 <p class="font-4 cl-6 lin-h1">${rowData.key3}</p>
                              </li>
                           `);
                        }
                     });
                  });
                        </textarea>  
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <div class="form-tit-txt">
                     <strong>html</strong>
                  </div>
                  <div class="form-conts">
                     <div class="textarea-wrap">
                        <textarea class="input">
                           <div id="table" class="table wrap-grid-tbl">                  

                  <!-- 게시판 -->
                  <div class="table-content wrap-check-tbl">                  
                     <div class="table-wrap pc"></div>
                     <div class="table-wrap mo"></div>
                  </div>
                  <!-- //게시판 -->

                  <!-- 페이지네이션 (안쓰는 경우 삭제) -->
                  <div class="pagination pagination-type1"></div>
                  <!-- //페이지네이션 -->

               </div>
                        </textarea>
                     </div>
                  </div>
               </div>











            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>