<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->            
       <h3 class="head-tit">나의 개인통관고유부호</h3>
         </div>
         <div class="cont-body">            
            <!-- 내용 -->
            <div class="cont-area">
               <script>
                  const data = {
                     "page": 1,
                     "limit": 10,
                     "limitList": [10, 20, 30],
                     "listLength": 500,
                     "totalPages": 10,
                     "pagingCount": 5,
                     "data": [
                                                            
                     ]
                  }


                  $(() => {
                     $("#table").table({
                        //apiPath: '/api/board2',
                        //apiType: 'get',
                        data: data,
                        tableType: 'default',
                        useHashParam: false,
                        noLimit: false,
                        useResize: true,
                        scrollTop: true,
                        caption: '테이블제목 에 대한 표로 th1,th2,th3 구성되어있다.',
                        nodata: true,
                        nodataMsg: '데이터없음',
                        head: [
                           {name: '선택', width: '80px', mobileHidden: true},
                           {name: '란번호', width: '105px', sort: 'number'},
                           {name: '품명', width: 'auto', tooltip: {title: "이메일 주소", content: "hong123@naver.com", link: "/pages/pages_7-2.html", arrow: "bottom left"}},                           
                           {name: '관세관', width: '9.375%'},
                           {name: '부가 세등', width: '9.375%'},
                           {name: '환급신청 수량', width: '10%', tooltip: {title: "이메일 주소", content: "hong123@naver.com", link: "/pages/pages_7-2.html", arrow: "bottom left"}},
                           {name: '버튼', width: '80px', mobileHidden: true, tooltip: {title: "이메일 주소", content: "hong123@naver.com", link: "/pages/pages_7-2.html", arrow: "bottom left"}},
                           
                        ],
                        body: [
                           {label: 'uid', fomatter: (value, rowData, isMobile) => {
                              if(!isMobile) {
                                 return `<div class="form-check medium">
                                          <input type="checkbox" id="table2Radio${value}" name="table2Radio" onclick="alert('${value}')">
                                          <label for="table2Radio${value}"><span class="sr-only">선택</span></label>
                                       </div>`;
                              } else {
                                 return `<div class="form-check medium">
                                          <input type="checkbox" id="table2RadioM${value}" name="table2RadioM" onclick="alert('${value}')">
                                          <label for="table2RadioM${value}"><span class="sr-only">선택</span></label>
                                       </div>`;
                              }
                           }},
                           {label: 'key1'},
                           {label: 'key2', align: 'left', fomatter: ( value, rowData, isMobile ) => {                              
                              if(!isMobile)  return `<a href="/pages/pages_7-2.html#${rowData.uid}"><span  class="tb-title" title="${value}">${value}</span> <span class="new">새글</span></a>`;
                              else           return `<a href="/pages/pages_7-2.html#${rowData.uid}" title="${value}">${value}</a>`;                              
                           }},
                           {label: 'key3', fomatter: ( value, rowData, isMobile ) => {
                              return `<strong class="cl-1">${value}</strong>`;
                           }},
                           {label: 'key4', fomatter: ( value, rowData, isMobile ) => {
                              return `<strong class="cl-2">${value}</strong>`;
                           }},
                           {label: 'key5', fomatter: ( value, rowData, isMobile ) => {
                              return `<strong>${value}</strong>`;
                           }},
                           {label: 'key6', fomatter: ( value, rowData, isMobile ) => {
                              if(!isMobile)  return `<button type="button" class="btn ddddd tertiary small" data-modal-target="#modal1" data-ttt="${value}">${value}</button>`;
                              else           return `<button type="button" class="btn tertiary medium" onclick="location.href='/pages/pages_7-2.html#${rowData.uid}'">${value}</button>`;                              
                           }},
                        ]
                     });
                  });                  
               </script>

               <!-- 그리드 -->
               <div id="table" class="table wrap-grid-tbl">                  

                  <!-- 전체 목록 개수 및 목록 보기 개수 (안쓰는 경우 삭제) -->
                  <div class="board-top tbl-top">
                     <div class="left-box">
                        <strong class="tit top-txt">전체<strong></strong>개</strong>
                        <div class="top-txt">
                           <select class="form-select-sort large" title="정보 구분 선택"></select>
                        </div>                     
                     </div>                  
                  </div>
                  <!-- //전체 목록 개수 및 목록 보기 개수 -->

                  <!-- 게시판 -->
                  <div class="table-content wrap-check-tbl">                  
                     <div class="table-wrap pc"></div>
                     <div class="table-wrap mo wrap-20 no-data-hide"></div>
                  </div>
                  <!-- //게시판 -->

                  <!-- 페이지네이션 (안쓰는 경우 삭제) -->
                  <div class="pagination pagination-type1"></div>
                  <!-- //페이지네이션 -->

               </div>
               <!-- //그리드 -->


               <!-- 리스트 -->
               <div class="wrap-form-area">
                  <div class="inp-form wrap-50">
                     <ul>                                                                                                 
                        <li class="col1 txt-list">
                           <!-- 타이틀 툴팁 -->
                           <div class="tooltip-tit tit">
                              <div class="title">
                                 <strong>재발급 횟수</strong>
                                 <div class="contextual-help top right" data-ui="tooltip">                              
                                    <div class="tooltip-btn-area">                                 
                                       <button class="tooltip-ico" title="재발급 횟수 툴팁이 열립니다">재발급 횟수 도움말</button>
                                       <div class="tooltip-action">                  
                                          <div class="tooltip-popover">
                                          <strong class="tooltip-title">재발급 횟수</strong>
                                          <div class="tooltip-contents">
                                             <p>텍스트</p>
                                             <div class="btn-wrap">
                                                <a href="#;" class="btn link">바로가기</a>
                                             </div>
                                          </div>
                                          <button type="button" class="btn tooltip-close">
                                             <span class="sr-only">닫기</span>                        
                                          </button>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- 타이틀 툴팁 -->
                           <div class="inp-box">
                              <p class="txt">3회</p>
                           </div>                         
                        </li>
                        <li class="col2 txt-list">
                           <strong class="tit">일회용인증부호 발급알림</strong>
                           <div class="inp-box">
                              <p class="txt">동의함</p>
                           </div>                        
                        </li>                     
                        <li class="col2 txt-list">
                           <!-- 타이틀 툴팁 -->
                           <div class="tooltip-tit tit">
                              <div class="title">
                                 <strong>해외직구신고/신청 결과 알림</strong>
                                 <div class="contextual-help top right" data-ui="tooltip">                              
                                    <div class="tooltip-btn-area">                                 
                                       <button class="tooltip-ico" title="해외직구신고/신청 결과 알림 툴팁이 열립니다">일회용인증부호 발급알림 도움말</button>
                                       <div class="tooltip-action">                  
                                          <div class="tooltip-popover">
                                          <strong class="tooltip-title">재발급 횟수</strong>
                                          <div class="tooltip-contents">
                                             <p>텍스트</p>
                                             <div class="btn-wrap">
                                                <a href="#;" class="btn link">바로가기</a>
                                             </div>
                                          </div>
                                          <button type="button" class="btn tooltip-close">
                                             <span class="sr-only">닫기</span>                        
                                          </button>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- 타이틀 툴팁 -->
                           <div class="inp-box">
                              <p class="txt">동의함</p>
                           </div>                         
                        </li>                                         
                     </ul>                  
                  </div>
               </div>
               <!-- 리스트 -->

               

               
               











            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>