<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->            
         </div>
         <div class="cont-body">            
            <!-- 내용 -->
            <div class="cont-area">
               <script>
                  const data = {
                     "listLength": 5,
                     "data": [
                        {
                           "uid": "id-1",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        },
                        {
                           "uid": "id-2",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        },
                        {
                           "uid": "id-3",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        },
                        {
                           "uid": "id-4",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        },
                        {
                           "uid": "id-5",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        },
                        {
                           "uid": "id-6",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        },
                        {
                           "uid": "id-7",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        },
                        {
                           "uid": "id-8",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        },
                        {
                           "uid": "id-9",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        },
                        {
                           "uid": "id-10",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        },
                        {
                           "uid": "id-11",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        },
                        {
                           "uid": "id-12",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        }
                        
                     ]
                  }


                  
                  $(() => {
                     const table6titles = ['관세', '개별 소비세', '교통에너지환경세', '주세', '교육세', '농특세', '부가세', '신고지연가산세', '미신고가산세', '납기경과가산세', '세외수입금액', '환급 신청액합계'];

                     $("#table").table({
                        /*
                        apiPath: '/api/board6',
                        apiType: 'get',
                        */
                        data:data,
                        tableType: 'default',
                        useHashParam: false,
                        noLimit: true,
                        useResize: false,
                        scrollTop: false,
                        caption: '테이블제목 에 대한 표로 th1,th2,th3 구성되어있다.',
                        head: [
                           {name: '구분', width: '20%'},
                           {name: '기납부 금액(원)', width: '20%'},
                           {name: '기환급 금액(원)', width: '20%'},
                           {name: '환급신청 가능금액(원) <span>(기납부-기환급)</span>', width: '20%'},
                           {name: '환급 신청액(원)', width: '20%'},
                        ],
                        body: [
                           {label: 'key1', align: 'right'},
                           {label: 'key2', align: 'right'},
                           {label: 'key3', align: 'right'},                           
                           {label: 'key4', fomatter: ( value, rowData, isMobile ) => {                              
                              return `
                                 <div class="form-group medium">                     
                                    <div class="form-conts">                                       
                                       <input type="text" class="input text-right" placeholder="0" title="환급 신청액(원) 입력해주세요" value="${value}">
                                    </div>                                                   
                                 </div>
                              `;
                           }},
                        ],
                        headCreated: (pcElement, mobileElement, headData) => {
                           $(pcElement).addClass('line2');
                           $(pcElement).find('th').eq(0).attr('rowspan', 2);
                           const newHead = $(`<tr class="line2 tr-first"></tr>`);
                           newHead.append($(pcElement).find('th').eq(0)).append(`<th colspan="4">본세</th>`);
                           newHead.insertBefore($(pcElement));
                        },
                        rowCreated: ( pcElement, mobileElement, rowData, index) => {
                           $(`<th>${table6titles[index]}</th>`).insertBefore($(pcElement).find('td').eq(0));
                        },
                        created: (element, data, head, body) => {
                           $(element).find('table').removeClass('crud').addClass('cont');
                           $(element).find('.table-wrap.mo').remove();
                           $(element).find('.table-content').append(`
                              <div class="table-wrap mo">
                                 <strong class="modal-tit">본세</strong>
                                 <div class="cont-acc-tbl">
                                    <ul class="mo-cont-wrap"></ul>
                                 </div>
                              </div>
                           `);
                           data.forEach((data, i) => {
                              const list = $(`
                                 <li class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">                                             
                                    <div class="accordion-header">
                                       <a href="javascript: void(0);" class="accordion-btn" title="열기">
                                          <strong>${table6titles[i]}</strong>
                                          <i class="icon btn-arrow-down medium"></i>
                                       </a>
                                    </div>
                                    <div class="accordion-body d-none">
                                       <ul></ul>
                                    </div>                                             
                                 </li>
                              `);
                              $(element).find('.mo-cont-wrap').append(list);
                              head.slice(1).forEach((head, j) => {
                                 console.log(list)
                                 if(head.name !== '환급 신청액(원)') {
                                    list.find('.accordion-body ul').append(`
                                       <li>
                                          <strong class="acc-tit">${head.name}</strong>
                                          <p class="acc-txt">${data[body[j].label]}</p>
                                       </li>
                                    `);
                                 } else {
                                    list.find('.accordion-body ul').append(`                                       
                                       <li class="form-list dotted-line-top">
                                          <strong class="acc-tit">환급 신청액(원)</strong>
                                          <div class="form-group medium">                     
                                             <div class="form-conts">
                                                <input type="text" class="input text-right" placeholder="0" title="환급 신청액(원) 입력해주세요" value="${data[body[j].label]}">
                                             </div>                                                   
                                          </div>
                                       </li>
                                    `);
                                 }
                              });
                           });
                        }
                     });
                  });
               </script>

               <!-- tb html -->
               <div id="table" class="table wrap-grid-tbl">

                  <!-- 게시판 -->
                  <div class="table-content wrap-cont-tbl">                  
                     <div class="table-wrap pc"></div>
                  </div>
                  <!-- //게시판 -->

               </div>               
               <!-- tb html -->

               

               <div class="form-group">
                  <div class="form-tit-txt">
                     <strong>js</strong>
                  </div>
                  <div class="form-conts">
                     <div class="textarea-wrap">
                        <textarea class="input">
                           const data = {
                     "listLength": 5,
                     "data": [
                        {
                           "uid": "id-1",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        },
                        {
                           "uid": "id-2",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        },
                        {
                           "uid": "id-3",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        },
                        {
                           "uid": "id-4",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        },
                        {
                           "uid": "id-5",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        },
                        {
                           "uid": "id-6",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        },
                        {
                           "uid": "id-7",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        },
                        {
                           "uid": "id-8",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        },
                        {
                           "uid": "id-9",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        },
                        {
                           "uid": "id-10",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        },
                        {
                           "uid": "id-11",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        },
                        {
                           "uid": "id-12",
                           "key1": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key2": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key3": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),
                           "key4": String(parseInt(Math.random() * 10000000)).replace(/\B(?=(\d{3})+(?!\d))/g, ","),                           
                        }
                        
                     ]
                  }


                  
                  $(() => {
                     const table6titles = ['관세', '개별 소비세', '교통에너지환경세', '주세', '교육세', '농특세', '부가세', '신고지연가산세', '미신고가산세', '납기경과가산세', '세외수입금액', '환급 신청액합계'];

                     $("#table").table({
                        /*
                        apiPath: '/api/board6',
                        apiType: 'get',
                        */
                        data:data,
                        tableType: 'default',
                        useHashParam: false,
                        noLimit: true,
                        useResize: false,
                        scrollTop: false,
                        caption: '테이블제목 에 대한 표로 th1,th2,th3 구성되어있다.',
                        head: [
                           {name: '구분', width: '20%'},
                           {name: '기납부 금액(원)', width: '20%'},
                           {name: '기환급 금액(원)', width: '20%'},
                           {name: '환급신청 가능금액(원) <span>(기납부-기환급)</span>', width: '20%'},
                           {name: '환급 신청액(원)', width: '20%'},
                        ],
                        body: [
                           {label: 'key1', align: 'right'},
                           {label: 'key2', align: 'right'},
                           {label: 'key3', align: 'right'},                           
                           {label: 'key4', fomatter: ( value, rowData, isMobile ) => {                              
                              return `
                                 <div class="form-group medium">                     
                                    <div class="form-conts">                                       
                                       <input type="text" class="input text-right" placeholder="0" title="환급 신청액(원) 입력해주세요" value="${value}">
                                    </div>                                                   
                                 </div>
                              `;
                           }},
                        ],
                        headCreated: (pcElement, mobileElement, headData) => {
                           $(pcElement).addClass('line2');
                           $(pcElement).find('th').eq(0).attr('rowspan', 2);
                           const newHead = $(`<tr class="line2 tr-first"></tr>`);
                           newHead.append($(pcElement).find('th').eq(0)).append(`<th colspan="4">본세</th>`);
                           newHead.insertBefore($(pcElement));
                        },
                        rowCreated: ( pcElement, mobileElement, rowData, index) => {
                           $(`<th>${table6titles[index]}</th>`).insertBefore($(pcElement).find('td').eq(0));
                        },
                        created: (element, data, head, body) => {
                           $(element).find('table').removeClass('crud').addClass('cont');
                           $(element).find('.table-wrap.mo').remove();
                           $(element).find('.table-content').append(`
                              <div class="table-wrap mo">
                                 <strong class="modal-tit">본세</strong>
                                 <div class="cont-acc-tbl">
                                    <ul class="mo-cont-wrap"></ul>
                                 </div>
                              </div>
                           `);
                           data.forEach((data, i) => {
                              const list = $(`
                                 <li class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">                                             
                                    <div class="accordion-header">
                                       <a href="javascript: void(0);" class="accordion-btn" title="열기">
                                          <strong>${table6titles[i]}</strong>
                                          <i class="icon btn-arrow-down medium"></i>
                                       </a>
                                    </div>
                                    <div class="accordion-body d-none">
                                       <ul></ul>
                                    </div>                                             
                                 </li>
                              `);
                              $(element).find('.mo-cont-wrap').append(list);
                              head.slice(1).forEach((head, j) => {
                                 console.log(list)
                                 if(head.name !== '환급 신청액(원)') {
                                    list.find('.accordion-body ul').append(`
                                       <li>
                                          <strong class="acc-tit">${head.name}</strong>
                                          <p class="acc-txt">${data[body[j].label]}</p>
                                       </li>
                                    `);
                                 } else {
                                    list.find('.accordion-body ul').append(`                                       
                                       <li class="form-list dotted-line-top">
                                          <strong class="acc-tit">환급 신청액(원)</strong>
                                          <div class="form-group medium">                     
                                             <div class="form-conts">
                                                <input type="text" class="input text-right" placeholder="0" title="환급 신청액(원) 입력해주세요" value="${data[body[j].label]}">
                                             </div>                                                   
                                          </div>
                                       </li>
                                    `);
                                 }
                              });
                           });
                        }
                     });
                  });
                        </textarea>  
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <div class="form-tit-txt">
                     <strong>html</strong>
                  </div>
                  <div class="form-conts">
                     <div class="textarea-wrap">
                        <textarea class="input">
                           <div id="table" class="table wrap-grid-tbl">

                  <!-- 게시판 -->
                  <div class="table-content wrap-cont-tbl">                  
                     <div class="table-wrap pc"></div>
                  </div>
                  <!-- //게시판 -->

               </div>
                        </textarea>                        
                     </div>
                  </div>
               </div>











            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>