<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->            
         </div>
         <div class="cont-body">            
            <!-- 내용 -->
            <div class="cont-area">
               <script>
                  const data = {
                     "page": 1,
                     "limit": 10,
                     "limitList": [10, 20, 30],
                     "listLength": 500,
                     "totalPages": 10,
                     "pagingCount": 5,
                     "data": [
                        {                           
                              "key1": '식품/의약품_녹차1',                                                      
                              "key2": "33,334원",
                              "key3": '17,999원',
                              "key4": '40',
                              "key5": '0',
                              "key6": '0',
                              "key7": '0',
                              "key8": '0',
                              "key9": '4,666원',                              
                              "key10": '행삭제1'
                        },
                        {                           
                              "key1": '식품/의약품_녹차2',                                                      
                              "key2": "33,334원",
                              "key3": '17,999원',
                              "key4": '40',
                              "key5": '0',
                              "key6": '0',
                              "key7": '0',
                              "key8": '0',
                              "key9": '4,666원',                              
                              "key10": '행삭제2'
                        },
                        {                           
                              "key1": '식품/의약품_녹차3',                                                      
                              "key2": "33,334원",
                              "key3": '17,999원',
                              "key4": '40',
                              "key5": '0',
                              "key6": '0',
                              "key7": '0',
                              "key8": '0',
                              "key9": '4,666원',                              
                              "key10": '행삭제3'
                        },
                        {                           
                              "key1": '식품/의약품_녹차4',                                                      
                              "key2": "33,334원",
                              "key3": '17,999원',
                              "key4": '40',
                              "key5": '0',
                              "key6": '0',
                              "key7": '0',
                              "key8": '0',
                              "key9": '4,666원',                              
                              "key10": '행삭제4'
                        },
                        {                           
                              "key1": '식품/의약품_녹차5',                                                      
                              "key2": "33,334원",
                              "key3": '17,999원',
                              "key4": '40',
                              "key5": '0',
                              "key6": '0',
                              "key7": '0',
                              "key8": '0',
                              "key9": '4,666원',                              
                              "key10": '행삭제5'
                        },                                                                 
                        {                           
                              "key1": '식품/의약품_녹차6',                                                      
                              "key2": "33,334원",
                              "key3": '17,999원',
                              "key4": '40',
                              "key5": '0',
                              "key6": '0',
                              "key7": '0',
                              "key8": '0',
                              "key9": '4,666원',                              
                              "key10": '행삭제6'
                        },
                     ]
                  }


                  $(() => {
                     $("#table").table({
                        //apiPath: '/api/board2',
                        //apiType: 'get',
                        data: data,
                        tableType: 'default',
                        useHashParam: false,
                        noLimit: false,
                        useResize: true,
                        scrollTop: true,
                        caption: '테이블제목 에 대한 표로 th1,th2,th3 구성되어있다.',
                        nodata: true,
                        nodataMsg: '데이터없음',
                        head: [
                           {name: '물품명', width: '14.84375%'},
                           {name: '구입가', width: '10.9375%'},
                           {name: '총 세액 <strong class="tax-amount">ⓐ+ⓑ+ⓒ+ⓓ+ⓔ</strong>', width: '12%'},
                           {name: '관세율(%)', width: '7.8125%'},
                           {name: '관세(원) <strong class="tax-amount">ⓐ</strong>', width: '7.8125%'},
                           {name: '개별소비세(원) <strong class="tax-amount">ⓑ</strong>', width: '10%'},
                           {name: '주세(원) <strong class="tax-amount">ⓒ</strong>', width: '7.8125%'},
                           {name: '교육세(원) <strong class="tax-amount">ⓓ</strong>', width: '7.8125%'},
                           {name: '부가세(원) <strong class="tax-amount">ⓔ</strong>', width: '7.8125%'},
                           {name: '선택취소', width: '14.84375%',mobileHidden: true},                           
                        ],
                        body: [            
                           {label: 'key1'},
                           {label: 'key2'},
                           {label: 'key3'},
                           {label: 'key4'},
                           {label: 'key5'},
                           {label: 'key6'},
                           {label: 'key7'},
                           {label: 'key8'},
                           {label: 'key9'},
                           {label: 'key10', fomatter: ( value, rowData, isMobile ) => {
                              if(!isMobile)  return `<button type="button" class="btn tertiary small btn-row-delete" data-ttt="${value}">${value}</button>`;
                              else           return `<button type="button" class="btn tertiary medium btn-row-delete" data-ttt="${value}">${value}</button>`;                              
                           }}
                        ],
                        created: (element, data, head, body) => {                          

                           //pc
                           $(element).find('.table-wrap.pc tbody').append(`
                              <tr class="sum-row">
                                 <td>합계</td>
                                 <td>-</td>
                                 <td>-</td>
                                 <td>-</td>
                                 <td>-</td>
                                 <td>-</td>
                                 <td>-</td>
                                 <td>-</td>
                                 <td>-</td>
                                 <td>-</td>
                              </tr>
                           `);
                           

                           //mo
                           $(element).find('.table-wrap.mo').prepend(`
                              <ul class="wrap-body top-body">
                                 <li>
                                    <ul class="body">                              
                                       <li class="dotted-line-bottom">
                                          <strong class="title">합계</strong>                                 
                                       </li>                                                                                                                    
                                       <li>
                                          <strong class="title">구입가</strong>
                                          <span class="txt">50,000원</span>
                                       </li>                                                                                                                    
                                       <li>
                                          <strong class="title">총세액</strong>
                                          <span class="txt">5,000원</span>
                                       </li>                                                                                                                    
                                    </ul>
                                 </li>                                                                                                                                                                                                                 
                              </ul>
                           `);                           
                        },
                     });        
                  });     
                  
                  
                  // PC + 모바일 행 삭제
                  $(document).on('click', '.btn-row-delete', function () {
                     const $btn = $(this);

                     // PC 데이터 row (합계 제외)
                     const $pcRows = $('.table-wrap.pc tbody tr').not(':last');

                     // 모바일 데이터 row (top-body 제외)
                     const $moBody = $('.table-wrap.mo .wrap-body').not('.top-body');
                     const $moRows = $moBody.children('li');

                     // PC에서 삭제 클릭
                     if ($btn.closest('tr').length) {
                        const $tr = $btn.closest('tr');
                        const index = $pcRows.index($tr);
                        
                        $tr.remove();                           
                        $moRows.eq(index).remove(); //모바일도 삭제

                        return;                        
                     }

                     // 모바일에서 삭제 클릭
                     if ($btn.closest('.table-wrap.mo .wrap-body > li').length) {
                        const $li = $btn.closest('.table-wrap.mo .wrap-body > li');
                        const index = $moRows.index($li);

                        $li.remove();
                        $pcRows.eq(index).remove(); //pc도 삭제
                     }
                  });

                  // pc + 모바일 행 추가
                  $(document).on('click', '.btn-row-add', function () {                     
                     const $btn = $(this);

                     // PC 데이터 row (합계 제외)
                     const $pcRows = $('.table-wrap.pc tbody')

                     // 모바일 데이터 row (top-body 제외)
                     const $moBody = $('.table-wrap.mo .wrap-body').not('.top-body');                     

                     const pcHtml = `
                        <tr>
                            <td class="">식품/의약품_녹차6</td>                        
                            <td class="">33,334원</td>                        
                            <td class="">17,999원</td>                        
                            <td class="">40</td>                        
                            <td class="">0</td>                        
                            <td class="">0</td>                        
                            <td class="">0</td>                        
                            <td class="">0</td>                        
                            <td class="">4,666원</td>                        
                            <td class=""><button type="button" class="btn tertiary small btn-row-delete" data-ttt="행삭제6">행삭제6</button></td>
                        </tr>
                     `

                     const moHtml = `
                        <li>
                           <ul class="body">
                              <li><strong class="title">물품명</strong><span class="txt">식품/의약품_녹차1</span></li>                            
                              <li><strong class="title">구입가</strong><span class="txt">33,334원</span></li>                            
                              <li><strong class="title">총 세액 <strong class="tax-amount">ⓐ+ⓑ+ⓒ+ⓓ+ⓔ</strong></strong><span class="txt">17,999원</span></li>                            
                              <li><strong class="title">관세율(%)</strong><span class="txt">40</span></li>                            
                              <li><strong class="title">관세(원) <strong class="tax-amount">ⓐ</strong></strong><span class="txt">0</span></li>                            
                              <li><strong class="title">개별소비세(원) <strong class="tax-amount">ⓑ</strong></strong><span class="txt">0</span></li>                            
                              <li><strong class="title">주세(원) <strong class="tax-amount">ⓒ</strong></strong><span class="txt">0</span></li>                            
                              <li><strong class="title">교육세(원) <strong class="tax-amount">ⓓ</strong></strong><span class="txt">0</span></li>                            
                              <li><strong class="title">부가세(원) <strong class="tax-amount">ⓔ</strong></strong><span class="txt">4,666원</span></li>                            
                              <li><button type="button" class="btn tertiary medium btn-row-delete" data-ttt="행삭제6">행삭제6</button></li>  
                           </ul>
                        </li>
                     `
                     $pcRows.find('.sum-row').before(pcHtml)
                     $moBody.append(moHtml)                        
                  });
                  

               </script>       

               <!-- 그리드 -->
               <div id="table" class="table wrap-grid-tbl">    
                  
                  <button type="button" class="btn primary medium btn-row-add">입력한 예상세액(조회)추가</button>

                  <!-- 전체 목록 개수 및 목록 보기 개수 (안쓰는 경우 삭제) -->
                  <div class="board-top tbl-top">
                     <div class="left-box">
                        <strong class="tit top-txt">전체<strong></strong>개</strong>
                        <div class="top-txt">
                           <select class="form-select-sort large" title="정보 구분 선택"></select>
                        </div>                     
                     </div>                  
                  </div>
                  <!-- //전체 목록 개수 및 목록 보기 개수 -->

                  <!-- 게시판 -->
                  <div class="table-content wrap-check-tbl">                  
                     <div class="table-wrap pc"></div>
                     <div class="table-wrap mo"></div>
                  </div>
                  <!-- //게시판 -->

                  <!-- 페이지네이션 (안쓰는 경우 삭제) -->
                  <!-- <div class="pagination pagination-type1"></div> -->
                  <!-- //페이지네이션 -->

               </div>
               <!-- //그리드 -->

               

               
               











            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>
