<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap" class="login">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->                 
         </div>
         <div class="cont-body">            
            <!-- 내용 -->
            <div class="cont-area">
               <script>
                  const data = {
                     "page": 1,
                     "limit": 10,
                     "limitList": [10, 20, 30],
                     "listLength": 500,
                     "totalPages": 10,
                     "pagingCount": 5,
                     "data": [
                        {
                           "uid": "id-1",
                           "no": 1,
                           "date": "2020-12-21",
                           "key1": "1234123412-1234567891010",
                           "key2": "Abc123456789 외 1건0",
                           "key3": "판매자명이들어갑니다0",
                           "key4": "/pages/pages_7-2.html",
                           "key5": "조회0"
                        },
                        {
                           "uid": "id-2",
                           "no": 2,
                           "date": "2021-10-09",
                           "key1": "1234123412-1234567891011",
                           "key2": "Abc123456789 외 1건1",
                           "key3": "판매자명이들어갑니다1",
                           "key4": "/pages/pages_7-2.html",
                           "key5": "조회1"
                        },
                        {
                           "uid": "id-3",
                           "no": 3,
                           "date": "2023-08-05",
                           "key1": "1234123412-1234567891012",
                           "key2": "Abc123456789 외 1건2",
                           "key3": "판매자명이들어갑니다2",
                           "key4": "/pages/pages_7-2.html",
                           "key5": "조회2"
                        },
                        {
                           "uid": "id-4",
                           "no": 4,
                           "date": "2023-04-14",
                           "key1": "1234123412-1234567891013",
                           "key2": "Abc123456789 외 1건3",
                           "key3": "판매자명이들어갑니다3",
                           "key4": "/pages/pages_7-2.html",
                           "key5": "조회3"
                        },
                        {
                           "uid": "id-5",
                           "no": 5,
                           "date": "2023-02-07",
                           "key1": "1234123412-1234567891014",
                           "key2": "Abc123456789 외 1건4",
                           "key3": "판매자명이들어갑니다4",
                           "key4": "/pages/pages_7-2.html",
                           "key5": "조회4"
                        },
                        {
                           "uid": "id-6",
                           "no": 6,
                           "date": "2023-04-14",
                           "key1": "1234123412-1234567891015",
                           "key2": "Abc123456789 외 1건5",
                           "key3": "판매자명이들어갑니다5",
                           "key4": "/pages/pages_7-2.html",
                           "key5": "조회5"
                        },
                        {
                           "uid": "id-7",
                           "no": 7,
                           "date": "2021-04-03",
                           "key1": "1234123412-1234567891016",
                           "key2": "Abc123456789 외 1건6",
                           "key3": "판매자명이들어갑니다6",
                           "key4": "/pages/pages_7-2.html",
                           "key5": "조회6"
                        },
                        {
                           "uid": "id-8",
                           "no": 8,
                           "date": "2023-01-23",
                           "key1": "1234123412-1234567891017",
                           "key2": "Abc123456789 외 1건7",
                           "key3": "판매자명이들어갑니다7",
                           "key4": "/pages/pages_7-2.html",
                           "key5": "조회7"
                        },
                        {
                           "uid": "id-9",
                           "no": 9,
                           "date": "2020-04-27",
                           "key1": "1234123412-1234567891018",
                           "key2": "Abc123456789 외 1건8",
                           "key3": "판매자명이들어갑니다8",
                           "key4": "/pages/pages_7-2.html",
                           "key5": "조회8"
                        },
                        {
                           "uid": "id-10",
                           "no": 10,
                           "date": "2020-09-28",
                           "key1": "1234123412-1234567891019",
                           "key2": "Abc123456789 외 1건9",
                           "key3": "판매자명이들어갑니다9",
                           "key4": "/pages/pages_7-2.html",
                           "key5": "조회9"
                        }                        
                     ]
                  }


                  $(() => {
                     $("#table").table({
                        //apiPath: '/api/board1',
                        //apiType: 'get',
                        data: data,
                        tableType: 'crud',
                        useHashParam: true,
                        noLimit: false,
                        useResize: true,
                        scrollTop: true,
                        caption: '테이블제목 에 대한 표로 th1,th2,th3 구성되어있다.',
                        nodata: true,
                        nodataMsg: '데이터없음',
                        head: [
                           {name: 'NO', width: '80px'},
                           {name: '신고일자', width: '131px', sort: true},
                           {name: '운송장번호(H.B/L)', width: '22.7031%'},
                           {name: '주문번호', width: '18.4062%', tooltip: {title: "이메일 주소", content: "hong123@naver.com", link: "/pages/pages_7-2.html", arrow: "bottom left"}},
                           {name: '판매자명', width: '19.8437%'},
                           {name: '물품명', width: '6.8437%'},
                           {name: '처리상태', width: '12.5%', mobileHidden: true}
                        ],
                        body: [
                           {label: 'no'},
                           {label: 'date'},
                           {label: 'key1', fomatter: (value, rowData, isMobile) => {
                              return `<a class="cl-7" href="/pages/pages_7-2.html#${rowData.uid}">${value}</a>`;
                           }},
                           {label: 'key2'},
                           {label: 'key3', align: 'right'},
                           {label: 'key4', fomatter: ( value, rowData, isMobile ) => {
                              return `<a href="${value}"><i class="icon download large"></i></a>`;
                           }},
                           {label: 'key5', fomatter: ( value, rowData, isMobile ) => {
                              if(!isMobile)  return `<button type="button" class="btn tertiary small" onclick="location.href='/pages/pages_7-2.html#${rowData.uid}'">${value}</button>`;
                              else           return `<button type="button" class="btn tertiary medium" onclick="location.href='/pages/pages_7-2.html#${rowData.uid}'">${value}</button>`;
                           }},
                        ]
                     });

                     // 체크된 목록 가져오기
                     $("#getUid").on('click', () => {
                        $("#table").table('getCheckData', (checkDatas) => {
                           alert(checkDatas.map(x => x.uid));
                        });                        
                     });
                  });                  
               </script>

               <!-- 그리드 -->
               <div id="table" class="table wrap-grid-tbl">

                  <!-- 전체 목록 개수 및 목록 보기 개수 (안쓰는 경우 삭제) -->
                  <div class="board-top tbl-top mt-50">
                     <div class="left-box">
                        <strong class="tit top-txt">전체<strong></strong>개</strong>
                        <div class="top-txt">
                           <select class="form-select-sort large" title="정보 구분 선택"></select>
                        </div>                     
                     </div>  
                     <div class="right-box">
                        <button type="button" id="getUid" class="btn primary medium">체크된 목록 data 가져오기</button>
                     </div>                
                  </div>
                  <!-- //전체 목록 개수 및 목록 보기 개수 -->

                  <!-- 게시판 -->
                  <div class="table-content wrap-crud-tbl mt-20">                  
                     <div class="table-wrap pc"></div>
                     <div class="table-wrap mo"></div>
                  </div>
                  <!-- //게시판 -->

                  <!-- 페이지네이션 (안쓰는 경우 삭제) -->
                  <div class="pagination pagination-type1"></div>
                  <!-- //페이지네이션 -->

               </div>
               <!-- //그리드 -->


               <div class="form-group">
                  <div class="form-tit-txt">
                     <strong>js</strong>
                  </div>
                  <div class="form-conts">
                     <div class="textarea-wrap">
                        <textarea class="input">
                           const data = {
                     "page": 1,
                     "limit": 10,
                     "limitList": [10, 20, 30],
                     "listLength": 500,
                     "totalPages": 10,
                     "pagingCount": 5,
                     "data": [
                        {
                           "uid": "id-1",
                           "no": 1,
                           "date": "2020-12-21",
                           "key1": "1234123412-1234567891010",
                           "key2": "Abc123456789 외 1건0",
                           "key3": "판매자명이들어갑니다0",
                           "key4": "/pages/pages_7-2.html",
                           "key5": "조회0"
                        },
                        {
                           "uid": "id-2",
                           "no": 2,
                           "date": "2021-10-09",
                           "key1": "1234123412-1234567891011",
                           "key2": "Abc123456789 외 1건1",
                           "key3": "판매자명이들어갑니다1",
                           "key4": "/pages/pages_7-2.html",
                           "key5": "조회1"
                        },
                        {
                           "uid": "id-3",
                           "no": 3,
                           "date": "2023-08-05",
                           "key1": "1234123412-1234567891012",
                           "key2": "Abc123456789 외 1건2",
                           "key3": "판매자명이들어갑니다2",
                           "key4": "/pages/pages_7-2.html",
                           "key5": "조회2"
                        },
                        {
                           "uid": "id-4",
                           "no": 4,
                           "date": "2023-04-14",
                           "key1": "1234123412-1234567891013",
                           "key2": "Abc123456789 외 1건3",
                           "key3": "판매자명이들어갑니다3",
                           "key4": "/pages/pages_7-2.html",
                           "key5": "조회3"
                        },
                        {
                           "uid": "id-5",
                           "no": 5,
                           "date": "2023-02-07",
                           "key1": "1234123412-1234567891014",
                           "key2": "Abc123456789 외 1건4",
                           "key3": "판매자명이들어갑니다4",
                           "key4": "/pages/pages_7-2.html",
                           "key5": "조회4"
                        },
                        {
                           "uid": "id-6",
                           "no": 6,
                           "date": "2023-04-14",
                           "key1": "1234123412-1234567891015",
                           "key2": "Abc123456789 외 1건5",
                           "key3": "판매자명이들어갑니다5",
                           "key4": "/pages/pages_7-2.html",
                           "key5": "조회5"
                        },
                        {
                           "uid": "id-7",
                           "no": 7,
                           "date": "2021-04-03",
                           "key1": "1234123412-1234567891016",
                           "key2": "Abc123456789 외 1건6",
                           "key3": "판매자명이들어갑니다6",
                           "key4": "/pages/pages_7-2.html",
                           "key5": "조회6"
                        },
                        {
                           "uid": "id-8",
                           "no": 8,
                           "date": "2023-01-23",
                           "key1": "1234123412-1234567891017",
                           "key2": "Abc123456789 외 1건7",
                           "key3": "판매자명이들어갑니다7",
                           "key4": "/pages/pages_7-2.html",
                           "key5": "조회7"
                        },
                        {
                           "uid": "id-9",
                           "no": 9,
                           "date": "2020-04-27",
                           "key1": "1234123412-1234567891018",
                           "key2": "Abc123456789 외 1건8",
                           "key3": "판매자명이들어갑니다8",
                           "key4": "/pages/pages_7-2.html",
                           "key5": "조회8"
                        },
                        {
                           "uid": "id-10",
                           "no": 10,
                           "date": "2020-09-28",
                           "key1": "1234123412-1234567891019",
                           "key2": "Abc123456789 외 1건9",
                           "key3": "판매자명이들어갑니다9",
                           "key4": "/pages/pages_7-2.html",
                           "key5": "조회9"
                        }                        
                     ]
                  }


                  $(() => {
                     $("#table").table({
                        // apiPath: '/api/board1',
                        // apiType: 'get',
                        data: data,
                        tableType: 'crud',
                        useHashParam: true,
                        noLimit: false,
                        useResize: true,
                        scrollTop: true,
                        caption: '테이블제목 에 대한 표로 th1,th2,th3 구성되어있다.',
                        nodata: true,
                        nodataMsg: '데이터없음',
                        head: [
                           {name: 'NO', width: '80px'},
                           {name: '신고일자', width: '131px', sort: true},
                           {name: '운송장번호(H.B/L)', width: '22.7031%'},
                           {name: '주문번호', width: '18.4062%', tooltip: {title: "이메일 주소", content: "hong123@naver.com", link: "/pages/pages_7-2.html", arrow: "bottom left"}},
                           {name: '판매자명', width: '19.8437%'},
                           {name: '물품명', width: '6.8437%'},
                           {name: '처리상태', width: '12.5%', mobileHidden: true}
                        ],
                        body: [
                           {label: 'no'},
                           {label: 'date'},
                           {label: 'key1', fomatter: (value, rowData, isMobile) => {
                              return `<a class="cl-7" href="/pages/pages_7-2.html#${rowData.uid}">${value}</a>`;
                           }},
                           {label: 'key2'},
                           {label: 'key3', align: 'right'},
                           {label: 'key4', fomatter: ( value, rowData, isMobile ) => {
                              return `<a href="${value}"><i class="icon download large"></i></a>`;
                           }},
                           {label: 'key5', fomatter: ( value, rowData, isMobile ) => {
                              if(!isMobile)  return `<button type="button" class="btn tertiary small" onclick="location.href='/pages/pages_7-2.html#${rowData.uid}'">${value}</button>`;
                              else           return `<button type="button" class="btn tertiary medium" onclick="location.href='/pages/pages_7-2.html#${rowData.uid}'">${value}</button>`;
                           }},
                        ]
                     });

                     // 체크된 목록 가져오기
                     $("#getUid").on('click', () => {
                        $("#table").table('getCheckData', (checkDatas) => {
                           alert(checkDatas.map(x => x.uid));
                        });                        
                     });
                  });
                        </textarea>  
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <div class="form-tit-txt">
                     <strong>html</strong>
                  </div>
                  <div class="form-conts">
                     <div class="textarea-wrap">
                        <textarea class="input">
                           <div id="table" class="table wrap-grid-tbl">

                  <!-- 전체 목록 개수 및 목록 보기 개수 (안쓰는 경우 삭제) -->
                  <div class="board-top tbl-top mt-50">
                     <div class="left-box">
                        <strong class="tit top-txt">전체<strong></strong>개</strong>
                        <div class="top-txt">
                           <select class="form-select-sort large" title="정보 구분 선택"></select>
                        </div>                     
                     </div>  
                     <div class="right-box">
                        <button type="button" id="getUid" class="btn primary medium">체크된 목록 data 가져오기</button>
                     </div>                
                  </div>
                  <!-- //전체 목록 개수 및 목록 보기 개수 -->

                  <!-- 게시판 -->
                  <div class="table-content wrap-crud-tbl mt-20">                  
                     <div class="table-wrap pc"></div>
                     <div class="table-wrap mo"></div>
                  </div>
                  <!-- //게시판 -->

                  <!-- 페이지네이션 (안쓰는 경우 삭제) -->
                  <div class="pagination pagination-type1"></div>
                  <!-- //페이지네이션 -->

               </div>
                        </textarea>  
                     </div>
                  </div>
               </div>




               
               
             








            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>