<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <!-- 휴대폰 인증페이지 -->
   <div id="wrap" class="login aut-pages">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
            <h3 class="head-tit sr-only">빈텍스트</h3>            
            <h4 class="sr-only">빈텍스트</h4>
         </div>
         <div class="cont-body">            
            <!-- 내용 -->
            <div class="cont-area">
               <div class="wrap-login">  
                  <h5 class="title-type3">휴대폰 인증</h5>                           
                  <div class="wrap-form-area">
                     <div class="inp-form">
                        <ul>                                       
                           <li class="col1 list1">
                              <label for="ex1" class="tit">이름 <i class="compulsory">필수</i></label>
                              <div class="inp-box">
                                 <div class="form-group medium">                     
                                    <div class="form-conts">
                                       <input type="text" id="ex1" class="input" value="홍길동" title="이름을 입력해주세요">
                                    </div>                           
                                 </div>
                              </div>  
                           </li>  
                           <li class="col1 list2">
                              <label for="ex2" class="tit">주민등록번호 <i class="compulsory">필수</i></label>
                              <div class="inp-box nowrap-list">
                                 <div class="form-group medium">                     
                                    <div class="form-conts">
                                       <input type="text" class="input" id="ex2" value="991231" title="주민등록번호 앞자리를 입력해주세요">
                                    </div>                           
                                 </div>   
                                 <i class="hy">-</i>
                                 <div class="form-group medium">                     
                                    <div class="form-conts">                                    
                                       <input type="text" class="input" title="주민등록번호 뒷자리를 입력해주세요" data-ui="hidden-input" value="1234567" data-props="showNum: 1;numberOnly: true">
                                    </div>                           
                                 </div>   
                              </div>
                              <div class="form-check medium">
                                 <input type="checkbox" id="chk1">
                                 <label for="chk1">가상키패드 사용</label>
                              </div>
                              <div class="txt-box-type type2">                              
                                 <ul class="top-list-box"> 
                                    <li>외국인의 경우 외국인등록번호를 입력해주세요.</li>                     
                                    <li>관세법시행령 제289조에 따라 주민등록번호 수집이 가능합니다.</li>
                                 </ul>
                              </div>
                           </li>  
                           <li class="col1 list1">
                              <label for="ex1" class="tit">휴대폰 번호 <i class="compulsory">필수</i></label>
                              <div class="inp-box nowrap-list-type1">
                                 <div class="form-group medium mw-116">                  
                                    <div class="form-conts">
                                       <select class="form-select" id="ex4" required="" title="첫번쨰 번호를 확인해주세요">
                                          <option value="" disabled="" hidden="">없음</option>
                                          <option value="010" selected="">010</option>                                 
                                       </select>
                                    </div>                           
                                 </div>
                                 <i class="hy">-</i>
                                 <div class="form-group medium mw-116">                     
                                    <div class="form-conts">
                                       <input type="text" class="input" value="1234" title="두번째 번호를 확인해주세요">
                                    </div>                           
                                 </div>     
                                 <i class="hy">-</i>
                                 <div class="form-group medium mw-116">                     
                                    <div class="form-conts">
                                    <input type="text" class="input" value="1234" title="세번째 번호를 확인해주세요">
                                    </div>                          
                                 </div>   
                              </div>
                           </li>   
                           <li class="col1 list3">
                              <label for="ex21" class="tit">자동입력방지코드 <i class="compulsory">필수</i></label>
                              <div class="inp-box">
                                 <div class="box1">
                                    <div class="captcha-box">                
                                       <img id="captchaImg" alt="자동입력방지코드" src="../assets/image/captchaImg.png">
                                    </div>          
                                    <button type="button" class="btn text medium">초기화 <i class="icon refresh medium"></i></button>
                                    <button type="button" class="btn text medium">음성 <i class="icon voice medium"></i></button>                                                           
                                 </div>
                                 <div class="form-group medium">                     
                                    <div class="form-conts">
                                       <input type="text" class="input" value="123456" title="자동입력방지코드를 입력해주세요" placeholder="자동입력방지코드">
                                    </div>                                          
                                 </div>                                 
                              </div>
                           </li>                   
                        </ul>                  
                     </div>   
                  </div>     
                  <div class="btn-area btn-end">
                     <div class="align">                        
                        <button type="button" class="btn primary large">인증번호 전송</button>                   
                     </div>
                  </div>      
               </div>

               <!-- 팝업 사용후 삭제해주세요 -->
               <div class="testtest">
                  <!-- 인증 성공 -->
                  <button type="button" data-modal-target="#modal1" style="width:100%;height:50px;margin-bottom:20px">인증 성공</button>
                  <div id="modal1" class="modal type1 d-none" data-ui="modal">
                     <div class="modal-wrap mw-400">
                        <div class="modal-header">
                           <h5>인증 성공</h5>                     
                        </div>
                        <div class="modal-body" tabindex="0">
                           <div class="modal-cont">
                              <p class="txt-type">휴대폰 인증이 완료되었습니다</p>
                           </div>                           
                        </div>
                        <div class="modal-footer">                              
                              <button type="button" class="btn modal-enter primary medium">확인</button>
                        </div>
                     </div>
                  </div>                  
                  <!-- 인증 성공 -->


                  <!-- 개인통관고유부호 신규발급 인증 -->
                  <button type="button" data-modal-target="#modal2" style="width:100%;height:50px;margin-bottom:20px">개인통관고유부호 신규발급 인증</button>
                  <div id="modal2" class="modal type1 d-none" data-ui="modal">
                     <div class="modal-wrap mw-760">
                        <div class="modal-header">
                           <h5>개인통관고유부호 신규발급 인증</h5>                     
                        </div>
                        <div class="modal-body wrap-login" tabindex="0">
                           <ul class="certification-list">
                              <li>
                                 <a href="#none" class="list1">
                                    <strong class="tit">간편인증</strong>
                                    <p class="txt">네이버, 카카오, 금융기관 등의 민간 전자서명 사업자가 제공하는 전자서명으로 로그인하기</p>
                                 </a>
                              </li>
                              <li>
                                 <a href="#none" class="list2">
                                    <strong class="tit">공동 인증서</strong>
                                    <p class="txt">공동인증서(구 공인인증서)는 개인용 컴퓨터 또는 USB, 스마트폰에 보관되어 있는 인증서를 이용하여 로그인하기</p>
                                 </a>
                              </li>
                              <li>
                                 <a href="#none" class="list3">
                                    <strong class="tit">금융 인증서</strong>
                                    <p class="txt">은행 앱 또는 인터넷뱅킹 사이트에서 발급한 금융결제원의 인증서로 로그인하기</p>
                                 </a>
                              </li>
                              <li>
                                 <a href="#none" class="list4">
                                    <strong class="tit">휴대폰 인증</strong>
                                    <p class="txt">성명, 주민등록번호, 휴대폰 번호를 이용하여 로그인하기</p>
                                 </a>
                              </li>                    
                           </ul>                                                            
                        </div>                        
                     </div>
                  </div>
                  <!-- 개인통관고유부호 신규발급 인증 -->


                  <!-- 실명 확인 -->
                  <button type="button" data-modal-target="#modal3" style="width:100%;height:50px;margin-bottom:20px">실명 확인</button>
                  <div id="modal3" class="modal type1 d-none" data-ui="modal">
                     <div class="modal-wrap aut-pages mw-400">
                        <div class="modal-header">
                           <h5>실명 확인</h5>                     
                        </div>
                        <div class="modal-body content-wrap" tabindex="0">
                           <div class="wrap-login">                                
                              <div class="wrap-form-area">
                                 <div class="inp-form">
                                    <ul>                                       
                                       <li class="col1 list1">
                                          <label for="ex11" class="tit">이름 <i class="compulsory">필수</i></label>
                                          <div class="inp-box">
                                             <div class="form-group medium">                     
                                                <div class="form-conts">
                                                   <input type="text" id="ex11" class="input" value="홍길동" title="이름을 입력해주세요">
                                                </div>                           
                                             </div>
                                          </div>  
                                       </li>  
                                       <li class="col1 list2">
                                          <label for="ex22" class="tit">주민등록번호 <i class="compulsory">필수</i></label>
                                          <div class="inp-box nowrap-list">
                                             <div class="form-group medium">                     
                                                <div class="form-conts">
                                                   <input type="text" class="input" id="ex22" value="991231" title="주민등록번호 앞자리를 입력해주세요">
                                                </div>                           
                                             </div>   
                                             <i class="hy">-</i>
                                             <div class="form-group medium">                     
                                                <div class="form-conts">                                    
                                                   <input type="text" class="input" title="주민등록번호 뒷자리를 입력해주세요" data-ui="hidden-input" value="1234567" data-props="showNum: 1;numberOnly: true">
                                                </div>                           
                                             </div>   
                                          </div>
                                          <div class="form-check medium">
                                             <input type="checkbox" id="chk11">
                                             <label for="chk11">가상키패드 사용</label>
                                          </div>
                                          <div class="txt-box-type type2">                              
                                             <ul class="top-list-box"> 
                                                <li>외국인의 경우 외국인등록번호를 입력해주세요.</li>                     
                                                <li>관세법시행령 제289조에 따라 주민등록번호 수집이 가능합니다.</li>
                                             </ul>
                                          </div>
                                       </li>                                         
                                       <li class="col1 list3">
                                          <label for="ex211" class="tit">자동입력방지코드 <i class="compulsory">필수</i></label>
                                          <div class="inp-box">
                                             <div class="box1">
                                                <div class="captcha-box">                
                                                   <img id="captchaImg" alt="자동입력방지코드" src="../assets/image/captchaImg.png">
                                                </div>          
                                                <button type="button" class="btn text medium">초기화 <i class="icon refresh medium"></i></button>
                                                <button type="button" class="btn text medium">음성 <i class="icon voice medium"></i></button>                                                           
                                             </div>
                                             <div class="form-group medium">                     
                                                <div class="form-conts">
                                                   <input type="text" class="input" value="123456" title="자동입력방지코드를 입력해주세요" placeholder="자동입력방지코드">
                                                </div>                                          
                                             </div>                                 
                                          </div>
                                       </li>                   
                                    </ul>                  
                                 </div>   
                              </div>     
                              <div class="btn-area btn-end">
                                 <div class="align">                        
                                    <button type="button" class="btn primary large">인증번호 전송</button>                   
                                 </div>
                              </div>      
                           </div>                                                           
                        </div>                        
                     </div>
                  </div>
                  <!-- 실명 확인 -->

                  <!-- 인증서 등록 -->
                  <button type="button" data-modal-target="#modal4" style="width:100%;height:50px;margin-bottom:20px">인증서 등록</button>
                  <div id="modal4" class="modal type1 d-none" data-ui="modal">
                     <div class="modal-wrap mw-760">
                        <div class="modal-header">
                           <h5>인증서 등록</h5>                     
                        </div>
                        <div class="modal-body wrap-login" tabindex="0">
                           <ul class="certification-list">                              
                              <li>
                                 <a href="#none" class="list2">
                                    <strong class="tit">공동 인증서</strong>
                                    <p class="txt">공동인증서(구 공인인증서)는 개인용 컴퓨터 또는 USB, 스마트폰에 보관되어 있는 인증서를 이용하여 로그인하기</p>
                                 </a>
                              </li>
                              <li>
                                 <a href="#none" class="list3">
                                    <strong class="tit">금융 인증서</strong>
                                    <p class="txt">은행 앱 또는 인터넷뱅킹 사이트에서 발급한 금융결제원의 인증서로 로그인하기</p>
                                 </a>
                              </li>                              
                           </ul>                                                            
                        </div>                        
                     </div>
                  </div>
                  <!-- 인증서 등록 -->

                  <!-- 개인통관고유부호 일회용 인증번호 조회 -->
                  <button type="button" class="btn primary large" data-modal-target="#modal5">개인통관고유부호 일회용 인증번호 조회[신규]</button>
                  <div id="modal5" class="modal d-none" data-ui="modal">
                     <div class="modal-wrap mw-390">
                        <div class="modal-header">
                           <h5>개인통관고유부호 일회용 인증번호 조회</h5>                     
                        </div>
                        <div class="modal-body" tabindex="0">
                           <div class="modal-cont">
                              <div class="txt-box-type">
                                 <ul>
                                    <li><strong class="w-110">알림 동의자 성명</strong><p class="ml-16">홍*동</p></li>
                                    <li><strong class="w-110">알림 동의자 성명</strong><p class="ml-16">홍*동</p></li>
                                 </ul>
                              </div>
                              <h5 class="title-type3 mt-32">기본 정보</h5>
                              <div class="wrap-check-tbl">
                                 <div class="table-wrap mopc mo">                     
                                    <ul class="wrap-body">
                                       <li>
                                          <ul class="body">                              
                                             <li>
                                                <strong class="title w-100 minw-100">요청 사이버 몰</strong>
                                                <span class="txt">알리 익스프레스</span>
                                             </li>
                                             <li>
                                                <strong class="title w-100 minw-100">일시</strong>
                                                <span class="txt">2025년 11월 03일 09:05</span>
                                             </li>                                                                    
                                          </ul>
                                       </li>                                                                                                                                                                             
                                    </ul>
                                 </div>
                              </div>
                              <div class="btn-area btn-end">
                                 <div class="align">
                                    <button type="button" class="btn text medium"><i class="icon refresh medium"></i> 새로고침</button>
                                 </div>
                              </div>
                           </div>                           
                        </div>
                        <div class="modal-footer">
                           <div class="btn-area btn-between">
                              <div class="align">
                                 <button type="button" class="btn tertiary medium">이전으로</button>
                                 
                              </div>
                              <div class="align">
                                 <button type="button" class="btn primary medium">버튼</button>
                                 <button type="button" class="btn primary medium">버튼</button>
                                 <button type="button" class="btn primary medium">버튼</button>
                              </div>
                           </div>
                              
                              <button type="button" class="btn tertiary medium">다음으로</button>
                        </div>
                     </div>
                  </div>
                  <!-- // 개인통관고유부호 일회용 인증번호 조회 -->






               </div>
               <!-- 팝업 사용후 삭제해주세요 -->


            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>