<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
      <div class="content-wrap">
         <div class="cont-head">
            <div class="head-util">
               <nav class="breadcrumb-wrap" id="breadcrumb">
                  <ol class="breadcrumb">
                     <li class="home"><a href="#" class="txt" title="홈으로 바로가기">홈</a></li>
                     <li><span class="txt">고객센터</span></li>                     
                     <li class="last-li"><a href="#" class="txt" title="현재페이지">자주찾는 질문</a></li>                  
                  </ol>
               </nav>
               <div class="language-area">
                  <div class="form-toggle-switch language-switch">
                     <input type="radio" id="kr" name="language" checked>
                     <label for="kr" class="kr">한글</label>
                     <input type="radio" id="en" name="language">
                     <label for="en" class="en">English</label>
                  </div>
               </div>
            </div>
            <h3 class="head-tit">자주찾는 질문(FAQ)</h3>            
         </div>
         <div class="cont-body">
            <div class="accordion">
               <a href="#none">
                  <strong>자주 묻는 질문 활용 방법 안내</strong>
                  <span class="accordion-drop-down"><i class="sr-only">자주 묻는 질문 활용 방법 안내 열기</i><i class="icon btn-arrow-down medium"></i></span>
               </a>
            </div>
            <!-- 내용 -->
            <div class="cont-area">
               <div class="wrap-crud-tbl">                  
                  <div class="table-wrap pc">
                     <table class="tbl col crud">
                        <caption>개인통관고유부호 도용신고에 대한 표로 NO,신고일자,운송장번호(H.B/L),주문번호,판매자명,물품명,처리상태으로 구성되어있다.</caption>
                        <colgroup>
                              <col style="width: 52px;">                      
                              <col style="width: 80px;">                      
                              <col style="width: 131px;">                      
                              <col style="width: 20.7031%;">                      
                              <col style="width: 16.4062%;">                      
                              <col style="width: 14.8437%;">                      
                              <col style="width: 14.8437%;">                      
                              <col style="width: 12.5%;">                      
                        </colgroup>
                        <thead>
                              <tr>
                                 <th scope="col">
                                    <div class="form-check medium">
                                       <input type="checkbox" id="all-chk">
                                       <label for="all-chk"><span class="sr-only">전체선택</span></label>
                                    </div>
                                 </th>                                 
                                 <th scope="col"><span class="arr-ico">No <button class="th-turn"><i class="sr-only">내림차순</i></button></span></th>
                                 <th scope="col"><span class="arr-ico">신고일자 <button class="th-turn"><i class="sr-only">내림차순</i></button></span></th>                                 
                                 <th scope="col">운송장번호(H.B/L)</th>                                 
                                 <th scope="col">주문번호</th>                                 
                                 <th scope="col">판매자명</th>                                 
                                 <th scope="col">물품명</th>                                 
                                 <th scope="col">처리상태</th>                                                                                                
                              </tr>
                        </thead>
                        <tbody>
                              <tr>
                                 <td>
                                    <div class="form-check medium">
                                       <input type="checkbox" id="chk1">
                                       <label for="chk1"><span class="sr-only">선택</span></label>
                                    </div>
                                 </td>                                 
                                 <td>999</td>                                 
                                 <td>2025-12-05</td>                                 
                                 <td>1234123412-123456789101</td>                                 
                                 <td>Abc123456789 외 1건</td>                                 
                                 <td>판매자명이들어갑니다</td>                                 
                                 <td>물품명이들어갑니다다</td>                                 
                                 <td>반출완료</td>                                                                                            
                              </tr>
                        </tbody>
                     </table>
                  </div>

                  <div class="table-wrap mo">
                     <div class="header">
                        <div class="form-check medium">
                              <input type="checkbox" id="m-all-chk">
                              <label for="m-all-chk">전체선택</label>
                           </div>
                     </div>
                     <ul class="wrap-body">
                        <li>
                           <ul class="body">
                              <li>
                                 <div class="title">
                                    <div class="form-check medium">
                                       <input type="checkbox" id="m-chk1">
                                       <label for="m-chk1"><span class="sr-only">선택</span></label>
                                    </div>
                                 </div>                                 
                              </li>
                              <li>
                                 <strong class="title">NO</strong>
                                 <span class="txt">999</span>
                              </li>                              
                              <li>
                                 <strong class="title">신고일자</strong>
                                 <span class="txt">2025-12-05</span>
                              </li>                              
                              <li>
                                 <strong class="title">운송장번호(H.B/L)</strong>
                                 <span class="txt">1234123412-123456789101</span>
                              </li>                              
                              <li>
                                 <strong class="title">주문번호</strong>
                                 <span class="txt">Abc123456789 외 1건</span>
                              </li>                              
                              <li>
                                 <strong class="title">판매자명</strong>
                                 <span class="txt">판매자명이들어갑니다</span>
                              </li>                              
                              <li>
                                 <strong class="title">물품명</strong>
                                 <span class="txt">물품명이들어갑니다다</span>
                              </li>                              
                              <li>
                                 <strong class="title">처리상태</strong>
                                 <span class="txt">반출완료</span>
                              </li>                              
                           </ul>
                        </li>  
                        <li>
                           <ul class="body">
                              <li>
                                 <div class="title">
                                    <div class="form-check medium">
                                       <input type="checkbox" id="m-chk2">
                                       <label for="m-chk2"><span class="sr-only">선택</span></label>
                                    </div>
                                 </div>                                 
                              </li>
                              <li>
                                 <strong class="title">NO</strong>
                                 <span class="txt">999</span>
                              </li>                              
                              <li>
                                 <strong class="title">신고일자</strong>
                                 <span class="txt">2025-12-05</span>
                              </li>                              
                              <li>
                                 <strong class="title">운송장번호(H.B/L)</strong>
                                 <span class="txt">1234123412-123456789101</span>
                              </li>                              
                              <li>
                                 <strong class="title">주문번호</strong>
                                 <span class="txt">Abc123456789 외 1건</span>
                              </li>                              
                              <li>
                                 <strong class="title">판매자명</strong>
                                 <span class="txt">판매자명이들어갑니다</span>
                              </li>                              
                              <li>
                                 <strong class="title">물품명</strong>
                                 <span class="txt">물품명이들어갑니다다</span>
                              </li>                              
                              <li>
                                 <strong class="title">처리상태</strong>
                                 <span class="txt">반출완료</span>
                              </li>                              
                           </ul>
                        </li>                                                            
                     </ul>
                  </div>
               </div>
               



            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>