<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
      <div class="content-wrap">
         <div class="cont-head">
            <div class="head-util">
               <nav class="breadcrumb-wrap" id="breadcrumb">
                  <ol class="breadcrumb">
                     <li class="home"><a href="#" class="txt" title="홈으로 바로가기">홈</a></li>
                     <li><span class="txt">해외직구 현황</span></li>                     
                     <li class="last-li"><a href="#" class="txt" title="현재페이지">년도별 전자상거래 물품 수입통관 현황</a></li>                  
                  </ol>
               </nav>               
            </div>
            <h3 class="head-tit">년도별 전자상거래 물품 수입통관 현황</h3>            
         </div>
         <div class="cont-body">
            <div class="accordion">
               <a href="#none">
                  <strong>년도별 전자상거래 물품 수입통관 현황이란?</strong>
                  <span class="accordion-drop-down"><i class="sr-only">년도별 전자상거래 물품 수입통관 현황이란? 열기</i><i class="icon btn-arrow-down medium"></i></span>
               </a>
            </div>
            <!-- 내용 -->
            <div class="cont-area">
               <div class="tabmenu tabmenu-line1" data-ui="tabmenu" data-props="">
                  <button class="tab-menu">금액</button>
                  <button class="tab-menu active" title="선택됨">건수</button>                  
               </div>               
               <div class="wrap-graph">
                  <strong class="title-type font-2">년도별 전자상거래 물품 수입통관 현황 (건수)</strong>
                  <div class="graph-box">
                     그래프 영역
                  </div>
               </div>
               <p class="advice-txt type1">실제 통계데이터와 약간의 오차가 있을 수 있습니다.</p>               
               




            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>