<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
      <div class="content-wrap">
         <div class="cont-head">
            <div class="head-util">
               <nav class="breadcrumb-wrap" id="breadcrumb">
                  <ol class="breadcrumb">
                     <li class="home"><a href="#" class="txt" title="홈으로 바로가기">홈</a></li>
                     <li><span class="txt">해외직구 납부·고지·환급</span></li>                     
                     <li><span class="txt">관세환급</span></li>   
                     <li class="last-li"><a href="#" class="txt" title="현재페이지">관세환급 신청 결과 조회</a></li>                  
                  </ol>
               </nav>               
            </div>
            <h3 class="head-tit">환급신청 처리결과 상세조회</h3>            
         </div>
         <div class="cont-body">
            <div class="accordion">
               <a href="#none">
                  <strong>전자상거래 관세 환급신청 처리결과 절차 안내</strong>
                  <span class="accordion-drop-down"><i class="sr-only">전자상거래 관세 환급신청 처리결과 절차 안내 열기</i><i class="icon btn-arrow-down medium"></i></span>
               </a>
            </div>
            <!-- 내용 -->
            <div class="cont-area">
               <div class="tabmenu tabmenu-line1" data-ui="tabmenu" data-props="">
                  <button class="tab-menu">기본정보</button>
                  <button class="tab-menu">물품정보</button>
                  <button class="tab-menu active" title="선택됨">환급세액</button>
                  <button class="tab-menu">제출서류</button>                  
               </div>  
               <h5 class="title-type3">환급신청액 합계</h5>
               <div class="wrap-form-area">
                  <div class="inp-form">
                     <ul>                                                                             
                        <li class="col2 txt-list">
                           <strong class="tit">환급신청액 합계</strong>
                           <div class="inp-box">
                              <p class="txt">145,0.60 원</p>
                           </div>                        
                        </li>                                                                                                                                            
                     </ul>                  
                  </div>
               </div>
               <p class="advice-txt">파일은 종류별 최대 20개 200MB로 제한됩니다.</p>
               <h5 class="title-type3">환급신청 상세목록</h5>
               <div class="wrap-check-tbl">
                  <div class="table-wrap pc">
                     <table class="tbl col check">
                        <caption>환급신청 상세목록 표로 선택,환급신청 란번호,수입신고번호,수입신고 란번호,환급신청수량,신청액 합계 구성되어있다.</caption>
                        <colgroup>
                           <col style="width: 58px;">                           
                           <col span="5" style="width: 20%;">                                                                        
                        </colgroup>
                        <thead>
                           <tr>                                                
                              <th scope="col">선택</th>
                              <th scope="col">환급신청 란번호</th>
                              <th scope="col">수입신고번호</th>
                              <th scope="col">수입신고 란번호</th>
                              <th scope="col">환급신청수량</th>
                              <th scope="col">신청액 합계</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>
                                 <div class="form-check medium">
                                    <input type="radio" id="d" name="e">
                                    <label for="d"><span class="sr-only">선택</span></label>
                                 </div>
                              </td>
                              <td>001</td>                              
                              <td>434124231M</td>                              
                              <td>001</td>                              
                              <td>1</td>                              
                              <td>145,0.60</td>                              
                           </tr>                                                                                                                                    
                        </tbody>
                     </table>
                  </div>
                  <div class="table-wrap mobile">                     
                     <ul class="wrap-body">
                        <li>
                           <ul class="body">                              
                              <li>
                                 <div class="form-check medium">
                                    <input type="radio" id="chk1" name="e">
                                    <label for="chk1"><span class="sr-only">선택</span></label>
                                 </div>
                              </li>
                              <li>
                                 <strong class="title">환급신청 란번호</strong>
                                 <span class="txt">001</span>
                              </li>
                              <li>
                                 <strong class="title">수입신고번호</strong>
                                 <span class="txt">434124231M</span>
                              </li>
                              <li>
                                 <strong class="title">수입신고 란번호</strong>
                                 <span class="txt">001</span>
                              </li>
                              <li>
                                 <strong class="title">환급신청수량</strong>
                                 <span class="txt">1</span>
                              </li>
                              <li>
                                 <strong class="title">신청액 합계</strong>
                                 <span class="txt">145,0.60</span>
                              </li>
                              
                           </ul>
                        </li>       
                        <li>
                           <ul class="body">                              
                              <li>
                                 <div class="form-check medium">
                                    <input type="radio" id="chk2" name="e">
                                    <label for="chk2"><span class="sr-only">선택</span></label>
                                 </div>
                              </li>
                              <li>
                                 <strong class="title">환급신청 란번호</strong>
                                 <span class="txt">001</span>
                              </li>
                              <li>
                                 <strong class="title">수입신고번호</strong>
                                 <span class="txt">434124231M</span>
                              </li>
                              <li>
                                 <strong class="title">수입신고 란번호</strong>
                                 <span class="txt">001</span>
                              </li>
                              <li>
                                 <strong class="title">환급신청수량</strong>
                                 <span class="txt">1</span>
                              </li>
                              <li>
                                 <strong class="title">신청액 합계</strong>
                                 <span class="txt">145,0.60</span>
                              </li>
                              
                           </ul>
                        </li>                         
                     </ul>
                  </div>
               </div>

               <h5 class="title-type3">환급신청 세액정보</h5>
               <div class="wrap-cont-tbl">
                  <div class="table-wrap pc">
                     <table class="tbl col cont">
                        <caption>환급세액정보에 대한 표로 구분,본세,기납부 금액(원),기환급 금액(원),환급신청 가능금액(원)(기납부-기환급),환급 신청액(원),관세,개별 소비세,교통에너지환경세,주세,교육세,농특세,부가세,신고지연가산세,미신고가산세,납기경과가산세,세외수입금액,환급 신청액합계 구성되어있다.</caption>
                        <colgroup>
                           <col style="width: 20%;">                     
                           <col style="width: 20%;">                     
                           <col style="width: 20%;">                     
                           <col style="width: 20%;">                     
                           <col style="width: 20%;">                     
                        </colgroup>
                        <thead>                                          
                           <tr class="line2 tr-first">                                                
                              <th scope="col" rowspan="2">구분</th>                                                                     
                              <th scope="col" colspan="4">본세</th>                                                                     
                           </tr>
                           <tr class="line2">                                                
                              <th scope="col">기납부 금액(원)</th>                                                                     
                              <th scope="col">기환급 금액(원)</th>                                                                     
                              <th scope="col">환급신청 가능금액(원) <span>(기납부-기환급)</span></th>                                                                     
                              <th scope="col">환급 신청액(원)</th>                                                                     
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <th scope="col">관세</th>
                              <td>0</td>
                              <td>0</td>
                              <td>145,060</td>
                              <td>145,060</td>
                           </tr>                                            
                           <tr>
                              <th scope="col">개별 소비세</th>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                           </tr>                                            
                           <tr>
                              <th scope="col">교통에너지환경세</th>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                           </tr>                                            
                           <tr>
                              <th scope="col">주세</th>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                           </tr>                                            
                           <tr>
                              <th scope="col">교육세</th>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                           </tr>                                            
                           <tr>
                              <th scope="col">농특세</th>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                           </tr>                                            
                           <tr>
                              <th scope="col">부가세</th>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                           </tr>                                            
                           <tr>
                              <th scope="col">신고지연가산세</th>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                           </tr>                                            
                           <tr>
                              <th scope="col">미신고가산세</th>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                           </tr>                                            
                           <tr>
                              <th scope="col">납기경과가산세</th>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                           </tr>                                            
                           <tr>
                              <th scope="col">세외수입금액</th>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                           </tr>                                            
                           <tr>
                              <th scope="col">환급 신청액합계</th>
                              <td>340,900</td>
                              <td>0</td>
                              <td>340,900</td>
                              <td>0</td>
                           </tr>                                            
                        </tbody>
                     </table>

                     <table class="tbl col cont">
                        <caption>환급세액정보에 대한 표로 구분,본세,기납부 금액(원),기환급 금액(원),환급신청 가능금액(원)(기납부-기환급),환급 신청액(원),관세,개별 소비세,교통에너지환경세,주세,교육세,농특세,부가세 구성되어있다.</caption>
                        <colgroup>
                           <col style="width: 20%;">                     
                           <col style="width: 20%;">                     
                           <col style="width: 20%;">                     
                           <col style="width: 20%;">                     
                           <col style="width: 20%;">                     
                        </colgroup>
                        <thead>                                          
                           <tr class="line2 tr-first">                                                
                              <th scope="col" rowspan="2">구분</th>                                                                     
                              <th scope="col" colspan="4">가산세</th>                                                                     
                           </tr>
                           <tr class="line2">                                                
                              <th scope="col">기납부 금액(원)</th>                                                                     
                              <th scope="col">기환급 금액(원)</th>                                                                     
                              <th scope="col">환급신청 가능금액(원) <span>(기납부-기환급)</span></th>                                                                     
                              <th scope="col">환급 신청액(원)</th>                                                                     
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <th scope="col">관세</th>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                           </tr>                                            
                           <tr>
                              <th scope="col">개별 소비세</th>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                           </tr>                                            
                           <tr>
                              <th scope="col">교통에너지환경세</th>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                           </tr>                                            
                           <tr>
                              <th scope="col">주세</th>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                           </tr>                                            
                           <tr>
                              <th scope="col">교육세</th>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                           </tr>                                            
                           <tr>
                              <th scope="col">농특세</th>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                           </tr>                                            
                           <tr>
                              <th scope="col">부가세</th>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                           </tr>                                                                                                                                                          
                        </tbody>
                     </table>
                  </div>

                  

                  <div class="table-wrap mobile">
                     <strong class="modal-tit">본세</strong>
                     <div class="cont-acc-tbl">                                                                              
                        <ul class="mo-cont-wrap">  
                           <li class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">                                             
                              <div class="accordion-header">
                                 <a href="javascript: void(0);">
                                    <p>관세</p>
                                    <i class="icon btn-arrow-down medium">열기</i>
                                 </a>
                              </div>
                              <div class="accordion-body d-none">
                                 <ul>
                                    <li>
                                       <p class="txt">기납부 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">0</p>
                                    </li>
                                    <li>
                                       <p class="txt">환급신청 가능금액(원) <span>(기납부-기환급)</span></p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                 </ul>
                              </div>                                             
                           </li>
                           <li class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">                                             
                              <div class="accordion-header">
                                 <a href="javascript: void(0);">
                                    <p>개별 소비세</p>
                                    <i class="icon btn-arrow-down medium">열기</i>
                                 </a>
                              </div>
                              <div class="accordion-body d-none">
                                 <ul>
                                    <li>
                                       <p class="txt">기납부 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">0</p>
                                    </li>
                                    <li>
                                       <p class="txt">환급신청 가능금액(원) <span>(기납부-기환급)</span></p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                 </ul>
                              </div>                                             
                           </li>
                           <li class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">                                             
                              <div class="accordion-header">
                                 <a href="javascript: void(0);">
                                    <p>교통에너지환경세</p>  
                                    <i class="icon btn-arrow-down medium">열기</i>
                                 </a>
                              </div>
                              <div class="accordion-body d-none">
                                 <ul>
                                    <li>
                                       <p class="txt">기납부 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">0</p>
                                    </li>
                                    <li>
                                       <p class="txt">환급신청 가능금액(원) <span>(기납부-기환급)</span></p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                 </ul>
                              </div>                                             
                           </li>
                           <li class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">                                             
                              <div class="accordion-header">
                                 <a href="javascript: void(0);">
                                    <p>주세</p>  
                                    <i class="icon btn-arrow-down medium">열기</i>
                                 </a>
                              </div>
                              <div class="accordion-body d-none">
                                 <ul>
                                    <li>
                                       <p class="txt">기납부 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">0</p>
                                    </li>
                                    <li>
                                       <p class="txt">환급신청 가능금액(원) <span>(기납부-기환급)</span></p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                 </ul>
                              </div>                                             
                           </li>
                           <li class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">                                             
                              <div class="accordion-header">
                                 <a href="javascript: void(0);">
                                    <p>교육세</p>  
                                    <i class="icon btn-arrow-down medium">열기</i>
                                 </a>
                              </div>
                              <div class="accordion-body d-none">
                                 <ul>
                                    <li>
                                       <p class="txt">기납부 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">0</p>
                                    </li>
                                    <li>
                                       <p class="txt">환급신청 가능금액(원) <span>(기납부-기환급)</span></p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                 </ul>
                              </div>                                             
                           </li>
                           <li class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">                                             
                              <div class="accordion-header">
                                 <a href="javascript: void(0);">
                                    <p>농특세</p>  
                                    <i class="icon btn-arrow-down medium">열기</i>
                                 </a>
                              </div>
                              <div class="accordion-body d-none">
                                 <ul>
                                    <li>
                                       <p class="txt">기납부 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">0</p>
                                    </li>
                                    <li>
                                       <p class="txt">환급신청 가능금액(원) <span>(기납부-기환급)</span></p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                 </ul>
                              </div>                                             
                           </li>
                           <li class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">                                             
                              <div class="accordion-header">
                                 <a href="javascript: void(0);">
                                    <p>부가세</p>  
                                    <i class="icon btn-arrow-down medium">열기</i>
                                 </a>
                              </div>
                              <div class="accordion-body d-none">
                                 <ul>
                                    <li>
                                       <p class="txt">기납부 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">0</p>
                                    </li>
                                    <li>
                                       <p class="txt">환급신청 가능금액(원) <span>(기납부-기환급)</span></p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                 </ul>
                              </div>                                             
                           </li>
                           <li class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">                                             
                              <div class="accordion-header">
                                 <a href="javascript: void(0);">
                                    <p>신고지연가산세</p>  
                                    <i class="icon btn-arrow-down medium">열기</i>
                                 </a>
                              </div>
                              <div class="accordion-body d-none">
                                 <ul>
                                    <li>
                                       <p class="txt">기납부 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">0</p>
                                    </li>
                                    <li>
                                       <p class="txt">환급신청 가능금액(원) <span>(기납부-기환급)</span></p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                 </ul>
                              </div>                                             
                           </li>
                           <li class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">                                             
                              <div class="accordion-header">
                                 <a href="javascript: void(0);">
                                    <p>미신고가산세</p>  
                                    <i class="icon btn-arrow-down medium">열기</i>
                                 </a>
                              </div>
                              <div class="accordion-body d-none">
                                 <ul>
                                    <li>
                                       <p class="txt">기납부 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">0</p>
                                    </li>
                                    <li>
                                       <p class="txt">환급신청 가능금액(원) <span>(기납부-기환급)</span></p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                 </ul>
                              </div>                                             
                           </li>
                           <li class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">                                             
                              <div class="accordion-header">
                                 <a href="javascript: void(0);">
                                    <p>납기경과가산세</p>  
                                    <i class="icon btn-arrow-down medium">열기</i>
                                 </a>
                              </div>
                              <div class="accordion-body d-none">
                                 <ul>
                                    <li>
                                       <p class="txt">기납부 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">0</p>
                                    </li>
                                    <li>
                                       <p class="txt">환급신청 가능금액(원) <span>(기납부-기환급)</span></p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                 </ul>
                              </div>                                             
                           </li>
                           <li class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">                                             
                              <div class="accordion-header">
                                 <a href="javascript: void(0);">
                                    <p>세외수입금액</p>  
                                    <i class="icon btn-arrow-down medium">열기</i>
                                 </a>
                              </div>
                              <div class="accordion-body d-none">
                                 <ul>
                                    <li>
                                       <p class="txt">기납부 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">0</p>
                                    </li>
                                    <li>
                                       <p class="txt">환급신청 가능금액(원) <span>(기납부-기환급)</span></p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                 </ul>
                              </div>                                             
                           </li>
                           <li class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">                                             
                              <div class="accordion-header">
                                 <a href="javascript: void(0);">
                                    <p>환급 신청액합계</p>  
                                    <i class="icon btn-arrow-down medium">열기</i>
                                 </a>
                              </div>
                              <div class="accordion-body d-none">
                                 <ul>
                                    <li>
                                       <p class="txt">기납부 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">0</p>
                                    </li>
                                    <li>
                                       <p class="txt">환급신청 가능금액(원) <span>(기납부-기환급)</span></p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                 </ul>
                              </div>                                             
                           </li>
                        </ul>                                          
                     </div>                                    

                     <strong class="modal-tit">가산세</strong>
                     <div class="cont-acc-tbl">                                                                              
                        <ul class="mo-cont-wrap">  
                           <li class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">                                             
                              <div class="accordion-header">
                                 <a href="javascript: void(0);">
                                    <p>관세</p>
                                    <i class="icon btn-arrow-down medium">열기</i>
                                 </a>
                              </div>
                              <div class="accordion-body d-none">
                                 <ul>
                                    <li>
                                       <p class="txt">기납부 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">0</p>
                                    </li>
                                    <li>
                                       <p class="txt">환급신청 가능금액(원) <span>(기납부-기환급)</span></p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                 </ul>
                              </div>                                             
                           </li>
                           <li class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">                                             
                              <div class="accordion-header">
                                 <a href="javascript: void(0);">
                                    <p>개별 소비세</p>
                                    <i class="icon btn-arrow-down medium">열기</i>
                                 </a>
                              </div>
                              <div class="accordion-body d-none">
                                 <ul>
                                    <li>
                                       <p class="txt">기납부 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">0</p>
                                    </li>
                                    <li>
                                       <p class="txt">환급신청 가능금액(원) <span>(기납부-기환급)</span></p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                 </ul>
                              </div>                                             
                           </li>
                           <li class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">                                             
                              <div class="accordion-header">
                                 <a href="javascript: void(0);">
                                    <p>교통에너지환경세</p>  
                                    <i class="icon btn-arrow-down medium">열기</i>
                                 </a>
                              </div>
                              <div class="accordion-body d-none">
                                 <ul>
                                    <li>
                                       <p class="txt">기납부 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">0</p>
                                    </li>
                                    <li>
                                       <p class="txt">환급신청 가능금액(원) <span>(기납부-기환급)</span></p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                 </ul>
                              </div>                                             
                           </li>
                           <li class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">                                             
                              <div class="accordion-header">
                                 <a href="javascript: void(0);">
                                    <p>주세</p>  
                                    <i class="icon btn-arrow-down medium">열기</i>
                                 </a>
                              </div>
                              <div class="accordion-body d-none">
                                 <ul>
                                    <li>
                                       <p class="txt">기납부 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">0</p>
                                    </li>
                                    <li>
                                       <p class="txt">환급신청 가능금액(원) <span>(기납부-기환급)</span></p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                 </ul>
                              </div>                                             
                           </li>
                           <li class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">                                             
                              <div class="accordion-header">
                                 <a href="javascript: void(0);">
                                    <p>교육세</p>  
                                    <i class="icon btn-arrow-down medium">열기</i>
                                 </a>
                              </div>
                              <div class="accordion-body d-none">
                                 <ul>
                                    <li>
                                       <p class="txt">기납부 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">0</p>
                                    </li>
                                    <li>
                                       <p class="txt">환급신청 가능금액(원) <span>(기납부-기환급)</span></p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                 </ul>
                              </div>                                             
                           </li>
                           <li class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">                                             
                              <div class="accordion-header">
                                 <a href="javascript: void(0);">
                                    <p>농특세</p>  
                                    <i class="icon btn-arrow-down medium">열기</i>
                                 </a>
                              </div>
                              <div class="accordion-body d-none">
                                 <ul>
                                    <li>
                                       <p class="txt">기납부 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">0</p>
                                    </li>
                                    <li>
                                       <p class="txt">환급신청 가능금액(원) <span>(기납부-기환급)</span></p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                 </ul>
                              </div>                                             
                           </li>
                           <li class="accordion-wrap" data-ui="accordion" data-props="beforeClose: true;">                                             
                              <div class="accordion-header">
                                 <a href="javascript: void(0);">
                                    <p>부가세</p>  
                                    <i class="icon btn-arrow-down medium">열기</i>
                                 </a>
                              </div>
                              <div class="accordion-body d-none">
                                 <ul>
                                    <li>
                                       <p class="txt">기납부 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">0</p>
                                    </li>
                                    <li>
                                       <p class="txt">환급신청 가능금액(원) <span>(기납부-기환급)</span></p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                    <li>
                                       <p class="txt">기환급 금액(원)</p>
                                       <p class="txt-area">145,0.60</p>
                                    </li>
                                 </ul>
                              </div>                                             
                           </li>                                          
                        </ul>                                          
                     </div>                                    
                  </div>
               </div>

               <div class="btn-area btn-end">
                  <div class="align">                                          
                     <button type="button" class="btn tertiary medium">환급통지서 출력</button>
                     <button type="button" class="btn tertiary medium">보완서류 등록</button>
                  </div>
               </div>
               


            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>