<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
      <div class="content-wrap">
         <div class="cont-head">
            <div class="head-util">
               <nav class="breadcrumb-wrap" id="breadcrumb">
                  <ol class="breadcrumb">
                     <li class="home"><a href="#" class="txt" title="홈으로 바로가기">홈</a></li>
                     <li><span class="txt">해외직구 납부·고지·환급</span></li>                     
                     <li><span class="txt">관세환급</span></li>   
                     <li class="last-li"><a href="#" class="txt" title="현재페이지">관세환급 신청 결과 조회</a></li>                  
                  </ol>
               </nav>               
            </div>
            <h3 class="head-tit">환급신청 처리결과 상세조회</h3>            
         </div>
         <div class="cont-body">
            <div class="accordion">
               <a href="#none">
                  <strong>전자상거래 관세 환급신청 처리결과 절차 안내</strong>
                  <span class="accordion-drop-down"><i class="sr-only">전자상거래 관세 환급신청 처리결과 절차 안내 열기</i><i class="icon btn-arrow-down medium"></i></span>
               </a>
            </div>
            <!-- 내용 -->
            <div class="cont-area">
               <div class="tabmenu tabmenu-line1" data-ui="tabmenu" data-props="">
                  <button class="tab-menu">기본정보</button>
                  <button class="tab-menu">물품정보</button>
                  <button class="tab-menu active" title="선택됨">환급세액</button>
                  <button class="tab-menu">제출서류</button>                  
               </div>  
               <h5 class="title-type3">환급신청액 합계</h5>
               <div class="wrap-form-area">
                  <div class="inp-form">
                     <ul>                                                                             
                        <li class="col2 txt-list">
                           <strong class="tit">환급신청액 합계</strong>
                           <div class="inp-box">
                              <p class="txt">145,0.60 원</p>
                           </div>                        
                        </li>                                                                                                                                            
                     </ul>                  
                  </div>
               </div>
               <p class="advice-txt">파일은 종류별 최대 20개 200MB로 제한됩니다.</p>
               <h5 class="title-type3">환급신청 상세목록</h5>
               테이블

               <h5 class="title-type3">환급신청 세액정보</h5>
               테이블

               <div class="btn-area btn-end">
                  <div class="align">                                          
                     <button type="button" class="btn tertiary medium">환급통지서 출력</button>
                     <button type="button" class="btn tertiary medium">보완서류 등록</button>
                  </div>
               </div>
               


            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>