<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
      <div class="content-wrap">
         <div class="cont-head">
            <div class="head-util">
               <nav class="breadcrumb-wrap" id="breadcrumb">
                  <ol class="breadcrumb">
                     <li class="home"><a href="#" class="txt" title="홈으로 바로가기">홈</a></li>
                     <li><span class="txt">고객센터</span></li>                     
                     <li class="last-li"><a href="#" class="txt" title="현재페이지">질의응답</a></li>                  
                  </ol>
               </nav>               
            </div>
            <h3 class="head-tit">질의응답</h3>            
         </div>
         <div class="cont-body">
            <div class="accordion">
               <a href="#none">
                  <strong>질의응답</strong>
                  <span class="accordion-drop-down"><i class="sr-only">질의응답 열기</i><i class="icon btn-arrow-down medium"></i></span>
               </a>
            </div>
            <!-- 내용 -->
            <div class="cont-area">     
               <div class="tabmenu tabmenu-line1" data-ui="tabmenu" data-props="">
                  <button class="tab-menu">문의등록</button>
                  <button class="tab-menu active" title="선택됨">문의 내역</button>                  
               </div>                         
               <div class="board-top tbl-top">
                  <div class="left-box">
                     <strong class="tit top-txt">전체<span>240</span>개</strong>
                     <div class="top-txt">
                        <select class="form-select-sort large" title="정보 구분 선택">                           
                           <option value="">10개씩 보기</option>               
                           <option value="">10개씩 보기</option>               
                           <option value="">10개씩 보기</option>               
                           <option value="">10개씩 보기</option>               
                        </select>
                     </div>                     
                  </div>                  
               </div>               
               <div class="wrap-check-tbl">
                  <div class="table-wrap pc">
                     <table class="tbl col check">
                        <caption>질의응답 표로 NO,제목,등록일자,상태구분 구성되어있다.</caption>
                        <colgroup>
                           <col style="width: 80px;">                           
                           <col>                                                      
                           <col style="width: 130px;">                                                      
                           <col style="width: 130px;">                                                      
                        </colgroup>
                        <thead>
                           <tr>                                                                              
                              <th scope="col">NO</th>                                                            
                              <th scope="col">제목</th>                                                                                                                                                    
                              <th scope="col">등록일자</th>                                                            
                              <th scope="col">상태구분</th>                                                            
                           </tr>
                        </thead>
                        <tbody>
                           <tr>                              
                              <td>10</td>                              
                              <td class="text-left"><a href="#none" class="tb-title">개인통관고유부호 갱신 안내개인통관고유부호 갱신</a></td>                                                            
                              <td>2025-05-30</td>                              
                              <td>접수대기</td>                              
                           </tr>                                                                                                                                                               
                           <tr>                              
                              <td>10</td>                              
                              <td class="text-left"><a href="#none" class="tb-title">개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내개인통관고유부호 갱신 안내</a></td>                                                            
                              <td>2025-05-30</td>                              
                              <td>접수대기</td>                              
                           </tr>                                                                                                                                                                                                                                                                                                                              
                        </tbody>
                     </table>
                  </div>
                  <div class="table-wrap mo">                     
                     <ul class="wrap-body box-line">
                        <li>
                           <ul class="body">                                                            
                              <li>
                                 <span class="number type1"><span class="bold">NO.</span>1</span>
                                 <strong class="title"><a href="none">(변경) 표준 품명 개정</a><i class="icon btn-arrow-right medium"></i></strong>
                                 <div class="txt-area">
                                    <span class="txt">수입통관</span>
                                    <span class="date">2025-05-30</span>
                                 </div>                                 
                              </li>                                                                                          
                           </ul>
                        </li>                                                                                                                     
                        <li>
                           <ul class="body">                                                            
                              <li>
                                 <span class="number type1"><span class="bold">NO.</span>2</span>
                                 <strong class="title"><a href="none">(변경) 표준 품명 개정(변경) 표준 품명 개정(변경) 표준 품명 개정(변경) 표준 품명 개정(변경) 표준 품명 개정(변경) 표준 품명 개정(변경) 표준 품명 개정(변경) 표준 품명 개정(변경) 표준 품명 개정(변경) 표준 품명 개정</a><i class="icon btn-arrow-right medium"></i></strong>
                                 <div class="txt-area">
                                    <span class="txt">수입통관</span>
                                    <span class="date">2025-05-30</span>
                                 </div>                                 
                              </li>                                                                                          
                           </ul>
                        </li>                                                                                                                     
                     </ul>
                  </div>
               </div>
               <div class="pagination pagination-type1">               
                  <button class="page-navi prev" disabled="">이전</button>
                  <div class="page-links">
                     <a class="page-link mobile-link" href="#">1</a>
                     <span class="page-link link-dot mobile-dot"></span>
                     <a class="page-link" href="#">2</a>
                     <a class="page-link" href="#">3</a>
                     <a class="page-link" href="#">4</a>
                     <a class="page-link mobile-link" href="#">5</a>
                     <a class="page-link active mobile-link" href="#"><span class="sr-only">현재페이지 </span>6</a>                  
                     <a class="page-link mobile-link" href="#">7</a>
                     <a class="page-link" href="#">8</a>
                     <a class="page-link" href="#">9</a>
                     <span class="page-link link-dot"></span>
                     <a class="page-link mobile-link" href="#">120</a>
                  </div>
                  <button class="page-navi next">다음</button>
               </div>
               


               
            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>