<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<body>
   <div id="wrap">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
      <div class="content-wrap">
         <div class="cont-head">
            <div class="head-util">
               <nav class="breadcrumb-wrap">
                  <ol class="breadcrumb">
                     <li class="home"><a href="#" class="txt" title="홈으로 바로가기">홈</a></li>
                     <li><span class="txt">개인통관고유부호</span></li>                     
                     <li class="last-li"><a href="#" class="txt" title="현재페이지">개인통관고유부호 조회</a></li>                  
                  </ol>
               </nav>            
               <div class="form-toggle-switch language-switch">
                  <input type="radio" id="switch9" name="radio-switch1" checked>
                  <label for="switch9" class="kr">한글</label>
                  <input type="radio" id="switch10" name="radio-switch1">
                  <label for="switch10" class="en">English</label>
               </div>
            </div>
            <h3 class="head-tit">개인통관고유부호 조회</h3>
         </div>
         <div class="cont-body">
            <div class="accordion">
               <a href="#none">
                  <strong>개인통관고유부호란?</strong>
                  <span class="accordion-drop-down"><i class="sr-only">개인통관고유부호 재발급 신청 방법 열기</i><i class="icon btn-arrow-down medium"></i></span>
               </a>
            </div>
            <!-- 내용 -->
            <p class="list-tit">홍길동님의 개인통관고유부호는 <span>P240000000000</span> 이고 유효기간 만료일은 <span>2026.01.01</span> 까지 입니다.</p>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>