<!DOCTYPE html>
<html lang="ko">
<head>
   <%= _.template(require('fs').readFileSync('./src/layouts/head.html', 'utf8'))({}) %>
</head>
<style>
   button.on{color:red}
</style>
<body>
   <script>
      $(function(){
         $('button').click(function(){
            $('button').removeClass('on');
            $(this).addClass('on');
         })
      })
   </script>
   <div id="wrap">
      <!-- header -->
      <%= _.template(require('fs').readFileSync('./src/layouts/header.html', 'utf8'))({}) %>
      <!-- //header -->
      <!-- content-wrap -->
      <div class="content-wrap">
         <div class="cont-head">
            <div class="head-util">
               <nav class="breadcrumb-wrap" id="breadcrumb">
                  <ol class="breadcrumb">
                     <li class="home"><a href="#" class="txt" title="홈으로 바로가기">홈</a></li>
                     <li><span class="txt">개인통관고유부호</span></li>                     
                     <li class="last-li"><a href="#" class="txt" title="현재페이지">개인통관고유부호 조회</a></li>                  
                  </ol>
               </nav>
               <div class="language-area">
                  <div class="form-toggle-switch language-switch">
                     <input type="radio" id="switch9" name="radio-switch1" checked>
                     <label for="switch9" class="kr">한글</label>
                     <input type="radio" id="switch10" name="radio-switch1">
                     <label for="switch10" class="en">English</label>
                  </div>
               </div>
            </div>
            <h3 class="head-tit">개인통관고유부호 조회</h3>            
         </div>
         <div class="cont-body">
            <div class="accordion">
               <a href="#none">
                  <strong>개인통관고유부호란?</strong>
                  <span class="accordion-drop-down"><i class="sr-only">개인통관고유부호 재발급 신청 방법 열기</i><i class="icon btn-arrow-down medium"></i></span>
               </a>
            </div>
            <!-- 내용 -->
            <div class="cont-area">
               <h1>레이어팝업 사용방법</h1><br>
               <p>1. 버튼에서 data-modal-target="#modal1" 을 복사해서 연결하고싶은 버튼에다가 추가한다</p><br>
               <p>2. 레이어팝업 id값과 data-modal-target값을 동일하게 적용한다</p><br><br>               

               <h1 style="font-size:40px;color:red">개인통관고유부호</h1>
               <!-- 개인통관고유부호 조회/정보변경 -->
               <button type="button" data-modal-target="#modal1" style="width:100%;height:50px;margin-bottom:20px">개인통관고유부호 조회/정보변경 레이어팝업</button>   
               <div id="modal1" class="modal d-none" data-ui="modal">
                  <div class="modal-wrap mw-760">
                     <div class="modal-header">
                        <h5>개인통관고유부호 조회/정보변경</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">
                        <div class="modal-cont">
                           <p class="txt-type">개인통관고유부호 사용정지/사용정지 해제 안내 메시지를 보여주고<br> 안내에 대한 동의 여부를 확인 받음</p>
                        </div>
                        <div class="modal-cont">
                           <div class="txt-box-type">
                              <p class="txt-type">안내 사항에 대해 확인 하였습니다.</p>
                              <div class="form-check">
                                 <input type="checkbox" name="chk_1" id="chk_1">
                                 <label for="chk_1">확인</label>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                           <button type="button" class="btn modal-close tertiary medium">닫기</button>
                           <button type="button" class="btn modal-enter primary medium">사용정지</button>
                     </div>
                  </div>
               </div> 
               <!-- // 개인통관고유부호 조회/정보변경 -->


               <!-- 개인통관고유부호 부호변경 -->
               <button type="button" data-modal-target="#modal2" style="width:100%;height:50px;margin-bottom:20px">개인통관고유부호 부호변경 레이어팝업</button>
               <div id="modal2" class="modal d-none type1" data-ui="modal">
                  <div class="modal-wrap mw-400">
                     <div class="modal-header">
                        <h5>개인통관고유부호 부호변경</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">
                        <div class="modal-cont">                                    
                           <p class="txt-type">개인통관고유부호 재발급을 위하여 별도의 업무페<br>이지로 이동됩니다.</p>
                        </div>                                  
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn modal-close tertiary medium">취소</button>
                        <button type="button" class="btn modal-enter primary medium">확인</button>
                     </div>
                  </div>
               </div>               
               <!-- // 개인통관고유부호 부호변경 -->

               <!-- 이메일 인증 -->
               <button type="button" data-modal-target="#modal3" style="width:100%;height:50px;margin-bottom:20px">이메일 인증 레이어팝업</button>
               <div id="modal3" class="modal d-none" data-ui="modal">
                  <div class="modal-wrap mw-560">
                     <div class="modal-header">
                           <h5>이메일 인증</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">
                        <div class="modal-cont">
                           <h5 class="tit-type">인증 번호를 입력하세요</h5>
                           <p class="txt-type cer-txt">
                              <strong class="em-type">hongGildong@naver.com</strong>(으)로 6자리 숫자 인증번호를 보냈습니다.
                              이메일 주소를 확인하고 인증번호를 입력 후 인증 완료 버튼을 클릭 해주세요.
                           </p>
                        </div>
                        <div class="modal-cont">
                           <div class="txt-box-type certification-number">
                              <ul class="number">
                                 <li><input type="text" title="인증번호를 입력해주세요"></li>
                                 <li><input type="text" title="인증번호를 입력해주세요"></li>
                                 <li><input type="text" title="인증번호를 입력해주세요"></li>
                                 <li><input type="text" title="인증번호를 입력해주세요"></li>
                                 <li><input type="text" title="인증번호를 입력해주세요"></li>
                                 <li><input type="text" title="인증번호를 입력해주세요"></li>
                              </ul>                                               
                           </div>
                           <span class="effective-time">유효시간 09:30</span>
                        </div>
                        <div class="modal-cont">                                       
                           <div class="reforwarding">
                              <p class="txt-type">인증번호가 오지 않은 경우 재발송 버튼을 클릭하세요.</p>
                              <button type="button" class="btn secondary medium">재발송</button>
                           </div>
                        </div>                                       
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn modal-close tertiary medium">닫기</button>
                        <button type="button" class="btn modal-enter primary medium">인증 완료</button>
                     </div>
                  </div>
               </div>
               <!-- // 이메일 인증 -->


               <!-- 이메일 인증 완료 -->
               <button type="button" data-modal-target="#modal4" style="width:100%;height:50px;margin-bottom:20px">이메일 인증완료 레이어팝업</button>
               <div id="modal4" class="modal d-none type1" data-ui="modal">
                  <div class="modal-wrap mw-400">
                     <div class="modal-header">
                        <h5>이메일 인증</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">
                        <div class="modal-cont">                                    
                           <p class="txt-type">이메일 인증이 완료 되었습니다.<br>남은 개인통관고유부로 정보변경을 완료해주세요.</p>
                        </div>                                  
                     </div>
                     <div class="modal-footer">                        
                        <button type="button" class="btn modal-enter primary medium">확인</button>
                     </div>
                  </div>
               </div>
               <!-- // 이메일 인증 완료 -->

               <!-- 일회용 인증번호 발급 알림 -->
               <button type="button" data-modal-target="#modal5" style="width:100%;height:50px;margin-bottom:20px">일회용 인증번호 발급 알림 레이어팝업</button>
               <div id="modal5" class="modal d-none type1" data-ui="modal">
                  <div class="modal-wrap mw-400">
                     <div class="modal-header">
                        <h5>일회용 인증번호 발급 알림</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">
                        <div class="modal-cont">                                    
                           <p class="txt-type">일회용 인증번호 발급 알림에 미동의 하셨습니다.<br> 개인통관고유부호 갱신을 위해서는 일회용 인증번<br>호발급 알림 동의에 동의를 해주셔야 신규 발급이<br> 가능합니다.</p>
                        </div>                                  
                     </div>
                     <div class="modal-footer">                        
                        <button type="button" class="btn modal-enter primary medium">확인</button>
                     </div>
                  </div>
               </div>
               <!-- // 일회용 인증번호 발급 알림 -->

               <!-- 개인통관고유부호 정보변경 -->
               <button type="button" data-modal-target="#modal6-1" style="width:100%;height:50px;margin-bottom:20px">개인통관고유부호 정보변경 레이어팝업</button>   
               <div id="modal6-1" class="modal d-none" data-ui="modal">
                  <div class="modal-wrap mw-760">
                     <div class="modal-header">
                        <h5>개인통관고유부호 정보변경</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">
                        <div class="modal-cont">
                           <p class="txt-type">개인통관고유부호 재발급 안내 메시지를 보여주고<br> 안내에 대한 동의 여부를 확인 받음</p>
                        </div>
                        <div class="modal-cont">
                           <div class="txt-box-type">
                              <p class="txt-type">안내 사항에 대해 확인 하였습니다.</p>
                              <div class="form-check">
                                 <input type="checkbox" name="chk_2" id="chk_2">
                                 <label for="chk_2">확인</label>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                           <button type="button" class="btn modal-close tertiary medium">닫기</button>
                           <button type="button" class="btn modal-enter primary medium">정보변경</button>
                     </div>
                  </div>
               </div> 
               <!-- // 개인통관고유부호 정보변경 -->

               <!-- 개인통관고유부호 정보변경 -->
               <button type="button" data-modal-target="#modal7-1" style="width:100%;height:50px;margin-bottom:20px">개인통관고유부호 정보변경  레이어팝업</button>   
               <div id="modal7-1" class="modal d-none type1" data-ui="modal">
                  <div class="modal-wrap mw-400">
                     <div class="modal-header">
                        <h5>개인통관고유부호 정보변경</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">
                        <div class="modal-cont">
                           <div class="txt-box-type">
                              <p class="txt-type text-center">개인통관고유부호 정보변경 완료 안내 문구<br> 및 이미지 추후 추가 예정</p>
                           </div>
                        </div>
                        <div class="modal-cont">
                           <div class="txt-box-type">
                              <p class="txt-type text-center">국민비서 구삐 홍보 배너 보여줌</p>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">                           
                        <button type="button" class="btn modal-enter primary medium">확인</button>
                     </div>
                  </div>
               </div> 
               <!-- // 개인통관고유부호 정보변경 -->

               <!-- 개인통관고유부호 신규발급 -->
               <button type="button" data-modal-target="#modal6" style="width:100%;height:50px;margin-bottom:20px">개인통관고유부호 신규발급 레이어팝업</button>   
               <div id="modal6" class="modal d-none" data-ui="modal">
                  <div class="modal-wrap mw-760">
                     <div class="modal-header">
                        <h5>개인통관고유부호 신규발급</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">
                        <div class="modal-cont">
                           <p class="txt-type">개인통관고유부호 재발급 안내 메시지를 보여주고<br> 안내에 대한 동의 여부를 확인 받음</p>
                        </div>
                        <div class="modal-cont">
                           <div class="txt-box-type">
                              <p class="txt-type">안내 사항에 대해 확인 하였습니다.</p>
                              <div class="form-check">
                                 <input type="checkbox" name="chk_2" id="chk_2">
                                 <label for="chk_2">확인</label>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                           <button type="button" class="btn modal-close tertiary medium">닫기</button>
                           <button type="button" class="btn modal-enter primary medium">신규발급</button>
                     </div>
                  </div>
               </div> 
               <!-- // 개인통관고유부호 신규발급 -->

               <!-- 개인통관고유부호 신규발급 -->
               <button type="button" data-modal-target="#modal7" style="width:100%;height:50px;margin-bottom:20px">개인통관고유부호 신규발급  레이어팝업</button>   
               <div id="modal7" class="modal d-none type1" data-ui="modal">
                  <div class="modal-wrap mw-400">
                     <div class="modal-header">
                        <h5>개인통관고유부호 신규발급</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">
                        <div class="modal-cont">
                           <div class="txt-box-type">
                              <p class="txt-type text-center">개인통관고유부호 정보변경 완료 안내 문구<br> 및 이미지 추후 추가 예정</p>
                           </div>
                        </div>
                        <div class="modal-cont">
                           <div class="txt-box-type">
                              <p class="txt-type text-center">국민비서 구삐 홍보 배너 보여줌</p>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">                           
                        <button type="button" class="btn modal-enter primary medium">확인</button>
                     </div>
                  </div>
               </div> 
               <!-- // 개인통관고유부호 신규발급 -->

               <!-- 개인통관고유부호 부호 변경 -->
               <button type="button" data-modal-target="#modal61" style="width:100%;height:50px;margin-bottom:20px">개인통관고유부호 부호 변경 레이어팝업</button>   
               <div id="modal61" class="modal d-none" data-ui="modal">
                  <div class="modal-wrap mw-760">
                     <div class="modal-header">
                        <h5>개인통관고유부호 부호 변경</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">
                        <div class="modal-cont">
                           <p class="txt-type">개인통관고유부호 재발급 안내 메시지를 보여주고<br> 안내에 대한 동의 여부를 확인 받음</p>
                        </div>
                        <div class="modal-cont">
                           <div class="txt-box-type">
                              <p class="txt-type">안내 사항에 대해 확인 하였습니다.</p>
                              <div class="form-check">
                                 <input type="checkbox" name="chk_2" id="chk_2">
                                 <label for="chk_2">확인</label>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                           <button type="button" class="btn modal-close tertiary medium">닫기</button>
                           <button type="button" class="btn modal-enter primary medium">부호변경</button>
                     </div>
                  </div>
               </div> 
               <!-- // 개인통관고유부호 부호 변경 -->

               <!-- 개인통관고유부호 사용정지/해제 -->
               <button type="button" data-modal-target="#modal8" style="width:100%;height:50px;margin-bottom:20px">개인통관고유부호 사용정지/해제 레이어팝업</button>   
               <div id="modal8" class="modal d-none" data-ui="modal">
                  <div class="modal-wrap mw-760">
                     <div class="modal-header">
                        <h5>개인통관고유부호 사용정지/해제</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">
                        <div class="modal-cont">
                           <p class="txt-type">개인통관고유부호 재발급 안내 메시지를 보여주고<br> 안내에 대한 동의 여부를 확인 받음</p>
                        </div>
                        <div class="modal-cont">
                           <div class="txt-box-type">
                              <p class="txt-type">안내 사항에 대해 확인 하였습니다.</p>
                              <div class="form-check">
                                 <input type="checkbox" name="chk_2" id="chk_2">
                                 <label for="chk_2">확인</label>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                           <button type="button" class="btn modal-close tertiary medium">닫기</button>
                           <button type="button" class="btn modal-enter primary medium">사용정지</button>
                     </div>
                  </div>
               </div>
               <!-- // 개인통관고유부호 사용정지/해제 -->

               <!-- 개인통관고유부호 해지 -->
               <button type="button" data-modal-target="#modal9" style="width:100%;height:50px;margin-bottom:20px">개인통관고유부호 해지 레이어팝업</button>   
               <div id="modal9" class="modal d-none" data-ui="modal">
                  <div class="modal-wrap mw-760">
                     <div class="modal-header">
                        <h5>개인통관고유부호 해지</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">
                        <div class="modal-cont">
                           <p class="txt-type">개인통관고유부호 재발급 안내 메시지를 보여주고<br> 안내에 대한 동의 여부를 확인 받음</p>
                        </div>
                        <div class="modal-cont">
                           <div class="txt-box-type">
                              <p class="txt-type">안내 사항에 대해 확인 하였습니다.</p>
                              <div class="form-check">
                                 <input type="checkbox" name="chk_2" id="chk_2">
                                 <label for="chk_2">확인</label>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                           <button type="button" class="btn modal-close tertiary medium">닫기</button>
                           <button type="button" class="btn modal-enter primary medium">해지</button>
                     </div>
                  </div>
               </div>
               <!-- // 개인통관고유부호 해지 -->

               <!-- 개인통관고유부호 갱신 -->
               <button type="button" data-modal-target="#modal10" style="width:100%;height:50px;margin-bottom:20px">개인통관고유부호 갱신 레이어팝업</button>   
               <div id="modal10" class="modal d-none" data-ui="modal">
                  <div class="modal-wrap mw-760">
                     <div class="modal-header">
                        <h5>개인통관고유부호 갱신</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">
                        <div class="modal-cont">
                           <p class="txt-type">개인통관고유부호 재발급 안내 메시지를 보여주고<br> 안내에 대한 동의 여부를 확인 받음</p>
                        </div>
                        <div class="modal-cont">
                           <div class="txt-box-type">
                              <p class="txt-type">안내 사항에 대해 확인 하였습니다.</p>
                              <div class="form-check">
                                 <input type="checkbox" name="chk_2" id="chk_2">
                                 <label for="chk_2">확인</label>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                           <button type="button" class="btn modal-close tertiary medium">닫기</button>
                           <button type="button" class="btn modal-enter primary medium">갱신</button>
                     </div>
                  </div>
               </div>
               <!-- // 개인통관고유부호 갱신 -->

               <!-- 상세신고내용 일괄적용 -->
               <button type="button" data-modal-target="#modal101" style="width:100%;height:50px;margin-bottom:20px">상세신고내용 일괄적용 레이어팝업</button>   
               <div id="modal101" class="modal d-none type1" data-ui="modal">
                  <div class="modal-wrap mw-400">
                     <div class="modal-header">
                        <h5>상세신고내용 일괄적용</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">
                        <div class="modal-cont">
                           <p class="txt-type">입력하신 상세신고내용을 모든 영역의 상세신고내<br>용 입력 항목에 일괄 적용 하시겠습니까?</p>
                        </div>                        
                     </div>
                     <div class="modal-footer">
                           <button type="button" class="btn modal-close tertiary medium">아니요</button>
                           <button type="button" class="btn modal-enter primary medium">예</button>
                     </div>
                  </div>
               </div>
               <!-- // 상세신고내용 일괄적용 -->

               <!-- 개인통관고유부호 도용신고 -->
               <button type="button" data-modal-target="#modal1011" style="width:100%;height:50px;margin-bottom:20px">개인통관고유부호 도용신고? 레이어팝업</button>   
               <div id="modal1011" class="modal d-none type1" data-ui="modal">
                  <div class="modal-wrap mw-400">
                     <div class="modal-header">
                        <h5>개인통관고유부호 도용신고</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">
                        <div class="modal-cont">
                           <p class="txt-type">개인통관고유부호 도용신고를 하시겠습니까?</p>
                        </div>                        
                     </div>
                     <div class="modal-footer">
                           <button type="button" class="btn modal-close tertiary medium">아니요</button>
                           <button type="button" class="btn modal-enter primary medium">예</button>
                     </div>
                  </div>
               </div>
               <!-- // 개인통관고유부호 도용신고 -->

               <!-- 개인통관고유부호 도용신고 -->
               <button type="button" data-modal-target="#modal10111" style="width:100%;height:50px;margin-bottom:20px">개인통관고유부호 도용신고 레이어팝업</button>   
               <div id="modal10111" class="modal d-none type1" data-ui="modal">
                  <div class="modal-wrap mw-400">
                     <div class="modal-header">
                        <h5>개인통관고유부호 도용신고</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">
                        <div class="modal-cont">
                           <p class="txt-type">
                              개개인통관고유부호 도용신고가 정상적으로 접수 되었습니다.<br>
                              확인버튼 클릭 시 목록으로 이동합니다.
                           </p>
                        </div>                        
                     </div>
                     <div class="modal-footer">                           
                           <button type="button" class="btn modal-enter primary medium">확인</button>
                     </div>
                  </div>
               </div>
               <!-- // 개인통관고유부호 도용신고 -->

               <!-- 휴대폰번호 중복 목록 -->
               <button type="button" data-modal-target="#modal11" style="width:100%;height:50px;margin-bottom:20px">휴대폰번호 중복 목록 레이어팝업</button>   
               <div id="modal11" class="modal d-none" data-ui="modal">
                  <div class="modal-wrap mw-1280">
                     <div class="modal-header">
                        <h5>휴대폰번호 중복 목록</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">
                        <div class="modal-cont">
                           <div class="wrap-crud-tbl">                  
                              <div class="table-wrap pc">
                                 <table class="tbl col crud">
                                    <caption>휴대폰번호 중복 목록에 대한 표로 No,휴대폰번호,개인통관고유부호,성명,주소 으로 구성되어있다.</caption>
                                    <colgroup>                                          
                                       <col style="width: 8%;">                                          
                                       <col style="width: 13%;">                                          
                                       <col style="width: 24%;">                                          
                                       <col style="width: 22%;">                                                                                 
                                       <col style="width: 12%;">
                                       <col style="width: 19%;">                                          
                                    </colgroup>
                                    <thead>
                                          <tr>
                                             <th scope="col">
                                                <div class="form-check">
                                                   <input type="checkbox" id="all_chk_11">
                                                   <label for="all_chk_11"><span class="sr-only">전체선택</span></label>
                                                </div>
                                             </th>                                             
                                             <th scope="col">No</th>
                                             <th scope="col">휴대폰번호</th>
                                             <th scope="col">개인통관고유부호</th>
                                             <th scope="col">성명</th>
                                             <th scope="col">주소</th>                                             
                                          </tr>
                                    </thead>
                                    <tbody>
                                          <tr>
                                             <td>
                                                <div class="form-check">
                                                   <input type="checkbox" id="tb_2">
                                                   <label for="tb_2"><span class="sr-only">행선택</span></label>
                                                </div>
                                             </td>                                             
                                             <td>3</td>                                             
                                             <td>010-1234-1234</td>                                             
                                             <td>P123*********</td>                                             
                                             <td>김*원</td>                                             
                                             <td>경기도 용인시</td>                                             
                                          </tr>
                                    </tbody>
                                 </table>
                              </div>

                              <div class="table-wrap mobile">
                                 <div class="header">
                                    <div class="form-check">
                                          <input type="checkbox" id="all_chk_1">
                                          <label for="all_chk_1"><span class="sr-only">전체선택</span></label>
                                    </div>
                                 </div>
                                 <ul class="wrap-body">
                                    <li>
                                       <ul class="body">
                                          <li>
                                             <div class="title">
                                                   <div class="form-check">
                                                      <input type="checkbox" id="tb_3">
                                                      <label for="tb_3"><span class="sr-only">행선택</span></label>
                                                   </div>
                                             </div>                                             
                                          </li>
                                          <li>
                                             <strong class="title">NO</strong>
                                             <span class="txt">3</span>
                                          </li>                                          
                                          <li>
                                             <strong class="title">휴대폰번호</strong>
                                             <span class="txt">010-1234-1234</span>
                                          </li>                                          
                                          <li>
                                             <strong class="title">개인통관고유부호</strong>
                                             <span class="txt">P123*********</span>
                                          </li>                                          
                                          <li>
                                             <strong class="title">성명</strong>
                                             <span class="txt">김*원</span>
                                          </li>                                          
                                          <li>
                                             <strong class="title">주소</strong>
                                             <span class="txt">경기도 용인시</span>
                                          </li>                                          
                                       </ul>
                                    </li>                                                                       
                                    <li>
                                       <ul class="body">
                                          <li>
                                             <div class="title">
                                                   <div class="form-check">
                                                      <input type="checkbox" id="tb_3">
                                                      <label for="tb_3"><span class="sr-only">행선택</span></label>
                                                   </div>
                                             </div>                                             
                                          </li>
                                          <li>
                                             <strong class="title">NO</strong>
                                             <span class="txt">3</span>
                                          </li>                                          
                                          <li>
                                             <strong class="title">휴대폰번호</strong>
                                             <span class="txt">010-1234-1234</span>
                                          </li>                                          
                                          <li>
                                             <strong class="title">개인통관고유부호</strong>
                                             <span class="txt">P123*********</span>
                                          </li>                                          
                                          <li>
                                             <strong class="title">성명</strong>
                                             <span class="txt">김*원</span>
                                          </li>                                          
                                          <li>
                                             <strong class="title">주소</strong>
                                             <span class="txt">경기도 용인시</span>
                                          </li>                                          
                                       </ul>
                                    </li>    
                                    <li>
                                       <ul class="body">
                                          <li>
                                             <div class="title">
                                                   <div class="form-check">
                                                      <input type="checkbox" id="tb_3">
                                                      <label for="tb_3"><span class="sr-only">행선택</span></label>
                                                   </div>
                                             </div>                                             
                                          </li>
                                          <li>
                                             <strong class="title">NO</strong>
                                             <span class="txt">3</span>
                                          </li>                                          
                                          <li>
                                             <strong class="title">휴대폰번호</strong>
                                             <span class="txt">010-1234-1234</span>
                                          </li>                                          
                                          <li>
                                             <strong class="title">개인통관고유부호</strong>
                                             <span class="txt">P123*********</span>
                                          </li>                                          
                                          <li>
                                             <strong class="title">성명</strong>
                                             <span class="txt">김*원</span>
                                          </li>                                          
                                          <li>
                                             <strong class="title">주소</strong>
                                             <span class="txt">경기도 용인시</span>
                                          </li>                                          
                                       </ul>
                                    </li>
                                    <li>
                                       <ul class="body">
                                          <li>
                                             <div class="title">
                                                   <div class="form-check">
                                                      <input type="checkbox" id="tb_3">
                                                      <label for="tb_3"><span class="sr-only">행선택</span></label>
                                                   </div>
                                             </div>                                             
                                          </li>
                                          <li>
                                             <strong class="title">NO</strong>
                                             <span class="txt">3</span>
                                          </li>                                          
                                          <li>
                                             <strong class="title">휴대폰번호</strong>
                                             <span class="txt">010-1234-1234</span>
                                          </li>                                          
                                          <li>
                                             <strong class="title">개인통관고유부호</strong>
                                             <span class="txt">P123*********</span>
                                          </li>                                          
                                          <li>
                                             <strong class="title">성명</strong>
                                             <span class="txt">김*원</span>
                                          </li>                                          
                                          <li>
                                             <strong class="title">주소</strong>
                                             <span class="txt">경기도 용인시</span>
                                          </li>                                          
                                       </ul>
                                    </li>                                                                   
                                 </ul>
                              </div>
                           </div>
                           <p class="txt-type">귀하가 입력하신 휴대전화번호와 연결된 개인통관고유부호가 위와 같이 존재합니다.<br> 해당 내용의 삭제를 원하시거나 문의가 있는 경우 관세청 고객지원센터를 이용해 주세요.</p>
                        </div>                        
                     </div>
                     <div class="modal-footer">
                        <div class="form-check">
                           <input type="checkbox" name="chk_1" id="chk_1">
                           <label for="chk_1">하루에 한번만 표시</label>
                        </div>
                        <button type="button" class="btn modal-close tertiary medium">건너뛰기</button>
                        <button type="button" class="btn modal-enter primary medium">삭제</button>
                     </div>
                  </div>
               </div>
               <!-- // 개인통관고유부호 갱신 -->

               <!-- 휴대폰 번호 정보 변경 요청 -->
               <button type="button" data-modal-target="#modal12" style="width:100%;height:50px;margin-bottom:20px">휴대폰 번호 정보 변경 요청  레이어팝업</button>   
               <div id="modal12" class="modal d-none type1" data-ui="modal">
                  <div class="modal-wrap mw-400">
                     <div class="modal-header">
                        <h5>휴대폰 번호 정보 변경 요청</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">
                        <div class="modal-cont">
                           <p class="txt-type">
                              귀하가 입력하신 휴대폰번호와 개인통관고유부호 발급 시 입력하신 휴대폰번호가 상이합니다.<br>
                              개인통관고유부호 기본 정보의 휴대폰 번호를 현재 사용중인 번호로 변경하시겠습니까?<br>
                              “예” 버튼 클릭 시 개인통관고유부호 정보변경 화면으로 이동됩니다.</p>
                           </p>
                        </div>                        
                     </div>
                     <div class="modal-footer">                          
                        <button type="button" class="btn tertiary medium">아니요</button> 
                        <button type="button" class="btn primary medium">예</button>
                     </div>
                  </div>
               </div> 
               <!-- // 휴대폰 번호 정보 변경 요청 -->

               <!-- 휴대폰번호 중복 삭제 -->
               <button type="button" data-modal-target="#modal13" style="width:100%;height:50px;margin-bottom:20px">휴대폰번호 중복 삭제?  레이어팝업</button>   
               <div id="modal13" class="modal d-none type1" data-ui="modal">
                  <div class="modal-wrap mw-400">
                     <div class="modal-header">
                        <h5>휴대폰번호 중복 삭제</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">
                        <div class="modal-cont">
                           <p class="txt-type">
                              중복된 휴대폰 번호 정보를 삭제 하시겠습니까?
                           </p>
                        </div>                        
                     </div>
                     <div class="modal-footer">                          
                        <button type="button" class="btn tertiary medium">아니요</button> 
                        <button type="button" class="btn primary medium">예</button>
                     </div>
                  </div>
               </div> 
               <!-- // 휴대폰번호 중복 삭제 -->

               <!-- 휴대폰번호 중복 삭제 -->
               <button type="button" data-modal-target="#modal14" style="width:100%;height:50px;margin-bottom:20px">휴대폰번호 중복 삭제  레이어팝업</button>   
               <div id="modal14" class="modal d-none type1" data-ui="modal">
                  <div class="modal-wrap mw-400">
                     <div class="modal-header">
                        <h5>휴대폰번호 중복 삭제</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">
                        <div class="modal-cont">
                           <p class="txt-type">
                              중복된 휴대폰 번호 정보가 정상적으로 삭제 되었습니다.
                           </p>
                        </div>                        
                     </div>
                     <div class="modal-footer">                                                  
                        <button type="button" class="btn primary medium">확인</button>
                     </div>
                  </div>
               </div> 
               <!-- // 휴대폰번호 중복 삭제 -->

               <!-- 개인통관고유부호 유효기간 만료 안내 -->
               <button type="button" data-modal-target="#modal15" style="width:100%;height:50px;margin-bottom:20px">개인통관고유부호 유효기간 만료 안내 레이어팝업</button>   
               <div id="modal15" class="modal d-none" data-ui="modal">
                  <div class="modal-wrap mw-560">
                     <div class="modal-header">
                        <h5>개인통관고유부호 유효기간 만료 안내</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">                        
                        <div class="modal-cont">
                           <div class="txt-box-type">
                              <p class="txt-type">
                                 개인통관고유부호 유효기간 만료안내 문구<br>
                                 추후 추가 예정
                              </p>                              
                           </div>
                        </div>
                     </div>
                     <div class="modal-footer">
                           <button type="button" class="btn modal-close tertiary medium">닫기</button>
                           <button type="button" class="btn modal-enter primary medium">갱신</button>
                     </div>
                  </div>
               </div>
               <!-- // 개인통관고유부호 유효기간 만료 안내 -->



               <h1 style="font-size:40px;color:red">해외직구 납부고지환급</h1>

               <!-- 환급신청 보완서류 등록 -->
               <button type="button" data-modal-target="#modal200" style="width:100%;height:50px;margin-bottom:20px">환급신청 보완서류 등록 레이어팝업</button>                  
               <div id="modal200" class="modal d-none" data-ui="modal">
                  <div class="modal-wrap mw-1280">
                     <div class="modal-header">
                        <h5>환급신청 보완서류 등록</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">
                        <div class="modal-cont">
                           <div class="txt-box-type type1">
                              <p>주소는 최대 20개 까지 등록 가능합니다. <strong><span>3개</span><i>/</i>20개</strong></p>
                              <button type="button" class="btn secondary medium">추가</button>
                           </div>
                           <div class="wrap-address-area">
                              <div class="inp-form">                              
                                 <ul class="file-form">                                                         
                                    <li class="col1 mw-300">
                                       <label for="ex1" class="tit">문서종류</label>
                                       <div class="inp-box">
                                          <div class="form-group medium">                  
                                             <div class="form-conts disabled-type2">
                                                <select class="form-select" id="ex1" required="" title="국적을 확인할수있습니다">
                                                   <option disabled="" hidden="">문서종류를 선택해주세요</option>
                                                   <option value="자가사용물품 반품 기타증빙자료" selected="">자가사용물품 반품 기타증빙자료</option>                                 
                                                </select>
                                             </div>                           
                                          </div>
                                       </div>  
                                    </li>
                                    <li class="col1">
                                       <strong class="tit">첨부파일명</strong>
                                       <div class="inp-box">
                                          <div class="file-upload">
                                             <div class="txt-box"><p class="txt">첨부할 파일을 여기에 끌어다 놓거나, 파일 선택 버튼을 눌러 파일을 직접 선택해주세요.</p></div>
                                             <div class="file-upload-btn-wrap">
                                                <input type="file" name="myFile" id="fileu-upload" hidden="">
                                                <label for="fileu-upload" class="btn tertiary medium">
                                                   파일선택
                                                </label>
                                             </div>
                                          </div>                                       
                                       </div>                                    
                                    </li>                                
                                 </ul>
                                 <div class="form-btn-area">
                                    <button class="refresh-btn"><i class="icon refresh medium"></i>초기화</button>
                                    <button class="close-btn"><i class="icon close medium"></i>삭제</button>
                                 </div>
                              </div>
                              <div class="inp-form">                              
                                 <ul class="file-form">                                                         
                                    <li class="col1 mw-300">
                                       <label for="ex2" class="tit">문서종류</label>
                                       <div class="inp-box">
                                          <div class="form-group medium">                  
                                             <div class="form-conts disabled-type2">
                                                <select class="form-select" id="ex2" required="" title="국적을 확인할수있습니다">
                                                   <option disabled="" hidden="">문서종류를 선택해주세요</option>
                                                   <option value="자가사용물품 반품 기타증빙자료" selected="">자가사용물품 반품 기타증빙자료</option>                                 
                                                </select>
                                             </div>                           
                                          </div>
                                       </div>  
                                    </li>
                                    <li class="col1">
                                       <strong class="tit">첨부파일명</strong>
                                       <div class="inp-box">
                                          <div class="file-upload">
                                             <div class="txt-box"><p class="txt">첨부할 파일을 여기에 끌어다 놓거나, 파일 선택 버튼을 눌러 파일을 직접 선택해주세요.</p></div>
                                             <div class="file-upload-btn-wrap">
                                                <input type="file" name="myFile" id="fileu-upload" hidden="">
                                                <label for="fileu-upload" class="btn tertiary medium">
                                                   파일선택
                                                </label>
                                             </div>
                                          </div>                                       
                                       </div>                                    
                                    </li>                                
                                 </ul>
                                 <div class="form-btn-area">
                                    <button class="refresh-btn"><i class="icon refresh medium"></i>초기화</button>
                                    <button class="close-btn"><i class="icon close medium"></i>삭제</button>
                                 </div>
                              </div>
                              <div class="inp-form">                              
                                 <ul class="file-form">                                                         
                                    <li class="col1 mw-300">
                                       <label for="ex3" class="tit">문서종류</label>
                                       <div class="inp-box">
                                          <div class="form-group medium">                  
                                             <div class="form-conts disabled-type2">
                                                <select class="form-select" id="ex3" required="" title="국적을 확인할수있습니다">
                                                   <option disabled="" hidden="">문서종류를 선택해주세요</option>
                                                   <option value="자가사용물품 반품 기타증빙자료" selected="">자가사용물품 반품 기타증빙자료</option>                                 
                                                </select>
                                             </div>                           
                                          </div>
                                       </div>  
                                    </li>
                                    <li class="col1">
                                       <strong class="tit">첨부파일명</strong>
                                       <div class="inp-box">
                                          <div class="file-upload">
                                             <div class="txt-box"><p class="txt">첨부할 파일을 여기에 끌어다 놓거나, 파일 선택 버튼을 눌러 파일을 직접 선택해주세요.</p></div>
                                             <div class="file-upload-btn-wrap">
                                                <input type="file" name="myFile" id="fileu-upload" hidden="">
                                                <label for="fileu-upload" class="btn tertiary medium">
                                                   파일선택
                                                </label>
                                             </div>
                                          </div>                                       
                                       </div>                                    
                                    </li>                                
                                 </ul>
                                 <div class="form-btn-area">
                                    <button class="refresh-btn"><i class="icon refresh medium"></i>초기화</button>
                                    <button class="close-btn"><i class="icon close medium"></i>삭제</button>
                                 </div>
                              </div>
                           </div>
                           <p class="advice-txt">파일은 종류별 최대 20개 200MB로 제한됩니다.</p>
                        </div>                        
                     </div>
                     <div class="modal-footer">
                           <button type="button" class="btn modal-close tertiary medium">닫기</button>
                           <button type="button" class="btn modal-enter primary medium">사용정지</button>
                     </div>
                  </div>
               </div> 
               <!-- 환급신청 보완서류 등록 -->

               <!-- 환급 통지서 출력 -->
               <button type="button" data-modal-target="#modal201" style="width:100%;height:50px;margin-bottom:20px">환급 통지서 출력 레이어팝업</button>   
               <div id="modal201" class="modal d-none" data-ui="modal">
                  <div class="modal-wrap mw-1280">
                     <div class="modal-header">
                        <h5>환급 통지서 출력</h5>                     
                     </div>
                     <div class="modal-body" tabindex="0">                        
                        <div class="modal-cont">
                           콘텐츠 영역
                        </div>
                     </div>
                     <div class="modal-footer">
                           <button type="button" class="btn modal-close tertiary medium">닫기</button>                           
                     </div>
                  </div>
               </div>
               <!-- // 환급 통지서 출력 -->

            </div>
            <!--// 내용 -->
         </div>
      </div>
      <!-- //content-wrap -->
      <!-- footer -->
      <%= _.template(require('fs').readFileSync('./src/layouts/footer.html', 'utf8'))({}) %>
      <!-- //footer -->
   </div>
</body>
</html>