/* ==========================================================================
   LAYOUT: Content   
   ========================================================================== */

/* 여백 25 */
.accordion-wrap.accordion.cont-advice,
.wrap-check-tbl table,
.wrap-crud-tbl table,
.wrap-cont-tbl table,
.wrap-form-area,
.search-box,
[class*=txt-box-type].type1,
[class*=txt-box-type],
.acc-area,
.file-upload,
.file-upload-mobile,
.cont-area > .form-group,
.tabmenu,
.wrap-detail,
.wrap-detail .detail-file,
.wrap-faq:not(td .wrap-faq),
.wrap-customs-info,
.wrap-search-pages,
.wrap-search-area,
.modal-cont,
.modal-cont [class*=-type],
.wrap-check-tbl.mo .wrap-body,
.wrap-crud-tbl.mo .wrap-body,
.wrap-cont-tbl.mo .table-wrap,
.wrap-cont-tbl .table-wrap.mo .cont-acc-tbl,
.wrap-check-tbl .table-wrap.mo .wrap-body,
.cont-area .pagination {margin-bottom: 25px;}

/* 여백 10 */
[class*=title-type],
.add-title,
.board-top.tbl-top,
.compulsory-txt,
.inp-form,
.agree-title,
.title-top,
.btn-area,
.cont-area > .advice-txt, .search-box ul {margin-bottom: 10px;}

/* 예외 여백 0 */
.title-top .title-type,
.cont-area > *:last-child,
.cont-area > * > *:last-child,
.modal-cont:last-child,
.modal-cont button i {margin-bottom: 0 !important;}

.main .content-wrap {padding: 0 10px;}

/* cont-head */
.content-wrap {max-width: 1312px;margin: 0 auto;position: relative;width: 100%;flex: 1;height: 100%;padding: 0 16px;}
.content-wrap .cont-head .head-util {display: flex;justify-content: space-between;margin-top: 24px;align-items: center;}
.content-wrap .cont-head .head-util .breadcrumb-wrap {padding-left: 10px;}
.content-wrap .cont-head .head-tit {font-size: 32px;padding: 17px 0 30px 0;line-height: 150%;display: flex;flex-direction: column;}
.content-wrap .cont-head .head-tit .txt {font-size: 19px;color: #555;line-height: 150%;margin-top: 19px;}
.content-wrap .cont-head .step-area {display: flex;justify-content: space-between;margin-bottom: 45px;}
.content-wrap .cont-head .step-area .tit-box {display: flex;flex-direction: column;}
.content-wrap .cont-head .step-area .tit-box .tit-step i {margin: 0 7px 0 4px;}
.content-wrap .cont-head .step-area .tit-box .tit-step span {color: #1D56BC;font-weight: 700;}
.content-wrap .cont-head .step-area .tit-box .tit {font-size: 25px;margin-top: 20px;padding-right: 20px;}
.content-wrap .cont-head .step-area .step-tit {margin-top: 12px;}

/* cont-body */
.content-wrap .cont-body .cont-advice {position: relative;background-color: #EDF1F5;border-radius: 8px;}
.content-wrap .cont-body .cont-advice.active {border-radius: 8px 8px 0 0;}
.content-wrap .cont-body .cont-advice.active i {transform: rotate(180deg);}
.content-wrap .cont-body .cont-advice .accordion-btn {display: flex;width: 100%;height: 100%;padding: 16px 20px;justify-content: space-between;align-items: center;}
.content-wrap .cont-body .cont-advice .accordion-btn strong {font-size: 19px;color: #003675;line-height: 150%;padding-right: 30px;}
.content-wrap .cont-body .cont-advice .accordion-btn i {min-width: 16px;height: 16px;width: 16px;}
.content-wrap .cont-body .cont-advice .accordion-body {position: absolute;top: 100%;left: 0;width: 100%;padding: 24px;border-radius: 0px 0px 8px 8px;background-color: #EDF1F5;z-index: 3;}
.content-wrap .cont-body .cont-advice .accordion-body::before {top: 0;content: "";display: block;position: absolute;left: 0;width: 100%;height: 2px;background-image: url(../assets/icons/dotted.svg);}
.content-wrap .cont-body .cont-advice .accordion-body p {color: #003675;line-height: 150%;}

.fpc {display: flex !important;}
.pc {display: block !important;}
.mo {display: none !important;}
.mopc {display: block !important;}
.fmo {display: none !important;}

@media screen and (max-width: 767px) {
  /* cont-head */
  .content-wrap .cont-head .head-util {flex-wrap: wrap;gap: 10px;}
  .content-wrap .cont-head .head-util .breadcrumb-wrap, .content-wrap .cont-head .head-util .language-area {width: 100%;}
  .content-wrap .cont-head .head-tit {font-size: 25px;}
  .content-wrap .cont-head .step-area {margin-bottom: 40px;}
  .content-wrap .cont-head .step-area .step-box {margin-top: 30px;}
  .content-wrap .cont-head .step-area i.step, .content-wrap .cont-head .step-area .step-tit {display: none !important;}
  .content-wrap .cont-head .step-area .step-wrap {height: 100%;align-items: center;}
  .content-wrap .cont-head .step-area .step-wrap.step-type2 li {min-width: 50px;}
  .content-wrap .cont-head .step-area li:last-child:before {display: block;}
  .content-wrap .cont-head .step-area li:first-child::before {display: none;}
  .content-wrap .cont-head .step-area li:after {left: auto;right: 0;}
  .content-wrap .cont-head .head-util {margin-top: 16px;}
  
  .fpc, .pc {display: none !important;}
  .mo {display: block !important;}
  .fmo {display: flex !important;}

  /* 여백 20 */
  .accordion-wrap.accordion.cont-advice,
  .wrap-check-tbl table,
  .wrap-crud-tbl table,
  .wrap-cont-tbl table,
  .wrap-form-area,
  .search-box,
  [class*=txt-box-type].type1,
  [class*=txt-box-type],
  .acc-area,
  .file-upload,
  .file-upload-mobile,
  .cont-area > .form-group,
  .tabmenu,
  .wrap-detail,
  .wrap-detail .detail-file,
  .wrap-faq,
  .wrap-customs-info,
  .wrap-search-pages,
  .wrap-search-area,
  .modal-cont,
  .modal-cont [class*=-type],
  .wrap-check-tbl.mo .wrap-body,
  .wrap-crud-tbl.mo .wrap-body,
  .wrap-cont-tbl.mo .table-wrap,
  .wrap-cont-tbl .table-wrap.mo .cont-acc-tbl,
  .wrap-check-tbl .table-wrap.mo .wrap-body,
  .cont-area .pagination {margin-bottom: 20px;}

  /* 여백 15 */
  [class*=title-type],
  .add-title,
  .board-top.tbl-top,
  .compulsory-txt,
  .inp-form,
  .agree-title,
  .title-top,
  .btn-area,
  .cont-area > .advice-txt, .search-box ul {margin-bottom: 15px;}
}
@media screen and (max-width: 480px) {  
  .head-tit .txt {font-size: 17px;font-weight: 400;}
  .content-wrap .cont-head .step-area {margin-bottom: 20px;}
  .content-wrap .cont-head .step-area .tit-box .tit {font-size: 21px;line-height: 150%;margin-top: 15px;}
  .content-wrap .cont-body .cont-advice .accordion-btn, .content-wrap .cont-body .cont-advice .accordion-body {padding: 15px 20px;}  
}