.content-wrap {
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 16px;

  .cont-head {
    .head-util {
      display: flex;
      justify-content: space-between;
      margin-top: 24px;
      align-items: center;

      .breadcrumb-wrap {
        padding-left: 10px;
      }

      .language-area{
        width: auto;
        display: flex;
        justify-content: flex-end;
      }
    }

    .head-tit {
      font-size: 32px;
      font-weight: 700;
      color: #1D1D1D;
      padding: 64px 0;
    }
  }

  .cont-body .accordion a {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 24px 24px;
    background-color: #EDF1F5;
    border-radius: 8px;
    font-size: 19px;
    font-weight: 700;
    color: #003675;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;   
    
    strong{
      padding-right: 20px;
    }
  }
}

@media (max-width: 767px) {
  .content-wrap {
    .cont-head {
      .head-util {
        flex-wrap: wrap;
        gap: 10px;

        .breadcrumb-wrap, .language-area {
          width: 100%;
        }
      }

      .head-tit {
        padding: 50px 0 35px 0;
        font-size: 25px;
      }
    }

    .cont-body .accordion a {
      padding: 15px 15px;
      font-size: 18px;
    }

    .cont-head .head-util {
      margin-top: 16px;
    }
  }
}

@media (max-width: 400px) {
  .content-wrap {
    .cont-head .head-tit {
      padding: 50px 0 30px 0;
    }

    .cont-body .accordion a {
      font-size: 17px;
    }
  }

}