/* ==========================================================================
   LAYOUT: Footer   
   ========================================================================== */

.footer-quick-pop {box-shadow: 4px 4px 24px 0 rgba(0, 0, 0, 0.16);}
.footer-quick-pop strong.title {padding: 10px 0 32px 0;display: block;}
.footer-quick-pop a.title {border-radius: 4px;background-color: #F4F5F6;display: block;padding: 16px;color: #1D1D1D;font-weight: 700;}
.footer-quick-pop a.txt {font-size: 15px;position: relative;padding: 12px 4px 12px 20px;display: block;}
.footer-quick-pop a.txt::before {content: "";display: block;position: absolute;top: 17px;left: 8px;width: 4px;height: 4px;background-color: #2D2D2D;border-radius: 50%;}
.footer-quick-pop [class*=dep] {display: flex;gap: 24px;flex-wrap: wrap;}
.footer-quick-pop .dep2 {margin-top: 8px;display: flex;flex-direction: column;gap: 0;}
.footer-quick-pop .col6 {width: calc(16.6666% - 20px);}
.footer-quick-pop .col4 {width: calc(25% - 18px);}
.footer-quick-pop .close-btn {position: absolute;top: 24px;right: 32px;background-color: rgba(0, 0, 0, 0);font-size: 0;}

#footer {margin-top: 80px;background-color: #f0f0f0;border-top: 1px solid #d8d8d8;}
#footer .foot-quick {background-color: #fff;}
#footer .foot-quick .inner {max-width: 1280px;display: flex;justify-content: flex-end;position: relative;}
#footer .foot-quick button:not(.close-btn) {background-color: #fff;max-width: 319px;width: 319px;height: 54px;padding: 0 24px;border-left: 1px solid #d8d8d8;text-align: left;position: relative;}
#footer .foot-quick button:not(.close-btn):before {content: "";display: block;position: absolute;top: 17px;right: 24px;width: 20px;height: 20px;background-image: url("../assets/icons/plus.svg");transition: all 0.5s;}
#footer .foot-quick button:not(.close-btn):last-child {border-right: 1px solid #d8d8d8;}
#footer .inner {max-width: 1312px;margin: 0 auto;}
#footer .f-box {display: flex;flex-direction: column;padding: 40px 16px;}
#footer .f-top {display: flex;}
#footer .f-box .f-logo {width: 145px;height: 48px;display: block;background-image: url("../assets/icons/logo.svg");background-repeat: no-repeat;background-size: contain;}
#footer .f-box .f-cnt {flex: 1;padding-left: 72px;padding-right: 70px;display: flex;justify-content: space-between;}
#footer .f-box .f-cnt .info-cs {margin-top: 4px;}
#footer .f-box .f-cnt .info-cs li {margin-top: 16px;}
#footer .f-box .f-cnt .info-addr {line-height: 150%;}
#footer .f-box .f-btm {width: 100%;}
#footer .f-box .link-go {display: flex;flex-direction: column;margin-top: -16px;}
#footer .f-box .link-go a {display: flex;font-weight: 700;background-color: rgba(0, 0, 0, 0);border: 0;position: relative;align-items: center;height: 24px;margin-top: 16px;}
#footer .f-box .link-go a .right {width: 20px;height: 20px;display: inline-block;background-image: url("../assets/icons/btn-arrow-right.svg");margin-left: 4px;transition: all 0.5s;}
#footer .f-box .link-sns {display: flex;gap: 8px;}
#footer .f-box .link-sns a {width: 40px;height: 40px;display: flex;transition: all 0.5s;}
#footer .f-box .link-sns .instagram {background-image: url("../assets/icons/Instagram.svg");}
#footer .f-box .link-sns .youtube {background-image: url("../assets/icons/youtube.svg");}
#footer .f-box .link-sns .twitter {background-image: url("../assets/icons/twitter.svg");}
#footer .f-box .link-sns .facebook {background-image: url("../assets/icons/facebook.svg");}
#footer .f-box .link-sns .blog {background-image: url("../assets/icons/blog.svg");}
#footer .f-box .f-btm {margin-top: 40px;border-top: 1px solid #D8D8D8;}
#footer .f-box .f-btm .f-btm-text {padding: 22px 2px 0 2px;display: flex;justify-content: space-between;}
#footer .f-box .f-btm .f-menu {margin-left: -24px;}
#footer .f-box .f-btm .f-menu a {margin-left: 24px;}
#footer .f-box .f-btm .f-menu a.point {color: #003675;font-weight: 700;}
#footer .f-box .f-copy {font-size: 15px;color: #555;}

@media screen and (max-width: 1200px) {
  .footer-quick-pop .col6 {width: calc(33.3333% - 16px);}
}
@media screen and (max-width: 1023px) {
  #footer .f-box .f-cnt {padding: 0;}
  #footer .f-box .f-cnt .info-addr, #footer .f-box .f-cnt .info-cs strong {font-size: 16px;}
  #footer .f-box .link-go a {font-size: 16px;}
  #footer .f-box .f-btm .f-menu a {font-size: 16px;display: inline-block;margin: 5px 20px 5px 0;}
  #footer .f-box .f-info {padding-right: 30px;padding-left: 30px;}
  #footer .f-box .f-cnt .info-addr {line-height: 20px;}
  #footer .f-box .f-btm .f-menu {margin-left: 0;margin-top: -5px;}
  #footer .f-box .f-copy {font-size: 14px;}
  #footer .foot-quick button {font-size: 16px;}
  .footer-quick-pop {bottom: 312px !important;}
}
@media screen and (max-width: 820px) {
  .footer-quick-pop {bottom: 333px !important;}
}
@media screen and (max-width: 900px) {
  .footer-quick-pop .col4 {width: calc(33.3333% - 16px);}
}
@media screen and (min-width: 768px) {
  #customs, #homepage {background-color: rgba(0, 0, 0, 0);width: 100%;height: 0;position: sticky;}
  .footer-quick-pop {top: auto;bottom: 305px;left: 50%;transform: translate(-50%, 0);position: absolute;max-width: 1280px;height: auto;max-height: 1000px;z-index: 9999;}
}
@media screen and (max-width: 767px) {
  #footer .f-box .f-logo {display: none;}
  #footer .f-box .f-info {padding-left: 0;}
  #footer .f-box .f-btm .f-menu a {margin: 5px 15px 5px 0;}
  #footer .f-box .f-cnt .info-addr, #footer .f-box .f-cnt .info-cs strong {font-size: 16px;}
  #footer .f-box .link-go a, #footer .f-box .f-btm .f-menu a {font-size: 16px;}
  #customs, #homepage {transition: all 0s !important;}
  .footer-quick-pop {bottom: auto !important;}
  .footer-quick-pop [class*=dep] {gap: 8px;}
  .footer-quick-pop [class*=col] {width: 100% !important;}
}
@media screen and (max-width: 480px) {
  #footer {margin-top: 64px;}
  #footer .f-box {padding: 32px 16px;}
  #footer .f-box .f-logo {display: block;width: 97px;height: 32px;}
  #footer .foot-quick .inner {flex-wrap: wrap;width: 100%;}
  #footer .foot-quick button:not(.close-btn) {width: 100%;max-width: 100%;border: 1px solid #d8d8d8;border-top: 0;}
  #footer .f-top {flex-direction: column;}
  #footer .f-box .f-cnt {flex-direction: column;}
  #footer .f-box .f-cnt .f-info {padding-right: 0;}
  #footer .f-box .f-info {margin-top: 28px;}
  #footer .f-box .f-cnt .info-cs {margin-top: 28px;}
  #footer .f-box .f-cnt .info-cs li:last-child {margin-top: 13px;}
  #footer .f-box .link-go {flex-direction: row;margin: 31px 0 0 0;gap: 16px;}
  #footer .f-box .link-go a {height: auto;margin-top: 0;}
  #footer .f-box .link-go a .right {width: 12px;height: 12px;background-size: contain;margin-top: -2px;}
  #footer .f-box .link-sns {margin-top: 28px;}
  #footer .f-box .f-btm {margin-top: 28px;}
  #footer .f-box .f-btm .f-btm-text {padding: 24px 2px 0 2px;flex-direction: column;}
  #footer .f-box .f-btm .f-menu a {margin: 8px 15px 8px 0;}
  #footer .f-box .f-copy {margin-top: 24px;font-size: 15px;}
  #footer .f-box .f-cnt .info-addr, #footer .f-box .f-cnt .info-cs strong {font-size: 15px;}
  #footer .f-box .link-go a, #footer .f-box .f-btm .f-menu a {font-size: 15px;}
}