/* ==========================================================================
   LAYOUT: Header   
   ========================================================================== */

/* skip */
#skip-link {position: absolute;top: 0;right: 0;left: 0;margin: 0 auto;z-index: 99999;}
#skip-link a {position: absolute;top: -50px;width: 100%;font-size: 0;}
#skip-link a:active, 
#skip-link a:focus {display: flex;align-items: center;justify-content: center;top: 0;height: 34px;padding: 6px 0;text-align: center;color: #fff;font-size: 14px;background: #272d34;}

/* 이 누리집은 관세청 누리집입니다. */
#masthead {position: relative;background-color: #EDF1F5;z-index: 8;padding: 0 16px;}
#masthead .toggle-wrap {max-width: 1280px;height: 32px;display: flex;align-items: center;margin: 0 auto;}
#masthead .nuri-txt {font-size: 15px;position: relative;padding-left: 29px;background-image: url("../assets/icons/medium.svg");background-repeat: no-repeat;background-size: contain;}

/* header */
#header {position: sticky;top: 0;z-index: 11;width: 100%;background-color: #fff;transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);}
#header .header-container {border-bottom: 1px solid #d8d8d8;padding: 0 16px;}
#header .header-container .inner {max-width: 1280px;margin: 0 auto;height: 80px;display: flex;align-items: center;}
#header .header-branding {width: 100%;display: flex;justify-content: space-between;align-items: center;}
#header .logo {width: 145px;height: 47px;}
#header .logo a {background-image: url("../assets/icons/logo.svg");display: flex;width: 100%;height: 100%;background-size: contain;background-repeat: no-repeat;}
#header .header-actions {display: flex;align-items: center;height: 28px;}
#header .header-actions .language-area {width: auto;display: flex;justify-content: flex-end;margin-left: 20px;}
#header .header-actions.mobile-top-area {display: none;}
#header .header-actions .name-box {display: flex;gap: 36px;margin-right: 15px;margin-left: 12px;line-height: 1;height: 100%;align-items: center;}
#header .header-actions .name-box .name {line-height: 20px;margin-right: -25px;}
#header .header-actions .name-box .inform, 
#header .header-actions .name-box .time {height: 20px;display: flex;align-items: center;padding: 0 7px;border-radius: 30px;font-size: 15px;position: relative;line-height: 0;width: 52px;justify-content: center;}
#header .header-actions .name-box .inform:before, 
#header .header-actions .name-box .time:before {content: "";display: block;position: absolute;top: 0;left: -24px;width: 20px;height: 20px;background-repeat: no-repeat;background-position: center;}
#header .header-actions .name-box .inform {background-color: #246beb;color: #fff;}
#header .header-actions .name-box a:has(.inform) {padding-left: 25px;}
#header .header-actions .name-box .time {background-color: #cdd1d5;}
#header .header-actions .btn-navi {background-color: rgba(0, 0, 0, 0);display: flex;justify-content: center;align-items: center;position: relative;margin-left: 2px;border: 0;font-weight: 700;padding: 0 8px 0 32px;height: 100%;white-space: nowrap;}
#header .header-actions .btn-navi:before {content: "";display: block;position: absolute;top: 50%;left: 6px;min-width: 20px;min-height: 20px;transform: translateY(-50%);background-repeat: no-repeat;background-position: center;}
#header .header-actions .btn-navi.popup.active, 
#header .header-actions .btn-navi:hover {background-color: #cdd7e4;border-radius: 4px;}
#header .header-actions .btn-navi.mobile-all-menu {display: none;}
#header .header-actions .sch:before {background-image: url("../assets/icons/search.svg");}
#header .header-actions .join:before {background-image: url("../assets/icons/join.svg");}
#header .header-actions .login:before {background-image: url("../assets/icons/login.svg");}
#header .header-actions .loginout:before {background-image: url("../assets/icons/logout.svg");}
#header .header-actions .popup:before {background-image: url("../assets/icons/vector.svg");}
#header .header-actions .inform:before {background-image: url("../assets/icons/inform.svg");}
#header .header-actions .time:before {background-image: url("../assets/icons/time.svg");}
#header .header-actions .mobile-all-menu:before {background-image: url("../assets/icons/menu.svg");}

/* 로그인전 */
#wrap.login #header .header-container .name-box {display: none;}
#wrap.login #header .header-container .btn-navi.loginout {display: none;}
#wrap.login #header .header-container .btn-navi.login {display: flex;}
#wrap.login #header .header-container .modal {left: -779px;}
#wrap.login .mobile-top-login{display: block;}
#wrap.login .mobile-top-logout{display: none;}

/* 로그인후 */
#wrap.logout #header .header-container .name-box {display: flex;}
#wrap.logout #header .header-container .btn-navi.loginout {display: flex;}
#wrap.logout #header .header-container .btn-navi.login {display: none;}
#wrap.logout #header .header-container .modal {left: -200px;}
#wrap.logout .mobile-top-logout{display: block;}
#wrap.logout .mobile-top-login{display: none;}

/* 알림 팝업 */
#header .header-actions .popup-box {position: relative;height: 100%;}
#header .header-actions .popup-box .btn-navi.popup.active::after {content: "";display: block;position: absolute;top: calc(100% + 10px);left: 40%;width: 12px;height: 12px;border: 1px solid #e4e4e4;border-right: 0;border-top: 0;transform: rotate(135deg);background-color: #fff;z-index: 9999;}
#header .header-actions .popup-box .btn-navi.popup.active + .modal {display: block !important;}
#header .header-actions .popup-box .modal {position: absolute;top: calc(100% + 16px);z-index: 1;width: 859px;border-radius: 11px;background-color: rgba(0, 0, 0, 0);}
#header .header-actions .popup-box .modal .modal-dialog {overflow: hidden;border-radius: 11px;border: 1px solid #e4e4e4;background-color: #fff;box-shadow: 8px 8px 24px 0 rgba(0, 0, 0, 0.08);}
#header .header-actions .popup-box .modal .modal-dialog .modal-header {padding: 16px 24px;border-bottom: 1px solid #E4E4E4;margin-bottom: 0;}
#header .header-actions .popup-box .modal .modal-title {font-size: 19px;}
#header .header-actions .popup-box .modal .close-modal {position: absolute;top: 7px;right: 24px;width: 20px;padding: 0;background-image: url("../assets/icons/close.svg");background-color: rgba(0, 0, 0, 0);border: 0;}
#header .header-actions .popup-box .modal .pop-content-wrap {display: flex;}
#header .header-actions .popup-box .modal .menu-list {position: relative;width: 312px;min-width: 312px;overflow-y: auto;padding: 16px;height: 324px;}
#header .header-actions .popup-box .modal .menu-list a {display: block;color: #060606;padding: 16px;}
#header .header-actions .popup-box .modal .menu-list li.active a {background-color: #cdd7e4;border-radius: 6px;color: #16408d;font-weight: 700;}
#header .header-actions .popup-box .modal .contents {width: calc(100% - 312px);padding: 24px 24px 0 24px;background-color: #f4f5f6;}
#header .header-actions .popup-box .modal .contents .box {background-color: #fff;display: flex;flex-direction: column;align-items: flex-start;justify-content: flex-start;overflow-y: auto;height: 300px;}
#header .header-actions .popup-box .modal .popup-btn-area {display: flex;align-items: flex-end;}
#header .header-actions .popup-box .modal .popup-btn-area .form-check {width: 312px;min-width: 312px;padding-left: 16px;padding-bottom: 24px;}
#header .header-actions .popup-box .modal .popup-btn-area .form-check label {display: inline-block;}
#header .header-actions .popup-box .modal .popup-btn-area .madal-btn-area {flex: 1;background-color: #f4f5f6;padding-top: 24px;padding-bottom: 24px;padding-right: 16px;}
#header .header-actions .popup-box .modal .popup-btn-area .madal-btn-area .btn-area {display: flex;justify-content: flex-end;}
#header .header-actions .popup-box #ppupCtenCn {padding: 10px;}
#header .header-actions .popup-box #ppupCtenCn img {width: 100%;}
#header .header-actions .popup-box #popUpAttc {display: flex;justify-content: space-between;flex-wrap: wrap;}
#header .header-actions .popup-box #popUpAttc > div {display: block;margin-top: 15px;width: calc(50% - 15px);}

/* 통합검색 */
.wrap-in-sch {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: #EDF1F5;z-index: 9999;overflow-y: auto;}
.wrap-in-sch .in-sch-box {max-width: 1079px;margin: 160px auto 0;padding: 0 217px 0 16px;position: static;transform: translate(0, 0);border-radius: 0;background-color: rgba(0, 0, 0, 0);width: auto;min-width: auto;max-height: 100%;height: auto;}
.wrap-in-sch .in-sch-box .modal-body {max-height: 100%;height: auto;overflow: visible;padding-right: 0;}
.wrap-in-sch .in-sch-box .sch-close {position: absolute;top: 0;right: -257px;font-size: 0;padding: 0;}
.wrap-in-sch .in-sch-box .tit {font-size: 32px;}
.wrap-in-sch .in-sch-box .sch-box {height: 80px;border-radius: 8px;border: 1px solid #58616A;background-color: #FFF;position: relative;margin: 32px 0 40px 0;}
.wrap-in-sch .in-sch-box .sch-box input[type=text] {width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0);border: 0;font-size: 25px;font-weight: 700;padding: 0 80px 0 16px;}
.wrap-in-sch .in-sch-box .sch-box input[type=text]::placeholder {color: #8A949E;}
.wrap-in-sch .in-sch-box .sch-box button.sch, 
.wrap-in-sch .in-sch-box .sch-box button.sch-delete {position: absolute;top: 50%;right: 16px;background-color: rgba(0, 0, 0, 0);width: 40px;height: 40px;padding: 0;transform: translateY(-50%);}
.wrap-in-sch .in-sch-box .sch-box button.sch.sch-delete, 
.wrap-in-sch .in-sch-box .sch-box button.sch-delete.sch-delete {width: 32px;height: 32px;right: 61px;display: none;}
.wrap-in-sch .in-sch-box .sch-box button.sch i, 
.wrap-in-sch .in-sch-box .sch-box button.sch-delete i {font-size: 0;display: block;width: 100%;height: 100%;min-width: 100%;min-height: 100%;}
.wrap-in-sch .in-sch-box .popular-sch-box {border-top: 1px solid #CDD7E4;padding: 40px 24px 40px 24px;}
.wrap-in-sch .in-sch-box .popular-sch-box .tit {font-size: 21px;}
.wrap-in-sch .in-sch-box .popular-sch-box ul {margin-top: 16px;}
.wrap-in-sch .in-sch-box .popular-sch-box ul li {margin-top: 24px;display: flex;justify-content: space-between;}
.wrap-in-sch .in-sch-box .popular-sch-box ul li .popular-txt {display: flex;align-items: center;}
.wrap-in-sch .in-sch-box .popular-sch-box ul li .popular-txt em {margin-right: 8px;display: inline-block;font-style: normal;width: 20px;}
.wrap-in-sch .in-sch-box .popular-sch-box ul li .popular-num {display: flex;align-items: center;gap: 3px;font-size: 15px;font-weight: 700;}
.wrap-in-sch .in-sch-box .popular-sch-box ul li .popular-num.rise {color: #E71825;}
.wrap-in-sch .in-sch-box .popular-sch-box ul li .popular-num.decrease {color: #246BEB;}
.wrap-in-sch .in-sch-box .popular-sch-box ul li .popular-num:not(.rise):not(.decrease) {min-width: 26px;justify-content: center;}
.wrap-in-sch .in-sch-box .popular-sch-box ul li .popular-num i {font-size: 0;}
.wrap-in-sch .in-sch-box .popular-sch-box ul li a:hover span, 
.wrap-in-sch .in-sch-box .popular-sch-box ul li a:hover em {font-weight: 700;}
.wrap-in-sch .btn-close {right: 16px;top: 0;width: 40px;height: 40px;}
.wrap-in-sch .btn-close i {width: 100%;height: 100%;}

@media screen and (max-width: 1200px) {  
  #wrap.login .popup-box .modal {left: -579px !important;}  
  #header .header-actions .btn-navi {font-size: 16px;}
}
@media screen and (max-width: 1023px) {
  /* header */
  #header .logo {width: 120px;}
  #header .logo a {background-size: contain;background-repeat: no-repeat;background-position: center;}
  #header .header-actions {height: 48px;}
  #header .header-actions .popup-box {display: flex;align-items: center;}
  #header .header-actions .btn-navi {margin-left: 8px;text-align: center;font-size: 15px;padding: 5px;flex-direction: column;gap: 8px;}
  #header .header-actions .btn-navi:before {transform: translateX(0);position: static;}
  #header .header-container .inner {height: 64px;}
  #header .header-actions .btn-navi.join {display: none;}
  #header .header-actions .btn-navi.mobile-all-menu {display: flex;}

  /* 모바일 메뉴 상단 */
  #header .mobile-top-area {display: block;padding: 20px;border: 1px solid #fff;align-items: flex-end;border-bottom: 1px solid #D8D8D8;position: relative;}
  #header .mobile-top-area .login {margin-left: 0;padding: 10px 0 10px 32px;width: auto;height: auto;line-height: 1;text-align: left;margin-top: 32px;}
  #header .mobile-top-area .login::before {top: 8px !important;}
  #header .mobile-top-area .btn-navi:before {left: 5px;top: 0;transform: translateX(0);}
  #header .mobile-top-area .login-area {display: flex;padding-left: 23px;margin-top: 21px;gap: 35px;}
  #header .mobile-top-area .name-box {height: auto;display: flex;flex-wrap: wrap;gap: 26px;margin: 0;}
  #header .mobile-top-area .name-box .name {width: 100%;}
  #header .mobile-top-area .name-box .name * {font-size: 19px;}
  #header .mobile-top-area .name-box .inform, 
  #header .mobile-top-area .name-box .time {line-height: 1px;}
  #header .mobile-top-area .name-box .inform {margin-left: 23px;}
  #header .mobile-top-area .name-box a:has(.inform) {padding-left: 0;}
  #header .mobile-top-area .name-box .time {margin-left: 15px;}
  #header .header-actions .language-area {display: none;}
  #header .mobile-top-area .language-area {display: block;}
  #header .mobile-top-area {flex-direction: column;align-items: flex-start;}

  /* 로그인전 */
  #wrap.login .mobile-top-area {height: 125px;display: flex;}
  #wrap.login .mobile-top-area .name-box {display: none;}
  #header .mobile-top-login{width:100%;}
  #header .mobile-top-login .language-area{margin-bottom: 21px !important;}
  #header .mobile-top-login .login-box a{padding: 5px;margin-top: 0;display: inline-flex; flex-direction: row;justify-content: flex-start;font-size:17px;}
  #header .mobile-top-area .language-area {margin-left: 0;margin-bottom: 21px;}  

  /* 로그인후 */
  #wrap.logout .header-container .name-box {display: none !important;}
  #wrap.logout .mobile-top-area {height: 168px;display: flex;}  
  #wrap.logout .login-work {display: none;}
  #wrap.logout #header .mobile-top-area .language-area {margin-bottom: 26px;}
  
  #masthead .nuri-txt {font-size: 14px;}  

  /* 알림 팝업 */
  #header .header-actions .popup-box {position: static;}
  #header .header-actions .popup-box .btn-navi.popup.active::after {right: 17px;top: 63px;}
  #header .header-actions .popup-box .modal {width: 95%;top: 79px;left: 50% !important;height: auto;transform: translateX(-50%);}  

  /* 영문 */
  html[lang=en] #wrap .mobile-top-area {flex-direction: column;align-items: flex-start;}
}
@media screen and (max-width: 767px) {  
  #header .header-actions .btn-navi {font-size: 13px;}

  /* 알림 팝업 */
  #header .header-actions .popup-box .modal .pop-content-wrap {flex-direction: column;height: auto;}
  #header .header-actions .popup-box .modal .menu-list {width: 100%;min-width: 100%;max-height: 150px;}
  #header .header-actions .popup-box .modal .contents {width: 100%;padding: 16px;}
  #header .header-actions .popup-box .modal .contents .box {height: 150px;}
  #header .header-actions .popup-box .modal .popup-btn-area {background-color: #f4f5f6;align-items: center;}
  #header .header-actions .popup-box .modal .popup-btn-area .madal-btn-area {padding-top: 10px;padding-bottom: 16px;}
  #header .header-actions .popup-box .modal .popup-btn-area .madal-btn-area .align {justify-content: flex-end;}
  #header .header-actions .popup-box .modal .popup-btn-area .madal-btn-area .align button {width: auto;}
  #header .header-actions .popup-box .modal .popup-btn-area .form-check {padding-bottom: 0;width: auto;min-width: auto;}

  /* 통합검색 */
  .wrap-in-sch .in-sch-box {padding: 0 16px 0 16px;}
  .wrap-in-sch .btn-close {top: -50px;}
}
@media screen and (max-width: 480px) {  
  #masthead .nuri-txt {font-size: 13px;padding-left: 25px;}

  /* header */
  #header .header-actions:not(.mobile-top-area) {padding-left: 3px;}
  #header .header-actions .btn-navi {margin-left: 0;}
  #header .header-actions .btn-navi:before {width: 16px;height: 16px;}
  #header .logo {width: 97px;}

  /* 알림팝업 */
  #header .header-actions .popup-box #popUpAttc > div {width: 100%;}
  #header .header-actions .popup-box #popUpAttc > div:nth-child(2n) {padding-left: 0;}
  #header .header-actions .popup-box .modal .popup-btn-area {flex-wrap: wrap;}

  /* 통합검색 */
  .wrap-in-sch .in-sch-box {margin-top: 80px;}
  .wrap-in-sch .in-sch-box .tit {font-size: 25px;}
  .wrap-in-sch .in-sch-box .popular-sch-box {padding: 40px 0px 0 0px;}
  .wrap-in-sch .in-sch-box .popular-sch-box .tit {font-size: 19px;}
  .wrap-in-sch .in-sch-box .sch-box {height: 64px;}
  .wrap-in-sch .in-sch-box .sch-box input[type=text] {font-size: 21px;}
  .wrap-in-sch .in-sch-box .sch-box button.sch {width: 32px;height: 32px;}
  .wrap-in-sch .in-sch-box .sch-box button.sch-delete {width: 24px !important;height: 24px !important;right: 53px !important;}
  .wrap-in-sch .btn-close {width: 24px;height: 24px;top: -64px;}  
}
@media screen and (max-width: 390px) {  
  #header .main-menu {width: 100% !important;}
}