/* ==========================================================================
   LAYOUT: Navigation   
   ========================================================================== */

/* 메뉴 */
#header .main-menu {border-bottom: 1px solid #d8d8d8;padding: 0 16px;transform: translate(0px, 0px);}
#header .main-menu .inner {max-width: 1280px;margin: 0 auto;display: flex;justify-content: space-between;}
#header .main-menu .gnb-menu {display: flex;width: 100%;align-items: center;justify-content: space-between;}
#header .main-menu .gnb-menu > li {height: 100%;display: flex;align-items: center;padding: 0 10px;}
#header .main-menu .gnb-menu > li.active .gnb-main-trigger:before {left: 0;width: 100%;}
#header .main-menu .gnb-menu > li.active .gnb-toggle-wrap {display: block;}
#header .main-menu .gnb-main-trigger {background-color: rgba(0, 0, 0, 0);font-size: 19px;padding: 18px 0;position: relative;color: #555;line-height: 1.5;height: 100%;font-weight: 700;}
#header .main-menu .gnb-main-trigger:before {content: "";display: block;position: absolute;bottom: 0px;left: 50%;width: 0;height: 4px;background-color: #16408d;transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);}
#header .main-menu .gnb-main-trigger:hover::before {width: 100%;left: 0;}
#header .main-menu .gnb-main-trigger span {display: flex;font-size: 13px;color: #555;margin-top: -1px;justify-content: center;}
#header .main-menu .allmenu {background-color: rgba(0, 0, 0, 0);background-image: url("../assets/icons/menu.svg");background-repeat: no-repeat;background-position: right;width: 20px;height: 20px;}
#header .main-menu .gnb-toggle-wrap {display: none;position: absolute;/*top: 65px;*/left: 0;width: 100%;background-color: #fff;z-index: 100;border-top: 1px solid #d8d8d8;}
#header .main-menu .gnb-main-list {max-width: 1280px;margin: 0 auto;display: flex;}
#header .main-menu .gnb-main-list .gnb-title {background-color: #f4f5f6;position: relative;min-width: 281px;}
#header .main-menu .gnb-main-list .gnb-title:before {content: "";display: block;position: absolute;top: 0;left: -1000px;width: 1000px;height: 100%;background-color: #f4f5f6;}
#header .main-menu .gnb-title-box {position: absolute;top: 40px;}
#header .main-menu .gnb-main-list .gnb-title .left-title {font-size: 25px;color: #060606;display: inline-block;line-height: 150%;}
#header .main-menu .gnb-main-list .gnb-title span {display: block;font-size: 15px;margin-top: 18px;color: #060606;line-height: 1.5;}
#header .main-menu .gnb-main-list .gnb-title p {margin-top: 29px;font-size: 15px;color: #555;line-height: 1.5;position: relative;padding: 0 68px 0 23px;}
#header .main-menu .gnb-main-list .gnb-title p:before {content: "";display: block;position: absolute;top: 4px;left: 0;width: 16px;height: 16px;background-image: url("../assets/icons/live-area.svg");}
#header .main-menu .gnb-main-list .gnb-list {padding: 17px 0 40px 40px;display: flex;flex-wrap: wrap;margin-left: -24px;width: 100%;}
#header .main-menu .gnb-main-list .gnb-list > li {width: calc(33.3333% - 24px);margin-left: 24px;}
#header .main-menu .gnb-main-list .gnb-list > li.w-auto {width: 48%;}
#header .main-menu .gnb-main-list .gnb-list > li .depth2 li {margin-top: 4px;}
#header .main-menu .gnb-main-list .gnb-list > li.last-menu {margin-top: -35px;}
#header .main-menu .gnb-main-list .gnb-list > li.right-menu {margin-left: calc(33.333% + 24px);}
#header .main-menu .gnb-main-list .gnb-list .sub-title {display: block;font-size: 19px;padding: 16px 0 14px 0;margin-bottom: 6px;border-bottom: 1px solid #c6c6c6;line-height: 150%;}
#header .main-menu .gnb-main-list .gnb-list .sub-title span {display: block;font-size: 13px;color: #555;margin-top: 0;line-height: 150%;}
#header .main-menu .gnb-main-list .gnb-list .sub-title span br {display: none;}
#header .main-menu .gnb-main-list .gnb-list a.sub-title {display: none;}
#header .main-menu .gnb-main-list .gnb-list .depth2 {margin-top: 10px;}
#header .main-menu .gnb-main-list .gnb-list .depth2 a {display: inline-block;padding: 5px 12px 5px 20px;position: relative;}
#header .main-menu .gnb-main-list .gnb-list .depth2 a:hover, 
#header .main-menu .gnb-main-list .gnb-list .depth2 a:focus {background-color: #EDF1F5;border-radius: 4px;}
#header .main-menu .gnb-main-list .gnb-list .depth2 a i {font-style: normal;line-height: 150%;}
#header .main-menu .gnb-main-list .gnb-list .depth2 a i:before {content: "";display: block;position: absolute;top: 17px;left: 7px;width: 4px;height: 4px;border-radius: 50%;background-color: #2d2d2d;transform: translateY(-50%);}
#header .main-menu .gnb-main-list .gnb-list .depth2 a i:after {content: "";display: inline-block;width: 16px;height: 16px;background-image: url("../assets/icons/live-area.svg");transform: translate(4px, 2px);}
#header .main-menu .gnb-main-list .gnb-list .depth2 a i.no-ico {padding: 0;}
#header .main-menu .gnb-main-list .gnb-list .depth2 a i.no-ico:after {display: none;}
#header .main-menu .gnb-main-list .gnb-list .depth2 span {font-size: 13px;color: #555;display: block;font-style: normal;line-height: 150%;}
#header .main-menu .auth-notice {max-width: 1280px;margin: 80px auto 20px;padding-left: 26px;color: #555;position: relative;}
#header .main-menu .auth-notice::before {content: "";display: block;position: absolute;left: 0;width: 16px;height: 16px;background-image: url(../assets/icons/live-area.svg);}
#header .main-menu .gnb-menu.gnb-allmenu {max-width: 1280px;width: auto;margin: 0 auto;display: flex;flex-direction: column;align-items: flex-start;}
#header .main-menu .gnb-menu.gnb-allmenu .gnb-main-list .gnb-title h2 {font-size: 32px;}
#header .main-menu .gnb-menu.gnb-allmenu .gnb-toggle-wrap {display: block;position: relative;top: 0;padding: 64px 0 55px 0;border-bottom: 1px solid #e4e4e4;}
#header .main-menu .gnb-menu.gnb-allmenu .gnb-main-list {display: flex;flex-direction: column;}
#header .main-menu .gnb-menu.gnb-allmenu .gnb-main-list .gnb-title {background-color: rgba(0, 0, 0, 0);}
#header .main-menu .gnb-menu.gnb-allmenu .gnb-main-list .gnb-title:before {display: none;}
#header .main-menu .gnb-menu.gnb-allmenu .gnb-title-box {position: relative;top: 0;}
#header .main-menu .gnb-menu.gnb-allmenu .gnb-main-list .gnb-title span {margin-top: 4px;}
#header .main-menu .gnb-menu.gnb-allmenu .gnb-main-list .gnb-list {padding: 0;margin-top: 23px;margin-left: 0;}
#header .main-menu .gnb-menu.gnb-allmenu .gnb-main-list .gnb-list > li {width: calc(33.3333% - 18px);margin-left: 24px;}
#header .main-menu .gnb-menu.gnb-allmenu .gnb-main-list .gnb-list > li:first-child {margin-left: 0;}
#header .main-menu .gnb-menu.gnb-allmenu .gnb-main-list .gnb-list > li.last-menu {margin-top: 25px;}
#header .main-menu .gnb-menu.gnb-allmenu > li {width: 100%;}
#header .main-menu .gnb-menu.gnb-allmenu .last-allmenu .gnb-toggle-wrap {width: 33.3333%;border-bottom: 0;}
#header .main-menu .gnb-menu.gnb-allmenu .last-allmenu .gnb-main-list .gnb-list {width: 100%;}
#header .main-menu .gnb-menu.gnb-allmenu .last-allmenu .gnb-main-list .gnb-list > li {width: 100%;}
#header .main-menu .gnb-menu.gnb-allmenu > li.last-allmenu {display: flex;align-items: flex-start;}
#header .main-menu .gnb-menu.gnb-allmenu .gnb-main-list .gnb-list .depth2 span {padding-right: 10px;}
#header .main-menu.main-allmenu {display: none;border-bottom: 0;background-color: #fff;position: absolute;left: 0;width: 100%;overflow-y: scroll;height: calc(100vh - 178px);}
#header .main-menu.main-allmenu.large {height: calc(100vh - 146px);}
#header .main-menu.main-allmenu .gnb-toggle-wrap {border-top: 0;top: 0 !important;}
#header .main-menu.main-allmenu .gnb-main-list .gnb-title .left-title {font-size: 32px;}
#header .main-menu .allmenu.active {background-image: url("../assets/icons/close.svg");}
#header .main-menu .info-area {display: none;}
#header .main-menu .mobile-close {display: none;}

/* 영문 */
// html[lang=en] * {word-wrap: normal;}
// html[lang=en] #header .main-menu .gnb-toggle-wrap {top: 93px;}
// html[lang=en] #header .main-menu .gnb-main-list .gnb-list {padding: 17px 0 133px 40px;}
// html[lang=en] #header .main-menu .gnb-main-list .gnb-list > li.last-menu {margin-top: -120px;}
// html[lang=en] #header .main-menu .gnb-menu.gnb-allmenu .gnb-main-list .gnb-list > li.last-menu {margin-top: 25px;}
// html[lang=en] #header .main-menu .gnb-menu.gnb-allmenu .gnb-toggle-wrap {top: 0;}
// html[lang=en] #header .main-menu .gnb-menu.gnb-allmenu .gnb-main-list .gnb-list {padding: 0;}
// html[lang=en] #header .main-menu.main-allmenu {height: calc(100vh - 200px);}

@media screen and (max-width: 1312px) {
  /* 메뉴 */
  #header .main-menu .gnb-menu.gnb-allmenu .gnb-title {padding-left: 0;}
  #header .main-menu .gnb-title-box {top: 23px;}
  #header .main-menu .gnb-main-list .gnb-title {padding-left: 16px;}
  #header .main-menu .gnb-main-list .gnb-title p {padding: 0 50px 0 23px;}
  #header .main-menu .gnb-main-list .gnb-list {padding: 4px 20px 20px 20px;}
  #header .main-menu .gnb-main-list .gnb-list .sub-title {font-size: 18px;margin-bottom: 0;}
  #header .main-menu .gnb-main-list .gnb-list .depth2 {padding-top: 0;}
  #header .main-menu .gnb-main-list .gnb-title h2 {font-size: 24px;}
  #header .main-menu .gnb-main-list .gnb-list .depth2 a i br {display: none;}
}
@media screen and (max-width: 1200px) {
  /* 메뉴 */
  #header .main-menu .gnb-main-trigger {font-size: 17px;}
  // #header .main-menu .gnb-toggle-wrap {top: 61px;}
  #header .main-menu .gnb-menu.gnb-allmenu .gnb-toggle-wrap {padding: 50px 0;top: 61px;}
  #header .main-menu .gnb-menu.gnb-allmenu .gnb-main-list .gnb-title h2 {font-size: 32px;}
  #header .main-menu .allmenu {font-size: 17px;}

  /* 메뉴 영문 */
  // html[lang=en] #header .main-menu .gnb-toggle-wrap {top: 87px;}
}
@media screen and (max-width: 1023px) {
  /* 메뉴 */
  #header:before {content: "";position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.8);z-index: 1;}
  #header .main-menu {background: #fff;position: fixed;top: 0;right: 0;width: 390px;height: 100%;z-index: 9999;padding: 0 0 58px 0;}
  #header .main-menu:before {content: "";display: block;position: absolute;top: 108px;left: 0;width: 120px;height: 100%;background-color: #EDF1F5;}
  #header .main-menu .info-area {display: block;position: fixed;bottom: 0;border-top: 1px solid #D8D8D8;z-index: 999;width: 390px;background-color: #fff;padding: 23px 47px;font-size: 15px;color: #555;}
  #header .main-menu .info-area:before {content: "";display: block;position: absolute;top: 49%;left: 24px;width: 16px;height: 16px;transform: translateY(-50%);background-image: url("../assets/icons/live-area.svg");}
  #header .main-menu .mobile-close {position: absolute;top: 20px;right: 24px;font-size: 0;display: block;}
  #header .main-menu .gnb-menu {max-width: 100%;width: 100%;flex-direction: column;display: block;}
  #header .main-menu .gnb-main-trigger {font-size: 15px;text-align: left;display: block;width: 120px;position: relative;color: #1D1D1D;font-weight: 700;padding: 13px 20px;}
  #header .main-menu .gnb-main-trigger span, 
  #header .main-menu .gnb-main-trigger:before {display: none;}
  #header .main-menu .gnb-toggle-wrap {display: none;left: auto;right: 0;width: calc(100% - 120px);overflow: auto;padding: 40px 24px;border-left: 1px solid #D8D8D8;border-top: 0;}
  #header .main-menu .gnb-main-list {flex-direction: column;}
  #header .main-menu .gnb-main-list .gnb-title {background: rgba(0, 0, 0, 0);min-width: auto;padding-left: 0;width: 100%;}
  #header .main-menu .gnb-main-list .gnb-title:before {display: none;}
  #header .main-menu .gnb-main-list .gnb-title .left-title {border-bottom: 1px solid #D8D8D8;padding-bottom: 20px;display: block;font-size: 17px;}
  #header .main-menu .gnb-main-list .gnb-title .left-title br {display: none;}
  #header .main-menu .gnb-main-list .gnb-title p {display: none;}
  #header .main-menu .gnb-main-list .gnb-title span {font-size: 13px;margin-top: 11px;}
  #header .main-menu .gnb-main-list .gnb-list {display: flex;margin-left: 0;padding: 0;}
  #header .main-menu .gnb-main-list .gnb-list > li {margin-left: 0;width: 100%;padding: 15px 0 15px 8px;}
  #header .main-menu .gnb-main-list .gnb-list .sub-title {padding: 0 21px 0 0;font-size: 15px;border-bottom: 0;position: relative;font-weight: 700;}
  #header .main-menu .gnb-main-list .gnb-list .sub-title.active i {transform: rotate(180deg);}
  #header .main-menu .gnb-main-list .gnb-list .sub-title i {position: absolute;top: 0;right: 0;display: block;width: 16px;height: 16px;}
  #header .main-menu .gnb-main-list .gnb-list strong.sub-title {display: none;}
  #header .main-menu .gnb-main-list .gnb-list > li.last-menu {margin-top: 0;}
  #header .main-menu .gnb-main-list .gnb-list > li.last-menu.right-menu {margin-left: 0;margin-bottom: 65px;}
  #header .main-menu .gnb-main-list .gnb-list > li.w-auto {width: 100%;}
  #header .main-menu .gnb-main-list .gnb-list .depth2 a {padding: 8px 20px 8px 20px;}
  #header .main-menu .gnb-main-list .gnb-list .depth2 a i {display: inline-block;font-size: 15px;}
  #header .main-menu .gnb-main-list .gnb-list a.sub-title {display: block;}
  #header .main-menu .gnb-title-box {position: initial;}
  #header .main-menu .gnb-menu > li{padding: 0;}
  #header .main-menu .gnb-menu > li.dep2, 
  #header .main-menu .gnb-menu > li.dep3 {height: 89px;}
  #header .main-menu .gnb-menu > li.dep1, 
  #header .main-menu .gnb-menu > li.dep4, 
  #header .main-menu .gnb-menu > li.dep5 {height: 66px;}
  #header .main-menu .gnb-menu > li.dep6, 
  #header .main-menu .gnb-menu > li.dep7 {height: 59px;}
  #header .main-menu .gnb-menu > li[class*=dep]:not(.dep1) .gnb-list {top: 79px;}
  #header .main-menu .gnb-menu > li.dep5 .gnb-list .depth2, 
  #header .main-menu .gnb-menu > li.dep6 .gnb-list .depth2, 
  #header .main-menu .gnb-menu > li.dep7 .gnb-list .depth2 {display: block !important;}
  #header .main-menu .gnb-menu > li.dep5 .gnb-list > li, 
  #header .main-menu .gnb-menu > li.dep6 .gnb-list > li, 
  #header .main-menu .gnb-menu > li.dep7 .gnb-list > li {padding: 0;}
  #header .main-menu .gnb-menu > li.active .gnb-main-trigger {background-color: #fff;color: #003675;}
  #header .main-menu .gnb-menu > li.active .gnb-main-trigger::after {content: "";display: block;position: absolute;top: 0;right: -10px;width: 20px;height: 100%;background-color: #fff;z-index: 9999;}
  #header .main-menu .gnb-main-list .gnb-list .sub-title + ul.depth2 {display: none;}
  #header .main-menu .gnb-main-list .gnb-list .sub-title.mobile-active i {transform: rotate(180deg);}
  #header .main-menu .gnb-main-list .gnb-list .sub-title.mobile-active + ul.depth2 {display: block;}
  #header .main-menu .allmenu {display: none;}
  #header:before, 
  #header .main-menu {display: none;}
  #wrap.mobile-open .main-menu, 
  #wrap.mobile-open #header:before {display: block !important;}
  #wrap.mobile-open .main-allmenu {display: none !important;}
  #wrap.login .main-menu .gnb-toggle-wrap {top: 125px;height: calc(100% - 120px);}
  #wrap.login .main-menu:before {top: 125px;}
  #wrap.logout .main-menu .gnb-toggle-wrap {top: 168px;height: calc(100% - 150px);}
  #wrap.logout .main-menu:before {top: 168px;}  

  /* 메뉴 영문 */
  html[lang=en] #header .main-menu .gnb-menu > li.dep1 {height: 113px;}
  html[lang=en] #header .main-menu .gnb-menu > li.dep2 {height: 181px;}
  html[lang=en] #header .main-menu .gnb-menu > li.dep3 {height: 204px;}
  html[lang=en] #header .main-menu .gnb-menu > li.dep7 {height: 50px;}
  // html[lang=en] #header .main-menu .gnb-main-trigger {padding: 10px 24px;}
  // html[lang=en] #header .main-menu .gnb-main-list .gnb-list {padding: 0;}
  // html[lang=en] #header .main-menu .gnb-main-list .gnb-list > li.last-menu {margin-top: 0;}
  // html[lang=en] #wrap.login #header .main-menu .gnb-toggle-wrap {top: 108px;}
  // html[lang=en] #wrap.logout #header .main-menu .gnb-toggle-wrap {top: 153px;}  
}