<div id="skip-link">
   <a href="#breadcrumb">본문 바로가기</a>
</div>
<div id="masthead">
   <div class="toggle-wrap">
      <div class="toggle-head">
         <div class="inner">
            <span class="nuri-txt">이 누리집은 관세청 누리집입니다.</span>            
         </div>
      </div>
   </div>
</div>
<header id="header">
   <div class="header-in">      
      <div class="header-container">
         <div class="inner">            
            <div class="header-branding">
               <h1 class="logo sample">
                  <a href="javascript: void(0);">
                     <span class="sr-only">대한민국정부</span>
                  </a>
               </h1>    
               <h2 class="sr-only">빈텍스트</h2>                          
               <div class="header-actions">
                  <div class="popup-box">                  
                     <button type="button" class="btn-navi popup">팝업</button>                                    
                     <div class="modal d-none">
                        <div class="modal-dialog">
                           <div class="modal-content">                        
                              <div class="modal-header">
                                 <strong class="modal-title">팝업</strong>
                              </div>                        
                              <div class="modal-conts">
                                 <div class="conts-area">
                                    <div class="menu-list">
                                       <ul>
                                          <li class="active"><a href="javascript: void(0);">관세청 전자상거래포털 신규 오픈</a></li>
                                          <li><a href="javascript: void(0);">개인통관고유부호 신청 안내</a></li>
                                          <li><a href="javascript: void(0);">통관 진행 정보 확인 안내</a></li>
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>                                
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>                                
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>                                
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>                                
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>                                
                                          <li><a href="javascript: void(0);">국민 비서 ‘구삐’ 신청 안내</a></li>                                
                                       </ul>
                                    </div>
                                    <div class="contents">
                                       <div class="box">
                                          콘텐츠 영역
                                       </div>  
                                       <div class="madal-btn-area">
                                          <div class="form-check">
                                             <input type="checkbox" id="popup-chk">
                                             <label for="popup-chk">오늘하루 그만보기</label>
                                          </div>
                                          <div class="btn-area btn-end">
                                             <div class="align">
                                                <button type="button" class="btn tertiary medium">바로가기</button>
                                                <button type="button" class="btn primary medium close-btn">닫기</button>
                                             </div>
                                          </div>
                                       </div>                                                                              
                                    </div>
                                 </div>
                              </div>                        
                              <button type="button" class="btn medium icon btn-close close-modal close-btn"><span class="sr-only">닫기</span><i class="svg-icon ico-popup-close"></i></button>                        
                           </div>
                        </div>                    
                     </div>                  
                  </div> 
                  <div class="name-box">
                     <p class="name"><strong>김관세</strong><span>님 환영합니다.</span></p>     
                     <span class="inform">+999</span>             
                     <span class="time">38:12</span>             
                  </div>                  
                  <button type="button" class="btn-navi sch" data-modal-target="#in-search">통합검색</button>
                  <!-- 통합검색 -->
                  <div id="in-search" class="modal d-none wrap-in-sch" data-ui="modal">
                     <div class="modal-wrap in-sch-box">                        
                        <div class="modal-body" tabindex="0">                           
                           <strong class="tit">검색어를 입력해주세요</strong>
                           <div class="sch-box wrap-search-area">
                              <input type="text" placeholder="검색어를 입력해주세요." title="검색어를 입력해주세요">
                              <button class="sch-delete"><i class="icon delete-circle xx-large">검색어 삭제</i></button>
                              <button class="sch"><i class="icon search xxx-large">검색</i></button>                              
                           </div>
                           <div class="popular-sch-box">
                              <strong class="tit">인기검색어</strong>
                              <ul>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>1</em>개인통관고유부호 신청</span><span class="popular-num rise"><i class="icon rise x-small">증가</i>1000</span></a></li>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>1</em>개인통관고유부호 신청</span><span class="popular-num decrease"><i class="icon decrease x-small">하락</i>10</span></a></li>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>1</em>개인통관고유부호 신청</span><span class="popular-num">-</span></a></li>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>1</em>개인통관고유부호 신청</span><span class="popular-num decrease"><i class="icon decrease x-small">하락</i>100</span></a></li>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>10</em>개인통관고유부호 신청</span><span class="popular-num rise"><i class="icon rise x-small">증가</i>1</span></a></li>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>10</em>개인통관고유부호 신청</span><span class="popular-num rise"><i class="icon rise x-small">증가</i>1</span></a></li>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>10</em>개인통관고유부호 신청</span><span class="popular-num rise"><i class="icon rise x-small">증가</i>1</span></a></li>
                                 <li><a href="javascript: void(0);"><span class="popular-txt"><em>10</em>개인통관고유부호 신청</span><span class="popular-num rise"><i class="icon rise x-small">증가</i>1</span></a></li>
                              </ul>
                           </div>                                
                        </div>                        
                     </div>
                  </div>                  
                  <!-- // 통합검색 -->
                  <!--
                  <button type="button" class="btn-navi join">회원가입</button>
                  -->
                  <a href="javascript: void(0);" class="btn-navi login">로그인</a>                                               
                  <a href="javascript: void(0);" class="btn-navi loginout">로그인아웃</a>                  
                  <button type="button" class="btn-navi mobile-all-menu">전체메뉴</button>
               </div>
            </div>
         </div>
      </div>
      <!-- gnb -->
      <nav class="main-menu">
         <!-- 모바일 상단 정보 -->
         <div class="mobile-top-area header-actions">
            <!-- 로그인 전 -->
            <div class="login-work">
               디자인 작업예정
            </div>
            <!-- 로그인 전 -->     
            <!-- 로그인 후 -->
            <div class="name-box">
               <p class="name"><strong>김관세</strong><span>님 환영합니다.</span></p>     
               <span class="inform">+999</span>             
               <span class="time">38:12</span>             
            </div>                  
            <!-- 로그인 후 -->
         </div>
         <!-- 모바일 상단 정보 -->
         <div class="inner">
            <ul class="gnb-menu">               
               <li class="dep1">
                  <button type="button" class="gnb-main-trigger">Personal customs clearance code</button>                  
                  <div class="gnb-toggle-wrap">                     
                     <div class="gnb-main-list">
                        <div class="gnb-title">
                           <div class="gnb-title-box">
                              <strong class="left-title">Personal customs clearance code</strong>
                              <p>간편, 공동 본인인증 후 이용이<br>가능합니다.</p>
                           </div>
                        </div>
                        <ul class="gnb-list">
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">Personal customs clearance code inquiry</strong>
                                    <a href="javascript: void(0);" class="sub-title mobile-dep-menu" title="메뉴열기">Personal customs clearance code inquiry<i class="icon btn-arrow-down small"></i></a>
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>Personal customs clearance code inquiry/information change</i></a></li>
                                       <li><a href="javascript: void(0);"><i>Personal customs clearance code   issuance history inquiry</i></a></li>
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>   
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">Application for personal customs clearance code</strong>
                                    <a href="javascript: void(0);" class="sub-title mobile-dep-menu" title="메뉴열기">Application for personal customs clearance code<i class="icon btn-arrow-down small"></i></a>
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>New personal customs clearance code clearance code</i></a></li>
                                       <li><a href="javascript: void(0);"><i>Suspension/Release of Personal Customs Code</i></a></li>
                                       <li><a href="javascript: void(0);"><i>Renewal of validity period of personal customs clearance code</i></a></li>
                                       <li><a href="javascript: void(0);"><i>Application for cancellation of personal customs clearance code</i></a></li>
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>                      
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">Report of personal customs clearance code</strong>
                                    <a href="javascript: void(0);" class="sub-title mobile-dep-menu" title="메뉴열기">Report of personal customs clearance code<i class="icon btn-arrow-down small"></i></a>
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>Report of theft of personal customs clearance code</i></a></li>
                                       <li><a href="javascript: void(0);"><i>Personal customs clearance code report details inquiry</i></a></li>
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>                      
                           <li class="last-menu">                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">Overseas direct purchase authentication number issuance details</strong>
                                    <a href="javascript: void(0);" class="sub-title mobile-dep-menu" title="메뉴열기">Overseas direct purchase authentication number issuance details<i class="icon btn-arrow-down small"></i></a>
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>Inquiry on issuance history of one-time authentication number/personal customs code</i></a></li>                                    
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>
                           <li class="last-menu right-menu">                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">Pre-application for issuance of personal customs clearance code</strong>
                                    <a href="javascript: void(0);" class="sub-title mobile-dep-menu" title="메뉴열기">Pre-application for issuance of personal customs clearance code<i class="icon btn-arrow-down small"></i></a>
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i class="no-ico">Pre-application registration</i></a></li>                                    
                                       <li><a href="javascript: void(0);"><i class="no-ico">Check pre-application details/change information</i></a></li>                                    
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>                                                                   
                        </ul>
                     </div>                     
                  </div>                  
               </li>  
               <li class="dep2">
                  <button type="button" class="gnb-main-trigger">Overseas direct purchase<br>payment·notification·refund</button>                  
                  <div class="gnb-toggle-wrap">                     
                     <div class="gnb-main-list">
                        <div class="gnb-title">
                           <div class="gnb-title-box">
                              <strong class="left-title">Overseas direc<br>purchase payment·notification<br>·refund</strong>
                              <p>간편, 공동 본인인증 후 이용이 가능합니다.</p>
                           </div>                        
                        </div>
                        <ul class="gnb-list">
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">Import declaration details</strong>
                                    <a href="javascript: void(0);" class="sub-title mobile-dep-menu" title="메뉴열기">Import declaration details <i class="icon btn-arrow-down small"></i></a>
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>Check import declaration details</i></a></li>                                    
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>             
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">Duty payment</strong>
                                    <a href="javascript: void(0);" class="sub-title mobile-dep-menu" title="메뉴열기">Duty payment <i class="icon btn-arrow-down small"></i></a>
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>Personal electronic payment/payment history Inquiry</i></a></li>                                    
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>             
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">customs refund</strong>
                                    <a href="javascript: void(0);" class="sub-title mobile-dep-menu" title="메뉴열기">customs refund <i class="icon btn-arrow-down small"></i></a>
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>Apply for customs refund</i></a></li>
                                       <li><a href="javascript: void(0);"><i>Check the results of your customs refund application</i></a></li>
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>             
                        </ul>
                     </div>                     
                  </div>                  
               </li>     
               <li class="dep3">
                  <button type="button" class="gnb-main-trigger">Overseas direct purchase import<br> customs clearance information</button>                  
                  <div class="gnb-toggle-wrap">                     
                     <div class="gnb-main-list">
                        <div class="gnb-title">
                           <div class="gnb-title-box">
                              <strong class="left-title">Overseas direct purchase import customs clearance information</strong>
                              <p>간편, 공동 본인인증 후 이용이 가능합니다.</p>
                           </div>                        
                        </div>
                        <ul class="gnb-list">
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">Customs clearance<br>information</strong>
                                    <a href="javascript: void(0);" class="sub-title mobile-dep-menu" title="메뉴열기">Customs clearance information <i class="icon btn-arrow-down small"></i></a>
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>Import customs clearance details inquiry</i></a></li>                                    
                                       <li><a href="javascript: void(0);"><i>Overseas direct purchase transaction history inquiry</i></a></li>                                    
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>   
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">
                                    <strong class="sub-title">Overseas direct purchase cargo progress information</strong>
                                    <a href="javascript: void(0);" class="sub-title mobile-dep-menu" title="메뉴열기">Overseas direct purchase cargo progress information <i class="icon btn-arrow-down small"></i></a>
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i>Check import cargo progress information</i></a></li>                                                                        
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>                                               
                        </ul>
                     </div>                     
                  </div>                  
               </li>                  
               <li class="dep7">
                  <button type="button" class="gnb-main-trigger">My page</button>                  
                  <div class="gnb-toggle-wrap">                     
                     <div class="gnb-main-list">
                        <div class="gnb-title">
                           <div class="gnb-title-box">
                              <strong class="left-title">my page</strong>                           
                           </div>                        
                        </div>
                        <ul class="gnb-list">
                           <li>                                                         
                              <div class="gnb-sub-list">
                                 <div class="gnb-sub-content">                                 
                                    <ul class="depth2">
                                       <li><a href="javascript: void(0);"><i class="no-ico">나의 개인통관고유부호</i></a></li>                                    
                                       <li><a href="javascript: void(0);"><i class="no-ico">나의 메시지</i></a></li>                                                                           
                                       <li><a href="javascript: void(0);"><i class="no-ico">통관 현황</i></a></li>                                          
                                    </ul>
                                 </div>                              
                              </div>                              
                           </li>                                                                      
                        </ul>
                     </div>                     
                  </div>                  
               </li>
            </ul>            
            <button class="allmenu">전체메뉴</button>
         </div>
         <p class="info-area">간편, 공동 본인인증 후 이용이 가능합니다.</p>
         <a href="javascript: void(0);" class="mobile-close"> <i class="icon close medium"></i>모바일 메뉴 닫기</a>
      </nav>
      <!-- gnb -->
      <!-- 전체메뉴 -->
      <div class="main-menu main-allmenu">
         <ul class="gnb-menu gnb-allmenu">
            <li>                           
               <div class="gnb-toggle-wrap">                  
                  <div class="gnb-main-list">
                     <div class="gnb-title">
                        <div class="gnb-title-box">
                           <strong class="left-title">Personal customs clearance code</strong>                        
                        </div>
                     </div>
                     <ul class="gnb-list">
                        <li>                                                      
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">
                                 <strong class="sub-title">Personal customs clearance code</strong>                                 
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i>Personal customs clearance code inquiry/information change</i></a></li>
                                    <li><a href="javascript: void(0);"><i>Personal customs clearance code issuance history inquiry</i></a></li>
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>   
                        <li>                                                      
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">
                                 <strong class="sub-title">Application for personal customs clearance code</strong>                                 
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i>New personal customs clearance code clearance  code</i></a></li>
                                    <li><a href="javascript: void(0);"><i>Suspension/Release of Personal Customs Code</i></a></li>
                                    <li><a href="javascript: void(0);"><i>Renewal of validity period of personal customs clearance code</i></a></li>
                                    <li><a href="javascript: void(0);"><i>Application for cancellation of personal customs clearance code</i></a></li>
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>                      
                        <li>                                                      
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">
                                 <strong class="sub-title">Report of personal customs clearance code</strong>                                 
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i>Report of theft of personal customs clearance code</i></a></li>
                                    <li><a href="javascript: void(0);"><i>Personal customs clearance code report details inquiry</i></a></li>
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>                      
                        <li class="last-menu ml-0">                                                      
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">
                                 <strong class="sub-title">Overseas purchase authentication number details</strong>                                 
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i>Inquiry on issuance history of one-time authentication number/personal customs code</i></a></li>                                    
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>                                                                   
                        <li class="last-menu">                                                      
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">
                                 <strong class="sub-title">Pre-application for issuance of personal customs clearance code</strong>                                 
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i>Pre-application registration</i></a></li>                                    
                                    <li><a href="javascript: void(0);"><i>Check pre-application details/change information</i></a></li>                                    
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>                                                                   
                     </ul>
                  </div>                  
               </div>               
            </li>  
            <li>                           
               <div class="gnb-toggle-wrap">                  
                  <div class="gnb-main-list">
                     <div class="gnb-title">
                        <div class="gnb-title-box">
                           <strong class="left-title">Overseas direct purchase payment·notification·refund</strong>                        
                        </div>                        
                     </div>
                     <ul class="gnb-list">
                        <li>                                                      
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">
                                 <strong class="sub-title">Import declaration details</strong>                                 
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i>Check import declaration details</i></a></li>                                    
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>             
                        <li>                                                      
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">
                                 <strong class="sub-title">Duty payment</strong>                                 
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i>Personal electronic payment/payment history Inquiry</i></a></li>                                    
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>             
                        <li>                                                      
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">
                                 <strong class="sub-title">customs refund</strong>                                 
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i>Apply for customs refund</i></a></li>
                                    <li><a href="javascript: void(0);"><i>Check the results of your customs refund application</i></a></li>
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>             
                     </ul>
                  </div>                  
               </div>               
            </li>     
            <li>                           
               <div class="gnb-toggle-wrap">                  
                  <div class="gnb-main-list">
                     <div class="gnb-title">
                        <div class="gnb-title-box">
                           <strong class="left-title">Overseas direct purchase import customs clearance information</strong>                        
                        </div>                        
                     </div>
                     <ul class="gnb-list">
                        <li>                                                      
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">
                                 <strong class="sub-title">Customs clearance information</strong>                                 
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i>Import customs clearance details inquiry</i></a></li>                                    
                                    <li><a href="javascript: void(0);"><i>Overseas direct purchase transaction history inquiry</i></a></li>                                    
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>   
                        <li>                                                      
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">
                                 <strong class="sub-title">Overseas direct purchase cargo progress information</strong>                                 
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i>Check import cargo progress information</i></a></li>                                                                        
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>                                               
                     </ul>
                  </div>                  
               </div>               
            </li>             
            <li class="last-allmenu">                                          
               <div class="gnb-toggle-wrap">                  
                  <div class="gnb-main-list">
                     <div class="gnb-title">
                        <div class="gnb-title-box">
                           <strong class="left-title">My page</strong>                           
                        </div>                        
                     </div>
                     <ul class="gnb-list">
                        <li>    
                           <div class="gnb-sub-list">
                              <div class="gnb-sub-content">                                 
                                 <ul class="depth2">
                                    <li><a href="javascript: void(0);"><i class="no-ico">나의 개인통관고유부호</i></a></li>                                                                        
                                    <li><a href="javascript: void(0);"><i class="no-ico">나의 메시지</i></a></li>      
                                    <li><a href="javascript: void(0);"><i class="no-ico">통관현황</i></a></li>      
                                 </ul>
                              </div>                              
                           </div>                           
                        </li>                                                                      
                     </ul>
                  </div>                  
               </div>               
            </li>         
         </ul>
      </div>  
      <!-- 전체메뉴 -->
   </div>   
</header>
<div class="content-wrap">
   <div class="cont-head">
      <div class="head-util">
         <nav class="breadcrumb-wrap" id="breadcrumb">
            <ol class="breadcrumb">
               <li class="home"><a href="javascript: void(0);" class="txt" title="홈으로 바로가기">홈</a></li>
               <li><span class="txt">개인통관고유부호</span></li>                     
               <li><span class="txt">개인통관고유부호 조회</span></li>                     
               <li class="last-li"><a href="javascript: void(0);" class="txt" title="현재페이지">개인통관고유부호 조회/정보변경</a></li>                  
            </ol>
         </nav>         
         <div class="language-area">
            <div class="form-toggle-switch language-switch">
               <input type="radio" id="kr" name="language" checked>
               <label for="kr" class="kr">한글</label>
               <input type="radio" id="en" name="language">
               <label for="en" class="en">English</label>
            </div>
         </div>
      </div>