<footer id="footer">
   <!-- footer -->      
   <div class="foot-quick">
      <div class="inner">
         <button type="button" class="link" data-modal-target="#homepage" title="관련 누리집 레이어">관련 누리집</button>            
         <button type="button" class="link" data-modal-target="#customs" title="세관 바로가기 레이어">세관 바로가기</button>  

         <!-- 관련 누리집 -->
         <div id="homepage" class="modal d-none" data-ui="modal">
            <div class="modal-wrap mw-1280 footer-quick-pop">
               <div class="modal-header">
                  <h5>관련누리집</h5>                     
               </div>
               <div class="modal-body" tabindex="0">
                  <ul class="dep1 homepage-list">                     
                     <li class="col4"><a href="http://unipass.customs.go.kr/" title="UNI-PASS전자통관(새창으로 이동됩니다.)" target="_blank" class="title">UNI-PASS전자통관</a></li>
                     <li class="col4"><a href="https://www.customs.go.kr/foreign/main.do" title="해외통관지원센터(새창으로 이동됩니다.)" target="_blank" class="title">해외통관지원센터</a></li>
                     <li class="col4"><a href="https://www.customs.go.kr/call/main.do" title="고객지원센터(새창으로 이동됩니다.)" target="_blank" class="title">고객지원센터</a></li>
                     <li class="col4"><a href="https://www.customs.go.kr/ftaportalkor/main.do" title="FTA 포털(새창으로 이동됩니다.)" target="_blank" class="title">FTA 포털</a></li>
                     <li class="col4"><a href="https://tradedata.go.kr" title="수출입무역통계(새창으로 이동됩니다.)" target="_blank" class="title">수출입무역통계</a></li>
                     <li class="col4"><a href="https://unipass.customs.go.kr/clip/index.do" title="관세법령정보포털(새창으로 이동됩니다.)" target="_blank" class="title">관세법령정보포털</a></li>
                     <li class="col4"><a href="https://bigdata.customs.go.kr" title="관세청빅데이터포털(새창으로 이동됩니다.)" target="_blank" class="title">관세청빅데이터포털</a></li>
                  </ul>
               </div>               
            </div>
         </div> 

         <!-- 세관 바로가기 -->
         <div id="customs" class="modal d-none" data-ui="modal">
            <div class="modal-wrap mw-1280 footer-quick-pop">
               <div class="modal-header">
                  <h5>세관 바로가기</h5>                     
               </div>
               <div class="modal-body" tabindex="0">
                  <ul class="dep1">
                     <li class="col6"><a href="https://www.customs.go.kr/incheon_airport/main.do" target="_blank" title="인천공항본부세관(새창으로 이동됩니다.)" class="title">인천공항본부세관</a>
                        <ul class="dep2">
                           <li><a href="https://www.customs.go.kr/kimpo/main.do" target="_blank" title="김포공항세관(새창으로 이동됩니다.)" class="txt">김포공항세관</a></li>
                        </ul>
                     </li>
                     <li class="col6"><a href="https://www.customs.go.kr/incheon/main.do" target="_blank" title="인천본부세관(새창으로 이동됩니다.)" class="title">인천본부세관</a>
                        <ul class="dep2">
                           <li><a href="https://www.customs.go.kr/suwon/main.do" target="_blank" title="수원세관(새창으로 이동됩니다.)" class="txt">수원세관</a></li>
                           <li><a href="https://www.customs.go.kr/ansan/main.do" target="_blank" title="안산세관(새창으로 이동됩니다.)" class="txt">안산세관</a></li>
                        </ul>
                     </li>
                     <li class="col6"><a href="https://www.customs.go.kr/seoul/main.do" target="_blank" title="서울본부세관(새창으로 이동됩니다.)" class="title">서울본부세관</a>
                        <ul class="dep2">
                           <li><a href="https://www.customs.go.kr/anyang/main.do" target="_blank" title="안양세관(새창으로 이동됩니다.)" class="txt">안양세관</a></li>
                           <li><a href="https://www.customs.go.kr/cheonan/main.do" target="_blank" title="천안세관(새창으로 이동됩니다.)" class="txt">천안세관</a></li>
                           <li><a href="https://www.customs.go.kr/cheongju/main.do" target="_blank" title="청주세관(새창으로 이동됩니다.)" class="txt">청주세관</a></li>
                           <li><a href="https://www.customs.go.kr/daejeon/main.do" target="_blank" title="대전세관(새창으로 이동됩니다.)" class="txt">대전세관</a></li>
                           <li><a href="https://www.customs.go.kr/sokcho/main.do" target="_blank" title="속초세관(새창으로 이동됩니다.)" class="txt">속초세관</a></li>
                           <li><a href="https://www.customs.go.kr/donghae/main.do" target="_blank" title="동해세관(새창으로 이동됩니다.)" class="txt">동해세관</a></li>
                           <li><a href="https://www.customs.go.kr/seongnam/main.do" target="_blank" title="성남세관(새창으로 이동됩니다.)" class="txt">성남세관</a></li>
                           <li><a href="https://www.customs.go.kr/paju/main.do" target="_blank" title="파주세관(새창으로 이동됩니다.)" class="txt">파주세관</a></li>
                        </ul>
                     </li>
                     <li class="col6"><a href="https://www.customs.go.kr/busan/main.do" target="_blank" title="부산본부세관(새창으로 이동됩니다.)" class="title">부산본부세관</a>
                        <ul class="dep2">
                           <li><a href="https://www.customs.go.kr/gimhae/main.do" target="_blank" title="김해공항세관(새창으로 이동됩니다.)" class="txt">김해공항세관</a></li>
                           <li><a href="https://www.customs.go.kr/yongdang/main.do" target="_blank" title="용당세관(새창으로 이동됩니다.)" class="txt">용당세관</a></li>
                           <li><a href="https://www.customs.go.kr/yangsan/main.do" target="_blank" title="양산세관(새창으로 이동됩니다.)" class="txt">양산세관</a></li>
                           <li><a href="https://www.customs.go.kr/changwon/main.do" target="_blank" title="창원세관(새창으로 이동됩니다.)" class="txt">창원세관</a></li>
                           <li><a href="https://www.customs.go.kr/masan/main.do" target="_blank" title="마산세관(새창으로 이동됩니다.)" class="txt">마산세관</a></li>
                           <li><a href="https://www.customs.go.kr/geoje/main.do" target="_blank" title="경남남부세관(새창으로 이동됩니다.)" class="txt">경남남부세관</a></li>
                           <li><a href="https://www.customs.go.kr/jinju/main.do" target="_blank" title="경남서부세관(새창으로 이동됩니다.)" class="txt">경남서부세관</a></li>
                        </ul>
                     </li>
                     <li class="col6"><a href="https://www.customs.go.kr/daegu/main.do" target="_blank" title="대구본부세관(새창으로 이동됩니다.)" class="title">대구본부세관</a>
                        <ul class="dep2">
                           <li><a href="https://www.customs.go.kr/ulsan/main.do" target="_blank" title="울산세관(새창으로 이동됩니다.)" class="txt">울산세관</a></li>
                           <li><a href="https://www.customs.go.kr/gumi/main.do" target="_blank" title="구미세관(새창으로 이동됩니다.)" class="txt">구미세관</a></li>
                           <li><a href="https://www.customs.go.kr/pohang/main.do" target="_blank" title="포항세관(새창으로 이동됩니다.)" class="txt">포항세관</a></li>
                        </ul>
                     </li>
                     <li class="col6"><a href="https://www.customs.go.kr/gwangju/main.do" target="_blank" title="광주본부세관(새창으로 이동됩니다.)" class="title">광주본부세관</a>
                        <ul class="dep2">
                           <li><a href="https://www.customs.go.kr/gwangyang/main.do" target="_blank" title="광양세관(새창으로 이동됩니다.)" class="txt">광양세관</a></li>
                           <li><a href="https://www.customs.go.kr/mokpo/main.do" target="_blank" title="목포세관(새창으로 이동됩니다.)" class="txt">목포세관</a></li>
                           <li><a href="https://www.customs.go.kr/yeosu/main.do" target="_blank" title="여수세관(새창으로 이동됩니다.)" class="txt">여수세관</a></li>
                           <li><a href="https://www.customs.go.kr/gunsan/main.do" target="_blank" title="군산세관(새창으로 이동됩니다.)" class="txt">군산세관</a></li>
                           <li><a href="https://www.customs.go.kr/jeju/main.do" target="_blank" title="제주세관(새창으로 이동됩니다.)" class="txt">제주세관</a></li>
                           <li><a href="https://www.customs.go.kr/jeonju/main.do" target="_blank" title="전주세관(새창으로 이동됩니다.)" class="txt">전주세관</a></li>
                        </ul>
                     </li>
                     <li class="col4"><a href="https://www.customs.go.kr/pyeongtaek/main.do" target="_blank" title="평택세관(새창으로 이동됩니다.)" class="title">평택세관</a></li>
                     <li class="col4"><a href="https://www.customs.go.kr/cclss/main.do" target="_blank" title="중앙관세분석소(새창으로 이동됩니다.)" class="title">중앙관세분석소</a></li>
                     <li class="col4"><a href="https://www.customs.go.kr/cvnci/main.do" target="_blank" title="관세평가분류원(새창으로 이동됩니다.)" class="title">관세평가분류원</a></li>
                     <li class="col4"><a href="http://cti.customs.go.kr" target="_blank" title="관세인재개발원(새창으로 이동됩니다.)" class="title">관세인재개발원</a></li>
                  </ul>
               </div>               
            </div>
         </div>
      </div>      
   </div>
   <div class="inner f-box">
      <div class="f-top">
         <div class="f-logo">
            <span class="sr-only">관세청 로고</span>
         </div>
         <div class="f-cnt">
            <div class="f-info">
            <p class="info-addr">(35208) 대전광역시 서구 청사로 189 정부대전청사 1동</p>
            <ul class="info-cs">
               <li><strong class="strong">고객지원센터 국번없이 125</strong></li>
               <li><strong class="strong">전자통관 시스템 1544-1285</strong></li>
            </ul>
            </div>

            <div class="f-link">            
            <div class="link-sns">
               <a href="#" class="instagram" target="_blank" title="새 창 열기">
                  <span class="sr-only">인스타그램</span>                                       
               </a>
               <a href="#" class="youtube" target="_blank" title="새 창 열기">
                  <span class="sr-only">유튜브</span>                                       
               </a>
               <a href="#" class="twitter" target="_blank" title="새 창 열기">
                  <span class="sr-only">트위터</span>                                         
               </a>
               <a href="#" class="facebook" target="_blank" title="새 창 열기">
                  <span class="sr-only">페이스북</span>                     
               </a>               
               <a href="#" class="blog" target="_blank" title="새 창 열기">
                  <span class="sr-only">블로그</span>                     
               </a>               
            </div>
            </div>
         </div>
      </div>
      <div class="f-btm">
         <div class="f-btm-text">
            <div class="f-menu">
               <a href="#" class="point">개인정보처리방침</a>               
            </div>
            <p class="f-copy">© The Government of the Republic of Korea. All rights reserved.</p>
         </div>            
      </div>
   </div>      
   <!-- //footer -->
</footer>