.wrap-form-area {
  .inp-form {
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    padding: 32px;
    position: relative;
      
    @for $n from 1 through 100 {
        &.wrap-#{$n} {
            .txt-list .tit {
            width: #{160 + $n}px;
            min-width: #{160 + $n}px;
         }
        }
    }

    button[class*=btn]:not(.text).medium, label[class*=btn]:not(.text).medium {
      height: 48px;
    }

    &:has(.form-btn-area) {
      padding: 32px 130px 32px 32px;
    }

    &:has(.step-area.type1) {
      padding: 32px 32px 32px 239px;

      &:has(.form-btn-area) {
        padding: 32px 130px 32px 239px;
      }
    }

    > ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -40px;
      margin-top: -25px;

      .tit {
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 4px;
        padding-right: 12px;
        font-weight: 700;

        + .form-group {
          display: flex;
          align-items: center;
          gap: 8px;
          margin-top: 9px;
        }
      }

      li {
        margin-left: 40px;
        padding-top: 25px;
        min-width: 100px;
        align-items: flex-start;
      }
    }

    .col1 {
      width: 100%;
    }

    .col2 {
      width: calc(50% - 40px);
    }

    .col3 {
      width: calc(33.333% - 40px);
    }

    .col4 {
      width: calc(25% - 40px);
    }

    .txt-list {
      display: flex;
      margin-left: 40px;
      align-items: flex-start;

      .tit {
        width: 160px;
        min-width: 160px;
        line-height: 150%;
        padding-right: 0;        
      }    

      .title {
        display: flex;
        position: relative;
      }

      .inp-box {
        display: block;
        padding-left: 30px;
        flex: 1;
        margin-top: 0;
        width: calc(100% - 160px);

        .txt {
          line-height: 150%;
          display: block;

          button {
            margin-left: 15px;
          }
        }
      }
    }

    .compulsory-title {
      margin-top: 10px;
    }

    .file-form {
      margin-left: -16px;

      [class*=col] {
        margin-left: 16px;
        flex: 1;

        .file-upload {
          width: 100%;
          display: flex;
          gap: 8px;

          .txt-box {
            border: 1px solid #c6c6c6;
            background-color: #fff;
            border-radius: 4px;
            width: 100%;
            height: 48px;
            min-width: 10px;
            max-width: 570px;
            display: flex;
            align-items: center;

            .txt {
              display: block;
              padding: 0 16px;
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              text-decoration: none;
            }
          }
        }
      }

      + .form-btn-area {
        top: 66px;
      }
    }

    .inp-box {
      margin-top: 12px;
      display: flex;
      align-items: center;
      gap: 8px;

      .area-group {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
        min-width: 100px;
      }

      .check-list-box {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        margin-top: 10px;
        width: 100%;
      }
    }

    .form-group, .wrap-form-group {
      width: 100%;
    }

    .form-btn-area {
      position: absolute;
      top: 32px;
      right: 32px;
      display: flex;
      gap: 20px;

      button.text {
        background-color: rgba(0, 0, 0, 0);
        gap: 5px;
        padding-right: 0;

        &:disabled i {
          &.refresh {
            background-image: url("../assets/icons/refresh-d.svg");
          }

          &.close {
            background-image: url("../assets/icons/close-d.svg");
          }
        }
      }
    }

    &:has(> .form-check) {
      padding-left: 76px;
      padding-right: 76px;

      > .form-check {
        position: absolute;
        top: 32px;
        left: 32px;

        label {
          padding: 0;
          padding-left: 0 !important;
          width: 20px;
        }
      }
    }

    &.type1 .cont-acc-list.type1 .accordion-body {
      border-top: 0;
      margin-top: 0;
    }

    .cont-acc-list.type1 {
      margin: 0;
      border-top: 0;
      padding: 0;

      .accordion-header {
        position: absolute;
        top: 32px;
        right: 24px;
        padding: 0 !important;

        a {
          padding: 0;
        }
      }

      .accordion-body {
        margin-top: 24px;
        padding: 0;
        padding-top: 24px;
        border-top: 1px solid #D8D8D8;

        .inp-form {
          border: 0;
          border-radius: 0;
          padding: 0;

          ul {
            border-top: 0;

            li {
              background-color: rgba(0, 0, 0, 0);
              border-radius: 0;
              align-items: flex-start;

              &:not(.txt-list) {
                flex-direction: column;
              }

              .inp-box {
                width: 100%;
              }

              label {
                width: auto;
                padding-right: 12px;
              }

              .compulsory-txt {
                margin-top: 2px;
                margin-bottom: 0;
              }

              .return-btn {
                width: 121px;
              }
            }
          }
        }
      }
    }

    .acc-btn {
      position: absolute;
      top: 34px;
      right: 34px;

      &.active i {
        transform: rotate(180deg);
        transition: all 0.3s;
      }
    }

    .cont-acc-list.type2 {
      margin: 0;
      padding: 0;
      border-top: 0;
      margin-top: 11px;

      .accordion-wrap {
        width: 100%;

        .accordion-body {
          .inp-form {
            padding: 0;
            border: 0;
            border-top: 1px solid #D8D8D8;
            border-radius: 0;
            padding-top: 24px;
          }

          ul {
            border-top: 0;
          }

          li {
            label {
              width: auto;
              padding-right: 12px;
            }

            &:not(.txt-list) {
              flex-direction: column;
            }

            .inp-box {
              width: 100%;
            }
          }
        }
      }
    }

    .step-area.type1 {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      padding: 32px 40px 32px 32px;

      &::before {
        height: calc(100% - 64px);
      }

      .step-wrap {
        flex-direction: column;

        li {
          padding: 0 0 32px 0;
          width: 127px;

          &::before {
            width: 1px;
            height: 100%;
            left: 8.5px;
          }

          .step-tit {
            padding-left: 32px;
            padding-top: 1px;
          }
        }
      }
    }

    .hy {
      min-width: 15px;
      display: flex;
      justify-content: center;
    }
  }

  .total-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 24px;
    padding: 24px 0;
    border-top: 1px solid #717171;

    p {
      font-size: 19px;
    }

    strong {
      margin-left: 24px;
      font-size: 25px;

      span {
        margin-left: 4px;
      }
    }
  }

  &.type1 {
    margin-top: 24px;

    .inp-form {
      padding: 24px !important;

      &:has(strong.add-tit) .form-btn-area button {
        height: 20px;
      }

      li.txt-list {
        flex-direction: column;

        .inp-box {
          text-align: left;
          padding-left: 0 !important;
          margin-top: 14px;
          width: 100%;
        }

        .add-tit {
          font-size: 19px;
          display: flex;
          align-items: center;
          width: 100%;
          padding-right: 155px;
          line-height: 150%;

          .add-modify-btn {
            font-size: 0;
            width: 0;
            background-color: rgba(0, 0, 0, 0);
            margin-left: 8px;
          }
        }

        .add-txt {
          color: #555;
          line-height: 150%;
        }
      }
    }

    .form-btn-area {
      top: 29px !important;
    }
  }

  .batch-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;

    .txt {
      line-height: 150%;
    }
  }

  .nowrap-box {
    display: flex;
    gap: 8px;
  }

  .nowrap-area {
    display: flex;
    align-items: center;
  }

  .vc-list .inp-box {
    align-items: flex-start;
  }

  .sub-form {
    &.dotted-line-bottom {
      margin-bottom: 0 !important;
    }

    .calendar {
      margin-right: 0;
    }

    .sub-form-box {
      width: 100%;

      ul {
        display: flex;
        margin-left: -40px;
      }

      .sub-list-wrap {
        display: flex;
        gap: 24px;
      }

      .sub-box {
        margin-top: 12px;
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .sub-list-box {
        width: 100%;
        min-width: 100px;
      }

      label {
        font-weight: 700;
      }
    }

    .sub-tit {
      position: relative;
    }
  }

  .address-list button {
    gap: 4px;
    margin-right: 8px;
  }

  &.no-bor-form .inp-form {
    padding: 0;
    border: 0;
  }
}

@media screen and (max-width: 1312px) {
  .wrap-form-area .inp-form {
    &:has(.form-btn-area) {
      padding: 72px 24px 34px 24px;
    }

    .file-form + .form-btn-area {
      top: 32px;
    }

    &:has(.step-area.type1):has(.form-btn-area) {
      padding: 34px 130px 34px 239px;
    }
  }
}

@media screen and (max-width: 1023px) {
  .wrap-form-area .inp-form {
    &:has(.step-area.type1) {
      padding: 140px 24px 32px 24px;

      &:has(.form-btn-area) {
        padding: 140px 130px 32px 24px;

        .form-btn-area {
          top: 140px;
        }
      }
    }

    .step-area.type1 {
      width: 100%;
      height: auto;
      padding-bottom: 0;
      padding: 32px 24px 0 24px;

      &.dotted-line-right::before {
        bottom: 0;
        width: calc(100% - 48px);
        height: 2px;
        background-image: url(../assets/icons/dotted.svg);
        left: 24px;
      }

      .step-wrap {
        flex-direction: row;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-start;

        li {
          width: auto;
          min-width: auto;
          flex: 1;
          display: flex;
          justify-content: center;

          &::before {
            top: 10px;
            left: 50%;
            width: 100%;
            height: 1px;
          }

          &:first-child::before {
            display: none;
          }

          &:last-child::before {
            display: block;
          }

          .step-tit {
            display: block;
            padding: 32px 0px 0 0px;
            text-align: center;
          }

          &:after {
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .wrap-form-area {
    .inp-form {
      padding: 24px;

      [class*=col] {
        width: 100% !important;
        padding-top: 20px;
      }

      [class*=mw] {
        max-width: 100% !important;
      }

      [class*=form-group] {
        width: 100%;
      }

      .form-group {
        &.medium {
          input[type=text], select, input[type=password] {
            font-size: 15px;
          }
        }

        &.form-tit-group {
          label {
            font-size: 15px;
          }

          input {
            &[type=text], &[type=password] {
              font-size: 15px;
            }
          }
        }
      }

      ul.file-form {
        flex-direction: column;
        width: 100%;
      }

      li {
        &.txt-list .tit {
          width: 120px !important;
          min-width: 120px !important;
        }

        &.address-list .inp-box {
          flex-wrap: wrap;

          .first-add {
            width: calc(100% - 160px);
          }

          button {
            margin-right: 0;
          }
        }

        &.line-break {
          flex-direction: column;

          .inp-box {
            padding-left: 0 !important;
            margin-top: 16px;
            width: 100%;

            .txt {
              text-align: left !important;
            }
          }
        }
      }

      .form-btn-area {
        right: 24px;
      }

      &:has(> .form-check) {
        padding: 76px 24px 34px 24px;

        > .form-check {
          left: 24px;
        }
      }

      .form-btn-area {
        top: 24px;
      }

      &:has(.step-area.type1):has(.form-btn-area) {
        padding: 140px 24px 32px 24px;

        .form-btn-area {
          position: static;
          margin-top: 17px;
          justify-content: center;

          button {
            height: 48px;
            width: 100%;
          }
        }
      }
    }

    .sub-form .sub-form-box {
      ul {
        flex-direction: column;
      }

      li {
        width: calc(100% - 40px) !important;
      }
    }

    .acc-btn {
      right: 24px;
    }
  }
}

@media screen and (max-width: 480px) {
  .wrap-form-area {
    &.type1 .inp-form {
      padding: 15px !important;
    }

    .inp-form:has(.form-btn-area) {
      padding: 72px 15px 15px 15px;
    }

    &.type1 .form-btn-area {
      top: 15px !important;
    }

    .inp-form {
      border-radius: 5px;
      padding: 18px 15px 15px 15px;

      ul {
        .inp-box {
          gap: 12px 8px;

          &:has(.hy) {
            gap: 12px 2px;
          }
        }

        button:not(.ico):not(.tooltip-close):not(.calendar-btn):not(.tooltip-ico):not(.add-modify-btn):not(.inquiry) {
          width: 100%;
        }

        .number-box button {
          width: 59px !important;
        }

        .return-box {
          .txt {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }

          button {
            width: 129px !important;
            margin-left: 0 !important;
          }
        }

        .file-upload {
          flex-direction: column;

          .file-upload-btn-wrap {
            width: 100%;

            label {
              width: 100%;
            }
          }
        }

        .batch-list {
          flex-direction: column;
        }

        .vc-list .form-group {
          display: flex;
          gap: 8px;

          .advice-txt {
            margin-top: 0;
          }

          input[type=text] {
            width: 140px;
          }
        }
      }
    }

    .sub-box:not(.nowrap-list):not([class*=nowrap-list-type]), .sub-list-wrap {
      flex-direction: column;
    }

    .sub-list-box .calendar {
      width: 100%;
    }

    .inp-box {
      &:not(.nowrap-list):not([class*=nowrap-list-type]) {
        flex-direction: column;
      }

      &[class*=nowrap-list-]:not(.nowrap-list-type1) {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .sub-box[class*=nowrap-list-] {
      display: flex;
      flex-wrap: wrap;
    }

    .inp-box[class*=nowrap-list-]:not(.nowrap-list-type1) .form-group:first-child, .sub-box[class*=nowrap-list-] .form-group:first-child {
      width: calc(100% - 23px);
    }

    .inp-box[class*=nowrap-list-]:not(.nowrap-list-type1) .form-group, .sub-box[class*=nowrap-list-] .form-group {
      width: calc(50% - 16px);
    }

    .inp-box[class*=nowrap-list-]:not(.nowrap-list-type1).nowrap-list-type2 .form-group:first-child, .sub-box[class*=nowrap-list-].nowrap-list-type2 .form-group:first-child {
      width: calc(100% - 23px);
    }

    .inp-box[class*=nowrap-list-]:not(.nowrap-list-type1).nowrap-list-type2 .form-group, .sub-box[class*=nowrap-list-].nowrap-list-type2 .form-group {
      width: 100%;
    }

    .nowrap-list-type1 .form-group:first-child {
      width: 98px;
      min-width: 98px;
    }

    .nowrap-list:has(.nowrap-area) {
      display: flex;
      flex-direction: column;

      button {
        width: 100% !important;
      }
    }

    .inp-form {
      button[class*=btn].medium, label[class*=btn].medium {
        height: 40px;
      }
    }
  }

  .nowrap-box {
    width: 100%;
  }
}
